In [121]:
import os
import pymysql
import pandas as pd
import numpy as np
import re

In [122]:
from pandas.io import sql
import MySQLdb

conn = MySQLdb.connect(
    host="localhost",
    port=int(3306),
    user="pythonlink",
    passwd="pythonlinkp",
    db="stock_forecast_v1",
    charset='utf8mb4'
)

bal_sheets = pd.read_sql_query("SELECT * FROM balance_sheets_v1",
    conn)
bal_sheets

,Company,Time,Total Cash & ST Investments,Total Receivables,Total Current Assets,Total Assets,Total Current Liabilities,Total Liabilities,Total Common Shares Outstanding,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt
0,AAP,2011-01-01,59.2,124.2,2124.3,3354.2,1848.0,2314.8,81.6,12.74,979.6,12.01,352.3,293.1
1,AAP,2011-12-01,57.9,140.0,2293.8,3655.8,2187.9,2807.8,72.6,11.68,740.1,10.19,432.2,374.3
2,AAP,2012-12-01,598.1,229.9,3184.2,4613.8,2559.6,3403.1,73.2,16.54,1105.5,15.10,613.8,15.7
3,AAP,2013-12-01,1112.5,277.6,3989.4,5564.8,2764.8,4048.6,72.6,20.88,1266.5,17.44,1059.4,-53.1
4,AAP,2015-01-01,104.7,579.8,4741.0,7962.4,3654.4,5959.4,72.8,27.52,259.4,3.56,1658.9,1554.2
5,AAP,2016-01-01,90.8,597.8,4940.7,8127.7,3797.5,5667.1,73.0,33.69,784,10.73,1225.5,1134.7
6,AAP,2016-12-01,135.2,641.3,5172.8,8315.0,3676.0,5398.8,73.5,39.66,1284.4,17.47,1043.3,908.1
7,AAP,2017-12-01,546.9,606.4,5426.9,8482.3,3480.1,5067.1,73.6,46.41,1823.2,24.78,1044.7,497.7
8,AAP,2018-12-01,896.5,625.0,6082.5,9040.6,3886.0,5489.8,72.1,49.28,2010.0,27.90,1045.9,149.4
9,AAP,2019-12-01,418.7,689.5,5695.5,11248.5,4477.7,7699.4,68.8,51.61,1847.1,26.86,3242.5,2823.8
10,MO,2010-12-01,2314.0,85,10483.0,37402.0,6840.0,32175.0,2080.0,2.50,-12100.0,-5.82,12194.0,9880.0
11,MO,2011-12-01,3270.0,268,10479.0,36751.0,7432.0,33036.0,2036.0,1.81,-13592.0,-6.68,13689.0,10419.0
12,MO,2012-12-01,2900.0,193,6315.0,35329.0,8259.0,32125.0,2003.2,1.58,-14084.0,-7.03,13878.0,10978.0
13,MO,2013-12-01,3175.0,115,6590.0,34859.0,7058.0,30706.0,1988.1,2.07,-13113.0,-6.60,14517.0,11342.0
14,MO,2014-12-01,3321.0,124,6878.0,34475.0,7673.0,31430.0,1967.0,1.53,-14320.0,-7.28,14693.0,11372.0
15,MO,2015-12-01,2369.0,124,4911.0,31459.0,7070.0,28549.0,1956.1,1.47,-14433.0,-7.38,12847.0,10478.0
16,MO,2016-12-01,4569.0,420,7260.0,45932.0,7375.0,33121.0,1940.0,6.58,-4551.0,-2.35,13881.0,9312.0
17,MO,2017-12-01,1253.0,603,4344.0,43202.0,6792.0,27784.0,1901.3,8.09,-2330.0,-1.23,13894.0,12641.0
18,MO,2018-12-01,1333.0,309,4299.0,55459.0,21193.0,40631.0,1874.1,7.89,-2688.0,-1.43,25746.0,24413.0
19,MO,2019-12-01,2117.0,268,4824.0,49271.0,8174.0,42914.0,1858.0,3.35,-11642.0,-6.27,28042.0,25925.0
20,AZO,2010-08-01,114.6,125.8,2611.8,5571.6,3064.0,6310.4,45.1,-16.38,-1041.4,-23.09,2996.8,2882.2
21,AZO,2011-08-01,109.5,140.7,2792.4,5869.6,3430.9,7123.8,40.1,-31.27,-1556.9,-38.82,3438.3,3328.9
22,AZO,2012-08-01,125.6,161.4,2978.9,6265.6,3655.6,7813.7,37.0,-41.81,-1850.7,-49.98,3870.4,3744.8
23,AZO,2013-08-01,158.6,171.6,3278.0,6892.1,4169.2,8579.4,34.3,-49.20,-2106.9,-61.44,4293.2,4134.6
24,AZO,2014-08-01,134.9,200.9,3580.6,7497.2,4541.1,9119.0,32.3,-50.21,-2064.6,-63.91,4359.6,4224.7
25,AZO,2015-08-01,184.1,247.9,3970.3,8102.3,4712.9,9803.7,30.7,-55.49,-2163.0,-70.55,4665.4,4481.3
26,AZO,2016-08-01,197.1,287.7,4239.6,8599.8,4690.3,10387.3,29.1,-61.39,-2240.4,-76.94,4969.0,4771.9
27,AZO,2017-08-01,311.8,280.7,4611.3,9259.8,4766.3,10688.2,27.8,-51.32,-1872.8,-67.29,5129.4,4817.5
28,AZO,2018-08-01,277.3,258.1,4635.9,9347.0,5028.7,10867.3,25.7,-59.06,-1832.8,-71.20,5160.2,4883.0
29,AZO,2019-08-01,244.3,309.0,5028.7,9895.9,5512.1,11609.8,24.0,-71.30,-2022.1,-84.12,5386.2,5142.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,SRE,2010-12-01,None,None,3353.0,30283.0,3786.0,20966.0,239.7,37.67,8487.0,35.41,9523.0,8599.0
3941,SRE,2011-12-01,None,None,2332.0,33249.0,4152.0,22992.0,239.9,40.74,8291.0,34.56,10863.0,10598.0
3942,SRE,2012-12-01,None,None,3695.0,36499.0,4258.0,25737.0,242.3,42.43,8735.0,36.04,12892.0,12402.0
3943,SRE,2013-12-01,None,None,3997.0,37244.0,4369.0,25394.0,244.4,45.03,9558.0,39.10,12945.0,12019.0
3944,SRE,2014-12-01,None,None,4184.0,39651.0,5069.0,27551.0,246.3,45.98,9980.0,40.52,14288.0,13700.0
3945,SRE,2015-12-01,None,None,2891.0,41150.0,4612.0,28571.0,248.3,47.56,10586.0,42.63,14663.0,14256.0
3946,SRE,2016-12-01,None,None,3110.0,47786.0,5927.0,32545.0,250.2,51.77,10039.0,40.13,17373.0,17017.0
3947,SRE,2017-12-01,None,None,3341.0,50454.0,6635.0,35314.0,251.4,50.41,9677.0,38.50,19663.0,19370.0
3948,SRE,2018-12-01,None,None,3645.0,60638.0,7523.0,41390.0,273.8,54.35,13054.0,47.68,24758.0,24654.0
3949,SRE,2019-12-01,None,None,3339.0,65665.0,9150.0,43860.0,291.7,60.58,15856.0,54.35,26665.0,26557.0
3950,WEC,2010-12-01,None,None,1331.1,13059.8,1721.1,9227.3,233.8,16.26,3360.2,14.37,5063.3,5038.8
3951,WEC,2011-12-01,None,None,1426.2,13862.1,1364.5,9868.4,230.5,17.20,3521.4,15.28,5316.8,5302.7
3952,WEC,2012-12-01,None,None,1272.6,14285.0,1441.4,10119.5,229.0,18.05,3693.2,16.12,5260.5,5224.9
3953,WEC,2013-12-01,None,None,1551.1,14769.4,1496.4,10506.0,226.0,18.73,3791.1,16.78,5242.8,5216.8
3954,WEC,2014-12-01,None,None,1292.7,14905.0,1668.7,10454.9,225.5,19.60,3977.8,17.64,5212.4,5150.5
3955,WEC,2015-12-01,None,None,2206.8,29355.2,2709.0,20670.0,315.7,27.42,5631.3,17.84,10376.8,10327.0
3956,WEC,2016-12-01,None,None,2168.7,30123.2,2431.6,21163.0,315.6,28.29,5883.6,18.64,10175.6,10138.1
3957,WEC,2017-12-01,None,None,2213.5,31590.5,3869.3,22098.7,315.6,29.98,6407.9,20.31,11033.3,10994.4
3958,WEC,2018-12-01,None,None,2247.6,33475.8,3331.7,23633.1,315.5,31.02,6736.1,21.35,11801.4,11716.9
3959,WEC,2019-12-01,None,None,2093.6,34951.8,3182.7,24697.2,315.4,32.06,7060.6,22.38,12782.4,12744.9
3960,XEL,2010-12-01,None,None,2732.6,27387.7,2536.5,19199.2,482.3,16.76,8083.5,16.76,9785.0,9660.4
3961,XEL,2011-12-01,None,None,2982.6,29497.3,3588.6,21015.1,486.5,17.44,8482.2,17.44,10185.2,10105.2
3962,XEL,2012-12-01,None,None,2625.1,31140.7,2937.1,22266.6,488.0,18.19,8874.1,18.19,11004.1,10901.4
3963,XEL,2013-12-01,None,None,3218.0,33907.5,3654.5,24341.5,498.0,19.21,9566.0,19.21,11950.5,11829.6
3964,XEL,2014-12-01,None,None,3364.4,36957.9,4064.6,26743.4,505.7,20.20,10214.5,20.20,12776.9,12681.4
3965,XEL,2015-12-01,None,None,2770.2,38821.5,4058.3,28220.6,507.5,20.89,10600.9,20.89,13901.9,13810.7
3966,XEL,2016-12-01,None,None,2842.0,41155.0,3247.0,30134.0,507.2,21.73,11021.0,21.73,14842.0,14750.0
3967,XEL,2017-12-01,None,None,2973.0,43030.0,4088.0,31575.0,507.8,22.56,11455.0,22.56,15791.0,15699.0
3968,XEL,2018-12-01,None,None,3094.0,45987.0,4460.0,33765.0,514.0,23.78,12222.0,23.78,17254.0,17053.0
3969,XEL,2019-12-01,None,None,3113.0,50448.0,4568.0,37209.0,524.5,25.24,13239.0,25.24,20528.0,20254.0

In [123]:
bal_sheets.shape

(3970, 14)

In [124]:
company_list = []
for company in bal_sheets['Company']:
    company_list.append(company)
    
for company in company_list:
    #print(company_list.count(company))
    if company_list.count(company)!= 10:
        print(company)

In [125]:
subset_balsheets = bal_sheets.reindex(columns= ['Company', 'Time'])
subset_balsheets

     Company       Time
0        AAP 2011-01-01
1        AAP 2011-12-01
2        AAP 2012-12-01
3        AAP 2013-12-01
4        AAP 2015-01-01
5        AAP 2016-01-01
6        AAP 2016-12-01
7        AAP 2017-12-01
8        AAP 2018-12-01
9        AAP 2019-12-01
10        MO 2010-12-01
11        MO 2011-12-01
12        MO 2012-12-01
13        MO 2013-12-01
14        MO 2014-12-01
15        MO 2015-12-01
16        MO 2016-12-01
17        MO 2017-12-01
18        MO 2018-12-01
19        MO 2019-12-01
20       AZO 2010-08-01
21       AZO 2011-08-01
22       AZO 2012-08-01
23       AZO 2013-08-01
24       AZO 2014-08-01
25       AZO 2015-08-01
26       AZO 2016-08-01
27       AZO 2017-08-01
28       AZO 2018-08-01
29       AZO 2019-08-01
...      ...        ...
3940     SRE 2010-12-01
3941     SRE 2011-12-01
3942     SRE 2012-12-01
3943     SRE 2013-12-01
3944     SRE 2014-12-01
3945     SRE 2015-12-01
3946     SRE 2016-12-01
3947     SRE 2017-12-01
3948     SRE 2018-12-01
3949     SRE 2019-12-01
3950     WEC 2010-12-01
3951     WEC 2011-12-01
3952     WEC 2012-12-01
3953     WEC 2013-12-01
3954     WEC 2014-12-01
3955     WEC 2015-12-01
3956     WEC 2016-12-01
3957     WEC 2017-12-01
3958     WEC 2018-12-01
3959     WEC 2019-12-01
3960     XEL 2010-12-01
3961     XEL 2011-12-01
3962     XEL 2012-12-01
3963     XEL 2013-12-01
3964     XEL 2014-12-01
3965     XEL 2015-12-01
3966     XEL 2016-12-01
3967     XEL 2017-12-01
3968     XEL 2018-12-01
3969     XEL 2019-12-01

[3970 rows x 2 columns]

In [126]:
import datetime

print('Initial Date:', subset_balsheets['Time'][0])
new_datetime = subset_balsheets['Time'][0] + datetime.timedelta(days = 1)
print('Initial Date plus one day:', new_datetime )

Initial Date: 2011-01-01 00:00:00
Initial Date plus one day: 2011-01-02 00:00:00

In [127]:
price_data = pd.read_sql_query("SELECT * FROM price_data",
    conn)
price_data

,Company,Time,Date,Open,High,Low,Close,Volume,Change %
0,AAP,2020-06-10,Jun 10 2020,144.32,144.32,140.37,140.38,864889,-2.66
1,AAP,2020-06-09,Jun 09 2020,145.22,145.71,142.33,144.21,717052,-1.46
2,AAP,2020-06-08,Jun 08 2020,146.28,149.24,145.08,146.35,920468,0.17
3,AAP,2020-06-05,Jun 05 2020,145.07,149.16,144.56,146.10,929252,2.74
4,AAP,2020-06-04,Jun 04 2020,141.08,142.69,140.59,142.20,498438,-0.08
5,AAP,2020-06-03,Jun 03 2020,139.76,144.63,139.76,142.32,519287,2.03
6,AAP,2020-06-02,Jun 02 2020,141.21,141.35,138.93,139.49,540323,-0.21
7,AAP,2020-06-01,Jun 01 2020,139.56,140.63,138.49,139.79,840955,0.34
8,AAP,2020-05-29,May 29 2020,137.70,140.81,136.50,139.32,1335535,0.64
9,AAP,2020-05-28,May 28 2020,142.39,142.48,138.00,138.44,1069958,-2.31
10,AAP,2020-05-27,May 27 2020,137.50,141.78,136.31,141.71,815160,4.52
11,AAP,2020-05-26,May 26 2020,137.62,138.67,134.59,135.58,813429,1.57
12,AAP,2020-05-22,May 22 2020,133.29,134.21,131.38,133.48,682585,-0.97
13,AAP,2020-05-21,May 21 2020,135.57,136.02,130.07,134.79,1512797,-0.69
14,AAP,2020-05-20,May 20 2020,138.23,140.16,135.04,135.72,1216544,-0.07
15,AAP,2020-05-19,May 19 2020,140.34,141.80,135.25,135.82,3755680,3.59
16,AAP,2020-05-18,May 18 2020,130.61,132.89,128.16,131.11,1808689,4.01
17,AAP,2020-05-15,May 15 2020,119.91,127.03,118.73,126.06,1307719,4.07
18,AAP,2020-05-14,May 14 2020,117.78,121.26,116.76,121.13,1385450,1.58
19,AAP,2020-05-13,May 13 2020,123.76,125.05,118.68,119.24,1178718,-4.22
20,AAP,2020-05-12,May 12 2020,126.70,126.94,124.01,124.50,1010563,-1.14
21,AAP,2020-05-11,May 11 2020,124.11,126.39,123.00,125.94,851267,0.87
22,AAP,2020-05-08,May 08 2020,121.90,125.71,121.13,124.85,911524,4.38
23,AAP,2020-05-07,May 07 2020,122.50,124.91,118.94,119.61,904511,-1.28
24,AAP,2020-05-06,May 06 2020,121.81,122.94,119.57,121.16,683793,-0.03
25,AAP,2020-05-05,May 05 2020,121.89,123.59,121.00,121.19,440093,0.90
26,AAP,2020-05-04,May 04 2020,115.43,120.41,115.00,120.11,460437,3.02
27,AAP,2020-05-01,May 01 2020,118.02,119.39,115.97,116.59,501708,-3.57
28,AAP,2020-04-30,Apr 30 2020,123.33,123.42,118.78,120.91,750084,-3.20
29,AAP,2020-04-29,Apr 29 2020,123.83,126.79,123.00,124.91,938407,3.26
...,...,...,...,...,...,...,...,...,...
1145232,XEL,2009-02-12,Feb 12 2009,17.90,18.15,17.70,18.14,2783600,0.06
1145233,XEL,2009-02-11,Feb 11 2009,18.38,18.42,17.97,18.13,2445800,-0.66
1145234,XEL,2009-02-10,Feb 10 2009,18.65,18.87,18.18,18.25,2554800,-2.98
1145235,XEL,2009-02-09,Feb 09 2009,19.02,19.03,18.65,18.81,2048500,-1.16
1145236,XEL,2009-02-06,Feb 06 2009,18.89,19.13,18.67,19.03,2529600,0.79
1145237,XEL,2009-02-05,Feb 05 2009,18.69,18.99,18.52,18.88,2657800,0.91
1145238,XEL,2009-02-04,Feb 04 2009,18.60,18.85,18.54,18.71,2825800,1.35
1145239,XEL,2009-02-03,Feb 03 2009,18.35,18.59,18.19,18.46,2088100,0.55
1145240,XEL,2009-02-02,Feb 02 2009,18.27,18.45,18.00,18.36,2733400,-0.54
1145241,XEL,2009-01-30,Jan 30 2009,18.75,18.84,18.34,18.46,2969900,-1.49
1145242,XEL,2009-01-29,Jan 29 2009,18.99,19.07,18.50,18.74,2791200,0.27
1145243,XEL,2009-01-28,Jan 28 2009,18.94,18.94,18.50,18.69,3069600,0.05
1145244,XEL,2009-01-27,Jan 27 2009,18.69,18.76,18.42,18.68,2646200,0.27
1145245,XEL,2009-01-26,Jan 26 2009,18.45,18.77,18.39,18.63,2544200,1.36
1145246,XEL,2009-01-23,Jan 23 2009,18.15,18.43,18.02,18.38,2803100,-0.33
1145247,XEL,2009-01-22,Jan 22 2009,18.21,18.57,17.94,18.44,4379300,0.71
1145248,XEL,2009-01-21,Jan 21 2009,18.23,18.36,17.99,18.31,4334100,1.83
1145249,XEL,2009-01-20,Jan 20 2009,18.34,18.51,17.93,17.98,3465200,-1.64
1145250,XEL,2009-01-16,Jan 16 2009,18.26,18.49,18.11,18.28,3378200,1.05
1145251,XEL,2009-01-15,Jan 15 2009,17.92,18.10,17.75,18.09,2676600,0.67
1145252,XEL,2009-01-14,Jan 14 2009,18.03,18.12,17.71,17.97,3104300,-0.61
1145253,XEL,2009-01-13,Jan 13 2009,18.39,18.40,17.97,18.08,3041100,-1.52
1145254,XEL,2009-01-12,Jan 12 2009,18.28,18.40,18.15,18.36,2783700,0.66
1145255,XEL,2009-01-09,Jan 09 2009,18.50,18.54,18.17,18.24,2778900,-1.25
1145256,XEL,2009-01-08,Jan 08 2009,18.16,18.47,18.16,18.47,2929600,1.32
1145257,XEL,2009-01-07,Jan 07 2009,18.30,18.40,18.11,18.23,2523000,-1.03
1145258,XEL,2009-01-06,Jan 06 2009,18.74,19.00,18.32,18.42,3009400,-1.29
1145259,XEL,2009-01-05,Jan 05 2009,18.82,18.97,18.44,18.66,2908100,-0.95
1145260,XEL,2009-01-02,Jan 02 2009,18.59,18.95,18.49,18.84,2018200,1.56
1145261,XEL,2008-12-31,Dec 31 2008,18.28,18.64,18.21,18.55,2606400,1.70

In [ ]:
price_values = []

for i in range(len(price_data)):
    for index, row in price_data.iterrows(): 
        if row['Company']  == subset_balsheets['Company'][i] and row['Time'] == subset_balsheets['Time'][i]:
            print(row['Close'])
            price_values.append(row['Close'])  
        elif subset_balsheets['Time'][i] not in price_data['Time']:
            print('Incorrect Date Given')
            price_values.append(0)

In [128]:
company_date_list = []
for company, date in zip(subset_balsheets['Company'], subset_balsheets['Time']):
    company_date_list.append([company, date])
    
print(len(company_date_list))

3970

In [132]:
df1 = price_data.loc[(price_data['Company'] == 'MO') & (price_data['Time'] == subset_balsheets['Time'][0])]
type(df1['Close'])
number = float(df1['Close'].tolist()[0])
#print(float(number[0]))
#print(type(float(number[0])))
print(number)
print(type(number))

24.17
<class 'float'>

In [ ]:
import datetime

print('Initial Date:', subset_balsheets['Time'][0])
new_datetime = subset_balsheets['Time'][0] + datetime.timedelta(days = 1)
print('Initial Date plus one day:', new_datetime )

In [129]:
reconciled_prices_list = [] 
for company_date_pair in company_date_list:
    df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                        (price_data['Time'] == company_date_pair[1])]
    if len(df) != 0:
        print(df['Close'])
        reconciled_prices_list.append(float(df['Close'].tolist()[0]))
    elif len(df) == 0:
        print('Initial Date not a trading day')
        df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                            (price_data['Time'] == company_date_pair[1] + datetime.timedelta(days = 1))]
        
        if len(df) != 0:
            print(df['Close'])
            reconciled_prices_list.append(float(df['Close'].tolist()[0]))
        elif len(df) == 0:
            print('Initial Date plus 1 not a trading day')
            df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                            (price_data['Time'] == company_date_pair[1] + datetime.timedelta(days = 2))]
            
            if len(df) != 0:
                print(df['Close'])
                reconciled_prices_list.append(float(df['Close'].tolist()[0]))
            elif len(df) == 0:
                print('Initial Date plus 2 not a trading day')
                df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                                (price_data['Time'] == company_date_pair[1] + datetime.timedelta(days = 3))]
                
                if len(df) != 0:
                    print(df['Close'])
                    reconciled_prices_list.append(float(df['Close'].tolist()[0]))
                elif len(df) == 0:
                    print('Initial Date plus 3 not a trading day')
                    df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                                (price_data['Time'] == company_date_pair[1] + datetime.timedelta(days = 4))]
                    
                    if len(df) != 0:
                        print(df['Close'])
                        reconciled_prices_list.append(float(df['Close'].tolist()[0]))
                    elif len(df) == 0:
                        print('Initial Date plus 4 not a trading day')
                        df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                                (price_data['Time'] == company_date_pair[1] + datetime.timedelta(days = 5))]
                        
                        if len(df) != 0:
                            print(df['Close'])
                            reconciled_prices_list.append(float(df['Close'].tolist()[0]))
                        elif len(df) == 0:
                            print('Initial Date plus 5 not a trading day, Impossible')

Initial Date not a trading day
Initial Date plus 1 not a trading day
2374    65.50
Name: Close, dtype: object
2143    68.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1892    73.17
Name: Close, dtype: object
Initial Date not a trading day
1641    103.05
Name: Close, dtype: object
Initial Date not a trading day
1368    158.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1116    152.24
Name: Close, dtype: object
885    170.76
Name: Close, dtype: object
633    99.28
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
381    177.89
Name: Close, dtype: object
Initial Date not a trading day
131    156.55
Name: Close, dtype: object
5273    24.17
Name: Close, dtype: object
5020    28.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
4769    33.66
Name: Close, dtype: object
Initial Date not a trading day
4518    36.95
Name: Close, dtype: object
4267    50.30
Name: Close, dtype: object
4015    57.89
Name: Close, dtype: object
3762    62.89
Name: Close, dtype: object
3510    68.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
3258    55.73
Name: Close, dtype: object
Initial Date not a trading day
3008    50.60
Name: Close, dtype: object
Initial Date not a trading day
8239    211.85
Name: Close, dtype: object
7987    282.25
Name: Close, dtype: object
7734    362.77
Name: Close, dtype: object
7484    447.99
Name: Close, dtype: object
7232    514.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
6980    696.96
Name: Close, dtype: object
6729    811.78
Name: Close, dtype: object
6477    547.86
Name: Close, dtype: object
6225    701.30
Name: Close, dtype: object
5974    1102.82
Name: Close, dtype: object
11054    403.10
Name: Close, dtype: object
10801    488.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
10550    667.80
Name: Close, dtype: object
Initial Date not a trading day
10299    1188.50
Name: Close, dtype: object
10048    1153.20
Name: Close, dtype: object
9796    1282.50
Name: Close, dtype: object
9543    1479.66
Name: Close, dtype: object
9291    1735.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
9039    1919.70
Name: Close, dtype: object
Initial Date not a trading day
8789    1884.44
Name: Close, dtype: object
13935    31.63
Name: Close, dtype: object
13682    33.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
13431    33.15
Name: Close, dtype: object
Initial Date not a trading day
13180    53.01
Name: Close, dtype: object
12929    56.82
Name: Close, dtype: object
12677    43.42
Name: Close, dtype: object
12424    36.83
Name: Close, dtype: object
12172    55.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
11920    40.70
Name: Close, dtype: object
Initial Date not a trading day
11670    42.47
Name: Close, dtype: object
16774    33.24
Name: Close, dtype: object
16522    30.50
Name: Close, dtype: object
16271    39.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
16019    45.76
Name: Close, dtype: object
Initial Date not a trading day
15768    62.53
Name: Close, dtype: object
15517    43.93
Name: Close, dtype: object
15264    65.19
Name: Close, dtype: object
15012    70.81
Name: Close, dtype: object
14761    59.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
14509    95.06
Name: Close, dtype: object
19718    42.69
Name: Close, dtype: object
19465    32.82
Name: Close, dtype: object
19214    38.34
Name: Close, dtype: object
18962    34.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
18710    40.07
Name: Close, dtype: object
Initial Date not a trading day
18459    53.55
Name: Close, dtype: object
18207    48.42
Name: Close, dtype: object
17955    64.57
Name: Close, dtype: object
17703    57.75
Name: Close, dtype: object
17452    42.95
Name: Close, dtype: object
22578    258.82
Name: Close, dtype: object
22325    323.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
22074    263.75
Name: Close, dtype: object
Initial Date not a trading day
21823    524.50
Name: Close, dtype: object
21572    660.88
Name: Close, dtype: object
21320    580.74
Name: Close, dtype: object
21067    402.38
Name: Close, dtype: object
20815    307.59
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
20563    475.38
Name: Close, dtype: object
Initial Date not a trading day
20313    813.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
25607    40.71
Name: Close, dtype: object
Initial Date not a trading day
25355    42.21
Name: Close, dtype: object
25103    46.01
Name: Close, dtype: object
24853    46.28
Name: Close, dtype: object
24601    44.44
Name: Close, dtype: object
24349    57.30
Name: Close, dtype: object
Initial Date not a trading day
24097    63.61
Name: Close, dtype: object
23846    85.63
Name: Close, dtype: object
23594    93.30
Name: Close, dtype: object
23343    115.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
28318    28.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
28066    41.22
Name: Close, dtype: object
27795    40.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
27543    49.68
Name: Close, dtype: object
Initial Date not a trading day
27312    70.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
27060    78.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
26808    77.45
Name: Close, dtype: object
26536    113.87
Name: Close, dtype: object
26285    96.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
26033    87.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
31218    15.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
30966    30.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
30736    41.60
Name: Close, dtype: object
Initial Date not a trading day
30485    68.57
Name: Close, dtype: object
30234    94.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
29960    109.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
29708    158.36
Name: Close, dtype: object
29477    184.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
29225    276.36
Name: Close, dtype: object
Initial Date not a trading day
28975    294.05
Name: Close, dtype: object
34184    10.71
Name: Close, dtype: object
33931    10.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
33678    19.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
33429    17.80
Name: Close, dtype: object
Initial Date not a trading day
33178    21.64
Name: Close, dtype: object
32926    29.66
Name: Close, dtype: object
32673    31.56
Name: Close, dtype: object
32421    36.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
32169    44.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
31919    49.79
Name: Close, dtype: object
37002    12.31
Name: Close, dtype: object
36749    12.49
Name: Close, dtype: object
Initial Date not a trading day

Initial Date plus 1 not a trading day
36498    21.90
Name: Close, dtype: object
Initial Date not a trading day
36247    21.61
Name: Close, dtype: object
35996    23.09
Name: Close, dtype: object
35744    29.05
Name: Close, dtype: object
35491    27.39
Name: Close, dtype: object
35239    35.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
34987    30.20
Name: Close, dtype: object
Initial Date not a trading day
34737    34.90
Name: Close, dtype: object
39883    23.36
Name: Close, dtype: object
39630    24.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
39379    60.26
Name: Close, dtype: object
Initial Date not a trading day
39128    62.61
Name: Close, dtype: object
38877    86.49
Name: Close, dtype: object
38625    125.04
Name: Close, dtype: object
38372    122.01
Name: Close, dtype: object
38120    122.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
37868    120.65
Name: Close, dtype: object
Initial Date not a trading day
37618    100.75
Name: Close, dtype: object
42764    15.88
Name: Close, dtype: object
42511    10.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
42260    11.01
Name: Close, dtype: object
Initial Date not a trading day
42009    16.46
Name: Close, dtype: object
41758    15.22
Name: Close, dtype: object
41506    14.05
Name: Close, dtype: object
41253    12.24
Name: Close, dtype: object
41001    12.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
40749    9.60
Name: Close, dtype: object
Initial Date not a trading day
40499    9.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
45623    22.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
45371    18.55
Name: Close, dtype: object
45100    32.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
44848    37.25
Name: Close, dtype: object
Initial Date not a trading day
44617    42.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
44365    25.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
44113    23.48
Name: Close, dtype: object
43841    32.88
Name: Close, dtype: object
43590    25.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
43338    17.45
Name: Close, dtype: object
48526    29.90
Name: Close, dtype: object
48273    36.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
48022    39.88
Name: Close, dtype: object
Initial Date not a trading day
47771    48.37
Name: Close, dtype: object
47520    56.24
Name: Close, dtype: object
47268    37.87
Name: Close, dtype: object
47015    51.54
Name: Close, dtype: object
46763    61.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
46511    68.57
Name: Close, dtype: object
Initial Date not a trading day
46261    96.92
Name: Close, dtype: object
51404    48.51
Name: Close, dtype: object
51151    59.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
50900    64.65
Name: Close, dtype: object
Initial Date not a trading day
50649    82.32
Name: Close, dtype: object
50398    101.76
Name: Close, dtype: object
50146    90.61
Name: Close, dtype: object
49893    96.22
Name: Close, dtype: object
49641    92.86
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
49389    104.20
Name: Close, dtype: object
Initial Date not a trading day
49139    104.72
Name: Close, dtype: object
54454    18.05
Name: Close, dtype: object
54201    17.44
Name: Close, dtype: object
Initial Date not a trading day
53949    16.68
Name: Close, dtype: object
53701    29.27
Name: Close, dtype: object
53448    30.87
Name: Close, dtype: object
53196    32.32
Name: Close, dtype: object
52944    26.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
52691    23.18
Name: Close, dtype: object
Initial Date not a trading day
52441    24.57
Name: Close, dtype: object
52190    24.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
57163    6.40
Name: Close, dtype: object
56932    5.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
56681    9.01
Name: Close, dtype: object
Initial Date not a trading day
56430    17.55
Name: Close, dtype: object
Initial Date not a trading day
56157    27.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
55905    29.28
Name: Close, dtype: object
55674    23.25
Name: Close, dtype: object
55422    20.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
55170    16.16
Name: Close, dtype: object
Initial Date not a trading day
54920    15.19
Name: Close, dtype: object
60066    32.26
Name: Close, dtype: object
59813    37.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
59562    46.00
Name: Close, dtype: object
Initial Date not a trading day
59311    66.55
Name: Close, dtype: object
59060    68.74
Name: Close, dtype: object
58808    48.92
Name: Close, dtype: object
58555    62.07
Name: Close, dtype: object
58303    50.03
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
58051    43.39
Name: Close, dtype: object
Initial Date not a trading day
57801    36.30
Name: Close, dtype: object
62947    47.76
Name: Close, dtype: object
62694    35.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
62443    37.70
Name: Close, dtype: object
Initial Date not a trading day
62192    53.66
Name: Close, dtype: object
61941    57.46
Name: Close, dtype: object
61689    73.13
Name: Close, dtype: object
61436    84.13
Name: Close, dtype: object
61184    91.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
60932    89.87
Name: Close, dtype: object
Initial Date not a trading day
60682    100.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
65807    35.31
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
65555    42.14
Name: Close, dtype: object
65284    67.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
65032    75.09
Name: Close, dtype: object
Initial Date not a trading day
64781    104.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
64549    131.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
64297    134.31
Name: Close, dtype: object
Initial Date not a trading day
64046    188.03
Name: Close, dtype: object
63774    184.37
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
63522    231.54
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
68689    54.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
68437    48.03
Name: Close, dtype: object
68166    46.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
67914    49.45
Name: Close, dtype: object
Initial Date not a trading day
67683    59.59
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
67431    49.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
67179    49.78
Name: Close, dtype: object
66907    65.09
Name: Close, dtype: object

66656    66.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
66404    42.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
71571    24.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
71319    33.88
Name: Close, dtype: object
71048    44.31
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
70796    47.70
Name: Close, dtype: object
Initial Date not a trading day
70565    82.18
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
70313    91.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
70061    66.58
Name: Close, dtype: object
69789    49.35
Name: Close, dtype: object
69538    27.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
69286    22.44
Name: Close, dtype: object
74471    21.23
Name: Close, dtype: object
74218    22.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
73967    27.43
Name: Close, dtype: object
Initial Date not a trading day
73716    29.64
Name: Close, dtype: object
73465    41.69
Name: Close, dtype: object
73213    46.72
Name: Close, dtype: object
72960    47.69
Name: Close, dtype: object
72708    47.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
72456    40.16
Name: Close, dtype: object
Initial Date not a trading day
72206    52.21
Name: Close, dtype: object
77374    14.31
Name: Close, dtype: object
77121    15.52
Name: Close, dtype: object
76870    37.64
Name: Close, dtype: object
76618    34.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
76366    42.58
Name: Close, dtype: object
Initial Date not a trading day
76115    49.48
Name: Close, dtype: object
75863    40.56
Name: Close, dtype: object
75611    55.99
Name: Close, dtype: object
75359    44.04
Name: Close, dtype: object
75108    60.88
Name: Close, dtype: object
80235    10.97
Name: Close, dtype: object
79982    14.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
79731    21.78
Name: Close, dtype: object
Initial Date not a trading day
79480    33.21
Name: Close, dtype: object
79229    28.73
Name: Close, dtype: object
78977    29.70
Name: Close, dtype: object
78724    32.59
Name: Close, dtype: object
78472    39.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
78220    28.27
Name: Close, dtype: object
Initial Date not a trading day
77970    35.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
83091    25.16
Name: Close, dtype: object
82819    26.88
Name: Close, dtype: object
82568    38.56
Name: Close, dtype: object
Initial Date not a trading day
82337    49.44
Name: Close, dtype: object
Initial Date not a trading day
82085    67.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
81833    75.28
Name: Close, dtype: object
81561    72.35
Name: Close, dtype: object
81309    103.86
Name: Close, dtype: object
81058    97.11
Name: Close, dtype: object
Initial Date not a trading day
80827    120.46
Name: Close, dtype: object
85995    40.22
Name: Close, dtype: object
85742    30.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
85491    35.89
Name: Close, dtype: object
Initial Date not a trading day
85240    46.50
Name: Close, dtype: object
84989    77.45
Name: Close, dtype: object
84737    72.26
Name: Close, dtype: object
84484    79.82
Name: Close, dtype: object
84232    126.86
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
83980    119.53
Name: Close, dtype: object
Initial Date not a trading day
83730    140.43
Name: Close, dtype: object
88873    79.29
Name: Close, dtype: object
88620    95.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
88369    87.06
Name: Close, dtype: object
Initial Date not a trading day
88118    96.51
Name: Close, dtype: object
87867    95.78
Name: Close, dtype: object
87615    114.45
Name: Close, dtype: object
87362    118.47
Name: Close, dtype: object
87110    172.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
86858    185.37
Name: Close, dtype: object
Initial Date not a trading day
86608    195.18
Name: Close, dtype: object
91755    12.38
Name: Close, dtype: object
91502    10.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
91251    10.17
Name: Close, dtype: object
Initial Date not a trading day
91000    19.23
Name: Close, dtype: object
90749    22.27
Name: Close, dtype: object
90497    23.28
Name: Close, dtype: object
90244    28.52
Name: Close, dtype: object
89992    34.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
89740    28.02
Name: Close, dtype: object
Initial Date not a trading day
89490    31.96
Name: Close, dtype: object
94637    54.35
Name: Close, dtype: object
94384    54.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
94133    85.81
Name: Close, dtype: object
Initial Date not a trading day
93882    137.68
Name: Close, dtype: object
93631    151.99
Name: Close, dtype: object
93379    191.02
Name: Close, dtype: object
93126    191.48
Name: Close, dtype: object
92874    284.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
92622    126.31
Name: Close, dtype: object
Initial Date not a trading day
92372    137.65
Name: Close, dtype: object
97519    17.37
Name: Close, dtype: object
97266    15.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
97015    21.74
Name: Close, dtype: object
Initial Date not a trading day
96764    29.91
Name: Close, dtype: object
96513    36.02
Name: Close, dtype: object
96261    45.51
Name: Close, dtype: object
96008    45.44
Name: Close, dtype: object
95756    31.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
95504    24.17
Name: Close, dtype: object
Initial Date not a trading day
95254    19.18
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
100549    19.44
Name: Close, dtype: object
Initial Date not a trading day
100297    20.56
Name: Close, dtype: object
100045    27.82
Name: Close, dtype: object
99795    31.68
Name: Close, dtype: object
99543    36.46
Name: Close, dtype: object
99291    50.39
Name: Close, dtype: object
Initial Date not a trading day
99039    59.59
Name: Close, dtype: object
98788    54.99
Name: Close, dtype: object
98536    68.10
Name: Close, dtype: object
98285    85.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
103261    40.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
103009    46.43
Name: Close, dtype: object
102738    51.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
102486    52.02
Name: Close, dtype: object
Initial Date not a trading day
102255    73.18
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
102003    50.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
101751    47.62
Name: Close, dtype: object
101479    49.23
Name: Close, dtype: object
101228    45.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
100976    37.52
Name: Close, dtype: object
106183    644.95
Name: Close, dtype: object
105930    664.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
105679    888.15
Name: Close, dtype: object

Initial Date not a trading day
105428    960.12
Name: Close, dtype: object
105177    1268.99
Name: Close, dtype: object
104925    1702.92
Name: Close, dtype: object
104672    1581.29
Name: Close, dtype: object
104420    3480.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
104168    2533.73
Name: Close, dtype: object
Initial Date not a trading day
103918    3758.00
Name: Close, dtype: object
109066    60.71
Name: Close, dtype: object
108813    77.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
108562    93.32
Name: Close, dtype: object
Initial Date not a trading day
108311    124.57
Name: Close, dtype: object
108060    181.52
Name: Close, dtype: object
107808    262.33
Name: Close, dtype: object
107555    273.06
Name: Close, dtype: object
107303    234.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
107051    346.34
Name: Close, dtype: object
Initial Date not a trading day
106801    446.36
Name: Close, dtype: object
111949    6.54
Name: Close, dtype: object
111696    6.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
111445    16.95
Name: Close, dtype: object
Initial Date not a trading day
111194    18.50
Name: Close, dtype: object
110943    21.68
Name: Close, dtype: object
110691    19.65
Name: Close, dtype: object
110438    18.39
Name: Close, dtype: object
110186    33.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
109934    26.82
Name: Close, dtype: object
Initial Date not a trading day
109684    39.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
114810    63.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
114558    71.22
Name: Close, dtype: object
114287    116.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
114035    116.59
Name: Close, dtype: object
Initial Date not a trading day
113784    111.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
113552    73.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
113300    90.98
Name: Close, dtype: object
113028    154.17
Name: Close, dtype: object
112777    108.76
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
112525    86.42
Name: Close, dtype: object
117631    126.63
Name: Close, dtype: object
117401    177.91
Name: Close, dtype: object
117151    174.17
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
116899    160.27
Name: Close, dtype: object
Initial Date not a trading day
116648    138.06
Name: Close, dtype: object
116374    97.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
116121    81.37
Name: Close, dtype: object
115892    105.12
Name: Close, dtype: object
115641    126.97
Name: Close, dtype: object
Initial Date not a trading day
115389    107.61
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
120571    15.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
120319    23.64
Name: Close, dtype: object
120048    29.71
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
119796    32.97
Name: Close, dtype: object
Initial Date not a trading day
119565    46.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
119313    54.37
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
119061    65.61
Name: Close, dtype: object
118789    82.00
Name: Close, dtype: object
118538    91.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
118286    113.83
Name: Close, dtype: object
123493    41.55
Name: Close, dtype: object
123240    27.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
122989    35.20
Name: Close, dtype: object
Initial Date not a trading day
122738    43.79
Name: Close, dtype: object
122487    72.29
Name: Close, dtype: object
122235    94.38
Name: Close, dtype: object
121982    79.30
Name: Close, dtype: object
121730    125.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
121478    114.25
Name: Close, dtype: object
Initial Date not a trading day
121228    119.15
Name: Close, dtype: object
126435    12.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
126182    18.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
125950    24.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
125701    35.80
Name: Close, dtype: object
Initial Date not a trading day
125450    38.74
Name: Close, dtype: object
125198    53.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
124924    53.84
Name: Close, dtype: object
Initial Date not a trading day
124673    53.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
124441    53.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
124191    96.77
Name: Close, dtype: object
129399    36.46
Name: Close, dtype: object
129146    65.99
Name: Close, dtype: object
128915    63.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
128665    58.54
Name: Close, dtype: object
Initial Date not a trading day
128414    40.44
Name: Close, dtype: object
128163    35.81
Name: Close, dtype: object
127888    40.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
127636    47.33
Name: Close, dtype: object
127406    44.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
127155    28.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
132148    60.77
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
131896    51.12
Name: Close, dtype: object
131625    61.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
131373    55.41
Name: Close, dtype: object
Initial Date not a trading day
131142    75.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
130890    73.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
130638    72.75
Name: Close, dtype: object
130366    74.97
Name: Close, dtype: object
130115    71.17
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
129863    112.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
135048    61.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
134796    66.48
Name: Close, dtype: object
Initial Date not a trading day
134546    58.93
Name: Close, dtype: object
Initial Date not a trading day
134294    92.55
Name: Close, dtype: object
Initial Date not a trading day
134042    105.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
133790    74.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
133538    77.79
Name: Close, dtype: object
Initial Date not a trading day
133287    106.43
Name: Close, dtype: object
Initial Date not a trading day
133036    81.83
Name: Close, dtype: object
Initial Date not a trading day

132784    133.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
137948    10.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
137696    15.93
Name: Close, dtype: object
137425    22.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
137173    28.12
Name: Close, dtype: object
Initial Date not a trading day
136942    33.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
136690    35.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
136438    37.73
Name: Close, dtype: object
136166    40.05
Name: Close, dtype: object
135915    48.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
135663    60.24
Name: Close, dtype: object
140870    21.89
Name: Close, dtype: object
140617    36.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
140366    44.38
Name: Close, dtype: object
Initial Date not a trading day
140115    73.69
Name: Close, dtype: object
139864    76.42
Name: Close, dtype: object
139612    89.66
Name: Close, dtype: object
139359    76.05
Name: Close, dtype: object
139107    68.16
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
138855    95.74
Name: Close, dtype: object
Initial Date not a trading day
138605    95.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
143748    33.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
143496    63.39
Name: Close, dtype: object
143225    97.54
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
142973    83.93
Name: Close, dtype: object
Initial Date not a trading day
142742    126.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
142490    181.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
142238    256.68
Name: Close, dtype: object
141966    219.40
Name: Close, dtype: object
141715    291.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
141463    274.96
Name: Close, dtype: object
146670    7.40
Name: Close, dtype: object
146417    10.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
146166    13.46
Name: Close, dtype: object
Initial Date not a trading day
145915    20.76
Name: Close, dtype: object
145664    35.69
Name: Close, dtype: object
145412    44.59
Name: Close, dtype: object
145159    30.47
Name: Close, dtype: object
144907    13.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
144655    23.99
Name: Close, dtype: object
Initial Date not a trading day
144405    18.44
Name: Close, dtype: object
149295    32.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
149044    37.90
Name: Close, dtype: object
Initial Date not a trading day
148793    55.47
Name: Close, dtype: object
Initial Date not a trading day
148520    69.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
148268    57.29
Name: Close, dtype: object
148037    52.49
Name: Close, dtype: object
147785    67.57
Name: Close, dtype: object
147725    69.37
Name: Close, dtype: object
147474    82.15
Name: Close, dtype: object
Initial Date not a trading day
147222    74.65
Name: Close, dtype: object
152448    74.30
Name: Close, dtype: object
152195    49.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
151944    100.96
Name: Close, dtype: object
Initial Date not a trading day
151693    149.29
Name: Close, dtype: object
151442    185.45
Name: Close, dtype: object
151190    163.26
Name: Close, dtype: object
150937    162.61
Name: Close, dtype: object
150685    167.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
150433    126.53
Name: Close, dtype: object
Initial Date not a trading day
150183    142.93
Name: Close, dtype: object
155348    92.03
Name: Close, dtype: object
155095    108.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
154844    110.73
Name: Close, dtype: object
Initial Date not a trading day
154593    163.82
Name: Close, dtype: object
154342    174.50
Name: Close, dtype: object
154090    66.81
Name: Close, dtype: object
153837    99.27
Name: Close, dtype: object
153585    159.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
153333    119.79
Name: Close, dtype: object
Initial Date not a trading day
153083    119.39
Name: Close, dtype: object
158248    36.25
Name: Close, dtype: object
157995    40.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
157744    48.03
Name: Close, dtype: object
Initial Date not a trading day
157493    55.88
Name: Close, dtype: object
157242    55.64
Name: Close, dtype: object
156990    53.56
Name: Close, dtype: object
156737    62.69
Name: Close, dtype: object
156485    83.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
156233    92.07
Name: Close, dtype: object
Initial Date not a trading day
155983    100.56
Name: Close, dtype: object
161000    31.11
Name: Close, dtype: object
160747    30.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
160621    26.79
Name: Close, dtype: object
Initial Date not a trading day
160370    40.85
Name: Close, dtype: object
160119    52.46
Name: Close, dtype: object
159867    36.70
Name: Close, dtype: object
159614    44.31
Name: Close, dtype: object
159362    40.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
159110    46.84
Name: Close, dtype: object
Initial Date not a trading day
158860    43.29
Name: Close, dtype: object
164172    14.57
Name: Close, dtype: object
163919    16.91
Name: Close, dtype: object
Initial Date not a trading day
163667    20.86
Name: Close, dtype: object
163419    27.89
Name: Close, dtype: object
163166    35.21
Name: Close, dtype: object
162914    34.97
Name: Close, dtype: object
162662    38.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
162409    36.02
Name: Close, dtype: object
Initial Date not a trading day
162159    53.24
Name: Close, dtype: object
161908    53.59
Name: Close, dtype: object
Initial Date not a trading day
166969    36.05
Name: Close, dtype: object
166737    34.65
Name: Close, dtype: object
Initial Date not a trading day
166485    33.39
Name: Close, dtype: object
166236    45.15
Name: Close, dtype: object
165962    41.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
165710    49.88
Name: Close, dtype: object
165479    66.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
165227    52.19
Name: Close, dtype: object
Initial Date not a trading day
164976    40.29
Name: Close, dtype: object
164726    40.12
Name: Close, dtype: object
169765    16.43
Name: Close, dtype: object
169512    21.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
169261    26.99
Name: Close, dtype: object
Initial Date not a trading day
169010    32.63
Name: Close, dtype: object
168759    38.00
Name: Close, dtype: object
168507    43.43
Name: Close, dtype: object
168254    42.77
Name: Close, dtype: object
168002    46.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
167750    66.41
Name: Close, dtype: object
Initial Date not a trading day
167500    69.81
Name: Close, dtype: object
172642    32.35
Name: Close, dtype: object

172389    33.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
172138    37.38
Name: Close, dtype: object
Initial Date not a trading day
171887    40.08
Name: Close, dtype: object
171636    44.55
Name: Close, dtype: object
171384    42.89
Name: Close, dtype: object
171131    40.17
Name: Close, dtype: object
170879    45.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
170627    49.69
Name: Close, dtype: object
Initial Date not a trading day
170377    53.75
Name: Close, dtype: object
175520    38.62
Name: Close, dtype: object
175267    45.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
175016    54.05
Name: Close, dtype: object
Initial Date not a trading day
174765    65.28
Name: Close, dtype: object
174514    69.40
Name: Close, dtype: object
174262    65.83
Name: Close, dtype: object
174009    65.08
Name: Close, dtype: object
173757    73.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
173505    63.76
Name: Close, dtype: object
Initial Date not a trading day
173255    67.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
178549    19.25
Name: Close, dtype: object
Initial Date not a trading day
178297    19.20
Name: Close, dtype: object
178045    20.12
Name: Close, dtype: object
177795    27.23
Name: Close, dtype: object
177543    23.69
Name: Close, dtype: object
177291    28.45
Name: Close, dtype: object
Initial Date not a trading day
177039    34.94
Name: Close, dtype: object
176788    38.29
Name: Close, dtype: object
176536    36.56
Name: Close, dtype: object
176285    30.14
Name: Close, dtype: object
181240    19.43
Name: Close, dtype: object
180988    21.38
Name: Close, dtype: object
180737    32.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
180485    75.56
Name: Close, dtype: object
Initial Date not a trading day
180234    111.30
Name: Close, dtype: object
179983    154.36
Name: Close, dtype: object
179730    149.85
Name: Close, dtype: object
179478    220.69
Name: Close, dtype: object
179227    173.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
178975    189.12
Name: Close, dtype: object
Initial Date not a trading day
184248    49.39
Name: Close, dtype: object
183996    67.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
183720    85.28
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
183471    104.18
Name: Close, dtype: object
183241    109.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
182989    139.87
Name: Close, dtype: object
182738    161.05
Name: Close, dtype: object
182463    158.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
182211    234.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
181961    292.05
Name: Close, dtype: object
187172    28.96
Name: Close, dtype: object
186919    50.15
Name: Close, dtype: object
186666    52.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
186416    67.50
Name: Close, dtype: object
Initial Date not a trading day
186165    76.75
Name: Close, dtype: object
185914    87.73
Name: Close, dtype: object
185661    92.99
Name: Close, dtype: object
185409    94.56
Name: Close, dtype: object
185157    148.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
184906    164.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
190073    35.73
Name: Close, dtype: object
Initial Date not a trading day
189821    38.93
Name: Close, dtype: object
189569    38.93
Name: Close, dtype: object
189319    50.40
Name: Close, dtype: object
189067    52.68
Name: Close, dtype: object
188815    55.70
Name: Close, dtype: object
Initial Date not a trading day
188563    62.22
Name: Close, dtype: object
188312    56.60
Name: Close, dtype: object
188060    43.55
Name: Close, dtype: object
187809    51.31
Name: Close, dtype: object
192845    11.16
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
192592    13.27
Name: Close, dtype: object
192341    14.77
Name: Close, dtype: object
192091    21.20
Name: Close, dtype: object
191839    25.53
Name: Close, dtype: object
191587    31.61
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
191334    38.04
Name: Close, dtype: object
Initial Date not a trading day
191083    31.92
Name: Close, dtype: object
190832    39.30
Name: Close, dtype: object
190581    43.62
Name: Close, dtype: object
195601    72.44
Name: Close, dtype: object
Initial Date not a trading day
195349    81.44
Name: Close, dtype: object
195101    98.95
Name: Close, dtype: object
194848    97.14
Name: Close, dtype: object
194596    115.48
Name: Close, dtype: object
194344    132.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
194091    131.08
Name: Close, dtype: object
Initial Date not a trading day
193841    119.77
Name: Close, dtype: object
193590    115.73
Name: Close, dtype: object
193337    109.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
198545    50.88
Name: Close, dtype: object
198314    48.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
198063    55.26
Name: Close, dtype: object
Initial Date not a trading day
197812    60.59
Name: Close, dtype: object
Initial Date not a trading day
197539    65.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
197287    71.61
Name: Close, dtype: object
197056    70.96
Name: Close, dtype: object
196804    65.99
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
196552    63.12
Name: Close, dtype: object
Initial Date not a trading day
196302    65.42
Name: Close, dtype: object
201445    59.87
Name: Close, dtype: object
201192    68.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
200941    82.13
Name: Close, dtype: object
Initial Date not a trading day
200690    102.70
Name: Close, dtype: object
200439    115.91
Name: Close, dtype: object
200187    121.13
Name: Close, dtype: object
199934    114.01
Name: Close, dtype: object
199682    120.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
199430    113.19
Name: Close, dtype: object
Initial Date not a trading day
199180    136.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
204305    11.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
204053    12.26
Name: Close, dtype: object
203782    13.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
203530    17.69
Name: Close, dtype: object
Initial Date not a trading day
203299    31.77
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
203047    41.16
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
202795    33.72
Name: Close, dtype: object
202523    30.21
Name: Close, dtype: object
202272    28.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
202020    26.98
Name: Close, dtype: object
207226    43.97
Name: Close, dtype: object
206973    48.03
Name: Close, dtype: object
206722    61.20
Name: Close, dtype: object
206470    68.71
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
206218    71.13
Name: Close, dtype: object

Initial Date not a trading day
205967    84.55
Name: Close, dtype: object
205715    94.81
Name: Close, dtype: object
205463    99.85
Name: Close, dtype: object
205211    145.20
Name: Close, dtype: object
204960    160.63
Name: Close, dtype: object
210087    48.46
Name: Close, dtype: object
209834    40.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
209583    41.52
Name: Close, dtype: object
Initial Date not a trading day
209332    52.55
Name: Close, dtype: object
209081    75.85
Name: Close, dtype: object
208829    93.17
Name: Close, dtype: object
208576    94.66
Name: Close, dtype: object
208324    79.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
208072    66.14
Name: Close, dtype: object
Initial Date not a trading day
207822    50.67
Name: Close, dtype: object
212969    20.04
Name: Close, dtype: object
212716    23.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
212465    25.67
Name: Close, dtype: object
Initial Date not a trading day
212214    33.44
Name: Close, dtype: object
211963    38.98
Name: Close, dtype: object
211711    44.32
Name: Close, dtype: object
211458    40.84
Name: Close, dtype: object
211206    42.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
210954    45.03
Name: Close, dtype: object
Initial Date not a trading day
210704    52.84
Name: Close, dtype: object
215851    8.75
Name: Close, dtype: object
215598    15.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
215347    17.29
Name: Close, dtype: object
Initial Date not a trading day
215096    19.84
Name: Close, dtype: object
214845    37.10
Name: Close, dtype: object
214593    52.41
Name: Close, dtype: object
214340    43.64
Name: Close, dtype: object
214088    62.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
213836    60.00
Name: Close, dtype: object
Initial Date not a trading day
213586    59.81
Name: Close, dtype: object
218728    65.63
Name: Close, dtype: object
218475    64.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
218224    69.87
Name: Close, dtype: object
Initial Date not a trading day
217973    83.70
Name: Close, dtype: object
217722    99.67
Name: Close, dtype: object
217470    101.06
Name: Close, dtype: object
217217    99.03
Name: Close, dtype: object
216965    116.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
216713    118.98
Name: Close, dtype: object
Initial Date not a trading day
216463    135.88
Name: Close, dtype: object
221611    57.70
Name: Close, dtype: object
221358    75.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
221107    89.80
Name: Close, dtype: object
Initial Date not a trading day
220856    85.07
Name: Close, dtype: object
220605    86.50
Name: Close, dtype: object
220353    87.78
Name: Close, dtype: object
220100    87.77
Name: Close, dtype: object
219848    103.71
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
219596    87.08
Name: Close, dtype: object
Initial Date not a trading day
219346    82.60
Name: Close, dtype: object
224617    61.16
Name: Close, dtype: object
224364    66.40
Name: Close, dtype: object
224111    61.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
223861    77.66
Name: Close, dtype: object
Initial Date not a trading day
223610    80.36
Name: Close, dtype: object
223359    78.85
Name: Close, dtype: object
223106    81.79
Name: Close, dtype: object
222854    88.13
Name: Close, dtype: object
222602    73.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
222351    103.80
Name: Close, dtype: object
227473    28.54
Name: Close, dtype: object
227220    31.39
Name: Close, dtype: object
226989    27.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
226739    33.89
Name: Close, dtype: object
Initial Date not a trading day
226488    37.64
Name: Close, dtype: object
226237    37.23
Name: Close, dtype: object
225962    50.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
225710    50.54
Name: Close, dtype: object
225480    65.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
225229    68.96
Name: Close, dtype: object
230373    62.72
Name: Close, dtype: object
230120    69.34
Name: Close, dtype: object
229867    69.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
229617    83.18
Name: Close, dtype: object
Initial Date not a trading day
229366    88.86
Name: Close, dtype: object
229115    107.91
Name: Close, dtype: object
228862    129.89
Name: Close, dtype: object
228610    135.77
Name: Close, dtype: object
228358    120.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
228107    152.58
Name: Close, dtype: object
233127    47.23
Name: Close, dtype: object
232874    57.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
232623    72.69
Name: Close, dtype: object
Initial Date not a trading day
232372    96.49
Name: Close, dtype: object
232121    100.20
Name: Close, dtype: object
231869    85.62
Name: Close, dtype: object
231616    96.28
Name: Close, dtype: object
231364    111.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
231112    108.93
Name: Close, dtype: object
Initial Date not a trading day
230862    148.96
Name: Close, dtype: object
236069    16.17
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
235816    16.59
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
235584    15.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
235335    28.84
Name: Close, dtype: object
Initial Date not a trading day
235084    38.37
Name: Close, dtype: object
234811    43.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
234558    75.10
Name: Close, dtype: object
234327    64.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
234075    62.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
233825    93.29
Name: Close, dtype: object
Initial Date not a trading day
238990    29.13
Name: Close, dtype: object
238738    39.10
Name: Close, dtype: object
238485    36.27
Name: Close, dtype: object
238235    51.13
Name: Close, dtype: object
237983    70.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
237731    95.91
Name: Close, dtype: object
237480    79.27
Name: Close, dtype: object
237228    81.13
Name: Close, dtype: object
236976    66.44
Name: Close, dtype: object
236725    54.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
241761    54.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
241509    60.33
Name: Close, dtype: object
Initial Date not a trading day
241259    69.24
Name: Close, dtype: object
Initial Date not a trading day
241007    78.91
Name: Close, dtype: object
Initial Date not a trading day
240755    85.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
240503    61.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
240251    68.66
Name: Close, dtype: object
Initial Date not a trading day
240000    98.59
Name: Close, dtype: object
Initial Date not a trading day

239749    93.34
Name: Close, dtype: object
Initial Date not a trading day
239497    118.94
Name: Close, dtype: object
244724    28.96
Name: Close, dtype: object
244471    34.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
244218    35.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
243969    39.64
Name: Close, dtype: object
Initial Date not a trading day
243718    50.33
Name: Close, dtype: object
243466    53.59
Name: Close, dtype: object
243213    73.25
Name: Close, dtype: object
242961    88.16
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
242709    92.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
242459    111.77
Name: Close, dtype: object
247542    9.00
Name: Close, dtype: object
247289    21.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
247038    24.05
Name: Close, dtype: object
Initial Date not a trading day
246787    34.68
Name: Close, dtype: object
246536    33.20
Name: Close, dtype: object
246284    18.60
Name: Close, dtype: object
246031    22.83
Name: Close, dtype: object
245779    28.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
245527    24.91
Name: Close, dtype: object
Initial Date not a trading day
245277    16.00
Name: Close, dtype: object
250423    15.76
Name: Close, dtype: object
250170    19.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
249919    19.76
Name: Close, dtype: object
Initial Date not a trading day
249668    23.13
Name: Close, dtype: object
249417    23.50
Name: Close, dtype: object
249165    16.99
Name: Close, dtype: object
248912    23.80
Name: Close, dtype: object
248660    29.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
248408    28.37
Name: Close, dtype: object
Initial Date not a trading day
248158    24.39
Name: Close, dtype: object
253301    82.70
Name: Close, dtype: object
253048    101.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
252797    104.66
Name: Close, dtype: object
Initial Date not a trading day
252546    122.34
Name: Close, dtype: object
252295    111.73
Name: Close, dtype: object
252043    92.48
Name: Close, dtype: object
251790    113.29
Name: Close, dtype: object
251538    119.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
251286    120.67
Name: Close, dtype: object
Initial Date not a trading day
251036    116.80
Name: Close, dtype: object
256182    18.21
Name: Close, dtype: object
255929    21.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
255678    24.30
Name: Close, dtype: object
Initial Date not a trading day
255427    26.46
Name: Close, dtype: object
255176    33.25
Name: Close, dtype: object
254924    35.39
Name: Close, dtype: object
254671    39.69
Name: Close, dtype: object
254419    49.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
254167    52.35
Name: Close, dtype: object
Initial Date not a trading day
253917    60.87
Name: Close, dtype: object
259063    83.45
Name: Close, dtype: object
258810    101.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
258559    78.78
Name: Close, dtype: object
Initial Date not a trading day
258308    102.82
Name: Close, dtype: object
258057    92.43
Name: Close, dtype: object
257805    111.91
Name: Close, dtype: object
257552    141.79
Name: Close, dtype: object
257300    141.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
257048    134.74
Name: Close, dtype: object
Initial Date not a trading day
256798    73.52
Name: Close, dtype: object
261944    47.61
Name: Close, dtype: object
261691    54.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
261440    57.17
Name: Close, dtype: object
Initial Date not a trading day
261189    72.57
Name: Close, dtype: object
260938    67.77
Name: Close, dtype: object
260686    54.61
Name: Close, dtype: object
260433    48.22
Name: Close, dtype: object
260181    51.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
259929    69.11
Name: Close, dtype: object
Initial Date not a trading day
259679    60.37
Name: Close, dtype: object
264821    48.75
Name: Close, dtype: object
264568    59.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
264317    55.27
Name: Close, dtype: object
Initial Date not a trading day
264066    55.08
Name: Close, dtype: object
263815    63.83
Name: Close, dtype: object
263563    62.59
Name: Close, dtype: object
263310    69.47
Name: Close, dtype: object
263058    88.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
262806    81.23
Name: Close, dtype: object
Initial Date not a trading day
262556    85.55
Name: Close, dtype: object
267702    72.01
Name: Close, dtype: object
267449    65.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
267198    51.90
Name: Close, dtype: object
Initial Date not a trading day
266947    60.54
Name: Close, dtype: object
266696    59.94
Name: Close, dtype: object
266444    46.49
Name: Close, dtype: object
266191    47.85
Name: Close, dtype: object
265939    38.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
265687    28.77
Name: Close, dtype: object
Initial Date not a trading day
265437    21.83
Name: Close, dtype: object
270583    45.40
Name: Close, dtype: object
270330    52.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
270079    60.58
Name: Close, dtype: object
Initial Date not a trading day
269828    66.78
Name: Close, dtype: object
269577    81.54
Name: Close, dtype: object
269325    80.67
Name: Close, dtype: object
269072    93.61
Name: Close, dtype: object
268820    115.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
268568    119.16
Name: Close, dtype: object
Initial Date not a trading day
268318    123.38
Name: Close, dtype: object
273460    53.34
Name: Close, dtype: object
273207    62.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
272956    63.97
Name: Close, dtype: object
Initial Date not a trading day
272705    69.61
Name: Close, dtype: object
272454    82.00
Name: Close, dtype: object
272202    68.06
Name: Close, dtype: object
271949    72.75
Name: Close, dtype: object
271697    88.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
271445    89.62
Name: Close, dtype: object
Initial Date not a trading day
271195    87.29
Name: Close, dtype: object
276341    45.81
Name: Close, dtype: object
276088    51.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
275837    58.62
Name: Close, dtype: object
Initial Date not a trading day
275586    82.50
Name: Close, dtype: object
275335    87.24
Name: Close, dtype: object
275083    84.05
Name: Close, dtype: object
274830    104.75
Name: Close, dtype: object
274578    102.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
274326    108.11
Name: Close, dtype: object
Initial Date not a trading day
274076    70.79
Name: Close, dtype: object
279219    71.33
Name: Close, dtype: object
278966    79.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
278715    87.61
Name: Close, dtype: object
Initial Date not a trading day
278464    93.52
Name: Close, dtype: object
278213    92.35
Name: Close, dtype: object
277961    81.89
Name: Close, dtype: object

277708    87.24
Name: Close, dtype: object
277456    83.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
277204    81.22
Name: Close, dtype: object
Initial Date not a trading day
276954    68.42
Name: Close, dtype: object
282100    39.19
Name: Close, dtype: object
281847    36.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
281596    33.08
Name: Close, dtype: object
Initial Date not a trading day
281345    52.01
Name: Close, dtype: object
281094    41.21
Name: Close, dtype: object
280842    40.40
Name: Close, dtype: object
280589    53.24
Name: Close, dtype: object
280337    43.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
280085    32.66
Name: Close, dtype: object
Initial Date not a trading day
279835    21.29
Name: Close, dtype: object
284981    73.14
Name: Close, dtype: object
284728    59.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
284477    49.57
Name: Close, dtype: object
Initial Date not a trading day
284226    80.91
Name: Close, dtype: object
283975    73.97
Name: Close, dtype: object
283723    59.55
Name: Close, dtype: object
283470    56.11
Name: Close, dtype: object
283218    47.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
282966    56.45
Name: Close, dtype: object
Initial Date not a trading day
282716    61.19
Name: Close, dtype: object
287881    15.22
Name: Close, dtype: object
287628    20.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
287377    41.73
Name: Close, dtype: object
Initial Date not a trading day
287126    47.12
Name: Close, dtype: object
286875    40.66
Name: Close, dtype: object
286623    50.25
Name: Close, dtype: object
286370    29.10
Name: Close, dtype: object
286118    44.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
285866    58.85
Name: Close, dtype: object
Initial Date not a trading day
285616    52.72
Name: Close, dtype: object
290763    20.73
Name: Close, dtype: object
290510    27.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
290259    30.80
Name: Close, dtype: object
Initial Date not a trading day
290008    36.46
Name: Close, dtype: object
289757    28.99
Name: Close, dtype: object
289505    17.63
Name: Close, dtype: object
289252    17.89
Name: Close, dtype: object
289000    15.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
288748    17.55
Name: Close, dtype: object
Initial Date not a trading day
288498    11.96
Name: Close, dtype: object
293645    55.87
Name: Close, dtype: object
293392    64.37
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
293141    61.25
Name: Close, dtype: object
Initial Date not a trading day
292890    73.62
Name: Close, dtype: object
292639    66.46
Name: Close, dtype: object
292387    37.72
Name: Close, dtype: object
292134    37.59
Name: Close, dtype: object
291882    34.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
291630    32.88
Name: Close, dtype: object
Initial Date not a trading day
291380    23.05
Name: Close, dtype: object
296522    50.93
Name: Close, dtype: object
296269    55.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
296018    68.29
Name: Close, dtype: object
Initial Date not a trading day
295767    83.93
Name: Close, dtype: object
295516    104.81
Name: Close, dtype: object
295264    100.57
Name: Close, dtype: object
295011    112.95
Name: Close, dtype: object
294759    157.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
294507    182.49
Name: Close, dtype: object
Initial Date not a trading day
294257    231.25
Name: Close, dtype: object
299387    41.77
Name: Close, dtype: object
299134    48.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
298883    48.13
Name: Close, dtype: object
Initial Date not a trading day
298632    69.80
Name: Close, dtype: object
298381    49.70
Name: Close, dtype: object
298129    36.99
Name: Close, dtype: object
297876    38.87
Name: Close, dtype: object
297624    27.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
297372    25.00
Name: Close, dtype: object
Initial Date not a trading day
297139    20.58
Name: Close, dtype: object
302270    22.52
Name: Close, dtype: object
302017    36.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
301766    39.08
Name: Close, dtype: object
Initial Date not a trading day
301515    50.14
Name: Close, dtype: object
301264    51.95
Name: Close, dtype: object
301012    29.21
Name: Close, dtype: object
300759    54.42
Name: Close, dtype: object
300507    52.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
300255    62.75
Name: Close, dtype: object
Initial Date not a trading day
300005    70.82
Name: Close, dtype: object
305153    86.57
Name: Close, dtype: object
304900    92.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
304649    70.58
Name: Close, dtype: object
Initial Date not a trading day
304398    90.90
Name: Close, dtype: object
304147    79.42
Name: Close, dtype: object
303895    76.66
Name: Close, dtype: object
303642    71.27
Name: Close, dtype: object
303390    70.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
303138    71.32
Name: Close, dtype: object
Initial Date not a trading day
302888    38.68
Name: Close, dtype: object
308036    84.27
Name: Close, dtype: object
307783    93.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
307532    104.83
Name: Close, dtype: object
Initial Date not a trading day
307281    178.11
Name: Close, dtype: object
307030    144.84
Name: Close, dtype: object
306778    149.25
Name: Close, dtype: object
306525    189.57
Name: Close, dtype: object
306273    157.16
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
306021    153.38
Name: Close, dtype: object
Initial Date not a trading day
305771    126.78
Name: Close, dtype: object
310936    80.85
Name: Close, dtype: object
310683    74.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
310432    71.02
Name: Close, dtype: object
Initial Date not a trading day
310181    87.60
Name: Close, dtype: object
309930    84.84
Name: Close, dtype: object
309678    78.17
Name: Close, dtype: object
309425    84.61
Name: Close, dtype: object
309173    64.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
308921    46.30
Name: Close, dtype: object
Initial Date not a trading day
308671    36.36
Name: Close, dtype: object
313813    38.23
Name: Close, dtype: object
313560    44.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
313309    43.17
Name: Close, dtype: object
Initial Date not a trading day
313058    40.74
Name: Close, dtype: object
312807    47.69
Name: Close, dtype: object
312555    45.18
Name: Close, dtype: object
312302    46.59
Name: Close, dtype: object
312050    51.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
311798    47.49
Name: Close, dtype: object
Initial Date not a trading day
311548    61.60
Name: Close, dtype: object
316713    19.07
Name: Close, dtype: object
316460    26.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
316209    32.59
Name: Close, dtype: object
Initial Date not a trading day
315958    35.18
Name: Close, dtype: object
315707    50.14
Name: Close, dtype: object
315455    36.66
Name: Close, dtype: object
315202    30.02
Name: Close, dtype: object
314950    29.29
Name: Close, dtype: object

Initial Date not a trading day
Initial Date plus 1 not a trading day
314698    25.70
Name: Close, dtype: object
Initial Date not a trading day
314448    22.55
Name: Close, dtype: object
319613    18.45
Name: Close, dtype: object
319360    20.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
319109    29.19
Name: Close, dtype: object
Initial Date not a trading day
318858    46.83
Name: Close, dtype: object
318607    48.90
Name: Close, dtype: object
318355    72.57
Name: Close, dtype: object
318102    60.53
Name: Close, dtype: object
317850    84.17
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
317598    81.30
Name: Close, dtype: object
Initial Date not a trading day
317348    95.60
Name: Close, dtype: object
322490    26.50
Name: Close, dtype: object
322237    21.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
321986    26.38
Name: Close, dtype: object
Initial Date not a trading day
321735    33.13
Name: Close, dtype: object
321484    29.64
Name: Close, dtype: object
321232    32.99
Name: Close, dtype: object
320979    35.24
Name: Close, dtype: object
320727    43.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
320475    46.07
Name: Close, dtype: object
Initial Date not a trading day
320225    52.68
Name: Close, dtype: object
325370    44.30
Name: Close, dtype: object
325117    47.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
324866    55.99
Name: Close, dtype: object
Initial Date not a trading day
324615    85.29
Name: Close, dtype: object
324364    92.14
Name: Close, dtype: object
324112    72.20
Name: Close, dtype: object
323859    72.53
Name: Close, dtype: object
323607    97.86
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
323355    112.36
Name: Close, dtype: object
Initial Date not a trading day
323105    117.26
Name: Close, dtype: object
328251    35.42
Name: Close, dtype: object
327998    23.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
327747    33.12
Name: Close, dtype: object
Initial Date not a trading day
327496    49.71
Name: Close, dtype: object
327245    54.43
Name: Close, dtype: object
326993    64.12
Name: Close, dtype: object
326740    64.11
Name: Close, dtype: object
326488    59.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
326236    43.18
Name: Close, dtype: object
Initial Date not a trading day
325986    51.66
Name: Close, dtype: object
331132    52.98
Name: Close, dtype: object
330879    45.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
330628    61.10
Name: Close, dtype: object
Initial Date not a trading day
330377    108.23
Name: Close, dtype: object
330126    130.68
Name: Close, dtype: object
329874    114.61
Name: Close, dtype: object
329621    115.04
Name: Close, dtype: object
329369    162.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
329117    130.96
Name: Close, dtype: object
Initial Date not a trading day
328867    162.56
Name: Close, dtype: object
334013    28.75
Name: Close, dtype: object
333760    31.18
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
333509    36.55
Name: Close, dtype: object
Initial Date not a trading day
333258    46.26
Name: Close, dtype: object
333007    47.63
Name: Close, dtype: object
332755    43.86
Name: Close, dtype: object
332502    49.73
Name: Close, dtype: object
332250    66.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
331998    77.96
Name: Close, dtype: object
Initial Date not a trading day
331748    92.23
Name: Close, dtype: object
336894    35.97
Name: Close, dtype: object
336641    39.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
336390    33.96
Name: Close, dtype: object
Initial Date not a trading day
336139    65.71
Name: Close, dtype: object
335888    67.35
Name: Close, dtype: object
335636    85.26
Name: Close, dtype: object
335383    86.78
Name: Close, dtype: object
335131    99.77
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
334879    97.30
Name: Close, dtype: object
Initial Date not a trading day
334629    131.71
Name: Close, dtype: object
339775    11.29
Name: Close, dtype: object
339522    5.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
339271    9.80
Name: Close, dtype: object
Initial Date not a trading day
339020    15.73
Name: Close, dtype: object
338769    16.79
Name: Close, dtype: object
338517    17.81
Name: Close, dtype: object
338264    21.50
Name: Close, dtype: object
338012    28.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
337760    28.54
Name: Close, dtype: object
Initial Date not a trading day
337510    33.43
Name: Close, dtype: object
342656    27.37
Name: Close, dtype: object
342403    19.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
342152    24.03
Name: Close, dtype: object
Initial Date not a trading day
341901    33.64
Name: Close, dtype: object
341650    39.58
Name: Close, dtype: object
341398    43.91
Name: Close, dtype: object
341145    48.60
Name: Close, dtype: object
340893    54.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
340641    50.64
Name: Close, dtype: object
Initial Date not a trading day
340391    49.13
Name: Close, dtype: object
345537    80.68
Name: Close, dtype: object
345284    77.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
345033    87.75
Name: Close, dtype: object
Initial Date not a trading day
344782    115.33
Name: Close, dtype: object
344531    148.52
Name: Close, dtype: object
344279    136.43
Name: Close, dtype: object
344026    160.12
Name: Close, dtype: object
343774    194.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
343522    220.81
Name: Close, dtype: object
Initial Date not a trading day
343272    220.33
Name: Close, dtype: object
348418    167.62
Name: Close, dtype: object
348165    167.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
347914    195.33
Name: Close, dtype: object
Initial Date not a trading day
347663    305.00
Name: Close, dtype: object
347412    355.03
Name: Close, dtype: object
347160    361.73
Name: Close, dtype: object
346907    377.20
Name: Close, dtype: object
346655    502.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
346403    434.87
Name: Close, dtype: object
Initial Date not a trading day
346153    489.70
Name: Close, dtype: object
351299    38.13
Name: Close, dtype: object
351046    44.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
350795    57.33
Name: Close, dtype: object
Initial Date not a trading day
350544    72.10
Name: Close, dtype: object
350293    82.31
Name: Close, dtype: object
350041    79.82
Name: Close, dtype: object
349788    86.61
Name: Close, dtype: object
349536    92.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
349284    90.47
Name: Close, dtype: object
Initial Date not a trading day
349034    99.23
Name: Close, dtype: object
354180    15.69
Name: Close, dtype: object
353927    11.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
353676    12.99
Name: Close, dtype: object
Initial Date not a trading day
353425    24.83
Name: Close, dtype: object
353174    27.66
Name: Close, dtype: object
352922    34.02
Name: Close, dtype: object
352669    39.61
Name: Close, dtype: object
352417    49.50
Name: Close, dtype: object

Initial Date not a trading day
Initial Date plus 1 not a trading day
352165    45.46
Name: Close, dtype: object
Initial Date not a trading day
351915    49.57
Name: Close, dtype: object
357057    59.48
Name: Close, dtype: object
356804    68.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
356553    79.23
Name: Close, dtype: object
Initial Date not a trading day
356302    101.79
Name: Close, dtype: object
356051    114.87
Name: Close, dtype: object
355799    116.13
Name: Close, dtype: object
355546    129.03
Name: Close, dtype: object
355294    151.64
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
355042    133.51
Name: Close, dtype: object
Initial Date not a trading day
354792    149.78
Name: Close, dtype: object
359935    30.37
Name: Close, dtype: object
359682    28.59
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
359431    39.85
Name: Close, dtype: object
Initial Date not a trading day
359180    51.41
Name: Close, dtype: object
358929    50.09
Name: Close, dtype: object
358677    61.06
Name: Close, dtype: object
358424    76.61
Name: Close, dtype: object
358172    74.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
357920    82.64
Name: Close, dtype: object
Initial Date not a trading day
357670    105.63
Name: Close, dtype: object
362816    43.00
Name: Close, dtype: object
362563    26.99
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
362312    34.22
Name: Close, dtype: object
Initial Date not a trading day
362061    52.62
Name: Close, dtype: object
361810    53.35
Name: Close, dtype: object
361558    54.88
Name: Close, dtype: object
361305    57.27
Name: Close, dtype: object
361053    75.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
360801    65.16
Name: Close, dtype: object
Initial Date not a trading day
360551    74.52
Name: Close, dtype: object
365697    42.64
Name: Close, dtype: object
365444    35.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
365193    40.36
Name: Close, dtype: object
Initial Date not a trading day
364942    60.61
Name: Close, dtype: object
364691    67.21
Name: Close, dtype: object
364439    81.23
Name: Close, dtype: object
364186    101.63
Name: Close, dtype: object
363934    140.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
363682    184.50
Name: Close, dtype: object
Initial Date not a trading day
363432    203.32
Name: Close, dtype: object
368578    37.35
Name: Close, dtype: object
368325    25.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
368074    29.12
Name: Close, dtype: object
Initial Date not a trading day
367823    45.61
Name: Close, dtype: object
367572    45.23
Name: Close, dtype: object
367320    46.74
Name: Close, dtype: object
367067    65.14
Name: Close, dtype: object
366815    83.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
366563    79.78
Name: Close, dtype: object
Initial Date not a trading day
366313    70.10
Name: Close, dtype: object
371227    22.84
Name: Close, dtype: object
370976    41.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
370955    41.23
Name: Close, dtype: object
Initial Date not a trading day
370704    52.89
Name: Close, dtype: object
370453    65.25
Name: Close, dtype: object
370201    57.15
Name: Close, dtype: object
369948    68.06
Name: Close, dtype: object
369696    71.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
369444    71.69
Name: Close, dtype: object
Initial Date not a trading day
369194    84.06
Name: Close, dtype: object
374359    15.28
Name: Close, dtype: object
374106    8.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
373855    8.34
Name: Close, dtype: object
Initial Date not a trading day
373604    18.10
Name: Close, dtype: object
373353    22.06
Name: Close, dtype: object
373101    30.72
Name: Close, dtype: object
372848    35.30
Name: Close, dtype: object
372596    48.89
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
372344    52.91
Name: Close, dtype: object
Initial Date not a trading day
372094    44.56
Name: Close, dtype: object
377240    84.03
Name: Close, dtype: object
376987    85.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
376736    106.80
Name: Close, dtype: object
Initial Date not a trading day
376485    154.98
Name: Close, dtype: object
376234    172.38
Name: Close, dtype: object
375982    186.85
Name: Close, dtype: object
375729    210.61
Name: Close, dtype: object
375477    218.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
375225    224.41
Name: Close, dtype: object
Initial Date not a trading day
374975    268.81
Name: Close, dtype: object
380121    12.27
Name: Close, dtype: object
379868    11.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
379617    14.41
Name: Close, dtype: object
Initial Date not a trading day
379366    20.20
Name: Close, dtype: object
379115    19.75
Name: Close, dtype: object
378863    21.02
Name: Close, dtype: object
378610    26.44
Name: Close, dtype: object
378358    30.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
378106    27.88
Name: Close, dtype: object
Initial Date not a trading day
377856    30.11
Name: Close, dtype: object
383062    29.19
Name: Close, dtype: object
382809    34.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
382556    34.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
382307    42.53
Name: Close, dtype: object
Initial Date not a trading day
382056    51.63
Name: Close, dtype: object
381804    36.30
Name: Close, dtype: object
381551    33.00
Name: Close, dtype: object
381299    39.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
381047    31.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
380797    26.03
Name: Close, dtype: object
385899    26.17
Name: Close, dtype: object
385646    28.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
385395    34.54
Name: Close, dtype: object
Initial Date not a trading day
385144    50.78
Name: Close, dtype: object
384893    53.30
Name: Close, dtype: object
384641    61.19
Name: Close, dtype: object
384388    71.36
Name: Close, dtype: object
384136    88.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
383884    86.55
Name: Close, dtype: object
Initial Date not a trading day
383634    102.41
Name: Close, dtype: object
388780    158.45
Name: Close, dtype: object
388527    94.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
388276    118.40
Name: Close, dtype: object
Initial Date not a trading day
388025    169.72
Name: Close, dtype: object
387774    188.20
Name: Close, dtype: object
387522    193.07
Name: Close, dtype: object
387269    226.63
Name: Close, dtype: object
387017    248.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
386765    191.63
Name: Close, dtype: object
Initial Date not a trading day
386515    217.64
Name: Close, dtype: object
391661    23.26
Name: Close, dtype: object
391408    17.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
391157    21.12
Name: Close, dtype: object
Initial Date not a trading day
390906    35.75
Name: Close, dtype: object
390655    41.01
Name: Close, dtype: object
390403    46.20
Name: Close, dtype: object

390150    47.77
Name: Close, dtype: object
389898    57.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
389646    43.76
Name: Close, dtype: object
Initial Date not a trading day
389396    61.45
Name: Close, dtype: object
394543    6.03
Name: Close, dtype: object
394290    5.18
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
394039    6.12
Name: Close, dtype: object
Initial Date not a trading day
393788    9.11
Name: Close, dtype: object
393537    9.98
Name: Close, dtype: object
393285    11.80
Name: Close, dtype: object
393032    13.03
Name: Close, dtype: object
392780    14.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
392528    14.48
Name: Close, dtype: object
Initial Date not a trading day
392278    14.83
Name: Close, dtype: object
397425    23.12
Name: Close, dtype: object
397172    24.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
396921    26.40
Name: Close, dtype: object
Initial Date not a trading day
396670    42.98
Name: Close, dtype: object
396419    44.76
Name: Close, dtype: object
396167    52.19
Name: Close, dtype: object
395914    56.35
Name: Close, dtype: object
395662    72.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
395410    81.13
Name: Close, dtype: object
Initial Date not a trading day
395160    93.30
Name: Close, dtype: object
400307    22.46
Name: Close, dtype: object
400054    20.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
399803    24.75
Name: Close, dtype: object
Initial Date not a trading day
399552    35.14
Name: Close, dtype: object
399301    40.29
Name: Close, dtype: object
399049    33.90
Name: Close, dtype: object
398796    31.62
Name: Close, dtype: object
398544    36.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
398292    20.65
Name: Close, dtype: object
Initial Date not a trading day
398042    17.29
Name: Close, dtype: object
403184    38.15
Name: Close, dtype: object
402931    30.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
402680    40.81
Name: Close, dtype: object
Initial Date not a trading day
402429    56.98
Name: Close, dtype: object
402178    60.00
Name: Close, dtype: object
401926    67.61
Name: Close, dtype: object
401673    81.79
Name: Close, dtype: object
401421    104.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
401169    112.24
Name: Close, dtype: object
Initial Date not a trading day
400919    131.47
Name: Close, dtype: object
406066    7.77
Name: Close, dtype: object
405813    7.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
405562    7.99
Name: Close, dtype: object
Initial Date not a trading day
405311    12.76
Name: Close, dtype: object
405060    13.18
Name: Close, dtype: object
404808    13.30
Name: Close, dtype: object
404555    17.86
Name: Close, dtype: object
404303    19.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
404051    18.44
Name: Close, dtype: object
Initial Date not a trading day
403801    19.06
Name: Close, dtype: object
408948    24.52
Name: Close, dtype: object
408695    20.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
408444    25.07
Name: Close, dtype: object
Initial Date not a trading day
408193    51.72
Name: Close, dtype: object
407942    55.61
Name: Close, dtype: object
407690    55.50
Name: Close, dtype: object
407437    66.15
Name: Close, dtype: object
407185    76.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
406933    63.90
Name: Close, dtype: object
Initial Date not a trading day
406683    58.58
Name: Close, dtype: object
411813    37.91
Name: Close, dtype: object
411560    38.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
411309    40.72
Name: Close, dtype: object
Initial Date not a trading day
411058    47.35
Name: Close, dtype: object
410807    41.23
Name: Close, dtype: object
410555    38.31
Name: Close, dtype: object
410302    45.01
Name: Close, dtype: object
410050    50.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
409798    48.50
Name: Close, dtype: object
Initial Date not a trading day
409565    50.17
Name: Close, dtype: object
414695    78.50
Name: Close, dtype: object
414442    72.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
414191    97.18
Name: Close, dtype: object
Initial Date not a trading day
413940    114.67
Name: Close, dtype: object
413689    124.20
Name: Close, dtype: object
413437    126.15
Name: Close, dtype: object
413184    147.09
Name: Close, dtype: object
412932    169.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
412680    168.56
Name: Close, dtype: object
Initial Date not a trading day
412430    164.61
Name: Close, dtype: object
417595    17.64
Name: Close, dtype: object
417342    27.54
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
417091    29.43
Name: Close, dtype: object
Initial Date not a trading day
416840    69.27
Name: Close, dtype: object
416589    64.21
Name: Close, dtype: object
416337    106.70
Name: Close, dtype: object
416084    162.90
Name: Close, dtype: object
415832    195.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
415580    219.29
Name: Close, dtype: object
Initial Date not a trading day
415330    398.97
Name: Close, dtype: object
420477    25.77
Name: Close, dtype: object
420224    30.37
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
419973    35.11
Name: Close, dtype: object
Initial Date not a trading day
419722    47.52
Name: Close, dtype: object
419471    56.48
Name: Close, dtype: object
419219    56.01
Name: Close, dtype: object
418966    68.90
Name: Close, dtype: object
418714    85.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
418462    89.10
Name: Close, dtype: object
Initial Date not a trading day
418212    106.93
Name: Close, dtype: object
423377    35.21
Name: Close, dtype: object
423124    33.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
422873    29.09
Name: Close, dtype: object
Initial Date not a trading day
422622    44.71
Name: Close, dtype: object
422371    47.67
Name: Close, dtype: object
422119    70.56
Name: Close, dtype: object
421866    77.14
Name: Close, dtype: object
421614    128.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
421362    161.60
Name: Close, dtype: object
Initial Date not a trading day
421112    256.57
Name: Close, dtype: object
426259    35.02
Name: Close, dtype: object
426006    27.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
425755    29.75
Name: Close, dtype: object
Initial Date not a trading day
425504    46.53
Name: Close, dtype: object
425253    48.48
Name: Close, dtype: object
425001    45.95
Name: Close, dtype: object
424748    50.14
Name: Close, dtype: object
424496    53.61
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
424244    44.82
Name: Close, dtype: object
Initial Date not a trading day
423994    49.35
Name: Close, dtype: object
429141    26.94
Name: Close, dtype: object
428888    34.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
428637    48.98
Name: Close, dtype: object
Initial Date not a trading day
428386    74.73
Name: Close, dtype: object
428135    99.67
Name: Close, dtype: object
427883    103.44
Name: Close, dtype: object
427630    97.25
Name: Close, dtype: object
427378    151.30
Name: Close, dtype: object

Initial Date not a trading day
Initial Date plus 1 not a trading day
427126    158.20
Name: Close, dtype: object
Initial Date not a trading day
426876    225.20
Name: Close, dtype: object
432023    24.92
Name: Close, dtype: object
431770    14.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
431519    16.47
Name: Close, dtype: object
Initial Date not a trading day
431268    31.43
Name: Close, dtype: object
431017    35.10
Name: Close, dtype: object
430765    35.27
Name: Close, dtype: object
430512    42.16
Name: Close, dtype: object
430260    51.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
430008    45.41
Name: Close, dtype: object
Initial Date not a trading day
429758    49.08
Name: Close, dtype: object
434905    22.57
Name: Close, dtype: object
434652    26.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
434401    23.89
Name: Close, dtype: object
Initial Date not a trading day
434150    39.40
Name: Close, dtype: object
433899    44.27
Name: Close, dtype: object
433647    58.72
Name: Close, dtype: object
433394    63.55
Name: Close, dtype: object
433142    79.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
432890    92.65
Name: Close, dtype: object
Initial Date not a trading day
432640    104.46
Name: Close, dtype: object
437787    51.52
Name: Close, dtype: object
437534    37.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
437283    48.06
Name: Close, dtype: object
Initial Date not a trading day
437032    58.70
Name: Close, dtype: object
436781    66.78
Name: Close, dtype: object
436529    75.02
Name: Close, dtype: object
436276    85.42
Name: Close, dtype: object
436024    97.66
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
435772    98.97
Name: Close, dtype: object
Initial Date not a trading day
435522    106.52
Name: Close, dtype: object
440647    12.55
Name: Close, dtype: object
440394    12.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
440143    12.10
Name: Close, dtype: object
Initial Date not a trading day
439892    15.17
Name: Close, dtype: object
439641    14.68
Name: Close, dtype: object
439389    16.85
Name: Close, dtype: object
439136    18.93
Name: Close, dtype: object
438884    18.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
438632    16.98
Name: Close, dtype: object
Initial Date not a trading day
438399    16.31
Name: Close, dtype: object
443530    55.17
Name: Close, dtype: object
443277    53.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
443026    55.31
Name: Close, dtype: object
Initial Date not a trading day
442775    77.50
Name: Close, dtype: object
442524    86.59
Name: Close, dtype: object
442272    96.35
Name: Close, dtype: object
442019    112.60
Name: Close, dtype: object
441767    141.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
441515    135.90
Name: Close, dtype: object
Initial Date not a trading day
441265    151.98
Name: Close, dtype: object
446430    28.16
Name: Close, dtype: object
446177    24.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
445926    27.35
Name: Close, dtype: object
Initial Date not a trading day
445675    50.29
Name: Close, dtype: object
445424    52.66
Name: Close, dtype: object
445172    52.12
Name: Close, dtype: object
444919    58.31
Name: Close, dtype: object
444667    70.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
444415    48.31
Name: Close, dtype: object
Initial Date not a trading day
444165    53.85
Name: Close, dtype: object
449313    51.95
Name: Close, dtype: object
449060    49.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
448809    51.96
Name: Close, dtype: object
Initial Date not a trading day
448558    89.46
Name: Close, dtype: object
448307    83.71
Name: Close, dtype: object
448055    87.49
Name: Close, dtype: object
447802    102.47
Name: Close, dtype: object
447550    115.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
447298    94.26
Name: Close, dtype: object
Initial Date not a trading day
447048    92.94
Name: Close, dtype: object
452259    24.13
Name: Close, dtype: object
452006    26.99
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
451753    35.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
451504    41.71
Name: Close, dtype: object
Initial Date not a trading day
451253    54.95
Name: Close, dtype: object
451001    51.05
Name: Close, dtype: object
450748    57.66
Name: Close, dtype: object
450496    78.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
450244    93.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
449994    76.92
Name: Close, dtype: object
455079    5.67
Name: Close, dtype: object
454826    4.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
454575    6.58
Name: Close, dtype: object
Initial Date not a trading day
454324    9.74
Name: Close, dtype: object
454073    9.77
Name: Close, dtype: object
453821    10.25
Name: Close, dtype: object
453568    13.84
Name: Close, dtype: object
453316    16.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
453064    16.63
Name: Close, dtype: object
Initial Date not a trading day
452814    16.61
Name: Close, dtype: object
457957    33.44
Name: Close, dtype: object
457704    40.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
457453    51.01
Name: Close, dtype: object
Initial Date not a trading day
457202    74.28
Name: Close, dtype: object
456951    92.92
Name: Close, dtype: object
456699    97.47
Name: Close, dtype: object
456446    116.26
Name: Close, dtype: object
456194    166.17
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
455942    185.20
Name: Close, dtype: object
Initial Date not a trading day
455692    262.19
Name: Close, dtype: object
460857    44.80
Name: Close, dtype: object
460604    39.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
460353    44.71
Name: Close, dtype: object
Initial Date not a trading day
460102    72.89
Name: Close, dtype: object
459851    76.02
Name: Close, dtype: object
459599    72.43
Name: Close, dtype: object
459346    80.39
Name: Close, dtype: object
459094    95.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
458842    73.15
Name: Close, dtype: object
Initial Date not a trading day
458592    75.38
Name: Close, dtype: object
463757    47.39
Name: Close, dtype: object
463504    45.89
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
463253    55.67
Name: Close, dtype: object
Initial Date not a trading day
463002    100.87
Name: Close, dtype: object
462751    101.14
Name: Close, dtype: object
462499    131.69
Name: Close, dtype: object
462246    162.45
Name: Close, dtype: object
461994    228.17
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
461742    255.98
Name: Close, dtype: object
Initial Date not a trading day
461492    229.79
Name: Close, dtype: object
466634    57.12
Name: Close, dtype: object
466381    54.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
466130    61.57
Name: Close, dtype: object
Initial Date not a trading day
465879    78.72
Name: Close, dtype: object
465628    80.60
Name: Close, dtype: object
465376    76.49
Name: Close, dtype: object

465123    75.57
Name: Close, dtype: object
464871    102.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
464619    99.58
Name: Close, dtype: object
Initial Date not a trading day
464369    122.26
Name: Close, dtype: object
469534    29.95
Name: Close, dtype: object
469281    26.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
469030    40.49
Name: Close, dtype: object
Initial Date not a trading day
468779    53.91
Name: Close, dtype: object
468528    67.61
Name: Close, dtype: object
468276    63.50
Name: Close, dtype: object
468023    70.35
Name: Close, dtype: object
467771    103.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
467519    88.76
Name: Close, dtype: object
Initial Date not a trading day
467269    111.14
Name: Close, dtype: object
472417    17.95
Name: Close, dtype: object
472164    17.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
471913    20.31
Name: Close, dtype: object
Initial Date not a trading day
471662    27.01
Name: Close, dtype: object
471411    27.10
Name: Close, dtype: object
471159    31.17
Name: Close, dtype: object
470906    33.63
Name: Close, dtype: object
470654    53.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
470402    66.81
Name: Close, dtype: object
Initial Date not a trading day
470152    71.65
Name: Close, dtype: object
475317    54.89
Name: Close, dtype: object
475064    55.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
474813    70.95
Name: Close, dtype: object
Initial Date not a trading day
474562    89.00
Name: Close, dtype: object
474311    104.44
Name: Close, dtype: object
474059    115.68
Name: Close, dtype: object
473806    115.41
Name: Close, dtype: object
473554    136.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
473302    130.11
Name: Close, dtype: object
Initial Date not a trading day
473052    135.26
Name: Close, dtype: object
478217    23.72
Name: Close, dtype: object
477964    23.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
477713    27.89
Name: Close, dtype: object
Initial Date not a trading day
477462    34.67
Name: Close, dtype: object
477211    37.02
Name: Close, dtype: object
476959    38.94
Name: Close, dtype: object
476706    45.80
Name: Close, dtype: object
476454    49.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
476202    50.73
Name: Close, dtype: object
Initial Date not a trading day
475952    54.41
Name: Close, dtype: object
481117    22.20
Name: Close, dtype: object
480864    22.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
480613    20.44
Name: Close, dtype: object
Initial Date not a trading day
480362    33.52
Name: Close, dtype: object
480111    32.93
Name: Close, dtype: object
479859    37.13
Name: Close, dtype: object
479606    43.07
Name: Close, dtype: object
479354    56.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
479102    35.82
Name: Close, dtype: object
Initial Date not a trading day
478852    30.48
Name: Close, dtype: object
484017    24.21
Name: Close, dtype: object
483764    25.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
483513    32.05
Name: Close, dtype: object
Initial Date not a trading day
483262    39.21
Name: Close, dtype: object
483011    43.62
Name: Close, dtype: object
482759    44.31
Name: Close, dtype: object
482506    50.39
Name: Close, dtype: object
482254    54.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
482002    54.40
Name: Close, dtype: object
Initial Date not a trading day
481752    59.76
Name: Close, dtype: object
486917    27.39
Name: Close, dtype: object
486664    25.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
486413    32.75
Name: Close, dtype: object
Initial Date not a trading day
486162    44.18
Name: Close, dtype: object
485911    53.82
Name: Close, dtype: object
485659    55.71
Name: Close, dtype: object
485406    54.34
Name: Close, dtype: object
485154    56.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
484902    54.24
Name: Close, dtype: object
Initial Date not a trading day
484652    53.62
Name: Close, dtype: object
489817    86.07
Name: Close, dtype: object
489564    93.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
489313    91.44
Name: Close, dtype: object
Initial Date not a trading day
489062    119.36
Name: Close, dtype: object
488811    112.37
Name: Close, dtype: object
488559    121.70
Name: Close, dtype: object
488306    121.42
Name: Close, dtype: object
488054    161.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
487802    161.14
Name: Close, dtype: object
Initial Date not a trading day
487552    195.22
Name: Close, dtype: object
492717    16.25
Name: Close, dtype: object
492464    19.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
492213    23.86
Name: Close, dtype: object
Initial Date not a trading day
491962    26.51
Name: Close, dtype: object
491711    31.98
Name: Close, dtype: object
491459    35.42
Name: Close, dtype: object
491206    39.87
Name: Close, dtype: object
490954    45.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
490702    51.75
Name: Close, dtype: object
Initial Date not a trading day
490452    68.36
Name: Close, dtype: object
495594    22.49
Name: Close, dtype: object
495341    26.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
495090    30.76
Name: Close, dtype: object
Initial Date not a trading day
494839    38.14
Name: Close, dtype: object
494588    44.32
Name: Close, dtype: object
494336    45.46
Name: Close, dtype: object
494083    37.60
Name: Close, dtype: object
493831    55.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
493579    74.27
Name: Close, dtype: object
Initial Date not a trading day
493329    84.51
Name: Close, dtype: object
498433    12.71
Name: Close, dtype: object
498180    21.10
Name: Close, dtype: object
497930    15.99
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
497678    27.73
Name: Close, dtype: object
Initial Date not a trading day
497427    62.19
Name: Close, dtype: object
497175    83.99
Name: Close, dtype: object
496923    121.29
Name: Close, dtype: object
496671    265.71
Name: Close, dtype: object
496420    348.06
Name: Close, dtype: object
Initial Date not a trading day
496168    155.10
Name: Close, dtype: object
501416    24.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
501163    21.02
Name: Close, dtype: object
500912    27.79
Name: Close, dtype: object
500662    37.11
Name: Close, dtype: object
500410    40.19
Name: Close, dtype: object
500158    33.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
499905    47.14
Name: Close, dtype: object
Initial Date not a trading day
499654    64.87
Name: Close, dtype: object
499403    71.26
Name: Close, dtype: object
499152    74.84
Name: Close, dtype: object
504254    38.12
Name: Close, dtype: object
504001    69.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
503750    95.19
Name: Close, dtype: object
Initial Date not a trading day
503499    123.80
Name: Close, dtype: object
503248    192.51
Name: Close, dtype: object
502996    180.28
Name: Close, dtype: object
502743    122.01
Name: Close, dtype: object
502491    108.96
Name: Close, dtype: object

Initial Date not a trading day
Initial Date plus 1 not a trading day
502239    125.47
Name: Close, dtype: object
Initial Date not a trading day
501989    112.91
Name: Close, dtype: object
507134    17.97
Name: Close, dtype: object
506881    24.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
506630    27.06
Name: Close, dtype: object
Initial Date not a trading day
506379    55.11
Name: Close, dtype: object
506128    55.85
Name: Close, dtype: object
505876    67.09
Name: Close, dtype: object
505623    92.54
Name: Close, dtype: object
505371    254.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
505119    235.70
Name: Close, dtype: object
Initial Date not a trading day
504869    274.34
Name: Close, dtype: object
510078    27.97
Name: Close, dtype: object
509825    39.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
509572    38.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
509323    57.39
Name: Close, dtype: object
Initial Date not a trading day
509072    77.15
Name: Close, dtype: object
508820    99.27
Name: Close, dtype: object
508567    87.15
Name: Close, dtype: object
508315    80.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
508063    89.17
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
507813    84.04
Name: Close, dtype: object
512896    53.52
Name: Close, dtype: object
512643    58.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
512392    88.40
Name: Close, dtype: object
Initial Date not a trading day
512141    114.47
Name: Close, dtype: object
511890    166.41
Name: Close, dtype: object
511638    161.98
Name: Close, dtype: object
511385    142.39
Name: Close, dtype: object
511133    177.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
510881    202.93
Name: Close, dtype: object
Initial Date not a trading day
510631    233.48
Name: Close, dtype: object
515777    56.49
Name: Close, dtype: object
515524    70.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
515273    56.08
Name: Close, dtype: object
Initial Date not a trading day
515022    93.92
Name: Close, dtype: object
514771    127.77
Name: Close, dtype: object
514519    135.82
Name: Close, dtype: object
514266    145.17
Name: Close, dtype: object
514014    232.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
513762    296.25
Name: Close, dtype: object
Initial Date not a trading day
513512    287.43
Name: Close, dtype: object
518658    26.80
Name: Close, dtype: object
518405    28.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
518154    35.75
Name: Close, dtype: object
Initial Date not a trading day
517903    37.03
Name: Close, dtype: object
517652    39.59
Name: Close, dtype: object
517400    37.94
Name: Close, dtype: object
517147    43.63
Name: Close, dtype: object
516895    65.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
516643    69.20
Name: Close, dtype: object
Initial Date not a trading day
516393    81.86
Name: Close, dtype: object
521599    69.52
Name: Close, dtype: object
521346    80.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
521093    76.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
520844    97.31
Name: Close, dtype: object
Initial Date not a trading day
520593    116.85
Name: Close, dtype: object
520341    134.89
Name: Close, dtype: object
520088    177.02
Name: Close, dtype: object
519836    199.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
519584    261.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
519334    248.03
Name: Close, dtype: object
524417    60.21
Name: Close, dtype: object
524164    107.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
523913    138.67
Name: Close, dtype: object
Initial Date not a trading day
523662    271.58
Name: Close, dtype: object
523411    284.10
Name: Close, dtype: object
523159    267.16
Name: Close, dtype: object
522906    272.44
Name: Close, dtype: object
522654    319.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
522402    332.19
Name: Close, dtype: object
Initial Date not a trading day
522152    292.39
Name: Close, dtype: object
527317    6.52
Name: Close, dtype: object
527064    5.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
526813    5.52
Name: Close, dtype: object
Initial Date not a trading day
526562    11.63
Name: Close, dtype: object
526311    12.89
Name: Close, dtype: object
526059    18.52
Name: Close, dtype: object
525806    20.09
Name: Close, dtype: object
525554    26.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
525302    38.51
Name: Close, dtype: object
Initial Date not a trading day
525052    42.72
Name: Close, dtype: object
530198    25.56
Name: Close, dtype: object
529945    32.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
529694    32.67
Name: Close, dtype: object
Initial Date not a trading day
529443    51.48
Name: Close, dtype: object
529192    59.05
Name: Close, dtype: object
528940    68.26
Name: Close, dtype: object
528687    55.80
Name: Close, dtype: object
528435    63.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
528183    53.28
Name: Close, dtype: object
Initial Date not a trading day
527933    57.41
Name: Close, dtype: object
533204    33.91
Name: Close, dtype: object
532951    44.51
Name: Close, dtype: object
532698    40.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
532448    47.23
Name: Close, dtype: object
Initial Date not a trading day
532197    70.55
Name: Close, dtype: object
531946    88.42
Name: Close, dtype: object
531693    78.72
Name: Close, dtype: object
531441    75.05
Name: Close, dtype: object
531189    52.66
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
530938    42.92
Name: Close, dtype: object
535957    5.89
Name: Close, dtype: object
535704    9.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
535453    11.37
Name: Close, dtype: object
Initial Date not a trading day
535202    15.01
Name: Close, dtype: object
534951    24.45
Name: Close, dtype: object
534699    29.50
Name: Close, dtype: object
534446    28.98
Name: Close, dtype: object
534194    50.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
533942    73.42
Name: Close, dtype: object
Initial Date not a trading day
533692    60.18
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
538816    23.98
Name: Close, dtype: object
538585    31.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
538334    38.59
Name: Close, dtype: object
Initial Date not a trading day
538083    57.68
Name: Close, dtype: object
Initial Date not a trading day
537810    65.03
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
537558    58.16
Name: Close, dtype: object
537327    47.98
Name: Close, dtype: object
537075    70.17
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day

536823    58.11
Name: Close, dtype: object
Initial Date not a trading day
536573    70.92
Name: Close, dtype: object
541719    38.00
Name: Close, dtype: object
541466    43.59
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
541215    52.09
Name: Close, dtype: object
Initial Date not a trading day
540964    87.17
Name: Close, dtype: object
540713    102.56
Name: Close, dtype: object
540461    139.59
Name: Close, dtype: object
540208    134.50
Name: Close, dtype: object
539956    208.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
539704    224.84
Name: Close, dtype: object
Initial Date not a trading day
539454    196.94
Name: Close, dtype: object
544600    31.87
Name: Close, dtype: object
544347    38.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
544096    46.28
Name: Close, dtype: object
Initial Date not a trading day
543845    66.65
Name: Close, dtype: object
543594    90.16
Name: Close, dtype: object
543342    95.45
Name: Close, dtype: object
543089    76.76
Name: Close, dtype: object
542837    75.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
542585    79.52
Name: Close, dtype: object
Initial Date not a trading day
542335    75.55
Name: Close, dtype: object
547481    33.44
Name: Close, dtype: object
547228    36.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
546977    40.49
Name: Close, dtype: object
Initial Date not a trading day
546726    56.52
Name: Close, dtype: object
546475    62.96
Name: Close, dtype: object
546223    73.25
Name: Close, dtype: object
545970    77.02
Name: Close, dtype: object
545718    93.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
545466    108.64
Name: Close, dtype: object
Initial Date not a trading day
545216    145.69
Name: Close, dtype: object
550362    37.02
Name: Close, dtype: object
550109    38.31
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
549858    53.27
Name: Close, dtype: object
Initial Date not a trading day
549607    59.19
Name: Close, dtype: object
549356    76.01
Name: Close, dtype: object
549104    73.52
Name: Close, dtype: object
548851    64.59
Name: Close, dtype: object
548599    61.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
548347    66.38
Name: Close, dtype: object
Initial Date not a trading day
548097    71.93
Name: Close, dtype: object
553243    31.77
Name: Close, dtype: object
552990    36.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
552739    39.53
Name: Close, dtype: object
Initial Date not a trading day
552488    47.38
Name: Close, dtype: object
552237    54.74
Name: Close, dtype: object
551985    61.97
Name: Close, dtype: object
551732    57.46
Name: Close, dtype: object
551480    66.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
551228    37.83
Name: Close, dtype: object
Initial Date not a trading day
550978    56.70
Name: Close, dtype: object
556143    11.91
Name: Close, dtype: object
555890    8.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
555639    13.71
Name: Close, dtype: object
Initial Date not a trading day
555388    34.03
Name: Close, dtype: object
555137    51.30
Name: Close, dtype: object
554885    86.17
Name: Close, dtype: object
554632    63.34
Name: Close, dtype: object
554380    58.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
554128    136.59
Name: Close, dtype: object
Initial Date not a trading day
553878    223.92
Name: Close, dtype: object
559024    11.26
Name: Close, dtype: object
558771    11.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
558520    14.42
Name: Close, dtype: object
Initial Date not a trading day
558269    10.91
Name: Close, dtype: object
558018    21.57
Name: Close, dtype: object
557766    27.47
Name: Close, dtype: object
557513    27.16
Name: Close, dtype: object
557261    38.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
557009    54.48
Name: Close, dtype: object
Initial Date not a trading day
556759    80.95
Name: Close, dtype: object
561905    34.26
Name: Close, dtype: object
561652    37.64
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
561401    48.92
Name: Close, dtype: object
Initial Date not a trading day
561150    50.24
Name: Close, dtype: object
560899    68.51
Name: Close, dtype: object
560647    86.50
Name: Close, dtype: object
560394    65.97
Name: Close, dtype: object
560142    85.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
559890    118.52
Name: Close, dtype: object
Initial Date not a trading day
559640    116.74
Name: Close, dtype: object
564786    18.60
Name: Close, dtype: object
564533    19.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
564282    37.31
Name: Close, dtype: object
Initial Date not a trading day
564031    74.52
Name: Close, dtype: object
563780    100.55
Name: Close, dtype: object
563528    105.85
Name: Close, dtype: object
563275    72.84
Name: Close, dtype: object
563023    75.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
562771    70.86
Name: Close, dtype: object
Initial Date not a trading day
562521    66.12
Name: Close, dtype: object
567667    23.02
Name: Close, dtype: object
567414    25.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
567163    31.62
Name: Close, dtype: object
Initial Date not a trading day
566912    44.92
Name: Close, dtype: object
566661    53.77
Name: Close, dtype: object
566409    62.37
Name: Close, dtype: object
566156    58.50
Name: Close, dtype: object
565904    55.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
565652    70.87
Name: Close, dtype: object
Initial Date not a trading day
565402    69.08
Name: Close, dtype: object
570612    14.57
Name: Close, dtype: object
570359    16.61
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
570106    19.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
569857    21.20
Name: Close, dtype: object
Initial Date not a trading day
569606    25.30
Name: Close, dtype: object
569354    37.22
Name: Close, dtype: object
569101    38.46
Name: Close, dtype: object
568849    38.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
568597    39.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
568347    48.46
Name: Close, dtype: object
573431    57.09
Name: Close, dtype: object
573178    89.03
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
572927    65.06
Name: Close, dtype: object
Initial Date not a trading day
572676    105.25
Name: Close, dtype: object
572425    139.08
Name: Close, dtype: object
572173    173.55
Name: Close, dtype: object
571920    216.76
Name: Close, dtype: object
571668    258.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
571416    333.48
Name: Close, dtype: object
Initial Date not a trading day
571166    338.25
Name: Close, dtype: object
576313    32.83
Name: Close, dtype: object
576060    37.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
575809    46.08
Name: Close, dtype: object
Initial Date not a trading day
575558    52.51
Name: Close, dtype: object
575307    73.78
Name: Close, dtype: object
575055    71.54
Name: Close, dtype: object

574802    114.17
Name: Close, dtype: object
574550    155.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
574298    206.36
Name: Close, dtype: object
Initial Date not a trading day
574048    251.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
579173    64.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
578921    31.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
578691    52.16
Name: Close, dtype: object
Initial Date not a trading day
578440    98.48
Name: Close, dtype: object
578189    189.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
577915    181.28
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
577663    131.13
Name: Close, dtype: object
577432    225.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
577180    350.25
Name: Close, dtype: object
Initial Date not a trading day
576930    319.67
Name: Close, dtype: object
582077    15.08
Name: Close, dtype: object
581824    14.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
581573    17.50
Name: Close, dtype: object
Initial Date not a trading day
581322    47.24
Name: Close, dtype: object
581071    74.20
Name: Close, dtype: object
580819    112.21
Name: Close, dtype: object
580566    99.93
Name: Close, dtype: object
580314    97.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
580062    68.32
Name: Close, dtype: object
Initial Date not a trading day
579812    94.47
Name: Close, dtype: object
584959    88.77
Name: Close, dtype: object
584706    145.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
584455    175.14
Name: Close, dtype: object
Initial Date not a trading day
584204    125.16
Name: Close, dtype: object
583953    171.24
Name: Close, dtype: object
583701    174.08
Name: Close, dtype: object
583448    210.78
Name: Close, dtype: object
583196    396.66
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
582944    548.93
Name: Close, dtype: object
Initial Date not a trading day
582694    587.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
587814    62.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
587562    65.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
587332    69.65
Name: Close, dtype: object
Initial Date not a trading day
587081    94.28
Name: Close, dtype: object
586830    108.03
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
586556    100.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
586304    115.84
Name: Close, dtype: object
586073    139.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
585821    146.21
Name: Close, dtype: object
Initial Date not a trading day
585571    137.36
Name: Close, dtype: object
590718    85.48
Name: Close, dtype: object
590465    86.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
590214    84.35
Name: Close, dtype: object
Initial Date not a trading day
589963    100.10
Name: Close, dtype: object
589712    104.04
Name: Close, dtype: object
589460    125.32
Name: Close, dtype: object
589207    123.65
Name: Close, dtype: object
588955    156.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
588703    148.07
Name: Close, dtype: object
Initial Date not a trading day
588453    172.60
Name: Close, dtype: object
593539    79.29
Name: Close, dtype: object
593286    83.92
Name: Close, dtype: object
593036    107.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
592784    176.05
Name: Close, dtype: object
Initial Date not a trading day
592533    228.22
Name: Close, dtype: object
592281    156.65
Name: Close, dtype: object
592029    148.97
Name: Close, dtype: object
591777    146.54
Name: Close, dtype: object
591526    124.53
Name: Close, dtype: object
Initial Date not a trading day
591274    150.41
Name: Close, dtype: object
596477    35.06
Name: Close, dtype: object
596224    35.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
595973    44.44
Name: Close, dtype: object
Initial Date not a trading day
595722    50.18
Name: Close, dtype: object
595471    60.52
Name: Close, dtype: object
595219    54.57
Name: Close, dtype: object
594966    60.76
Name: Close, dtype: object
594714    55.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
594462    79.22
Name: Close, dtype: object
Initial Date not a trading day
594212    87.04
Name: Close, dtype: object
599359    145.93
Name: Close, dtype: object
599106    158.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
598855    185.52
Name: Close, dtype: object
Initial Date not a trading day
598604    246.68
Name: Close, dtype: object
598353    292.04
Name: Close, dtype: object
598101    342.17
Name: Close, dtype: object
597848    408.90
Name: Close, dtype: object
597596    624.64
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
597344    645.33
Name: Close, dtype: object
Initial Date not a trading day
597094    723.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
602220    25.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
601968    20.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
601738    31.41
Name: Close, dtype: object
Initial Date not a trading day
601487    37.77
Name: Close, dtype: object
601236    45.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
600962    52.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
600710    52.99
Name: Close, dtype: object
600479    73.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
600227    90.60
Name: Close, dtype: object
Initial Date not a trading day
599977    92.15
Name: Close, dtype: object
605000    84.31
Name: Close, dtype: object
604747    101.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
604497    115.95
Name: Close, dtype: object
Initial Date not a trading day
604246    138.66
Name: Close, dtype: object
603995    192.99
Name: Close, dtype: object
603867    149.21
Name: Close, dtype: object
603614    85.80
Name: Close, dtype: object
603362    87.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
603110    63.45
Name: Close, dtype: object
Initial Date not a trading day
602860    50.69
Name: Close, dtype: object
608008    16.70
Name: Close, dtype: object
607755    20.03
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
607504    25.09
Name: Close, dtype: object
Initial Date not a trading day
607253    31.83
Name: Close, dtype: object
607002    31.26
Name: Close, dtype: object
606750    33.62
Name: Close, dtype: object
606497    31.46
Name: Close, dtype: object
606245    36.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
605993    45.99
Name: Close, dtype: object
Initial Date not a trading day
605743    38.29
Name: Close, dtype: object
610891    50.37
Name: Close, dtype: object
610638    57.77
Name: Close, dtype: object
Initial Date not a trading day

Initial Date plus 1 not a trading day
610387    57.74
Name: Close, dtype: object
Initial Date not a trading day
610136    60.75
Name: Close, dtype: object
609885    64.68
Name: Close, dtype: object
609633    69.11
Name: Close, dtype: object
609380    87.45
Name: Close, dtype: object
609128    99.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
608876    90.80
Name: Close, dtype: object
Initial Date not a trading day
608626    106.50
Name: Close, dtype: object
613774    29.49
Name: Close, dtype: object
613521    60.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
613270    180.70
Name: Close, dtype: object
Initial Date not a trading day
613019    296.69
Name: Close, dtype: object
612768    408.72
Name: Close, dtype: object
612516    545.74
Name: Close, dtype: object
612263    375.56
Name: Close, dtype: object
612011    373.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
611759    382.61
Name: Close, dtype: object
Initial Date not a trading day
611509    366.08
Name: Close, dtype: object
616785    31.65
Name: Close, dtype: object
616532    31.52
Name: Close, dtype: object
616279    30.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
616029    47.22
Name: Close, dtype: object
Initial Date not a trading day
615778    49.86
Name: Close, dtype: object
615527    59.34
Name: Close, dtype: object
615274    59.17
Name: Close, dtype: object
615022    71.90
Name: Close, dtype: object
614770    103.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
614519    112.76
Name: Close, dtype: object
619496    33.53
Name: Close, dtype: object
619243    31.48
Name: Close, dtype: object
618993    38.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
618741    46.19
Name: Close, dtype: object
Initial Date not a trading day
618490    64.99
Name: Close, dtype: object
618238    65.01
Name: Close, dtype: object
617986    71.15
Name: Close, dtype: object
617734    90.12
Name: Close, dtype: object
617483    122.60
Name: Close, dtype: object
Initial Date not a trading day
617231    163.40
Name: Close, dtype: object
622457    50.95
Name: Close, dtype: object
622204    49.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
621953    54.44
Name: Close, dtype: object
Initial Date not a trading day
621702    74.26
Name: Close, dtype: object
621451    92.96
Name: Close, dtype: object
621199    96.79
Name: Close, dtype: object
620946    111.75
Name: Close, dtype: object
620694    155.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
620442    173.89
Name: Close, dtype: object
Initial Date not a trading day
620192    202.33
Name: Close, dtype: object
625357    50.27
Name: Close, dtype: object
625104    60.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
624853    68.95
Name: Close, dtype: object
Initial Date not a trading day
624602    97.45
Name: Close, dtype: object
624351    118.04
Name: Close, dtype: object
624099    134.04
Name: Close, dtype: object
623846    146.03
Name: Close, dtype: object
623594    265.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
623342    275.63
Name: Close, dtype: object
Initial Date not a trading day
623092    351.64
Name: Close, dtype: object
628280    46.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
628027    74.01
Name: Close, dtype: object
627776    94.04
Name: Close, dtype: object
627526    130.76
Name: Close, dtype: object
627274    155.04
Name: Close, dtype: object
627022    146.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
626769    177.75
Name: Close, dtype: object
Initial Date not a trading day
626518    240.56
Name: Close, dtype: object
626267    278.74
Name: Close, dtype: object
626016    292.84
Name: Close, dtype: object
631138    51.55
Name: Close, dtype: object
630885    47.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
630634    63.51
Name: Close, dtype: object
Initial Date not a trading day
630383    100.83
Name: Close, dtype: object
630132    127.96
Name: Close, dtype: object
629880    138.35
Name: Close, dtype: object
629627    139.63
Name: Close, dtype: object
629375    192.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
629123    251.98
Name: Close, dtype: object
Initial Date not a trading day
628873    313.04
Name: Close, dtype: object
634038    37.67
Name: Close, dtype: object
633785    48.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
633534    53.89
Name: Close, dtype: object
Initial Date not a trading day
633283    74.16
Name: Close, dtype: object
633032    99.06
Name: Close, dtype: object
632780    116.26
Name: Close, dtype: object
632527    160.94
Name: Close, dtype: object
632275    226.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
632023    286.33
Name: Close, dtype: object
Initial Date not a trading day
631773    279.66
Name: Close, dtype: object
636938    40.78
Name: Close, dtype: object
636685    40.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
636434    44.56
Name: Close, dtype: object
Initial Date not a trading day
636183    82.28
Name: Close, dtype: object
635932    103.88
Name: Close, dtype: object
635680    125.33
Name: Close, dtype: object
635427    124.09
Name: Close, dtype: object
635175    108.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
634923    136.98
Name: Close, dtype: object
Initial Date not a trading day
634673    139.82
Name: Close, dtype: object
639880    53.73
Name: Close, dtype: object
639648    48.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
639395    52.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
639146    62.91
Name: Close, dtype: object
Initial Date not a trading day
638895    75.37
Name: Close, dtype: object
638622    65.29
Name: Close, dtype: object
638390    84.91
Name: Close, dtype: object
638138    105.31
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
637886    111.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
637636    105.19
Name: Close, dtype: object
642738    33.46
Name: Close, dtype: object
642485    29.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
642234    39.08
Name: Close, dtype: object
Initial Date not a trading day
641983    69.25
Name: Close, dtype: object
641732    116.85
Name: Close, dtype: object
641480    130.36
Name: Close, dtype: object
641227    77.82
Name: Close, dtype: object
640975    140.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
640723    184.65
Name: Close, dtype: object
Initial Date not a trading day
640473    220.79
Name: Close, dtype: object
645638    78.71
Name: Close, dtype: object
645385    79.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
645134    84.14
Name: Close, dtype: object
Initial Date not a trading day
644883    99.58
Name: Close, dtype: object
644632    115.90
Name: Close, dtype: object
644380    133.38
Name: Close, dtype: object
644127    133.71
Name: Close, dtype: object
643875    198.16
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
643623    201.51
Name: Close, dtype: object
Initial Date not a trading day
643373    223.11
Name: Close, dtype: object
648538    19.44
Name: Close, dtype: object

648285    19.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
648034    26.77
Name: Close, dtype: object
Initial Date not a trading day
647783    49.19
Name: Close, dtype: object
647532    51.76
Name: Close, dtype: object
647280    63.96
Name: Close, dtype: object
647027    79.72
Name: Close, dtype: object
646775    99.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
646523    110.85
Name: Close, dtype: object
Initial Date not a trading day
646273    149.43
Name: Close, dtype: object
651438    50.13
Name: Close, dtype: object
651185    50.86
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
650934    65.45
Name: Close, dtype: object
Initial Date not a trading day
650683    91.04
Name: Close, dtype: object
650432    111.47
Name: Close, dtype: object
650180    102.72
Name: Close, dtype: object
649927    99.79
Name: Close, dtype: object
649675    114.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
649423    116.44
Name: Close, dtype: object
Initial Date not a trading day
649173    144.46
Name: Close, dtype: object
654315    86.05
Name: Close, dtype: object
654062    80.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
653811    90.30
Name: Close, dtype: object
Initial Date not a trading day
653560    127.68
Name: Close, dtype: object
653309    158.16
Name: Close, dtype: object
653057    156.90
Name: Close, dtype: object
652804    172.63
Name: Close, dtype: object
652552    241.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
652300    208.76
Name: Close, dtype: object
Initial Date not a trading day
652050    168.27
Name: Close, dtype: object
657195    13.87
Name: Close, dtype: object
656942    17.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
656691    21.25
Name: Close, dtype: object
Initial Date not a trading day
656440    38.47
Name: Close, dtype: object
656189    55.41
Name: Close, dtype: object
655937    81.17
Name: Close, dtype: object
655684    82.86
Name: Close, dtype: object
655432    66.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
655180    72.84
Name: Close, dtype: object
Initial Date not a trading day
654930    68.11
Name: Close, dtype: object
660075    11.26
Name: Close, dtype: object
659822    4.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
659571    12.66
Name: Close, dtype: object
Initial Date not a trading day
659320    23.04
Name: Close, dtype: object
659069    47.88
Name: Close, dtype: object
658817    43.26
Name: Close, dtype: object
658564    45.75
Name: Close, dtype: object
658312    49.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
658060    39.65
Name: Close, dtype: object
Initial Date not a trading day
657810    28.08
Name: Close, dtype: object
662956    27.47
Name: Close, dtype: object
662703    28.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
662452    37.33
Name: Close, dtype: object
Initial Date not a trading day
662201    48.84
Name: Close, dtype: object
661950    50.65
Name: Close, dtype: object
661698    56.67
Name: Close, dtype: object
661445    49.40
Name: Close, dtype: object
661193    72.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
660941    76.09
Name: Close, dtype: object
Initial Date not a trading day
660691    97.54
Name: Close, dtype: object
665834    9.94
Name: Close, dtype: object
665581    9.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
665330    15.77
Name: Close, dtype: object
Initial Date not a trading day
665079    26.92
Name: Close, dtype: object
664828    26.89
Name: Close, dtype: object
664576    40.38
Name: Close, dtype: object
664323    48.99
Name: Close, dtype: object
664071    62.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
663819    48.04
Name: Close, dtype: object
Initial Date not a trading day
663569    47.33
Name: Close, dtype: object
668715    65.72
Name: Close, dtype: object
668462    70.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
668211    74.02
Name: Close, dtype: object
Initial Date not a trading day
667960    134.16
Name: Close, dtype: object
667709    132.39
Name: Close, dtype: object
667457    147.74
Name: Close, dtype: object
667204    152.39
Name: Close, dtype: object
666952    271.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
666700    359.96
Name: Close, dtype: object
Initial Date not a trading day
666450    355.18
Name: Close, dtype: object
671595    87.45
Name: Close, dtype: object
671342    96.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
671091    84.49
Name: Close, dtype: object
Initial Date not a trading day
670840    84.25
Name: Close, dtype: object
670589    99.00
Name: Close, dtype: object
670337    71.56
Name: Close, dtype: object
670084    96.24
Name: Close, dtype: object
669832    141.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
669580    138.95
Name: Close, dtype: object
Initial Date not a trading day
669330    142.96
Name: Close, dtype: object
674495    75.06
Name: Close, dtype: object
674242    67.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
673991    61.00
Name: Close, dtype: object
Initial Date not a trading day
673740    58.48
Name: Close, dtype: object
673489    72.51
Name: Close, dtype: object
673237    67.95
Name: Close, dtype: object
672984    74.86
Name: Close, dtype: object
672732    86.54
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
672480    91.47
Name: Close, dtype: object
Initial Date not a trading day
672230    77.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
677521    27.15
Name: Close, dtype: object
Initial Date not a trading day
677269    30.71
Name: Close, dtype: object
677017    38.89
Name: Close, dtype: object
676767    43.69
Name: Close, dtype: object
676515    58.04
Name: Close, dtype: object
676263    81.27
Name: Close, dtype: object
Initial Date not a trading day
676011    89.96
Name: Close, dtype: object
675760    121.58
Name: Close, dtype: object
675508    172.34
Name: Close, dtype: object
675257    216.06
Name: Close, dtype: object
680379    8.80
Name: Close, dtype: object
680126    11.80
Name: Close, dtype: object
Initial Date not a trading day
679874    12.09
Name: Close, dtype: object
679625    15.64
Name: Close, dtype: object
679373    18.13
Name: Close, dtype: object
679121    17.82
Name: Close, dtype: object
678868    24.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
678616    31.81
Name: Close, dtype: object
Initial Date not a trading day
678365    56.84
Name: Close, dtype: object
678115    74.97
Name: Close, dtype: object
683154    20.98
Name: Close, dtype: object
682901    21.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
682650    19.57
Name: Close, dtype: object
Initial Date not a trading day
682399    27.33
Name: Close, dtype: object
682148    35.06
Name: Close, dtype: object
681896    28.60
Name: Close, dtype: object
681643    36.62
Name: Close, dtype: object
681391    56.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
681139    73.15
Name: Close, dtype: object
Initial Date not a trading day
680889    70.01
Name: Close, dtype: object
686035    100.52
Name: Close, dtype: object
685782    96.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
685531    97.37
Name: Close, dtype: object
Initial Date not a trading day

685280    132.98
Name: Close, dtype: object
685029    145.34
Name: Close, dtype: object
684777    92.41
Name: Close, dtype: object
684524    142.63
Name: Close, dtype: object
684272    165.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
684020    152.47
Name: Close, dtype: object
Initial Date not a trading day
683770    181.26
Name: Close, dtype: object
688958    68.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
688705    61.72
Name: Close, dtype: object
688454    82.60
Name: Close, dtype: object
688204    82.22
Name: Close, dtype: object
687952    81.55
Name: Close, dtype: object
Initial Date not a trading day
687678    80.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
687447    85.35
Name: Close, dtype: object
Initial Date not a trading day
687196    127.29
Name: Close, dtype: object
686945    150.86
Name: Close, dtype: object
686671    176.11
Name: Close, dtype: object
691797    13.88
Name: Close, dtype: object
691544    8.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
691293    9.62
Name: Close, dtype: object
Initial Date not a trading day
691042    29.00
Name: Close, dtype: object
690791    45.62
Name: Close, dtype: object
690539    47.67
Name: Close, dtype: object
690286    47.77
Name: Close, dtype: object
690034    52.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
689782    60.12
Name: Close, dtype: object
Initial Date not a trading day
689532    56.75
Name: Close, dtype: object
694675    38.03
Name: Close, dtype: object
694422    36.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
694171    42.22
Name: Close, dtype: object
Initial Date not a trading day
693920    59.95
Name: Close, dtype: object
693669    60.56
Name: Close, dtype: object
693417    53.73
Name: Close, dtype: object
693164    60.97
Name: Close, dtype: object
692912    78.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
692660    86.16
Name: Close, dtype: object
Initial Date not a trading day
692410    110.31
Name: Close, dtype: object
697616    48.56
Name: Close, dtype: object
697363    45.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
697110    49.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
696861    60.70
Name: Close, dtype: object
Initial Date not a trading day
696610    64.31
Name: Close, dtype: object
696358    46.27
Name: Close, dtype: object
696105    52.66
Name: Close, dtype: object
695853    58.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
695601    76.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
695351    58.40
Name: Close, dtype: object
700434    35.24
Name: Close, dtype: object
700181    37.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
699930    53.38
Name: Close, dtype: object
Initial Date not a trading day
699679    67.30
Name: Close, dtype: object
699428    79.40
Name: Close, dtype: object
699176    112.52
Name: Close, dtype: object
698923    111.54
Name: Close, dtype: object
698671    112.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
698419    102.98
Name: Close, dtype: object
Initial Date not a trading day
698169    138.23
Name: Close, dtype: object
703314    54.95
Name: Close, dtype: object
703061    42.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
702810    37.04
Name: Close, dtype: object
Initial Date not a trading day
702559    43.43
Name: Close, dtype: object
702308    45.42
Name: Close, dtype: object
702056    48.91
Name: Close, dtype: object
701803    53.39
Name: Close, dtype: object
701551    64.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
701299    76.89
Name: Close, dtype: object
Initial Date not a trading day
701049    73.78
Name: Close, dtype: object
706195    13.57
Name: Close, dtype: object
705942    20.64
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
705691    20.80
Name: Close, dtype: object
Initial Date not a trading day
705440    23.55
Name: Close, dtype: object
705189    22.21
Name: Close, dtype: object
704937    20.46
Name: Close, dtype: object
704684    23.75
Name: Close, dtype: object
704432    26.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
704180    29.86
Name: Close, dtype: object
Initial Date not a trading day
703930    34.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
709224    92.47
Name: Close, dtype: object
Initial Date not a trading day
708972    94.37
Name: Close, dtype: object
708720    89.04
Name: Close, dtype: object
708470    92.00
Name: Close, dtype: object
708218    136.24
Name: Close, dtype: object
707966    171.73
Name: Close, dtype: object
Initial Date not a trading day
707714    167.59
Name: Close, dtype: object
707463    188.23
Name: Close, dtype: object
707211    244.66
Name: Close, dtype: object
706960    185.62
Name: Close, dtype: object
711957    35.99
Name: Close, dtype: object
711704    33.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
711453    46.20
Name: Close, dtype: object
Initial Date not a trading day
711202    70.67
Name: Close, dtype: object
710951    58.89
Name: Close, dtype: object
710699    46.41
Name: Close, dtype: object
710446    49.85
Name: Close, dtype: object
710194    42.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
709942    48.86
Name: Close, dtype: object
Initial Date not a trading day
709692    48.47
Name: Close, dtype: object
714837    67.62
Name: Close, dtype: object
714584    66.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
714333    65.69
Name: Close, dtype: object
Initial Date not a trading day
714082    91.22
Name: Close, dtype: object
713831    143.76
Name: Close, dtype: object
713579    147.60
Name: Close, dtype: object
713326    176.40
Name: Close, dtype: object
713074    202.64
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
712822    181.57
Name: Close, dtype: object
Initial Date not a trading day
712572    177.99
Name: Close, dtype: object
717718    15.67
Name: Close, dtype: object
717465    15.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
717214    20.01
Name: Close, dtype: object
Initial Date not a trading day
716963    25.63
Name: Close, dtype: object
716712    25.01
Name: Close, dtype: object
716460    29.00
Name: Close, dtype: object
716207    30.17
Name: Close, dtype: object
715955    17.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
715703    7.51
Name: Close, dtype: object
Initial Date not a trading day
715453    11.16
Name: Close, dtype: object
720600    48.44
Name: Close, dtype: object
720347    51.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
720096    57.68
Name: Close, dtype: object
Initial Date not a trading day
719845    83.91
Name: Close, dtype: object
719594    92.72
Name: Close, dtype: object
719342    99.15
Name: Close, dtype: object
719089    108.83
Name: Close, dtype: object
718837    147.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
718585    148.98
Name: Close, dtype: object
Initial Date not a trading day
718335    174.32
Name: Close, dtype: object
723500    38.46
Name: Close, dtype: object
723247    36.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day

722996    44.70
Name: Close, dtype: object
Initial Date not a trading day
722745    71.73
Name: Close, dtype: object
722494    75.72
Name: Close, dtype: object
722242    78.93
Name: Close, dtype: object
721989    95.64
Name: Close, dtype: object
721737    133.99
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
721485    139.19
Name: Close, dtype: object
Initial Date not a trading day
721235    160.19
Name: Close, dtype: object
726380    48.36
Name: Close, dtype: object
726127    45.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
725876    61.07
Name: Close, dtype: object
Initial Date not a trading day
725625    79.08
Name: Close, dtype: object
725374    94.31
Name: Close, dtype: object
725122    94.16
Name: Close, dtype: object
724869    125.30
Name: Close, dtype: object
724617    164.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
724365    139.44
Name: Close, dtype: object
Initial Date not a trading day
724115    172.08
Name: Close, dtype: object
729304    39.01
Name: Close, dtype: object
729072    36.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
728819    39.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
728570    58.57
Name: Close, dtype: object
Initial Date not a trading day
728319    53.62
Name: Close, dtype: object
728046    36.76
Name: Close, dtype: object
727814    52.03
Name: Close, dtype: object
727562    55.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
727310    72.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
727060    89.29
Name: Close, dtype: object
732144    37.58
Name: Close, dtype: object
731891    45.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
731640    58.68
Name: Close, dtype: object
Initial Date not a trading day
731389    76.01
Name: Close, dtype: object
731138    80.70
Name: Close, dtype: object
730886    79.23
Name: Close, dtype: object
730633    97.05
Name: Close, dtype: object
730381    109.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
730129    105.01
Name: Close, dtype: object
Initial Date not a trading day
729879    114.32
Name: Close, dtype: object
735089    19.80
Name: Close, dtype: object
734836    21.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
734583    28.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
734334    30.86
Name: Close, dtype: object
Initial Date not a trading day
734083    41.37
Name: Close, dtype: object
733831    33.20
Name: Close, dtype: object
733578    42.18
Name: Close, dtype: object
733326    39.89
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
733074    37.77
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
732824    42.01
Name: Close, dtype: object
737908    47.98
Name: Close, dtype: object
737655    68.77
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
737404    76.41
Name: Close, dtype: object
Initial Date not a trading day
737153    121.83
Name: Close, dtype: object
736902    115.47
Name: Close, dtype: object
736650    91.63
Name: Close, dtype: object
736397    86.73
Name: Close, dtype: object
736145    110.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
735893    103.55
Name: Close, dtype: object
Initial Date not a trading day
735643    151.77
Name: Close, dtype: object
740790    69.40
Name: Close, dtype: object
740537    78.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
740286    91.55
Name: Close, dtype: object
Initial Date not a trading day
740035    139.70
Name: Close, dtype: object
739784    191.10
Name: Close, dtype: object
739532    220.20
Name: Close, dtype: object
739279    266.40
Name: Close, dtype: object
739027    313.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
738775    296.79
Name: Close, dtype: object
Initial Date not a trading day
738525    383.62
Name: Close, dtype: object
743672    10.27
Name: Close, dtype: object
743419    8.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
743168    14.65
Name: Close, dtype: object
Initial Date not a trading day
742917    19.27
Name: Close, dtype: object
742666    21.05
Name: Close, dtype: object
742414    30.42
Name: Close, dtype: object
742161    30.33
Name: Close, dtype: object
741909    42.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
741657    32.53
Name: Close, dtype: object
Initial Date not a trading day
741407    45.86
Name: Close, dtype: object
746554    61.52
Name: Close, dtype: object
746301    74.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
746050    59.43
Name: Close, dtype: object
Initial Date not a trading day
745799    88.25
Name: Close, dtype: object
745548    106.36
Name: Close, dtype: object
745296    94.81
Name: Close, dtype: object
745043    106.83
Name: Close, dtype: object
744791    137.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
744539    172.18
Name: Close, dtype: object
Initial Date not a trading day
744289    190.07
Name: Close, dtype: object
749437    57.47
Name: Close, dtype: object
749184    57.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
748933    65.79
Name: Close, dtype: object
Initial Date not a trading day
748682    111.82
Name: Close, dtype: object
748431    138.76
Name: Close, dtype: object
748179    187.31
Name: Close, dtype: object
747926    249.07
Name: Close, dtype: object
747674    299.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
747422    261.47
Name: Close, dtype: object
Initial Date not a trading day
747172    341.73
Name: Close, dtype: object
752337    13.12
Name: Close, dtype: object
752084    16.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
751833    21.85
Name: Close, dtype: object
Initial Date not a trading day
751582    34.29
Name: Close, dtype: object
751331    52.48
Name: Close, dtype: object
751079    42.21
Name: Close, dtype: object
750826    59.57
Name: Close, dtype: object
750574    84.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
750322    90.33
Name: Close, dtype: object
Initial Date not a trading day
750072    124.19
Name: Close, dtype: object
755220    47.48
Name: Close, dtype: object
754967    34.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
754716    37.85
Name: Close, dtype: object
Initial Date not a trading day
754465    50.63
Name: Close, dtype: object
754214    60.75
Name: Close, dtype: object
753962    47.13
Name: Close, dtype: object
753709    59.33
Name: Close, dtype: object
753457    66.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
753205    59.02
Name: Close, dtype: object
Initial Date not a trading day
752955    80.70
Name: Close, dtype: object
758231    59.50
Name: Close, dtype: object
757978    85.63
Name: Close, dtype: object
757725    77.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
757475    98.78
Name: Close, dtype: object
Initial Date not a trading day
757224    125.76
Name: Close, dtype: object
756973    120.46
Name: Close, dtype: object
756720    115.40
Name: Close, dtype: object
756468    159.39
Name: Close, dtype: object

756216    172.71
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
755965    156.25
Name: Close, dtype: object
760983    22.50
Name: Close, dtype: object
760730    25.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
760479    32.18
Name: Close, dtype: object
Initial Date not a trading day
760228    47.30
Name: Close, dtype: object
759977    42.14
Name: Close, dtype: object
759725    38.33
Name: Close, dtype: object
759472    39.49
Name: Close, dtype: object
759220    47.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
758968    42.50
Name: Close, dtype: object
Initial Date not a trading day
758718    43.79
Name: Close, dtype: object
763866    17.80
Name: Close, dtype: object
763613    20.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
763362    25.81
Name: Close, dtype: object
Initial Date not a trading day
763111    29.37
Name: Close, dtype: object
762860    28.50
Name: Close, dtype: object
762608    22.56
Name: Close, dtype: object
762355    34.09
Name: Close, dtype: object
762103    37.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
761851    35.83
Name: Close, dtype: object
Initial Date not a trading day
761601    41.36
Name: Close, dtype: object
766746    49.31
Name: Close, dtype: object
766493    48.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
766242    50.28
Name: Close, dtype: object
Initial Date not a trading day
765991    69.51
Name: Close, dtype: object
765740    69.12
Name: Close, dtype: object
765488    60.93
Name: Close, dtype: object
765235    67.73
Name: Close, dtype: object
764983    75.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
764731    77.88
Name: Close, dtype: object
Initial Date not a trading day
764481    91.36
Name: Close, dtype: object
769629    28.63
Name: Close, dtype: object
769376    27.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
769125    28.41
Name: Close, dtype: object
Initial Date not a trading day
768874    34.94
Name: Close, dtype: object
768623    39.24
Name: Close, dtype: object
768371    44.31
Name: Close, dtype: object
768118    55.47
Name: Close, dtype: object
767866    64.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
767614    77.35
Name: Close, dtype: object
Initial Date not a trading day
767364    87.69
Name: Close, dtype: object
772512    28.82
Name: Close, dtype: object
772259    26.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
772008    28.28
Name: Close, dtype: object
Initial Date not a trading day
771757    38.67
Name: Close, dtype: object
771506    55.83
Name: Close, dtype: object
771254    52.03
Name: Close, dtype: object
771001    45.54
Name: Close, dtype: object
770749    56.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
770497    62.87
Name: Close, dtype: object
Initial Date not a trading day
770247    57.92
Name: Close, dtype: object
775475    53.43
Name: Close, dtype: object
775222    62.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
774969    71.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
774720    98.00
Name: Close, dtype: object
Initial Date not a trading day
774469    117.18
Name: Close, dtype: object
774217    107.55
Name: Close, dtype: object
773964    116.43
Name: Close, dtype: object
773712    164.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
773460    181.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
773210    148.23
Name: Close, dtype: object
778312    8.10
Name: Close, dtype: object
778059    9.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
777808    9.77
Name: Close, dtype: object
Initial Date not a trading day
777557    12.46
Name: Close, dtype: object
777306    14.14
Name: Close, dtype: object
777054    18.17
Name: Close, dtype: object
776801    21.48
Name: Close, dtype: object
776549    31.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
776297    42.53
Name: Close, dtype: object
Initial Date not a trading day
776047    35.44
Name: Close, dtype: object
781192    73.75
Name: Close, dtype: object
780939    84.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
780688    110.15
Name: Close, dtype: object
Initial Date not a trading day
780437    129.85
Name: Close, dtype: object
780186    155.79
Name: Close, dtype: object
779934    191.68
Name: Close, dtype: object
779681    181.83
Name: Close, dtype: object
779429    260.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
779177    301.05
Name: Close, dtype: object
Initial Date not a trading day
778927    353.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
784070    57.97
Name: Close, dtype: object
783839    51.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
783588    78.94
Name: Close, dtype: object
Initial Date not a trading day
783337    105.27
Name: Close, dtype: object
Initial Date not a trading day
783064    136.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
782812    168.53
Name: Close, dtype: object
782581    167.31
Name: Close, dtype: object
782329    168.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
782077    164.29
Name: Close, dtype: object
Initial Date not a trading day
781827    157.83
Name: Close, dtype: object
786992    13.42
Name: Close, dtype: object
786739    8.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
786488    9.44
Name: Close, dtype: object
Initial Date not a trading day
786237    18.61
Name: Close, dtype: object
785986    40.50
Name: Close, dtype: object
785734    47.04
Name: Close, dtype: object
785481    47.07
Name: Close, dtype: object
785229    59.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
784977    54.37
Name: Close, dtype: object
Initial Date not a trading day
784727    56.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
789850    68.07
Name: Close, dtype: object
789619    65.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
789368    70.78
Name: Close, dtype: object
Initial Date not a trading day
789117    79.53
Name: Close, dtype: object
Initial Date not a trading day
788844    96.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
788592    104.87
Name: Close, dtype: object
788361    118.82
Name: Close, dtype: object
788109    168.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
787857    136.02
Name: Close, dtype: object
Initial Date not a trading day
787607    153.28
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
792750    24.01
Name: Close, dtype: object
792519    19.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
792268    23.08
Name: Close, dtype: object
Initial Date not a trading day
792017    33.12
Name: Close, dtype: object
Initial Date not a trading day
791744    42.17
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day

791492    41.50
Name: Close, dtype: object
791261    47.88
Name: Close, dtype: object
791009    54.89
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
790757    56.73
Name: Close, dtype: object
Initial Date not a trading day
790486    45.48
Name: Close, dtype: object
795672    33.60
Name: Close, dtype: object
795419    26.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
795168    38.28
Name: Close, dtype: object
Initial Date not a trading day
794917    55.56
Name: Close, dtype: object
794666    62.12
Name: Close, dtype: object
794414    58.98
Name: Close, dtype: object
794161    74.59
Name: Close, dtype: object
793909    86.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
793657    105.63
Name: Close, dtype: object
Initial Date not a trading day
793407    129.29
Name: Close, dtype: object
798635    34.41
Name: Close, dtype: object
798382    52.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
798129    80.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
797880    101.85
Name: Close, dtype: object
Initial Date not a trading day
797629    158.42
Name: Close, dtype: object
797377    187.36
Name: Close, dtype: object
797124    242.00
Name: Close, dtype: object
796872    256.86
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
796620    351.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
796370    534.78
Name: Close, dtype: object
801472    45.71
Name: Close, dtype: object
801219    51.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
800968    60.72
Name: Close, dtype: object
Initial Date not a trading day
800717    81.77
Name: Close, dtype: object
800466    114.63
Name: Close, dtype: object
800214    84.40
Name: Close, dtype: object
799961    103.39
Name: Close, dtype: object
799709    124.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
799457    157.13
Name: Close, dtype: object
Initial Date not a trading day
799207    173.00
Name: Close, dtype: object
804372    28.37
Name: Close, dtype: object
804119    19.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
803868    19.82
Name: Close, dtype: object
Initial Date not a trading day
803617    38.56
Name: Close, dtype: object
803366    59.57
Name: Close, dtype: object
803114    56.99
Name: Close, dtype: object
802861    68.47
Name: Close, dtype: object
802609    62.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
802357    96.46
Name: Close, dtype: object
Initial Date not a trading day
802107    91.63
Name: Close, dtype: object
807272    71.44
Name: Close, dtype: object
807019    71.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
806768    72.27
Name: Close, dtype: object
Initial Date not a trading day
806517    102.33
Name: Close, dtype: object
806266    109.79
Name: Close, dtype: object
806014    104.38
Name: Close, dtype: object
805761    116.43
Name: Close, dtype: object
805509    120.31
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
805257    115.27
Name: Close, dtype: object
Initial Date not a trading day
805007    118.22
Name: Close, dtype: object
810172    20.22
Name: Close, dtype: object
809919    27.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
809668    41.67
Name: Close, dtype: object
Initial Date not a trading day
809417    69.97
Name: Close, dtype: object
809166    106.37
Name: Close, dtype: object
808914    78.41
Name: Close, dtype: object
808661    104.29
Name: Close, dtype: object
808409    157.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
808157    119.26
Name: Close, dtype: object
Initial Date not a trading day
807907    152.19
Name: Close, dtype: object
813072    23.49
Name: Close, dtype: object
812819    34.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
812568    42.59
Name: Close, dtype: object
Initial Date not a trading day
812317    68.31
Name: Close, dtype: object
812066    85.41
Name: Close, dtype: object
811814    80.04
Name: Close, dtype: object
811561    86.04
Name: Close, dtype: object
811309    76.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
811057    92.89
Name: Close, dtype: object
Initial Date not a trading day
810807    77.59
Name: Close, dtype: object
815972    34.55
Name: Close, dtype: object
815719    31.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
815468    32.52
Name: Close, dtype: object
Initial Date not a trading day
815217    44.95
Name: Close, dtype: object
814966    48.49
Name: Close, dtype: object
814714    53.92
Name: Close, dtype: object
814461    69.29
Name: Close, dtype: object
814209    81.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
813957    93.08
Name: Close, dtype: object
Initial Date not a trading day
813707    111.65
Name: Close, dtype: object
818852    127.27
Name: Close, dtype: object
818599    186.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
818348    192.41
Name: Close, dtype: object
Initial Date not a trading day
818097    258.32
Name: Close, dtype: object
817846    242.46
Name: Close, dtype: object
817594    201.64
Name: Close, dtype: object
817341    237.98
Name: Close, dtype: object
817089    218.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
816837    317.19
Name: Close, dtype: object
Initial Date not a trading day
816587    315.03
Name: Close, dtype: object
821793    69.11
Name: Close, dtype: object
821540    75.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
821287    75.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
821038    95.14
Name: Close, dtype: object
Initial Date not a trading day
820787    122.30
Name: Close, dtype: object
820535    125.66
Name: Close, dtype: object
820282    144.50
Name: Close, dtype: object
820030    145.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
819778    164.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
819528    225.56
Name: Close, dtype: object
824608    55.37
Name: Close, dtype: object
824355    53.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
824104    58.83
Name: Close, dtype: object
Initial Date not a trading day
823853    68.89
Name: Close, dtype: object
823602    58.34
Name: Close, dtype: object
823350    52.95
Name: Close, dtype: object
823097    85.65
Name: Close, dtype: object
822845    132.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
822593    98.46
Name: Close, dtype: object
Initial Date not a trading day
822343    65.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
827467    41.83
Name: Close, dtype: object
827236    26.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
826985    33.10
Name: Close, dtype: object
Initial Date not a trading day
826734    49.36
Name: Close, dtype: object
Initial Date not a trading day
826461    51.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
826209    61.20
Name: Close, dtype: object

825978    71.18
Name: Close, dtype: object
825726    112.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
825474    96.19
Name: Close, dtype: object
Initial Date not a trading day
825224    128.75
Name: Close, dtype: object
830370    16.98
Name: Close, dtype: object
830117    17.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
829866    21.97
Name: Close, dtype: object
Initial Date not a trading day
829615    25.10
Name: Close, dtype: object
829364    33.70
Name: Close, dtype: object
829112    34.42
Name: Close, dtype: object
828859    36.55
Name: Close, dtype: object
828607    39.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
828355    49.79
Name: Close, dtype: object
Initial Date not a trading day
828105    65.79
Name: Close, dtype: object
833270    38.43
Name: Close, dtype: object
833017    46.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
832766    40.80
Name: Close, dtype: object
Initial Date not a trading day
832515    56.11
Name: Close, dtype: object
832264    60.09
Name: Close, dtype: object
832012    70.59
Name: Close, dtype: object
831759    78.80
Name: Close, dtype: object
831507    106.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
831255    101.65
Name: Close, dtype: object
Initial Date not a trading day
831005    124.80
Name: Close, dtype: object
836151    24.81
Name: Close, dtype: object
835898    29.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
835647    41.86
Name: Close, dtype: object
Initial Date not a trading day
835396    43.40
Name: Close, dtype: object
835145    53.42
Name: Close, dtype: object
834893    45.00
Name: Close, dtype: object
834640    28.72
Name: Close, dtype: object
834388    37.59
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
834136    43.86
Name: Close, dtype: object
Initial Date not a trading day
833886    45.69
Name: Close, dtype: object
839032    40.60
Name: Close, dtype: object
838779    38.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
838528    59.99
Name: Close, dtype: object
Initial Date not a trading day
838277    76.46
Name: Close, dtype: object
838026    82.16
Name: Close, dtype: object
837774    72.54
Name: Close, dtype: object
837521    74.41
Name: Close, dtype: object
837269    91.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
837017    80.95
Name: Close, dtype: object
Initial Date not a trading day
836767    78.38
Name: Close, dtype: object
841910    47.88
Name: Close, dtype: object
841657    55.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
841406    71.52
Name: Close, dtype: object
Initial Date not a trading day
841155    105.75
Name: Close, dtype: object
840904    104.30
Name: Close, dtype: object
840652    119.67
Name: Close, dtype: object
840399    118.49
Name: Close, dtype: object
840147    134.89
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
839895    159.52
Name: Close, dtype: object
Initial Date not a trading day
839645    185.16
Name: Close, dtype: object
844791    34.88
Name: Close, dtype: object
844538    36.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
844287    46.70
Name: Close, dtype: object
Initial Date not a trading day
844036    63.10
Name: Close, dtype: object
843785    46.58
Name: Close, dtype: object
843533    36.37
Name: Close, dtype: object
843280    48.82
Name: Close, dtype: object
843028    81.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
842776    74.23
Name: Close, dtype: object
Initial Date not a trading day
842526    97.86
Name: Close, dtype: object
847672    49.73
Name: Close, dtype: object
847419    37.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
847168    36.89
Name: Close, dtype: object
Initial Date not a trading day
846917    34.03
Name: Close, dtype: object
846666    26.03
Name: Close, dtype: object
846414    8.33
Name: Close, dtype: object
846161    15.03
Name: Close, dtype: object
845909    14.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
845657    12.09
Name: Close, dtype: object
Initial Date not a trading day
845407    11.45
Name: Close, dtype: object
850554    53.55
Name: Close, dtype: object
850301    53.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
850050    64.52
Name: Close, dtype: object
Initial Date not a trading day
849799    87.87
Name: Close, dtype: object
849548    101.46
Name: Close, dtype: object
849296    122.00
Name: Close, dtype: object
849043    118.51
Name: Close, dtype: object
848791    154.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
848539    141.79
Name: Close, dtype: object
Initial Date not a trading day
848289    140.54
Name: Close, dtype: object
853436    25.13
Name: Close, dtype: object
853183    27.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
852932    36.29
Name: Close, dtype: object
Initial Date not a trading day
852681    46.13
Name: Close, dtype: object
852430    52.95
Name: Close, dtype: object
852178    41.22
Name: Close, dtype: object
851925    49.73
Name: Close, dtype: object
851673    55.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
851421    47.31
Name: Close, dtype: object
Initial Date not a trading day
851171    46.24
Name: Close, dtype: object
856318    88.39
Name: Close, dtype: object
856065    77.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
855814    90.45
Name: Close, dtype: object
Initial Date not a trading day
855563    97.85
Name: Close, dtype: object
855312    115.67
Name: Close, dtype: object
855060    159.34
Name: Close, dtype: object
854807    220.90
Name: Close, dtype: object
854555    202.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
854303    194.39
Name: Close, dtype: object
Initial Date not a trading day
854053    268.01
Name: Close, dtype: object
859200    58.20
Name: Close, dtype: object
858947    67.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
858696    44.57
Name: Close, dtype: object
Initial Date not a trading day
858445    23.25
Name: Close, dtype: object
858194    19.18
Name: Close, dtype: object
857942    17.94
Name: Close, dtype: object
857689    31.48
Name: Close, dtype: object
857437    36.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
857185    32.41
Name: Close, dtype: object
Initial Date not a trading day
856935    38.74
Name: Close, dtype: object
862078    39.22
Name: Close, dtype: object
861825    39.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
861574    40.28
Name: Close, dtype: object
Initial Date not a trading day
861323    50.61
Name: Close, dtype: object
861072    53.28
Name: Close, dtype: object
860820    42.16
Name: Close, dtype: object
860567    61.95
Name: Close, dtype: object
860315    57.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
860063    61.19
Name: Close, dtype: object
Initial Date not a trading day
859813    56.64
Name: Close, dtype: object
864961    26.18
Name: Close, dtype: object
864708    25.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
864457    36.16
Name: Close, dtype: object
Initial Date not a trading day
864206    61.41
Name: Close, dtype: object
863955    73.23
Name: Close, dtype: object
863703    68.85
Name: Close, dtype: object
863450    85.19
Name: Close, dtype: object

863198    117.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
862946    98.04
Name: Close, dtype: object
Initial Date not a trading day
862696    111.03
Name: Close, dtype: object
867839    39.93
Name: Close, dtype: object
867586    43.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
867335    60.47
Name: Close, dtype: object
Initial Date not a trading day
867084    91.83
Name: Close, dtype: object
866833    109.94
Name: Close, dtype: object
866581    106.76
Name: Close, dtype: object
866328    95.24
Name: Close, dtype: object
866076    115.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
865824    110.56
Name: Close, dtype: object
Initial Date not a trading day
865574    128.50
Name: Close, dtype: object
870722    23.74
Name: Close, dtype: object
870469    27.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
870218    26.98
Name: Close, dtype: object
Initial Date not a trading day
869967    28.23
Name: Close, dtype: object
869716    33.03
Name: Close, dtype: object
869464    34.20
Name: Close, dtype: object
869211    33.10
Name: Close, dtype: object
868959    36.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
868707    31.11
Name: Close, dtype: object
Initial Date not a trading day
868457    34.19
Name: Close, dtype: object
873622    23.62
Name: Close, dtype: object
873369    17.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
873118    16.54
Name: Close, dtype: object
Initial Date not a trading day
872867    31.81
Name: Close, dtype: object
872616    38.61
Name: Close, dtype: object
872364    45.53
Name: Close, dtype: object
872111    45.27
Name: Close, dtype: object
871859    47.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
871607    36.22
Name: Close, dtype: object
Initial Date not a trading day
871357    37.35
Name: Close, dtype: object
876500    75.99
Name: Close, dtype: object
876247    86.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
875996    152.21
Name: Close, dtype: object
Initial Date not a trading day
875745    181.14
Name: Close, dtype: object
875494    243.07
Name: Close, dtype: object
875242    277.56
Name: Close, dtype: object
874989    265.88
Name: Close, dtype: object
874737    395.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
874485    418.34
Name: Close, dtype: object
Initial Date not a trading day
874235    574.83
Name: Close, dtype: object
879400    41.94
Name: Close, dtype: object
879147    32.28
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
878896    52.31
Name: Close, dtype: object
Initial Date not a trading day
878645    56.56
Name: Close, dtype: object
878394    64.50
Name: Close, dtype: object
878142    103.72
Name: Close, dtype: object
877889    125.50
Name: Close, dtype: object
877637    121.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
877385    106.06
Name: Close, dtype: object
Initial Date not a trading day
877135    141.58
Name: Close, dtype: object
Initial Date not a trading day
882365    40.33
Name: Close, dtype: object
882113    58.96
Name: Close, dtype: object
881860    60.20
Name: Close, dtype: object
881610    74.85
Name: Close, dtype: object
881358    78.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
881106    103.21
Name: Close, dtype: object
880855    112.88
Name: Close, dtype: object
880603    129.86
Name: Close, dtype: object
880351    159.71
Name: Close, dtype: object
880100    194.16
Name: Close, dtype: object
885160    11.97
Name: Close, dtype: object
884907    12.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
884656    11.31
Name: Close, dtype: object
Initial Date not a trading day
884405    17.33
Name: Close, dtype: object
884154    21.05
Name: Close, dtype: object
883902    38.57
Name: Close, dtype: object
883649    35.58
Name: Close, dtype: object
883397    61.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
883145    46.60
Name: Close, dtype: object
Initial Date not a trading day
882895    54.23
Name: Close, dtype: object
888040    28.37
Name: Close, dtype: object
887787    27.14
Name: Close, dtype: object
887557    34.36
Name: Close, dtype: object
887305    54.61
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
887053    69.91
Name: Close, dtype: object
Initial Date not a trading day
886802    89.91
Name: Close, dtype: object
886529    99.51
Name: Close, dtype: object
886277    179.52
Name: Close, dtype: object
886046    245.28
Name: Close, dtype: object
885795    277.82
Name: Close, dtype: object
890920    7.51
Name: Close, dtype: object
890667    5.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
890416    2.36
Name: Close, dtype: object
Initial Date not a trading day
890165    3.66
Name: Close, dtype: object
889914    2.67
Name: Close, dtype: object
889662    2.34
Name: Close, dtype: object
889409    8.39
Name: Close, dtype: object
889157    10.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
888905    23.71
Name: Close, dtype: object
Initial Date not a trading day
888655    38.73
Name: Close, dtype: object
893820    53.36
Name: Close, dtype: object
893567    29.16
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
893316    36.10
Name: Close, dtype: object
Initial Date not a trading day
893065    44.11
Name: Close, dtype: object
892814    63.06
Name: Close, dtype: object
892562    57.66
Name: Close, dtype: object
892309    63.51
Name: Close, dtype: object
892057    55.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
891805    70.24
Name: Close, dtype: object
Initial Date not a trading day
891555    85.62
Name: Close, dtype: object
896700    66.16
Name: Close, dtype: object
896447    103.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
896196    142.42
Name: Close, dtype: object
Initial Date not a trading day
895945    239.94
Name: Close, dtype: object
895694    281.61
Name: Close, dtype: object
895442    289.16
Name: Close, dtype: object
895189    228.18
Name: Close, dtype: object
894937    234.03
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
894685    199.05
Name: Close, dtype: object
Initial Date not a trading day
894435    106.20
Name: Close, dtype: object
899578    176.55
Name: Close, dtype: object
899325    197.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
899074    250.33
Name: Close, dtype: object
Initial Date not a trading day
898823    392.30
Name: Close, dtype: object
898572    326.00
Name: Close, dtype: object
898320    679.06
Name: Close, dtype: object
898067    743.65
Name: Close, dtype: object
897815    1162.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
897563    1772.36
Name: Close, dtype: object
Initial Date not a trading day
897313    1781.60
Name: Close, dtype: object
902459    25.86
Name: Close, dtype: object
902206    22.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
901955    30.52
Name: Close, dtype: object
Initial Date not a trading day
901704    42.52
Name: Close, dtype: object
901453    52.94
Name: Close, dtype: object
901201    55.49
Name: Close, dtype: object
900948    66.74
Name: Close, dtype: object
900696    89.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
900444    89.78
Name: Close, dtype: object
Initial Date not a trading day
900194    102.70
Name: Close, dtype: object
905382    31.39
Name: Close, dtype: object

Initial Date not a trading day
Initial Date plus 1 not a trading day
905129    31.07
Name: Close, dtype: object
904857    40.33
Name: Close, dtype: object
904605    49.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
904353    49.72
Name: Close, dtype: object
904124    54.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
903871    64.25
Name: Close, dtype: object
Initial Date not a trading day
903620    85.82
Name: Close, dtype: object
903346    88.00
Name: Close, dtype: object
903095    109.37
Name: Close, dtype: object
908221    50.79
Name: Close, dtype: object
907968    61.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
907717    65.91
Name: Close, dtype: object
Initial Date not a trading day
907466    85.93
Name: Close, dtype: object
907215    83.06
Name: Close, dtype: object
906963    94.18
Name: Close, dtype: object
906710    93.61
Name: Close, dtype: object
906458    146.54
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
906206    163.42
Name: Close, dtype: object
Initial Date not a trading day
905956    250.70
Name: Close, dtype: object
911162    35.76
Name: Close, dtype: object
910909    54.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
910656    96.42
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
910407    69.80
Name: Close, dtype: object
Initial Date not a trading day
910156    103.30
Name: Close, dtype: object
909904    107.72
Name: Close, dtype: object
909651    106.73
Name: Close, dtype: object
909399    164.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
909147    228.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
908897    205.70
Name: Close, dtype: object
914022    11.71
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
913769    9.85
Name: Close, dtype: object
913518    11.13
Name: Close, dtype: object
913268    17.47
Name: Close, dtype: object
913016    20.96
Name: Close, dtype: object
912764    14.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
912511    29.92
Name: Close, dtype: object
Initial Date not a trading day
912260    52.08
Name: Close, dtype: object
912009    38.34
Name: Close, dtype: object
911758    50.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
916839    39.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
916587    30.81
Name: Close, dtype: object
Initial Date not a trading day
916337    36.94
Name: Close, dtype: object
Initial Date not a trading day
916085    49.25
Name: Close, dtype: object
Initial Date not a trading day
915833    59.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
915581    60.31
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
915329    76.18
Name: Close, dtype: object
Initial Date not a trading day
915078    107.12
Name: Close, dtype: object
Initial Date not a trading day
914827    128.96
Name: Close, dtype: object
Initial Date not a trading day
914575    187.83
Name: Close, dtype: object
919867    35.80
Name: Close, dtype: object
919614    48.11
Name: Close, dtype: object
919361    45.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
919111    61.49
Name: Close, dtype: object
Initial Date not a trading day
918860    70.18
Name: Close, dtype: object
918609    85.30
Name: Close, dtype: object
918356    88.12
Name: Close, dtype: object
918104    103.35
Name: Close, dtype: object
917852    132.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
917601    156.00
Name: Close, dtype: object
922662    22.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
922409    31.89
Name: Close, dtype: object
922158    34.69
Name: Close, dtype: object
921885    44.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
921633    86.34
Name: Close, dtype: object
Initial Date not a trading day
921382    123.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
921151    170.07
Name: Close, dtype: object
Initial Date not a trading day
920900    240.47
Name: Close, dtype: object
920626    229.88
Name: Close, dtype: object
920375    296.59
Name: Close, dtype: object
925498    18.80
Name: Close, dtype: object
925245    22.92
Name: Close, dtype: object
924992    20.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
924742    26.78
Name: Close, dtype: object
Initial Date not a trading day
924491    41.55
Name: Close, dtype: object
924240    54.28
Name: Close, dtype: object
923987    64.17
Name: Close, dtype: object
923735    77.39
Name: Close, dtype: object
923483    116.28
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
923232    123.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
928229    8.35
Name: Close, dtype: object
927998    10.76
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
927747    12.70
Name: Close, dtype: object
Initial Date not a trading day
927496    13.31
Name: Close, dtype: object
Initial Date not a trading day
927223    18.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
926971    20.53
Name: Close, dtype: object
926740    25.18
Name: Close, dtype: object
926488    43.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
926236    46.22
Name: Close, dtype: object
Initial Date not a trading day
925986    67.48
Name: Close, dtype: object
931238    21.26
Name: Close, dtype: object
930985    15.86
Name: Close, dtype: object
Initial Date not a trading day
930733    17.08
Name: Close, dtype: object
930484    24.34
Name: Close, dtype: object
930232    25.08
Name: Close, dtype: object
929980    27.35
Name: Close, dtype: object
929727    28.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
929475    31.33
Name: Close, dtype: object
Initial Date not a trading day
929224    42.81
Name: Close, dtype: object
928974    54.74
Name: Close, dtype: object
934013    54.87
Name: Close, dtype: object
933760    56.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
933509    47.98
Name: Close, dtype: object
Initial Date not a trading day
933258    46.32
Name: Close, dtype: object
933007    52.58
Name: Close, dtype: object
932755    61.98
Name: Close, dtype: object
932502    68.07
Name: Close, dtype: object
932250    88.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
931998    110.29
Name: Close, dtype: object
Initial Date not a trading day
931748    111.91
Name: Close, dtype: object
936894    33.45
Name: Close, dtype: object
936641    33.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
936390    33.49
Name: Close, dtype: object
Initial Date not a trading day
936139    46.78
Name: Close, dtype: object
935888    54.05
Name: Close, dtype: object
935636    65.20
Name: Close, dtype: object
935383    54.08
Name: Close, dtype: object
935131    71.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
934879    71.93
Name: Close, dtype: object
Initial Date not a trading day
934629    63.54
Name: Close, dtype: object
939775    18.04
Name: Close, dtype: object
939522    13.47
Name: Close, dtype: object

Initial Date not a trading day
Initial Date plus 1 not a trading day
939271    12.15
Name: Close, dtype: object
Initial Date not a trading day
939020    17.06
Name: Close, dtype: object
938769    20.91
Name: Close, dtype: object
938517    18.82
Name: Close, dtype: object
938264    23.53
Name: Close, dtype: object
938012    31.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
937760    33.39
Name: Close, dtype: object
Initial Date not a trading day
937510    28.75
Name: Close, dtype: object
942719    90.74
Name: Close, dtype: object
942466    79.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
942213    94.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
941964    85.02
Name: Close, dtype: object
Initial Date not a trading day
941713    125.73
Name: Close, dtype: object
941461    118.39
Name: Close, dtype: object
941208    123.64
Name: Close, dtype: object
940956    118.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
940704    190.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
940454    128.08
Name: Close, dtype: object
945537    27.76
Name: Close, dtype: object
945284    24.61
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
945033    35.81
Name: Close, dtype: object
Initial Date not a trading day
944782    50.60
Name: Close, dtype: object
944531    61.43
Name: Close, dtype: object
944279    64.49
Name: Close, dtype: object
944026    75.73
Name: Close, dtype: object
943774    93.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
943522    109.12
Name: Close, dtype: object
Initial Date not a trading day
943272    135.74
Name: Close, dtype: object
948418    14.21
Name: Close, dtype: object
948165    14.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
947914    19.23
Name: Close, dtype: object
Initial Date not a trading day
947663    27.75
Name: Close, dtype: object
947412    35.60
Name: Close, dtype: object
947160    48.60
Name: Close, dtype: object
946907    51.66
Name: Close, dtype: object
946655    65.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
946403    79.67
Name: Close, dtype: object
Initial Date not a trading day
946153    114.28
Name: Close, dtype: object
951299    27.69
Name: Close, dtype: object
951046    26.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
950795    19.84
Name: Close, dtype: object
Initial Date not a trading day
950544    29.35
Name: Close, dtype: object
950293    30.96
Name: Close, dtype: object
950041    30.56
Name: Close, dtype: object
949788    35.59
Name: Close, dtype: object
949536    46.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
949284    46.33
Name: Close, dtype: object
Initial Date not a trading day
949034    52.61
Name: Close, dtype: object
954180    33.02
Name: Close, dtype: object
953927    37.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
953676    47.23
Name: Close, dtype: object
Initial Date not a trading day
953425    65.43
Name: Close, dtype: object
953174    84.81
Name: Close, dtype: object
952922    93.87
Name: Close, dtype: object
952669    100.97
Name: Close, dtype: object
952417    119.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
952165    153.77
Name: Close, dtype: object
Initial Date not a trading day
951915    157.62
Name: Close, dtype: object
Initial Date not a trading day
956957    26.60
Name: Close, dtype: object
956705    23.46
Name: Close, dtype: object
956455    23.37
Name: Close, dtype: object
956203    33.02
Name: Close, dtype: object
955951    50.53
Name: Close, dtype: object
Initial Date not a trading day
955699    73.26
Name: Close, dtype: object
955550    66.42
Name: Close, dtype: object
955298    100.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
955046    112.82
Name: Close, dtype: object
Initial Date not a trading day
954796    178.07
Name: Close, dtype: object
959939    282.45
Name: Close, dtype: object
959686    307.18
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
959435    347.96
Name: Close, dtype: object
Initial Date not a trading day
959184    527.75
Name: Close, dtype: object
958933    539.65
Name: Close, dtype: object
958681    783.79
Name: Close, dtype: object
958428    764.33
Name: Close, dtype: object
958176    1025.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
957924    1116.36
Name: Close, dtype: object
Initial Date not a trading day
957674    1288.86
Name: Close, dtype: object
962863    18.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
962610    10.08
Name: Close, dtype: object
962359    7.81
Name: Close, dtype: object
962109    9.67
Name: Close, dtype: object
961857    15.69
Name: Close, dtype: object
961605    11.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
961352    15.65
Name: Close, dtype: object
Initial Date not a trading day
961101    20.12
Name: Close, dtype: object
960850    25.60
Name: Close, dtype: object
960599    18.59
Name: Close, dtype: object
965703    144.41
Name: Close, dtype: object
965450    189.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
965199    189.48
Name: Close, dtype: object
Initial Date not a trading day
964948    177.48
Name: Close, dtype: object
964697    161.54
Name: Close, dtype: object
964445    141.28
Name: Close, dtype: object
964192    159.82
Name: Close, dtype: object
963940    154.76
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
963688    125.31
Name: Close, dtype: object
Initial Date not a trading day
963438    132.91
Name: Close, dtype: object
968585    21.48
Name: Close, dtype: object
968332    24.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
968081    19.54
Name: Close, dtype: object
Initial Date not a trading day
967830    23.70
Name: Close, dtype: object
967579    37.17
Name: Close, dtype: object
967327    35.09
Name: Close, dtype: object
967074    33.76
Name: Close, dtype: object
966822    44.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
966570    50.13
Name: Close, dtype: object
Initial Date not a trading day
966320    57.66
Name: Close, dtype: object
971573    34.57
Name: Close, dtype: object
971320    52.24
Name: Close, dtype: object
Initial Date not a trading day
971068    59.68
Name: Close, dtype: object
970819    63.15
Name: Close, dtype: object
970567    81.28
Name: Close, dtype: object
970315    101.62
Name: Close, dtype: object
970062    111.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
969810    131.68
Name: Close, dtype: object
Initial Date not a trading day
969559    205.44
Name: Close, dtype: object
969309    264.20
Name: Close, dtype: object
974367    31.19
Name: Close, dtype: object
974114    40.16
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
973863    59.00
Name: Close, dtype: object
Initial Date not a trading day
973612    71.47
Name: Close, dtype: object
973361    71.42
Name: Close, dtype: object
973109    92.12
Name: Close, dtype: object
972856    94.07
Name: Close, dtype: object
972604    224.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
972352    148.17
Name: Close, dtype: object
Initial Date not a trading day
972102    139.26
Name: Close, dtype: object
977395    23.55
Name: Close, dtype: object
977142    30.28
Name: Close, dtype: object

976889    32.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
976639    46.65
Name: Close, dtype: object
Initial Date not a trading day
976388    58.22
Name: Close, dtype: object
976137    65.10
Name: Close, dtype: object
975884    84.55
Name: Close, dtype: object
975632    105.11
Name: Close, dtype: object
975380    124.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
975129    130.70
Name: Close, dtype: object
980149    34.84
Name: Close, dtype: object
979896    22.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
979645    17.88
Name: Close, dtype: object
Initial Date not a trading day
979394    20.31
Name: Close, dtype: object
979143    21.76
Name: Close, dtype: object
978891    30.43
Name: Close, dtype: object
978638    26.98
Name: Close, dtype: object
978386    28.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
978134    29.32
Name: Close, dtype: object
Initial Date not a trading day
977884    24.78
Name: Close, dtype: object
983159    24.06
Name: Close, dtype: object
982906    33.25
Name: Close, dtype: object
982653    35.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
982403    45.75
Name: Close, dtype: object
Initial Date not a trading day
982152    52.73
Name: Close, dtype: object
981901    59.79
Name: Close, dtype: object
981648    73.13
Name: Close, dtype: object
981396    104.75
Name: Close, dtype: object
981144    115.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
980893    101.78
Name: Close, dtype: object
986041    37.27
Name: Close, dtype: object
985788    46.39
Name: Close, dtype: object
985535    36.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
985285    48.25
Name: Close, dtype: object
Initial Date not a trading day
985034    62.31
Name: Close, dtype: object
984783    83.39
Name: Close, dtype: object
984530    83.13
Name: Close, dtype: object
984278    156.44
Name: Close, dtype: object
984026    202.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
983775    172.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
988791    11.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
988539    8.65
Name: Close, dtype: object
Initial Date not a trading day
988289    7.87
Name: Close, dtype: object
Initial Date not a trading day
988037    34.05
Name: Close, dtype: object
Initial Date not a trading day
987785    31.76
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
987533    39.85
Name: Close, dtype: object
987302    51.20
Name: Close, dtype: object
987050    62.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
986798    62.58
Name: Close, dtype: object
Initial Date not a trading day
986527    98.62
Name: Close, dtype: object
991695    24.82
Name: Close, dtype: object
991442    38.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
991191    48.66
Name: Close, dtype: object
Initial Date not a trading day
990940    75.61
Name: Close, dtype: object
990689    87.46
Name: Close, dtype: object
990437    97.93
Name: Close, dtype: object
990184    100.18
Name: Close, dtype: object
989932    149.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
989680    209.86
Name: Close, dtype: object
Initial Date not a trading day
989430    286.47
Name: Close, dtype: object
994516    36.40
Name: Close, dtype: object
994263    36.14
Name: Close, dtype: object
994013    36.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
993761    44.95
Name: Close, dtype: object
Initial Date not a trading day
993510    52.41
Name: Close, dtype: object
993258    45.22
Name: Close, dtype: object
993006    73.64
Name: Close, dtype: object
992754    89.02
Name: Close, dtype: object
992503    88.64
Name: Close, dtype: object
Initial Date not a trading day
992251    95.22
Name: Close, dtype: object
997522    6.73
Name: Close, dtype: object
997269    5.74
Name: Close, dtype: object
997039    6.27
Name: Close, dtype: object
996789    13.57
Name: Close, dtype: object
996537    31.09
Name: Close, dtype: object
996264    15.82
Name: Close, dtype: object
996011    16.64
Name: Close, dtype: object
995782    28.34
Name: Close, dtype: object
995530    52.29
Name: Close, dtype: object
995279    43.60
Name: Close, dtype: object
1000465    25.89
Name: Close, dtype: object
1000212    24.43
Name: Close, dtype: object
999959    28.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
999709    35.59
Name: Close, dtype: object
Initial Date not a trading day
999458    40.79
Name: Close, dtype: object
999207    47.23
Name: Close, dtype: object
998954    52.85
Name: Close, dtype: object
998702    70.10
Name: Close, dtype: object
998450    100.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
998199    119.84
Name: Close, dtype: object
1003219    56.03
Name: Close, dtype: object
1002966    46.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1002715    54.21
Name: Close, dtype: object
Initial Date not a trading day
1002464    65.66
Name: Close, dtype: object
1002213    65.44
Name: Close, dtype: object
1001961    72.05
Name: Close, dtype: object
1001708    79.19
Name: Close, dtype: object
1001456    93.03
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1001204    133.79
Name: Close, dtype: object
Initial Date not a trading day
1000954    165.04
Name: Close, dtype: object
1006017    48.20
Name: Close, dtype: object
Initial Date not a trading day
1005765    45.05
Name: Close, dtype: object
1005517    34.06
Name: Close, dtype: object
1005264    37.12
Name: Close, dtype: object
1005012    35.27
Name: Close, dtype: object
1004760    26.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1004507    41.65
Name: Close, dtype: object
Initial Date not a trading day
1004257    59.16
Name: Close, dtype: object
1004006    70.38
Name: Close, dtype: object
1003753    40.01
Name: Close, dtype: object
1008917    14.86
Name: Close, dtype: object
1008687    14.40
Name: Close, dtype: object
1008437    19.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1008185    17.22
Name: Close, dtype: object
1007912    18.78
Name: Close, dtype: object
1007660    18.41
Name: Close, dtype: object
1007430    29.09
Name: Close, dtype: object
1007178    26.51
Name: Close, dtype: object
1006927    22.53
Name: Close, dtype: object
1006653    18.76
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1011862    15.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1011610    14.04
Name: Close, dtype: object
Initial Date not a trading day
1011360    12.72
Name: Close, dtype: object
Initial Date not a trading day
1011108    15.86
Name: Close, dtype: object
Initial Date not a trading day
1010856    20.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1010604    32.37
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1010352    102.01
Name: Close, dtype: object
Initial Date not a trading day
1010101    199.35
Name: Close, dtype: object
Initial Date not a trading day
1009850    136.22
Name: Close, dtype: object
Initial Date not a trading day
1009598    239.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1014915    26.01
Name: Close, dtype: object
Initial Date not a trading day
1014663    36.37
Name: Close, dtype: object

1014411    29.57
Name: Close, dtype: object
1014161    33.16
Name: Close, dtype: object
1013909    40.97
Name: Close, dtype: object
1013657    44.37
Name: Close, dtype: object
Initial Date not a trading day
1013405    40.30
Name: Close, dtype: object
1013154    45.05
Name: Close, dtype: object
1012902    45.95
Name: Close, dtype: object
1012651    54.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1017798    30.95
Name: Close, dtype: object
Initial Date not a trading day
1017546    32.86
Name: Close, dtype: object
1017294    30.90
Name: Close, dtype: object
1017044    36.30
Name: Close, dtype: object
1016792    41.41
Name: Close, dtype: object
1016540    48.85
Name: Close, dtype: object
Initial Date not a trading day
1016288    52.60
Name: Close, dtype: object
1016037    59.16
Name: Close, dtype: object
1015785    61.22
Name: Close, dtype: object
1015534    81.97
Name: Close, dtype: object
1020596    39.60
Name: Close, dtype: object
1020343    51.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1020090    60.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1019841    66.75
Name: Close, dtype: object
Initial Date not a trading day
1019590    75.06
Name: Close, dtype: object
1019338    55.02
Name: Close, dtype: object
1019085    63.47
Name: Close, dtype: object
1018833    52.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1018581    69.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1018331    75.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1023411    34.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1023159    25.30
Name: Close, dtype: object
Initial Date not a trading day
1022909    42.79
Name: Close, dtype: object
Initial Date not a trading day
1022657    54.86
Name: Close, dtype: object
Initial Date not a trading day
1022405    59.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1022153    76.71
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1021901    70.54
Name: Close, dtype: object
Initial Date not a trading day
1021650    104.41
Name: Close, dtype: object
Initial Date not a trading day
1021399    135.55
Name: Close, dtype: object
Initial Date not a trading day
1021147    166.99
Name: Close, dtype: object
1026439    13.29
Name: Close, dtype: object
1026186    16.36
Name: Close, dtype: object
1025955    21.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1025705    43.96
Name: Close, dtype: object
Initial Date not a trading day
1025454    53.82
Name: Close, dtype: object
1025181    47.57
Name: Close, dtype: object
1024928    24.03
Name: Close, dtype: object
1024698    42.88
Name: Close, dtype: object
1024446    57.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1024195    42.52
Name: Close, dtype: object
1029275    20.65
Name: Close, dtype: object
1029043    20.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1028790    30.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1028541    25.41
Name: Close, dtype: object
1028269    53.31
Name: Close, dtype: object
1028017    83.37
Name: Close, dtype: object
1027785    75.09
Name: Close, dtype: object
1027533    105.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1027281    90.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1027031    74.17
Name: Close, dtype: object
1032175    24.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1031922    23.47
Name: Close, dtype: object
1031671    32.37
Name: Close, dtype: object
1031421    37.84
Name: Close, dtype: object
1031169    39.52
Name: Close, dtype: object
1030917    46.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1030664    58.91
Name: Close, dtype: object
Initial Date not a trading day
1030413    81.18
Name: Close, dtype: object
1030162    97.87
Name: Close, dtype: object
1029911    135.99
Name: Close, dtype: object
1035096    25.10
Name: Close, dtype: object
1034843    30.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1034590    35.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1034341    49.34
Name: Close, dtype: object
Initial Date not a trading day
1034090    62.75
Name: Close, dtype: object
1033838    57.91
Name: Close, dtype: object
1033585    63.18
Name: Close, dtype: object
1033333    79.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1033081    90.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1032831    89.05
Name: Close, dtype: object
1037933    32.58
Name: Close, dtype: object
1037680    30.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1037429    29.61
Name: Close, dtype: object
Initial Date not a trading day
1037178    42.81
Name: Close, dtype: object
1036927    54.25
Name: Close, dtype: object
1036675    58.31
Name: Close, dtype: object
1036422    70.41
Name: Close, dtype: object
1036170    97.18
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1035918    101.17
Name: Close, dtype: object
Initial Date not a trading day
1035668    118.79
Name: Close, dtype: object
1040833    29.75
Name: Close, dtype: object
1040580    33.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1040329    35.88
Name: Close, dtype: object
Initial Date not a trading day
1040078    57.17
Name: Close, dtype: object
1039827    58.71
Name: Close, dtype: object
1039575    90.90
Name: Close, dtype: object
1039322    77.57
Name: Close, dtype: object
1039070    114.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1038818    159.27
Name: Close, dtype: object
Initial Date not a trading day
1038568    184.95
Name: Close, dtype: object
1043774    17.63
Name: Close, dtype: object
1043521    21.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1043268    32.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1043019    44.26
Name: Close, dtype: object
Initial Date not a trading day
1042768    53.68
Name: Close, dtype: object
1042516    68.96
Name: Close, dtype: object
1042263    81.30
Name: Close, dtype: object
1042011    103.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1041759    147.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1041509    179.20
Name: Close, dtype: object
1046717    30.98
Name: Close, dtype: object
1046464    36.64
Name: Close, dtype: object
1046233    30.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1045983    63.80
Name: Close, dtype: object
Initial Date not a trading day
1045732    87.66
Name: Close, dtype: object
1045459    79.44
Name: Close, dtype: object
1045206    46.47
Name: Close, dtype: object
1044976    91.59
Name: Close, dtype: object
1044724    85.87
Name: Close, dtype: object
Initial Date not a trading day

Initial Date plus 1 not a trading day
1044473    37.08
Name: Close, dtype: object
1049511    18.03
Name: Close, dtype: object
1049258    17.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1049007    12.62
Name: Close, dtype: object
Initial Date not a trading day
1048756    16.69
Name: Close, dtype: object
1048505    18.15
Name: Close, dtype: object
1048253    19.20
Name: Close, dtype: object
1048000    20.74
Name: Close, dtype: object
1047748    19.71
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1047496    18.72
Name: Close, dtype: object
Initial Date not a trading day
1047246    26.91
Name: Close, dtype: object
1052411    30.98
Name: Close, dtype: object
1052158    21.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1051907    17.89
Name: Close, dtype: object
Initial Date not a trading day
1051656    30.40
Name: Close, dtype: object
1051405    36.44
Name: Close, dtype: object
1051153    28.16
Name: Close, dtype: object
1050900    24.90
Name: Close, dtype: object
1050648    29.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1050396    27.50
Name: Close, dtype: object
Initial Date not a trading day
1050146    38.50
Name: Close, dtype: object
1055227    32.15
Name: Close, dtype: object
1054997    36.68
Name: Close, dtype: object
1054747    36.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1054495    51.90
Name: Close, dtype: object
Initial Date not a trading day
1054244    42.11
Name: Close, dtype: object
1053970    47.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1053717    57.18
Name: Close, dtype: object
1053488    70.80
Name: Close, dtype: object
1053237    126.64
Name: Close, dtype: object
Initial Date not a trading day
1052985    84.61
Name: Close, dtype: object
1058209    28.28
Name: Close, dtype: object
1057956    28.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1057705    34.14
Name: Close, dtype: object
Initial Date not a trading day
1057454    34.80
Name: Close, dtype: object
1057203    35.06
Name: Close, dtype: object
1056951    33.77
Name: Close, dtype: object
1056698    38.88
Name: Close, dtype: object
1056446    36.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1056194    31.71
Name: Close, dtype: object
Initial Date not a trading day
1055944    37.32
Name: Close, dtype: object
1061090    43.91
Name: Close, dtype: object
1060837    36.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1060586    39.18
Name: Close, dtype: object
Initial Date not a trading day
1060335    30.30
Name: Close, dtype: object
1060084    41.10
Name: Close, dtype: object
1059832    27.03
Name: Close, dtype: object
1059579    23.74
Name: Close, dtype: object
1059327    14.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1059075    18.79
Name: Close, dtype: object
Initial Date not a trading day
1058825    14.30
Name: Close, dtype: object
1063971    10.41
Name: Close, dtype: object
1063718    11.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1063467    18.54
Name: Close, dtype: object
Initial Date not a trading day
1063216    24.56
Name: Close, dtype: object
1062965    28.30
Name: Close, dtype: object
1062713    30.88
Name: Close, dtype: object
1062460    34.93
Name: Close, dtype: object
1062208    38.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1061956    39.15
Name: Close, dtype: object
Initial Date not a trading day
1061706    43.63
Name: Close, dtype: object
1066852    21.12
Name: Close, dtype: object
1066599    21.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1066348    30.62
Name: Close, dtype: object
Initial Date not a trading day
1066097    44.04
Name: Close, dtype: object
1065846    34.69
Name: Close, dtype: object
1065594    31.08
Name: Close, dtype: object
1065341    27.15
Name: Close, dtype: object
1065089    19.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1064837    28.20
Name: Close, dtype: object
Initial Date not a trading day
1064587    32.74
Name: Close, dtype: object
1069733    16.58
Name: Close, dtype: object
1069480    23.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1069229    35.59
Name: Close, dtype: object
Initial Date not a trading day
1068978    53.84
Name: Close, dtype: object
1068727    77.14
Name: Close, dtype: object
1068475    63.66
Name: Close, dtype: object
1068222    56.22
Name: Close, dtype: object
1067970    50.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1067718    33.39
Name: Close, dtype: object
Initial Date not a trading day
1067468    33.66
Name: Close, dtype: object
1072652    33.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1072399    29.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1072167    49.66
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1071918    60.93
Name: Close, dtype: object
Initial Date not a trading day
1071667    90.80
Name: Close, dtype: object
1071394    102.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1071141    92.49
Name: Close, dtype: object
1070910    101.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1070658    110.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1070408    136.31
Name: Close, dtype: object
1075430    18.40
Name: Close, dtype: object
1075177    16.69
Name: Close, dtype: object
1074927    18.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1074675    28.09
Name: Close, dtype: object
Initial Date not a trading day
1074424    57.45
Name: Close, dtype: object
1074172    65.48
Name: Close, dtype: object
1073920    87.82
Name: Close, dtype: object
1073668    122.17
Name: Close, dtype: object
1073417    97.41
Name: Close, dtype: object
Initial Date not a trading day
1073165    106.89
Name: Close, dtype: object
1078373    10.73
Name: Close, dtype: object
1078120    9.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1077869    10.62
Name: Close, dtype: object
Initial Date not a trading day
1077618    17.23
Name: Close, dtype: object
1077367    20.25
Name: Close, dtype: object
1077115    23.34
Name: Close, dtype: object
1076862    24.12
Name: Close, dtype: object
1076610    20.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1076358    23.75
Name: Close, dtype: object
Initial Date not a trading day
1076108    22.20
Name: Close, dtype: object
1081274    10.90
Name: Close, dtype: object
1081021    8.66
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1080770    8.77
Name: Close, dtype: object
Initial Date not a trading day
1080519    18.34
Name: Close, dtype: object
1080268    26.58
Name: Close, dtype: object
1080016    25.59
Name: Close, dtype: object
1079763    27.51
Name: Close, dtype: object
1079511    44.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1079259    55.44
Name: Close, dtype: object
Initial Date not a trading day
1079009    69.01
Name: Close, dtype: object
1084156    28.59
Name: Close, dtype: object
1083903    9.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1083652    10.86
Name: Close, dtype: object
Initial Date not a trading day
1083401    51.99
Name: Close, dtype: object

1083150    48.83
Name: Close, dtype: object
1082898    125.37
Name: Close, dtype: object
1082645    117.22
Name: Close, dtype: object
1082393    186.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1082141    290.30
Name: Close, dtype: object
Initial Date not a trading day
1081891    309.99
Name: Close, dtype: object
1087039    46.47
Name: Close, dtype: object
1086786    43.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1086535    49.42
Name: Close, dtype: object
Initial Date not a trading day
1086284    71.98
Name: Close, dtype: object
1086033    77.21
Name: Close, dtype: object
1085781    75.00
Name: Close, dtype: object
1085528    87.61
Name: Close, dtype: object
1085276    73.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1085024    76.68
Name: Close, dtype: object
Initial Date not a trading day
1084774    79.37
Name: Close, dtype: object
1089879    15.91
Name: Close, dtype: object
1089626    15.52
Name: Close, dtype: object
1089376    14.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1089124    20.00
Name: Close, dtype: object
Initial Date not a trading day
1088873    26.06
Name: Close, dtype: object
1088621    37.50
Name: Close, dtype: object
1088369    58.80
Name: Close, dtype: object
1088117    107.54
Name: Close, dtype: object
1087866    88.32
Name: Close, dtype: object
Initial Date not a trading day
1087614    112.06
Name: Close, dtype: object
1092840    32.35
Name: Close, dtype: object
1092587    37.77
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1092336    44.10
Name: Close, dtype: object
Initial Date not a trading day
1092085    49.26
Name: Close, dtype: object
1091834    50.03
Name: Close, dtype: object
1091582    45.58
Name: Close, dtype: object
1091329    49.87
Name: Close, dtype: object
1091077    51.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1090825    58.16
Name: Close, dtype: object
Initial Date not a trading day
1090575    59.96
Name: Close, dtype: object
1095741    17.17
Name: Close, dtype: object
1095488    25.42
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1095237    35.62
Name: Close, dtype: object
Initial Date not a trading day
1094986    58.71
Name: Close, dtype: object
1094735    54.47
Name: Close, dtype: object
1094483    51.10
Name: Close, dtype: object
1094230    60.57
Name: Close, dtype: object
1093978    57.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1093726    53.51
Name: Close, dtype: object
Initial Date not a trading day
1093476    39.86
Name: Close, dtype: object
1098621    10.92
Name: Close, dtype: object
1098368    12.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1098117    10.57
Name: Close, dtype: object
Initial Date not a trading day
1097866    14.47
Name: Close, dtype: object
1097615    13.65
Name: Close, dtype: object
1097363    9.98
Name: Close, dtype: object
1097110    11.03
Name: Close, dtype: object
1096858    10.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1096606    15.60
Name: Close, dtype: object
Initial Date not a trading day
1096356    18.92
Name: Close, dtype: object
1101501    18.47
Name: Close, dtype: object
1101248    21.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1100997    22.24
Name: Close, dtype: object
Initial Date not a trading day
1100746    25.87
Name: Close, dtype: object
1100495    31.72
Name: Close, dtype: object
1100243    30.70
Name: Close, dtype: object
1099990    35.51
Name: Close, dtype: object
1099738    44.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1099486    45.90
Name: Close, dtype: object
Initial Date not a trading day
1099236    52.43
Name: Close, dtype: object
1104381    29.19
Name: Close, dtype: object
1104128    33.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1103877    29.58
Name: Close, dtype: object
Initial Date not a trading day
1103626    36.06
Name: Close, dtype: object
1103375    43.20
Name: Close, dtype: object
1103123    43.83
Name: Close, dtype: object
1102870    48.91
Name: Close, dtype: object
1102618    63.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1102366    69.80
Name: Close, dtype: object
Initial Date not a trading day
1102116    73.68
Name: Close, dtype: object
1107261    36.40
Name: Close, dtype: object
1107008    39.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1106757    42.28
Name: Close, dtype: object
Initial Date not a trading day
1106506    46.63
Name: Close, dtype: object
1106255    58.01
Name: Close, dtype: object
1106003    56.73
Name: Close, dtype: object
1105750    58.16
Name: Close, dtype: object
1105498    77.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1105246    78.31
Name: Close, dtype: object
Initial Date not a trading day
1104996    90.28
Name: Close, dtype: object
1110142    24.78
Name: Close, dtype: object
1109889    31.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1109638    37.96
Name: Close, dtype: object
Initial Date not a trading day
1109387    41.96
Name: Close, dtype: object
1109136    52.28
Name: Close, dtype: object
1108884    57.87
Name: Close, dtype: object
1108631    71.72
Name: Close, dtype: object
1108379    91.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1108127    95.70
Name: Close, dtype: object
Initial Date not a trading day
1107877    120.30
Name: Close, dtype: object
1113023    37.57
Name: Close, dtype: object
1112770    39.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1112519    45.14
Name: Close, dtype: object
Initial Date not a trading day
1112268    46.11
Name: Close, dtype: object
1112017    63.60
Name: Close, dtype: object
1111765    59.30
Name: Close, dtype: object
1111512    68.56
Name: Close, dtype: object
1111260    80.76
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1111008    57.00
Name: Close, dtype: object
Initial Date not a trading day
1110758    71.56
Name: Close, dtype: object
1115904    71.85
Name: Close, dtype: object
1115651    70.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1115400    63.39
Name: Close, dtype: object
Initial Date not a trading day
1115149    62.28
Name: Close, dtype: object
1114898    83.83
Name: Close, dtype: object
1114646    67.39
Name: Close, dtype: object
1114393    68.88
Name: Close, dtype: object
1114141    85.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1113889    87.81
Name: Close, dtype: object
Initial Date not a trading day
1113639    115.98
Name: Close, dtype: object
1118785    31.59
Name: Close, dtype: object
1118532    34.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1118281    38.56
Name: Close, dtype: object
Initial Date not a trading day
1118030    40.96
Name: Close, dtype: object
1117779    50.69
Name: Close, dtype: object
1117527    50.77
Name: Close, dtype: object
1117274    51.10
Name: Close, dtype: object
1117022    65.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1116770    68.74
Name: Close, dtype: object
Initial Date not a trading day
1116520    82.02
Name: Close, dtype: object
1121666    39.44
Name: Close, dtype: object
1121413    44.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1121162    29.31
Name: Close, dtype: object
Initial Date not a trading day
1120911    26.90
Name: Close, dtype: object

1120660    36.24
Name: Close, dtype: object
1120408    27.85
Name: Close, dtype: object
1120155    32.17
Name: Close, dtype: object
1119903    41.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1119651    46.48
Name: Close, dtype: object
Initial Date not a trading day
1119401    43.91
Name: Close, dtype: object
1124547    35.20
Name: Close, dtype: object
1124294    44.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1124043    42.28
Name: Close, dtype: object
Initial Date not a trading day
1123792    32.58
Name: Close, dtype: object
1123541    37.04
Name: Close, dtype: object
1123289    32.27
Name: Close, dtype: object
1123036    30.99
Name: Close, dtype: object
1122784    33.76
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1122532    38.59
Name: Close, dtype: object
Initial Date not a trading day
1122282    47.52
Name: Close, dtype: object
1127429    6.98
Name: Close, dtype: object
1127176    9.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1126925    9.98
Name: Close, dtype: object
Initial Date not a trading day
1126674    12.94
Name: Close, dtype: object
1126423    17.01
Name: Close, dtype: object
1126171    19.39
Name: Close, dtype: object
1125918    21.71
Name: Close, dtype: object
1125666    27.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1125414    26.94
Name: Close, dtype: object
Initial Date not a trading day
1125164    26.18
Name: Close, dtype: object
1130312    19.16
Name: Close, dtype: object
1130059    19.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1129808    21.13
Name: Close, dtype: object
Initial Date not a trading day
1129557    26.83
Name: Close, dtype: object
1129306    30.86
Name: Close, dtype: object
1129054    12.35
Name: Close, dtype: object
1128801    11.11
Name: Close, dtype: object
1128549    27.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1128297    39.82
Name: Close, dtype: object
Initial Date not a trading day
1128047    39.86
Name: Close, dtype: object
1133195    41.03
Name: Close, dtype: object
1132942    47.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1132691    51.46
Name: Close, dtype: object
Initial Date not a trading day
1132440    53.01
Name: Close, dtype: object
1132189    63.60
Name: Close, dtype: object
1131937    63.52
Name: Close, dtype: object
1131684    73.13
Name: Close, dtype: object
1131432    91.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1131180    90.23
Name: Close, dtype: object
Initial Date not a trading day
1130930    85.75
Name: Close, dtype: object
1136078    31.46
Name: Close, dtype: object
1135825    32.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1135574    29.85
Name: Close, dtype: object
Initial Date not a trading day
1135323    32.68
Name: Close, dtype: object
1135072    41.63
Name: Close, dtype: object
1134820    39.62
Name: Close, dtype: object
1134567    41.04
Name: Close, dtype: object
1134315    53.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1134063    55.68
Name: Close, dtype: object
Initial Date not a trading day
1133813    58.63
Name: Close, dtype: object
1138978    50.55
Name: Close, dtype: object
1138725    53.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1138474    68.66
Name: Close, dtype: object
Initial Date not a trading day
1138223    88.06
Name: Close, dtype: object
1137972    109.27
Name: Close, dtype: object
1137720    100.06
Name: Close, dtype: object
1137467    99.35
Name: Close, dtype: object
1137215    120.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1136963    116.45
Name: Close, dtype: object
Initial Date not a trading day
1136713    146.41
Name: Close, dtype: object
1141878    30.14
Name: Close, dtype: object
1141625    33.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1141374    37.34
Name: Close, dtype: object
Initial Date not a trading day
1141123    41.30
Name: Close, dtype: object
1140872    49.68
Name: Close, dtype: object
1140620    49.91
Name: Close, dtype: object
1140367    55.38
Name: Close, dtype: object
1140115    69.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1139863    72.99
Name: Close, dtype: object
Initial Date not a trading day
1139613    87.57
Name: Close, dtype: object
1144778    23.81
Name: Close, dtype: object
1144525    26.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1144274    26.94
Name: Close, dtype: object
Initial Date not a trading day
1144023    27.92
Name: Close, dtype: object
1143772    34.27
Name: Close, dtype: object
1143520    35.97
Name: Close, dtype: object
1143267    38.54
Name: Close, dtype: object
1143015    51.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1142763    52.94
Name: Close, dtype: object
Initial Date not a trading day
1142513    61.20
Name: Close, dtype: object

In [130]:
print(len(reconciled_prices_list))

3970

In [131]:
print(len(subset_balsheets))

3970

In [132]:
subset_balsheets['Price'] = reconciled_prices_list

In [133]:
subset_balsheets

     Company       Time    Price
0        AAP 2011-01-01    65.50
1        AAP 2011-12-01    68.75
2        AAP 2012-12-01    73.17
3        AAP 2013-12-01   103.05
4        AAP 2015-01-01   158.56
5        AAP 2016-01-01   152.24
6        AAP 2016-12-01   170.76
7        AAP 2017-12-01    99.28
8        AAP 2018-12-01   177.89
9        AAP 2019-12-01   156.55
10        MO 2010-12-01    24.17
11        MO 2011-12-01    28.68
12        MO 2012-12-01    33.66
13        MO 2013-12-01    36.95
14        MO 2014-12-01    50.30
15        MO 2015-12-01    57.89
16        MO 2016-12-01    62.89
17        MO 2017-12-01    68.58
18        MO 2018-12-01    55.73
19        MO 2019-12-01    50.60
20       AZO 2010-08-01   211.85
21       AZO 2011-08-01   282.25
22       AZO 2012-08-01   362.77
23       AZO 2013-08-01   447.99
24       AZO 2014-08-01   514.41
25       AZO 2015-08-01   696.96
26       AZO 2016-08-01   811.78
27       AZO 2017-08-01   547.86
28       AZO 2018-08-01   701.30
29       AZO 2019-08-01  1102.82
...      ...        ...      ...
3940     SRE 2010-12-01    50.55
3941     SRE 2011-12-01    53.19
3942     SRE 2012-12-01    68.66
3943     SRE 2013-12-01    88.06
3944     SRE 2014-12-01   109.27
3945     SRE 2015-12-01   100.06
3946     SRE 2016-12-01    99.35
3947     SRE 2017-12-01   120.48
3948     SRE 2018-12-01   116.45
3949     SRE 2019-12-01   146.41
3950     WEC 2010-12-01    30.14
3951     WEC 2011-12-01    33.26
3952     WEC 2012-12-01    37.34
3953     WEC 2013-12-01    41.30
3954     WEC 2014-12-01    49.68
3955     WEC 2015-12-01    49.91
3956     WEC 2016-12-01    55.38
3957     WEC 2017-12-01    69.14
3958     WEC 2018-12-01    72.99
3959     WEC 2019-12-01    87.57
3960     XEL 2010-12-01    23.81
3961     XEL 2011-12-01    26.19
3962     XEL 2012-12-01    26.94
3963     XEL 2013-12-01    27.92
3964     XEL 2014-12-01    34.27
3965     XEL 2015-12-01    35.97
3966     XEL 2016-12-01    38.54
3967     XEL 2017-12-01    51.36
3968     XEL 2018-12-01    52.94
3969     XEL 2019-12-01    61.20

[3970 rows x 3 columns]

In [134]:
IS_DIS = subset_balsheets['Company'] == 'DIS'
subset_balsheets2 = subset_balsheets[IS_DIS]
subset_balsheets2

     Company       Time   Price
3710     DIS 2010-10-01   33.34
3711     DIS 2011-10-01   29.00
3712     DIS 2012-09-01   49.66
3713     DIS 2013-09-01   60.93
3714     DIS 2014-09-01   90.80
3715     DIS 2015-10-01  102.67
3716     DIS 2016-10-01   92.49
3717     DIS 2017-09-01  101.50
3718     DIS 2018-09-01  110.85
3719     DIS 2019-09-01  136.31

In [135]:
subset_balsheets2.shape[1]

3

In [136]:
prices = subset_balsheets2['Price']

In [137]:
subset_balsheets2.insert(subset_balsheets2.shape[1], 'Prices_Test', prices)

In [138]:
subset_balsheets2

     Company       Time   Price  Prices_Test
3710     DIS 2010-10-01   33.34        33.34
3711     DIS 2011-10-01   29.00        29.00
3712     DIS 2012-09-01   49.66        49.66
3713     DIS 2013-09-01   60.93        60.93
3714     DIS 2014-09-01   90.80        90.80
3715     DIS 2015-10-01  102.67       102.67
3716     DIS 2016-10-01   92.49        92.49
3717     DIS 2017-09-01  101.50       101.50
3718     DIS 2018-09-01  110.85       110.85
3719     DIS 2019-09-01  136.31       136.31

In [139]:
subset_balsheets2 = subset_balsheets2.drop(['Prices_Test'], axis = 1)
subset_balsheets2

     Company       Time   Price
3710     DIS 2010-10-01   33.34
3711     DIS 2011-10-01   29.00
3712     DIS 2012-09-01   49.66
3713     DIS 2013-09-01   60.93
3714     DIS 2014-09-01   90.80
3715     DIS 2015-10-01  102.67
3716     DIS 2016-10-01   92.49
3717     DIS 2017-09-01  101.50
3718     DIS 2018-09-01  110.85
3719     DIS 2019-09-01  136.31

In [140]:
bal_sheets['Price'] = reconciled_prices_list

In [141]:
income_statements = pd.read_sql_query("SELECT * FROM income_statements",
    conn)
income_statements

,Company,Time,Total Revenues,Cost Of Revenues,Gross Profit,Total Operating Expenses,Operating Income,Net Income,Revenue Per Share,Basic EPS,Normalized Basic EPS,Dividend Per Share,Payout Ratio,EBITDA,EBITA,EBIT,Normalized Net Income,Effective Tax Rate
0,AAP,2011-01-01,5925.2,2963.9,2961.3,2376.4,584.9,346.1,68.83,4.00,4.04,0.24,6.08,749.4,586,584.9,348.2,37.9
1,AAP,2011-12-01,6170.5,3101.2,3069.3,2404.6,664.6,394.7,81.60,5.21,5.23,0.24,4.70,840.6,666.4,664.6,395.8,37.7
2,AAP,2012-12-01,6205.0,3107.0,3098.0,2440.7,657.3,387.7,84.89,5.29,5.34,0.24,4.54,846.9,661,657.3,390.0,37.9
3,AAP,2013-12-01,6493.8,3241.7,3252.1,2558.8,693.3,391.8,89.04,5.36,5.65,0.24,4.49,901.1,701.3,693.3,412.1,37.5
4,AAP,2015-01-01,9843.9,5390.2,4453.6,3507.9,945.8,493.8,134.97,6.75,7.50,0.24,3.56,1230.5,1002.3,945.8,547.2,36.8
5,AAP,2016-01-01,9737.0,5314.2,4422.8,3586.0,836.8,473.4,133.04,6.47,6.52,0.24,3.73,1106.3,889.9,836.8,477.4,37.1
6,AAP,2016-12-01,9567.7,5311.8,4255.9,3465.5,790.4,459.6,130.06,6.25,6.30,0.24,3.86,1048.8,838.4,790.4,463.5,37.8
7,AAP,2017-12-01,9373.8,5288.7,4085.0,3501.5,583.5,475.5,126.94,6.44,4.52,0.24,3.75,832.8,630.9,583.5,333.5,8.6
8,AAP,2018-12-01,9580.6,5354.4,4226.2,3500.6,725.5,423.8,129.94,5.75,5.74,0.24,4.20,963.7,766.2,725.5,422.8,23.7
9,AAP,2019-12-01,9709.0,5450.9,4258.1,3501.3,756.8,486.9,137.00,6.87,6.33,0.24,3.53,995.2,788.5,756.8,448.8,23.7
10,MO,2010-12-01,16892.0,7629.0,9263.0,2645.0,6618.0,3905.0,8.13,1.87,1.84,1.46,75.75,6894.0,6638.0,6618.0,3818.6,31.7
11,MO,2011-12-01,16619.0,7680.0,8939.0,2279.0,6660.0,3390.0,8.05,1.64,1.87,1.58,95.04,6913.0,6680.0,6660.0,3855.8,39.2
12,MO,2012-12-01,17500.0,7937.0,9563.0,2043.0,7520.0,4180.0,8.65,2.06,2.35,1.70,81.34,7745.0,7540.0,7520.0,4758.3,35.4
13,MO,2013-12-01,17663.0,7206.0,10457.0,2097.0,8360.0,4535.0,8.84,2.26,2.60,1.84,79.65,8572.0,8380.0,8360.0,5188.8,34.7
14,MO,2014-12-01,17945.0,7828.0,10117.0,2269.0,7848.0,5070.0,9.07,2.56,2.54,2.00,76.77,8056.0,7868.0,7848.0,5028.8,34.8
15,MO,2015-12-01,18854.0,7837.0,11017.0,2394.0,8623.0,5241.0,9.61,2.67,2.73,2.17,79.74,8848.0,8644.0,8623.0,5349.9,35.1
16,MO,2016-12-01,19337.0,7736.0,11601.0,2302.0,9299.0,14239.0,9.91,7.28,3.00,2.35,31.69,9503.0,9320.0,9299.0,5847.5,34.8
17,MO,2017-12-01,19494.0,7491.0,12003.0,2042.0,9961.0,10222.0,10.15,5.31,3.18,2.54,47.03,10170.0,9982.0,9961.0,6117.5,NM
18,MO,2018-12-01,19627.0,7451.0,12176.0,2342.0,9834.0,6963.0,10.40,3.69,3.34,3.00,77.77,10061.0,9872.0,9834.0,6294.1,25.4
19,MO,2019-12-01,19796.0,7083.0,12713.0,1903.0,10810.0,-1293.0,10.59,-0.70,3.77,3.28,NM,11036.0,10854.0,10810.0,7042.5,269.5
20,AZO,2010-08-01,7362.6,3650.9,3711.7,2392.3,1319.4,738.3,151.84,15.23,14.96,None,None,1511.5,1319.4,1319.4,725.3,36.4
21,AZO,2011-08-01,8073.0,3953.5,4119.5,2624.7,1494.8,849,189.36,19.91,19.41,None,None,1691.0,1494.8,1494.8,827.7,35.9
22,AZO,2012-08-01,8603.9,4171.8,4432.0,2803.1,1628.9,930.4,222.35,24.04,23.47,None,None,1840.7,1628.9,1628.9,908.1,36.0
23,AZO,2013-08-01,9147.5,4406.6,4740.9,2967.8,1773.1,1016.5,254.50,28.28,27.61,None,None,2000.3,1773.1,1773.1,992.3,36.0
24,AZO,2014-08-01,9475.3,4540.4,4934.9,3104.7,1830.2,1069.7,284.83,32.16,31.24,None,None,2081.5,1830.2,1830.2,1039.2,35.7
25,AZO,2015-08-01,10187.3,4860.3,5327.0,3374.0,1953.1,1160.2,322.79,36.76,35.70,None,None,2223.0,1953.1,1953.1,1126.6,35.6
26,AZO,2016-08-01,10635.7,5026.9,5608.7,3548.3,2060.4,1241.0,355.84,41.52,40.00,None,None,2357.8,2060.4,2060.4,1195.4,35.1
27,AZO,2017-08-01,10888.7,5149.1,5739.6,3659.6,2080.1,1280.9,383.00,45.05,42.33,None,None,2403.1,2080.1,2080.1,1203.4,33.5
28,AZO,2018-08-01,11221.1,5247.3,5973.7,3839.4,2134.3,1337.5,416.06,49.59,45.42,None,None,2479.4,2139.4,2134.3,1224.9,18.3
29,AZO,2019-08-01,11863.7,5498.7,6365.0,4148.9,2216.1,1617.2,475.20,64.78,50.85,None,None,2586.1,2220.3,2216.1,1269.6,20.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,SRE,2010-12-01,9003.0,None,None,7475.0,1528.0,709,36.79,2.90,2.48,1.56,51.34,2394.0,1538.0,1528.0,607.9,16.1
3941,SRE,2011-12-01,10036.0,None,None,8290.0,1746.0,1331.0,41.87,5.55,3.71,1.92,33.06,2722.0,1756.0,1746.0,889.3,22.3
3942,SRE,2012-12-01,9647.0,None,None,8095.0,1552.0,859,39.97,3.56,2.27,2.40,64.03,2642.0,1562.0,1552.0,548.8,6.1
3943,SRE,2013-12-01,10557.0,None,None,8673.0,1884.0,1001.0,43.29,4.10,3.60,2.52,60.54,2997.0,1894.0,1884.0,878.5,25.3
3944,SRE,2014-12-01,11035.0,None,None,9253.0,1782.0,1161.0,44.88,4.72,3.41,2.64,51.51,2938.0,1792.0,1782.0,839.4,19.2
3945,SRE,2015-12-01,10231.0,None,None,8311.0,1920.0,1349.0,41.21,5.43,3.86,2.80,46.55,3170.0,1930.0,1920.0,958.9,19.1
3946,SRE,2016-12-01,10183.0,None,None,8557.0,1626.0,1370.0,40.70,5.48,2.69,3.02,50.07,2938.0,1637.0,1626.0,673.3,20.4
3947,SRE,2017-12-01,9640.0,None,None,7604.0,2036.0,256,38.32,1.02,3.97,3.29,294.92,3422.0,2054.0,2036.0,999.1,71.1
3948,SRE,2018-12-01,10102.0,None,None,8071.0,2031.0,1049.0,37.68,3.45,3.21,3.58,92.09,3517.0,2047.0,2031.0,859.6,NM
3949,SRE,2019-12-01,10829.0,None,None,8334.0,2495.0,2197.0,38.97,7.39,4.57,3.87,51.66,4057.0,2506.0,2495.0,1269.1,13.6
3950,WEC,2010-12-01,4202.5,None,None,3392.1,810.4,456.5,17.97,1.95,1.87,0.80,40.96,1127.8,810.4,810.4,437.4,35.5
3951,WEC,2011-12-01,4486.4,None,None,3599.1,887.3,526.2,19.29,2.26,2.09,1.04,45.99,1223.7,887.3,887.3,485.4,34.0
3952,WEC,2012-12-01,4246.4,None,None,3246.1,1000.3,546.3,18.45,2.37,2.31,1.20,50.58,1372.0,1000.3,1000.3,531.2,35.9
3953,WEC,2013-12-01,4519.0,None,None,3438.9,1080.1,577.4,19.86,2.54,2.51,1.45,56.96,1476.1,1080.1,1080.1,571.6,36.9
3954,WEC,2014-12-01,4997.1,None,None,3885.0,1112.1,588.3,22.15,2.61,2.61,1.56,59.83,1529.1,1112.1,1112.1,589.1,38.1
3955,WEC,2015-12-01,5926.1,None,None,4675.6,1250.5,638.5,21.86,2.36,2.42,1.74,71.32,1834.0,1250.5,1250.5,655.9,40.5
3956,WEC,2016-12-01,7472.3,None,None,5790.2,1682.1,939,23.68,2.98,2.90,1.98,66.55,2444.7,1682.1,1682.1,913.9,37.6
3957,WEC,2017-12-01,7648.5,None,None,5863.3,1785.2,1203.7,24.23,3.81,3.10,2.08,54.54,2583.8,1785.2,1785.2,978.6,24.2
3958,WEC,2018-12-01,7679.5,None,None,6185.1,1494.4,1059.3,24.34,3.36,2.44,2.21,65.83,2340.2,1494.4,1494.4,769.3,13.8
3959,WEC,2019-12-01,7523.1,None,None,5955.5,1567.6,1134.0,23.85,3.60,2.45,2.36,65.65,2493.9,1567.6,1567.6,773.8,9.9
3960,XEL,2010-12-01,10310.9,None,None,8691.0,1620.0,755.8,22.32,1.63,1.57,1.00,57.17,2597.5,1620.0,1620.0,727.2,36.7
3961,XEL,2011-12-01,10654.8,None,None,8873.2,1781.6,841.2,21.97,1.72,1.69,1.03,56.44,2791.4,1781.6,1781.6,818.4,35.8
3962,XEL,2012-12-01,10128.2,None,None,8305.5,1822.7,905.2,20.76,1.86,1.74,1.07,53.77,2869.0,1822.7,1822.7,847.1,33.2
3963,XEL,2013-12-01,10914.9,None,None,9067.4,1847.6,948.2,22.00,1.91,1.80,1.11,54.21,2947.5,1847.6,1847.6,895.1,33.8
3964,XEL,2014-12-01,11686.1,None,None,9738.0,1948.1,1021.3,23.19,2.03,1.92,1.20,54.97,3099.2,1948.1,1948.1,965.7,33.9
3965,XEL,2015-12-01,11024.0,None,None,9024.0,2000.0,984,21.71,1.94,1.88,1.28,61.69,3249.0,2000.0,2000.0,954.4,35.6
3966,XEL,2016-12-01,11107.0,None,None,8906.0,2201.0,1123.0,21.82,2.21,2.09,1.36,60.64,3637.0,2201.0,2201.0,1065.0,34.1
3967,XEL,2017-12-01,11404.0,None,None,9300.0,2104.0,1148.0,22.40,2.26,2.08,1.44,62.80,3713.0,2104.0,2104.0,1056.3,32.1
3968,XEL,2018-12-01,11537.0,None,None,9686.0,1851.0,1261.0,22.58,2.47,1.76,1.52,57.89,3632.0,1851.0,1851.0,901.3,12.6
3969,XEL,2019-12-01,11529.0,None,None,9451.0,2078.0,1372.0,22.21,2.64,1.81,1.62,57.65,3811.0,2078.0,2078.0,937.5,8.5

In [142]:
cash_flows = pd.read_sql_query("SELECT * FROM cash_flow_statements",
    conn)
cash_flows

,Company,Time,Net Change in Cash,Levered Free Cash Flow,Unlevered Free Cash Flow,Free Cash Flow / Share
0,AAP,2011-01-01,-40.8,437.5,459.5,5.42
1,AAP,2011-12-01,-1.3,523.8,546.2,7.41
2,AAP,2012-12-01,540.2,352.5,373.7,5.67
3,AAP,2013-12-01,514.4,352.6,375.5,4.79
4,AAP,2015-01-01,-1007.8,-262.5,-216.7,6.59
5,AAP,2016-01-01,-13.9,486.6,527.5,6.39
6,AAP,2016-12-01,44.4,185.7,223.1,3.59
7,AAP,2017-12-01,411.8,384.4,421.1,5.57
8,AAP,2018-12-01,349.6,590.3,625.7,8.37
9,AAP,2019-12-01,-477.9,275.2,300.2,5.58
10,MO,2010-12-01,443,3737.3,4447.3,1.25
11,MO,2011-12-01,956,4547.0,5309.5,1.68
12,MO,2012-12-01,-370.0,7904.0,8609.0,1.86
13,MO,2013-12-01,275,4429.9,5088.0,2.12
14,MO,2014-12-01,146,4458.4,4994.0,2.28
15,MO,2015-12-01,-952.0,6331.3,6844.4,2.86
16,MO,2016-12-01,2205.0,5566.5,6030.9,1.86
17,MO,2017-12-01,-3337.0,3988.6,4443.6,2.45
18,MO,2018-12-01,119,7298.9,7723.3,4.32
19,MO,2019-12-01,727,6033.1,6856.3,4.06
20,AZO,2010-08-01,5.6,923.6,1018.0,18.17
21,AZO,2011-08-01,-0.7,906.5,1005.5,22.75
22,AZO,2012-08-01,5.5,816.4,919.2,21.86
23,AZO,2013-08-01,39.1,970.9,1079.5,27.84
24,AZO,2014-08-01,-17.7,920.5,1019.5,26.81
25,AZO,2015-08-01,50.8,960.4,1049.2,34.30
26,AZO,2016-08-01,14.4,757.2,843,38.22
27,AZO,2017-08-01,103.5,832.9,923.3,35.76
28,AZO,2018-08-01,-75.4,1295.7,1400.0,57.79
29,AZO,2019-08-01,-41.5,1244.0,1355.9,65.39
...,...,...,...,...,...,...
3940,SRE,2010-12-01,802,-175.8,103,0.38
3941,SRE,2011-12-01,-660.0,-534.3,-246.8,-4.08
3942,SRE,2012-12-01,223,-2684.0,-2374.0,-3.89
3943,SRE,2013-12-01,429,-778.3,-419.5,-3.23
3944,SRE,2014-12-01,-334.0,-1705.0,-1356.3,-4.78
3945,SRE,2015-12-01,-160.0,291.6,646,-1.14
3946,SRE,2016-12-01,-25.0,-2344.3,-1996.8,-7.69
3947,SRE,2017-12-01,-61.0,-1191.9,-802.5,-0.32
3948,SRE,2018-12-01,-118.0,-1518.0,-963.6,-0.46
3949,SRE,2019-12-01,-29.0,-670.4,3.4,-2.74
3950,WEC,2010-12-01,4.3,-49.2,79.8,0.05
3951,WEC,2011-12-01,-10.4,-92.0,55.4,0.70
3952,WEC,2012-12-01,21.5,304.6,459.7,2.03
3953,WEC,2013-12-01,-9.6,-98.7,58.9,2.23
3954,WEC,2014-12-01,35.9,526.3,677.3,1.94
3955,WEC,2015-12-01,-12.1,-183.0,25.3,0.10
3956,WEC,2016-12-01,-96.1,139.5,391.9,2.15
3957,WEC,2017-12-01,-14.1,-151.7,108.9,0.38
3958,WEC,2018-12-01,87.5,-623.6,-344.7,1.05
3959,WEC,2019-12-01,-63.8,-386.4,-72.3,0.27
3960,XEL,2010-12-01,-7.2,-325.3,35.5,-0.58
3961,XEL,2011-12-01,-47.8,-503.8,-134.2,0.33
3962,XEL,2012-12-01,21.6,-465.8,-89.8,-1.03
3963,XEL,2013-12-01,24.8,-1424.7,-1065.2,-1.46
3964,XEL,2014-12-01,-27.5,-1062.6,-708.4,-0.89
3965,XEL,2015-12-01,5,-1097.1,-725.2,-1.16
3966,XEL,2016-12-01,-,-773.0,-368.6,-0.28
3967,XEL,2017-12-01,-2.0,-591.4,-177.0,-0.23
3968,XEL,2018-12-01,64,-1231.6,-794.1,-1.63
3969,XEL,2019-12-01,101,-1329.4,-846.3,-1.85

In [143]:
final_df = pd.merge(bal_sheets, income_statements , how='outer', on= ['Company', 'Time'], left_on=None, right_on=None,
left_index=False, right_index=False, sort=True)

In [144]:
final_df

,Company,Time,Total Cash & ST Investments,Total Receivables,Total Current Assets,Total Assets,Total Current Liabilities,Total Liabilities,Total Common Shares Outstanding,Book Value / Share,...,Revenue Per Share,Basic EPS,Normalized Basic EPS,Dividend Per Share,Payout Ratio,EBITDA,EBITA,EBIT,Normalized Net Income,Effective Tax Rate
0,A,2010-10-01,2649.0,869,6169.0,9696.0,3083.0,6460.0,346.1,9.33,...,15.69,1.97,1.30,0,0,934,809,732,452.5,1.2
1,A,2011-10-01,3530.0,902,5569.0,9057.0,1837.0,4741.0,346.4,12.44,...,19.06,2.92,1.85,0,0,1324.0,1184.0,1071.0,641.3,1.9
2,A,2012-10-01,2362.0,988,4629.0,10536.0,1893.0,5351.0,346.5,14.96,...,19.71,3.31,1.92,0.30,9.02,1420.0,1270.0,1134.0,668.8,NM
3,A,2013-10-01,2675.0,941,4983.0,10686.0,1602.0,5397.0,332.3,15.91,...,11.42,2.15,0.54,0.46,21.25,758,576,386,183.1,23.2
4,A,2014-10-01,2218.0,708,5509.0,10815.0,1692.0,5511.0,335.0,15.83,...,12.16,1.65,0.60,0.53,32.06,803,608,419,198.8,NM
5,A,2015-10-01,2003.0,710,3686.0,7479.0,976,3309.0,331.5,12.57,...,12.13,1.20,0.91,0.40,33.17,778,683,525,301.9,8.8
6,A,2016-10-01,2289.0,714,3635.0,7794.0,945,3548.0,323.5,13.12,...,12.89,1.42,1.24,0.46,32.47,944,852,698,403.1,15.1
7,A,2017-10-01,2678.0,801,4169.0,8426.0,1263.0,3591.0,322.0,15.00,...,13.89,2.12,1.58,0.53,24.85,1065.0,973,853,509.4,14.8
8,A,2018-10-01,2247.0,835,3848.0,8541.0,1171.0,3970.0,317.7,14.37,...,15.31,0.98,1.91,0.60,60.44,1207.0,1107.0,997,612.5,66.6
9,A,2019-10-01,1382.0,998,3189.0,9452.0,2080.0,4704.0,309.1,15.36,...,16.44,3.41,2.02,0.66,19.23,1281.0,1171.0,1043.0,635.6,NM
10,AAL,2010-12-01,4496.0,738,6838.0,25088.0,8780.0,29033.0,333.4,-11.83,...,66.58,-1.41,-0.95,0,0,1401.0,434,308,-316.3,NM
11,AAL,2011-12-01,4001.0,902,6757.0,23848.0,9119.0,30959.0,335.3,-21.21,...,191.86,-15.83,-1.75,0,0,1561.0,502,475,-218.1,0
12,AAL,2012-12-01,3892.0,1124.0,7072.0,23510.0,9453.0,31497.0,121.5,-65.73,...,99.62,-7.52,-0.33,0,0,1550.0,560,535,-81.3,NM
13,AAL,2013-12-01,9251.0,1560.0,14323.0,42278.0,13806.0,45009.0,526.8,-5.18,...,95.33,-6.55,2.32,0,0,2955.0,1955.0,1935.0,650,NM
14,AAL,2014-12-01,7303.0,1771.0,11750.0,43225.0,13404.0,41204.0,697.5,2.90,...,59.45,4.02,3.60,0.20,5.00,6586.0,5154.0,5073.0,2584.4,10.3
15,AAL,2015-12-01,6254.0,1425.0,9985.0,48415.0,13605.0,42780.0,624.6,9.02,...,61.33,11.39,5.88,0.40,3.65,8893.0,7339.0,7284.0,3931.3,NM
16,AAL,2016-12-01,6359.0,1594.0,10324.0,51274.0,13872.0,47489.0,507.3,7.46,...,72.68,4.68,5.57,0.40,8.67,7678.0,5936.0,5860.0,3077.5,37.8
17,AAL,2017-12-01,5066.0,1752.0,9146.0,52785.0,15358.0,53565.0,475.5,-1.64,...,87.13,2.62,5.30,0.40,15.44,7120.0,5147.0,5103.0,2594.4,62.2
18,AAL,2018-12-01,4760.0,1706.0,8637.0,60580.0,18096.0,60749.0,460.6,-0.37,...,95.94,3.04,3.76,0.40,13.17,5916.0,3798.0,3757.0,1746.3,25.1
19,AAL,2019-12-01,3826.0,1750.0,8206.0,59995.0,18311.0,60113.0,428.2,-0.28,...,103.23,3.80,4.10,0.40,10.56,6207.0,3930.0,3889.0,1817.5,25.3
20,AAP,2011-01-01,59.2,124.2,2124.3,3354.2,1848.0,2314.8,81.6,12.74,...,68.83,4.00,4.04,0.24,6.08,749.4,586,584.9,348.2,37.9
21,AAP,2011-12-01,57.9,140.0,2293.8,3655.8,2187.9,2807.8,72.6,11.68,...,81.60,5.21,5.23,0.24,4.70,840.6,666.4,664.6,395.8,37.7
22,AAP,2012-12-01,598.1,229.9,3184.2,4613.8,2559.6,3403.1,73.2,16.54,...,84.89,5.29,5.34,0.24,4.54,846.9,661,657.3,390.0,37.9
23,AAP,2013-12-01,1112.5,277.6,3989.4,5564.8,2764.8,4048.6,72.6,20.88,...,89.04,5.36,5.65,0.24,4.49,901.1,701.3,693.3,412.1,37.5
24,AAP,2015-01-01,104.7,579.8,4741.0,7962.4,3654.4,5959.4,72.8,27.52,...,134.97,6.75,7.50,0.24,3.56,1230.5,1002.3,945.8,547.2,36.8
25,AAP,2016-01-01,90.8,597.8,4940.7,8127.7,3797.5,5667.1,73.0,33.69,...,133.04,6.47,6.52,0.24,3.73,1106.3,889.9,836.8,477.4,37.1
26,AAP,2016-12-01,135.2,641.3,5172.8,8315.0,3676.0,5398.8,73.5,39.66,...,130.06,6.25,6.30,0.24,3.86,1048.8,838.4,790.4,463.5,37.8
27,AAP,2017-12-01,546.9,606.4,5426.9,8482.3,3480.1,5067.1,73.6,46.41,...,126.94,6.44,4.52,0.24,3.75,832.8,630.9,583.5,333.5,8.6
28,AAP,2018-12-01,896.5,625.0,6082.5,9040.6,3886.0,5489.8,72.1,49.28,...,129.94,5.75,5.74,0.24,4.20,963.7,766.2,725.5,422.8,23.7
29,AAP,2019-12-01,418.7,689.5,5695.5,11248.5,4477.7,7699.4,68.8,51.61,...,137.00,6.87,6.33,0.24,3.53,995.2,788.5,756.8,448.8,23.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,XRX,2010-12-01,1211.0,2916.0,8639.0,30600.0,6417.0,18092.0,349.4,34.36,...,65.38,1.77,2.71,0.68,37.95,2471.0,2092.0,1764.0,895.3,28.7
3941,XRX,2011-12-01,902,2697.0,7912.0,30116.0,6381.0,17742.0,334.3,35.52,...,63.11,3.66,2.96,0.68,20.46,2935.0,2236.0,1838.0,1027.0,22.4
3942,XRX,2012-12-01,1246.0,3017.0,8273.0,30015.0,5910.0,18002.0,305.9,37.66,...,62.73,3.60,2.96,0.68,21.34,2716.0,2083.0,1690.0,963.3,17.8
3943,XRX,2013-12-01,1764.0,3114.0,8511.0,29036.0,5686.0,16268.0,297.1,41.40,...,65.30,3.70,2.85,0.92,25.54,2524.0,1909.0,1504.0,873.1,17.9
3944,XRX,2014-12-01,1411.0,2803.0,8874.0,27658.0,6076.0,16556.0,279.2,38.25,...,43.93,3.43,2.69,1.00,30.90,1922.0,1446.0,1381.0,775.8,15.8
3945,XRX,2015-12-01,1228.0,1149.0,6685.0,25541.0,5254.0,16075.0,253.2,35.84,...,43.08,1.59,2.27,1.12,72.77,1621.0,1184.0,1124.0,603.3,18.7
3946,XRX,2016-12-01,2223.0,1194.0,6992.0,18051.0,4654.0,13090.0,253.6,18.57,...,42.51,-1.95,2.26,1.24,NM,1509.0,1085.0,1027.0,571.5,8.9
3947,XRX,2017-12-01,1293.0,1400.0,5230.0,15946.0,2741.0,10439.0,254.6,20.64,...,39.28,0.71,1.88,1.00,149.23,1346.0,945,892,477.3,87.0
3948,XRX,2018-12-01,1081.0,1284.0,4713.0,14874.0,3251.0,9621.0,229.6,21.80,...,38.85,1.40,2.08,1.00,74.52,1340.0,987,939,517.9,44.3
3949,XRX,2019-12-01,2740.0,1263.0,6140.0,15047.0,3435.0,9239.0,212.6,26.28,...,40.84,6.03,2.89,1.00,17.96,1500.0,1174.0,1129.0,640.8,21.6
3950,YUM,2010-12-01,1434.0,371,2313.0,8316.0,2448.0,6647.0,469,3.36,...,23.93,2.44,2.22,0.92,35.58,2434.0,1874.0,1845.0,1053.8,26.1
3951,YUM,2011-12-01,1208.0,436,2321.0,8834.0,2450.0,6918.0,460,3.96,...,26.92,2.81,2.49,1.07,36.47,2635.0,2029.0,1998.0,1168.4,19.5
3952,YUM,2012-12-01,776,356,1925.0,9013.0,2279.0,6701.0,451,4.78,...,29.57,3.46,2.86,1.24,34.06,2902.0,2265.0,2237.0,1319.6,25.0
3953,YUM,2013-12-01,573,408,1691.0,8695.0,2265.0,6427.0,443,4.89,...,28.95,2.41,2.72,1.41,56.37,2758.0,2065.0,2037.0,1229.5,31.4
3954,YUM,2014-12-01,578,380,1553.0,8334.0,2409.0,6721.0,434,3.56,...,14.84,2.37,1.94,1.56,63.65,1861.0,1546.0,1533.0,861.9,26.8
3955,YUM,2015-12-01,313,363,1687.0,8061.0,3087.0,7086.0,420,2.17,...,14.75,2.95,1.95,1.74,56.90,1839.0,1533.0,1520.0,849.4,26.1
3956,YUM,2016-12-01,725,414,1505.0,5453.0,1306.0,11068.0,355,-15.82,...,16.13,4.17,2.04,1.73,45.28,1895.0,1616.0,1585.0,803.8,24.3
3957,YUM,2017-12-01,1531.0,575,2507.0,5311.0,1512.0,11645.0,332,-19.08,...,16.94,3.86,2.34,1.26,31.04,1999.0,1779.0,1746.0,811.9,41.1
3958,YUM,2018-12-01,313,597,1207.0,4130.0,1301.0,12056.0,306,-25.90,...,17.66,4.79,2.56,1.50,29.96,1899.0,1799.0,1762.0,823.8,16.2
3959,YUM,2019-12-01,611,623,1527.0,5231.0,1541.0,13247.0,300,-26.72,...,18.29,4.23,2.92,1.73,39.49,2018.0,1958.0,1906.0,894.4,5.8
3960,ZBH,2010-12-01,934,775.9,3009.7,7999.9,702.5,2228.6,195.6,29.51,...,21.10,2.98,3.67,0,0,1572.0,1324.1,1231.8,734.6,30.6
3961,ZBH,2011-12-01,1223.8,838.8,3276.6,8515.3,867.1,3000.5,178.0,30.94,...,23.73,4.06,4.08,0,0,1628.4,1362.3,1268.5,765.4,22.4
3962,ZBH,2012-12-01,1555.9,884.6,3708.7,9012.4,866,3146.1,171.6,34.15,...,25.57,4.32,4.52,0.72,12.50,1677.2,1415.7,1318.6,790.4,24.0
3963,ZBH,2013-12-01,1807.6,936.6,4197.7,9580.6,1031.6,3280.5,169.8,37.09,...,27.26,4.60,4.70,0.80,16.97,1686.4,1412.4,1333.9,797.7,22.8
3964,ZBH,2014-12-01,1695.8,912.1,4313.3,9658.0,1024.0,3106.3,169.7,38.60,...,27.65,4.26,4.84,0.88,20.20,1781.1,1497.8,1405.3,818.2,23.4
3965,ZBH,2015-12-01,1623.9,1446.5,5853.7,27160.6,1617.9,17271.2,202.7,48.78,...,32.01,0.78,4.39,0.88,106.87,2337.0,1962.0,1624.6,822.4,4.6
3966,ZBH,2016-12-01,634.1,1604.4,4663.6,26684.4,2381.5,17014.5,200.6,48.20,...,38.34,1.53,4.38,0.96,61.59,2811.3,2337.9,1772.0,875.6,23.8
3967,ZBH,2017-12-01,524.4,1544.1,4564.8,26014.0,3069.7,14278.5,202.6,57.93,...,38.65,8.98,4.00,0.96,10.67,2696.3,2237.5,1633.6,807.6,NM
3968,ZBH,2018-12-01,542.8,1275.8,4427.4,24126.8,2421.3,12850.7,204.0,55.25,...,38.98,-1.86,3.46,0.96,NM,2472.3,2027.7,1431.8,703.9,NM
3969,ZBH,2019-12-01,617.9,1363.9,4723.9,24638.7,3441.5,12245.9,206.0,60.14,...,38.92,5.52,3.39,0.96,17.38,2361.3,1939.5,1355.2,696.3,NM

In [145]:
merged_df_columns = []
for col in final_df.columns:
    merged_df_columns.append(col)
    print(col)

Company
Time
Total Cash & ST Investments
Total Receivables
Total Current Assets
Total Assets
Total Current Liabilities
Total Liabilities
Total Common Shares Outstanding
Book Value / Share
Tangible Book Value
Tangible Book Value Per Share
Total Debt
Net Debt
Price
Total Revenues
Cost Of Revenues
Gross Profit
Total Operating Expenses
Operating Income
Net Income
Revenue Per Share
Basic EPS
Normalized Basic EPS
Dividend Per Share
Payout Ratio
EBITDA
EBITA
EBIT
Normalized Net Income
Effective Tax Rate

In [146]:
bal_sheet_columns = []
for col in bal_sheets.columns:
    bal_sheet_columns.append(col)
    print(col)

Company
Time
Total Cash & ST Investments
Total Receivables
Total Current Assets
Total Assets
Total Current Liabilities
Total Liabilities
Total Common Shares Outstanding
Book Value / Share
Tangible Book Value
Tangible Book Value Per Share
Total Debt
Net Debt
Price

In [147]:
income_statement_columns = []
for col in income_statements.columns:
    income_statement_columns.append(col)
    print(col)

Company
Time
Total Revenues
Cost Of Revenues
Gross Profit
Total Operating Expenses
Operating Income
Net Income
Revenue Per Share
Basic EPS
Normalized Basic EPS
Dividend Per Share
Payout Ratio
EBITDA
EBITA
EBIT
Normalized Net Income
Effective Tax Rate

In [148]:
merged_df_columns

['Company',
 'Time',
 'Total Cash & ST Investments',
 'Total Receivables',
 'Total Current Assets',
 'Total Assets',
 'Total Current Liabilities',
 'Total Liabilities',
 'Total Common Shares Outstanding',
 'Book Value / Share',
 'Tangible Book Value',
 'Tangible Book Value Per Share',
 'Total Debt',
 'Net Debt',
 'Price',
 'Total Revenues',
 'Cost Of Revenues',
 'Gross Profit',
 'Total Operating Expenses',
 'Operating Income',
 'Net Income',
 'Revenue Per Share',
 'Basic EPS',
 'Normalized Basic EPS',
 'Dividend Per Share',
 'Payout Ratio',
 'EBITDA',
 'EBITA',
 'EBIT',
 'Normalized Net Income',
 'Effective Tax Rate']

In [ ]:
#engine = create_engine("mysql+pymysql://pythonlink:pythonlinkp@localhost:3306/stock_forecast_v1")
#Tko_BalSheet.to_sql('balance_sheets_with_price', con= engine, if_exists= 'append', index = False, index_label = False)

In [149]:
fully_merged_statements_df = pd.merge(final_df, cash_flows , how='outer', on= ['Company', 'Time'], left_on=None, right_on=None,
left_index=False, right_index=False, sort=True)

In [150]:
fully_merged_statements_df

,Company,Time,Total Cash & ST Investments,Total Receivables,Total Current Assets,Total Assets,Total Current Liabilities,Total Liabilities,Total Common Shares Outstanding,Book Value / Share,...,Payout Ratio,EBITDA,EBITA,EBIT,Normalized Net Income,Effective Tax Rate,Net Change in Cash,Levered Free Cash Flow,Unlevered Free Cash Flow,Free Cash Flow / Share
0,A,2010-10-01,2649.0,869,6169.0,9696.0,3083.0,6460.0,346.1,9.33,...,0,934,809,732,452.5,1.2,170,-1047.5,-987.5,1.72
1,A,2011-10-01,3530.0,902,5569.0,9057.0,1837.0,4741.0,346.4,12.44,...,0,1324.0,1184.0,1071.0,641.3,1.9,878,2236.6,2290.4,3.09
2,A,2012-10-01,2362.0,988,4629.0,10536.0,1893.0,5351.0,346.5,14.96,...,9.02,1420.0,1270.0,1134.0,668.8,NM,-1176.0,644.6,707.8,2.97
3,A,2013-10-01,2675.0,941,4983.0,10686.0,1602.0,5397.0,332.3,15.91,...,21.25,758,576,386,183.1,23.2,324,320.4,387.3,2.81
4,A,2014-10-01,2218.0,708,5509.0,10815.0,1692.0,5511.0,335.0,15.83,...,32.06,803,608,419,198.8,NM,353,-461.9,-393.1,1.58
5,A,2015-10-01,2003.0,710,3686.0,7479.0,976,3309.0,331.5,12.57,...,33.17,778,683,525,301.9,8.8,-215.0,1388.9,1430.1,3.68
6,A,2016-10-01,2289.0,714,3635.0,7794.0,945,3548.0,323.5,13.12,...,32.47,944,852,698,403.1,15.1,286,864.3,909.3,2.01
7,A,2017-10-01,2678.0,801,4169.0,8426.0,1263.0,3591.0,322.0,15.00,...,24.85,1065.0,973,853,509.4,14.8,391,543.8,593.1,2.21
8,A,2018-10-01,2247.0,835,3848.0,8541.0,1171.0,3970.0,317.7,14.37,...,60.44,1207.0,1107.0,997,612.5,66.6,-432.0,688.3,735.1,2.83
9,A,2019-10-01,1382.0,998,3189.0,9452.0,2080.0,4704.0,309.1,15.36,...,19.23,1281.0,1171.0,1043.0,635.6,NM,-866.0,846.6,892.9,2.75
10,AAL,2010-12-01,4496.0,738,6838.0,25088.0,8780.0,29033.0,333.4,-11.83,...,0,1401.0,434,308,-316.3,NM,15,-934.5,-439.5,-2.17
11,AAL,2011-12-01,4001.0,902,6757.0,23848.0,9119.0,30959.0,335.3,-21.21,...,0,1561.0,502,475,-218.1,0,115,-408.0,98.9,-6.97
12,AAL,2012-12-01,3892.0,1124.0,7072.0,23510.0,9453.0,31497.0,121.5,-65.73,...,0,1550.0,560,535,-81.3,NM,197,-895.6,-500.6,-2.42
13,AAL,2013-12-01,9251.0,1560.0,14323.0,42278.0,13806.0,45009.0,526.8,-5.18,...,0,2955.0,1955.0,1935.0,650,NM,660,1106.4,1641.4,-8.70
14,AAL,2014-12-01,7303.0,1771.0,11750.0,43225.0,13404.0,41204.0,697.5,2.90,...,5.00,6586.0,5154.0,5073.0,2584.4,10.3,-146.0,-501.8,52.6,-2.68
15,AAL,2015-12-01,6254.0,1425.0,9985.0,48415.0,13605.0,42780.0,624.6,9.02,...,3.65,8893.0,7339.0,7284.0,3931.3,NM,-604.0,107.5,657.5,0.15
16,AAL,2016-12-01,6359.0,1594.0,10324.0,51274.0,13872.0,47489.0,507.3,7.46,...,8.67,7678.0,5936.0,5860.0,3077.5,37.8,-72.0,-358.9,260.5,1.44
17,AAL,2017-12-01,5066.0,1752.0,9146.0,52785.0,15358.0,53565.0,475.5,-1.64,...,15.44,7120.0,5147.0,5103.0,2594.4,62.2,-37.0,-660.8,-2.6,-2.51
18,AAL,2018-12-01,4760.0,1706.0,8637.0,60580.0,18096.0,60749.0,460.6,-0.37,...,13.17,5916.0,3798.0,3757.0,1746.3,25.1,-112.0,737.1,1397.1,-0.46
19,AAL,2019-12-01,3826.0,1750.0,8206.0,59995.0,18311.0,60113.0,428.2,-0.28,...,10.56,6207.0,3930.0,3889.0,1817.5,25.3,4,-17.8,666.6,-1.02
20,AAP,2011-01-01,59.2,124.2,2124.3,3354.2,1848.0,2314.8,81.6,12.74,...,6.08,749.4,586,584.9,348.2,37.9,-40.8,437.5,459.5,5.42
21,AAP,2011-12-01,57.9,140.0,2293.8,3655.8,2187.9,2807.8,72.6,11.68,...,4.70,840.6,666.4,664.6,395.8,37.7,-1.3,523.8,546.2,7.41
22,AAP,2012-12-01,598.1,229.9,3184.2,4613.8,2559.6,3403.1,73.2,16.54,...,4.54,846.9,661,657.3,390.0,37.9,540.2,352.5,373.7,5.67
23,AAP,2013-12-01,1112.5,277.6,3989.4,5564.8,2764.8,4048.6,72.6,20.88,...,4.49,901.1,701.3,693.3,412.1,37.5,514.4,352.6,375.5,4.79
24,AAP,2015-01-01,104.7,579.8,4741.0,7962.4,3654.4,5959.4,72.8,27.52,...,3.56,1230.5,1002.3,945.8,547.2,36.8,-1007.8,-262.5,-216.7,6.59
25,AAP,2016-01-01,90.8,597.8,4940.7,8127.7,3797.5,5667.1,73.0,33.69,...,3.73,1106.3,889.9,836.8,477.4,37.1,-13.9,486.6,527.5,6.39
26,AAP,2016-12-01,135.2,641.3,5172.8,8315.0,3676.0,5398.8,73.5,39.66,...,3.86,1048.8,838.4,790.4,463.5,37.8,44.4,185.7,223.1,3.59
27,AAP,2017-12-01,546.9,606.4,5426.9,8482.3,3480.1,5067.1,73.6,46.41,...,3.75,832.8,630.9,583.5,333.5,8.6,411.8,384.4,421.1,5.57
28,AAP,2018-12-01,896.5,625.0,6082.5,9040.6,3886.0,5489.8,72.1,49.28,...,4.20,963.7,766.2,725.5,422.8,23.7,349.6,590.3,625.7,8.37
29,AAP,2019-12-01,418.7,689.5,5695.5,11248.5,4477.7,7699.4,68.8,51.61,...,3.53,995.2,788.5,756.8,448.8,23.7,-477.9,275.2,300.2,5.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,XRX,2010-12-01,1211.0,2916.0,8639.0,30600.0,6417.0,18092.0,349.4,34.36,...,37.95,2471.0,2092.0,1764.0,895.3,28.7,-2588.0,1665.3,1881.5,6.63
3941,XRX,2011-12-01,902,2697.0,7912.0,30116.0,6381.0,17742.0,334.3,35.52,...,20.46,2935.0,2236.0,1838.0,1027.0,22.4,-309.0,2022.4,2176.8,4.14
3942,XRX,2012-12-01,1246.0,3017.0,8273.0,30015.0,5910.0,18002.0,305.9,37.66,...,21.34,2716.0,2083.0,1690.0,963.3,17.8,344,1699.1,1842.3,6.28
3943,XRX,2013-12-01,1764.0,3114.0,8511.0,29036.0,5686.0,16268.0,297.1,41.40,...,25.54,2524.0,1909.0,1504.0,873.1,17.9,518,1634.0,1784.0,6.28
3944,XRX,2014-12-01,1411.0,2803.0,8874.0,27658.0,6076.0,16556.0,279.2,38.25,...,30.90,1922.0,1446.0,1381.0,775.8,15.8,-373.0,611.9,753.1,6.46
3945,XRX,2015-12-01,1228.0,1149.0,6685.0,25541.0,5254.0,16075.0,253.2,35.84,...,72.77,1621.0,1184.0,1124.0,603.3,18.7,-24.0,2685.5,2820.5,5.41
3946,XRX,2016-12-01,2223.0,1194.0,6992.0,18051.0,4654.0,13090.0,253.6,18.57,...,NM,1509.0,1085.0,1027.0,571.5,8.9,1018.0,1042.8,1155.9,2.51
3947,XRX,2017-12-01,1293.0,1400.0,5230.0,15946.0,2741.0,10439.0,254.6,20.64,...,149.23,1346.0,945,892,477.3,87.0,-1034.0,605.1,679.5,-1.53
3948,XRX,2018-12-01,1081.0,1284.0,4713.0,14874.0,3251.0,9621.0,229.6,21.80,...,74.52,1340.0,987,939,517.9,44.3,-220.0,1100.6,1171.9,4.17
3949,XRX,2019-12-01,2740.0,1263.0,6140.0,15047.0,3435.0,9239.0,212.6,26.28,...,17.96,1500.0,1174.0,1129.0,640.8,21.6,1647.0,1294.0,1359.6,5.65
3950,YUM,2010-12-01,1434.0,371,2313.0,8316.0,2448.0,6647.0,469,3.36,...,35.58,2434.0,1874.0,1845.0,1053.8,26.1,1073.0,1028.3,1150.1,2.47
3951,YUM,2011-12-01,1208.0,436,2321.0,8834.0,2450.0,6918.0,460,3.96,...,36.47,2635.0,2029.0,1998.0,1168.4,19.5,-228.0,1010.8,1125.8,2.62
3952,YUM,2012-12-01,776,356,1925.0,9013.0,2279.0,6701.0,451,4.78,...,34.06,2902.0,2265.0,2237.0,1319.6,25.0,-422.0,1024.0,1117.1,2.59
3953,YUM,2013-12-01,573,408,1691.0,8695.0,2265.0,6427.0,443,4.89,...,56.37,2758.0,2065.0,2037.0,1229.5,31.4,-203.0,869.5,950.1,2.41
3954,YUM,2014-12-01,578,380,1553.0,8334.0,2409.0,6721.0,434,3.56,...,63.65,1861.0,1546.0,1533.0,861.9,26.8,66,824.8,914.1,1.60
3955,YUM,2015-12-01,313,363,1687.0,8061.0,3087.0,7086.0,420,2.17,...,56.90,1839.0,1533.0,1520.0,849.4,26.1,-28.0,402.4,498,1.88
3956,YUM,2016-12-01,725,414,1505.0,5453.0,1306.0,11068.0,355,-15.82,...,45.28,1895.0,1616.0,1585.0,803.8,24.3,466,414.8,621.6,2.08
3957,YUM,2017-12-01,1531.0,575,2507.0,5311.0,1512.0,11645.0,332,-19.08,...,31.04,1999.0,1779.0,1746.0,811.9,41.1,768,496.6,792.3,2.05
3958,YUM,2018-12-01,313,597,1207.0,4130.0,1301.0,12056.0,306,-25.90,...,29.96,1899.0,1799.0,1762.0,823.8,16.2,-1194.0,669.3,979.3,2.93
3959,YUM,2019-12-01,611,623,1527.0,5231.0,1541.0,13247.0,300,-26.72,...,39.49,2018.0,1958.0,1906.0,894.4,5.8,294,882.9,1207.3,3.66
3960,ZBH,2010-12-01,934,775.9,3009.7,7999.9,702.5,2228.6,195.6,29.51,...,0,1572.0,1324.1,1231.8,734.6,30.6,-22.8,770.3,807.9,4.57
3961,ZBH,2011-12-01,1223.8,838.8,3276.6,8515.3,867.1,3000.5,178.0,30.94,...,0,1628.4,1362.3,1268.5,765.4,22.4,99.4,945.5,980,4.84
3962,ZBH,2012-12-01,1555.9,884.6,3708.7,9012.4,866,3146.1,171.6,34.15,...,12.50,1677.2,1415.7,1318.6,790.4,24.0,116,878.9,924.4,5.08
3963,ZBH,2013-12-01,1807.6,936.6,4197.7,9580.6,1031.6,3280.5,169.8,37.09,...,16.97,1686.4,1412.4,1333.9,797.7,22.8,196.3,926.4,970.2,3.95
3964,ZBH,2014-12-01,1695.8,912.1,4313.3,9658.0,1024.0,3106.3,169.7,38.60,...,20.20,1781.1,1497.8,1405.3,818.2,23.4,2.7,627.5,666.9,4.25
3965,ZBH,2015-12-01,1623.9,1446.5,5853.7,27160.6,1617.9,17271.2,202.7,48.78,...,106.87,2337.0,1962.0,1624.6,822.4,4.6,376,292.3,471.4,2.22
3966,ZBH,2016-12-01,634.1,1604.4,4663.6,26684.4,2381.5,17014.5,200.6,48.20,...,61.59,2811.3,2337.9,1772.0,875.6,23.8,-825.2,1798.8,2062.2,5.51
3967,ZBH,2017-12-01,524.4,1544.1,4564.8,26014.0,3069.7,14278.5,202.6,57.93,...,10.67,2696.3,2237.5,1633.6,807.6,NM,-109.7,1469.0,1672.3,5.40
3968,ZBH,2018-12-01,542.8,1275.8,4427.4,24126.8,2421.3,12850.7,204.0,55.25,...,NM,2472.3,2027.7,1431.8,703.9,NM,18.4,1588.5,1769.3,6.43
3969,ZBH,2019-12-01,617.9,1363.9,4723.9,24638.7,3441.5,12245.9,206.0,60.14,...,17.38,2361.3,1939.5,1355.2,696.3,NM,75.1,834.6,976.4,4.22

In [153]:
len(fully_merged_statements_df)

3970

In [154]:
prices_fmsdf = fully_merged_statements_df['Price']

In [155]:
fully_merged_statements_df = fully_merged_statements_df.drop(['Price'], axis = 1)
fully_merged_statements_df

,Company,Time,Total Cash & ST Investments,Total Receivables,Total Current Assets,Total Assets,Total Current Liabilities,Total Liabilities,Total Common Shares Outstanding,Book Value / Share,...,Payout Ratio,EBITDA,EBITA,EBIT,Normalized Net Income,Effective Tax Rate,Net Change in Cash,Levered Free Cash Flow,Unlevered Free Cash Flow,Free Cash Flow / Share
0,A,2010-10-01,2649.0,869,6169.0,9696.0,3083.0,6460.0,346.1,9.33,...,0,934,809,732,452.5,1.2,170,-1047.5,-987.5,1.72
1,A,2011-10-01,3530.0,902,5569.0,9057.0,1837.0,4741.0,346.4,12.44,...,0,1324.0,1184.0,1071.0,641.3,1.9,878,2236.6,2290.4,3.09
2,A,2012-10-01,2362.0,988,4629.0,10536.0,1893.0,5351.0,346.5,14.96,...,9.02,1420.0,1270.0,1134.0,668.8,NM,-1176.0,644.6,707.8,2.97
3,A,2013-10-01,2675.0,941,4983.0,10686.0,1602.0,5397.0,332.3,15.91,...,21.25,758,576,386,183.1,23.2,324,320.4,387.3,2.81
4,A,2014-10-01,2218.0,708,5509.0,10815.0,1692.0,5511.0,335.0,15.83,...,32.06,803,608,419,198.8,NM,353,-461.9,-393.1,1.58
5,A,2015-10-01,2003.0,710,3686.0,7479.0,976,3309.0,331.5,12.57,...,33.17,778,683,525,301.9,8.8,-215.0,1388.9,1430.1,3.68
6,A,2016-10-01,2289.0,714,3635.0,7794.0,945,3548.0,323.5,13.12,...,32.47,944,852,698,403.1,15.1,286,864.3,909.3,2.01
7,A,2017-10-01,2678.0,801,4169.0,8426.0,1263.0,3591.0,322.0,15.00,...,24.85,1065.0,973,853,509.4,14.8,391,543.8,593.1,2.21
8,A,2018-10-01,2247.0,835,3848.0,8541.0,1171.0,3970.0,317.7,14.37,...,60.44,1207.0,1107.0,997,612.5,66.6,-432.0,688.3,735.1,2.83
9,A,2019-10-01,1382.0,998,3189.0,9452.0,2080.0,4704.0,309.1,15.36,...,19.23,1281.0,1171.0,1043.0,635.6,NM,-866.0,846.6,892.9,2.75
10,AAL,2010-12-01,4496.0,738,6838.0,25088.0,8780.0,29033.0,333.4,-11.83,...,0,1401.0,434,308,-316.3,NM,15,-934.5,-439.5,-2.17
11,AAL,2011-12-01,4001.0,902,6757.0,23848.0,9119.0,30959.0,335.3,-21.21,...,0,1561.0,502,475,-218.1,0,115,-408.0,98.9,-6.97
12,AAL,2012-12-01,3892.0,1124.0,7072.0,23510.0,9453.0,31497.0,121.5,-65.73,...,0,1550.0,560,535,-81.3,NM,197,-895.6,-500.6,-2.42
13,AAL,2013-12-01,9251.0,1560.0,14323.0,42278.0,13806.0,45009.0,526.8,-5.18,...,0,2955.0,1955.0,1935.0,650,NM,660,1106.4,1641.4,-8.70
14,AAL,2014-12-01,7303.0,1771.0,11750.0,43225.0,13404.0,41204.0,697.5,2.90,...,5.00,6586.0,5154.0,5073.0,2584.4,10.3,-146.0,-501.8,52.6,-2.68
15,AAL,2015-12-01,6254.0,1425.0,9985.0,48415.0,13605.0,42780.0,624.6,9.02,...,3.65,8893.0,7339.0,7284.0,3931.3,NM,-604.0,107.5,657.5,0.15
16,AAL,2016-12-01,6359.0,1594.0,10324.0,51274.0,13872.0,47489.0,507.3,7.46,...,8.67,7678.0,5936.0,5860.0,3077.5,37.8,-72.0,-358.9,260.5,1.44
17,AAL,2017-12-01,5066.0,1752.0,9146.0,52785.0,15358.0,53565.0,475.5,-1.64,...,15.44,7120.0,5147.0,5103.0,2594.4,62.2,-37.0,-660.8,-2.6,-2.51
18,AAL,2018-12-01,4760.0,1706.0,8637.0,60580.0,18096.0,60749.0,460.6,-0.37,...,13.17,5916.0,3798.0,3757.0,1746.3,25.1,-112.0,737.1,1397.1,-0.46
19,AAL,2019-12-01,3826.0,1750.0,8206.0,59995.0,18311.0,60113.0,428.2,-0.28,...,10.56,6207.0,3930.0,3889.0,1817.5,25.3,4,-17.8,666.6,-1.02
20,AAP,2011-01-01,59.2,124.2,2124.3,3354.2,1848.0,2314.8,81.6,12.74,...,6.08,749.4,586,584.9,348.2,37.9,-40.8,437.5,459.5,5.42
21,AAP,2011-12-01,57.9,140.0,2293.8,3655.8,2187.9,2807.8,72.6,11.68,...,4.70,840.6,666.4,664.6,395.8,37.7,-1.3,523.8,546.2,7.41
22,AAP,2012-12-01,598.1,229.9,3184.2,4613.8,2559.6,3403.1,73.2,16.54,...,4.54,846.9,661,657.3,390.0,37.9,540.2,352.5,373.7,5.67
23,AAP,2013-12-01,1112.5,277.6,3989.4,5564.8,2764.8,4048.6,72.6,20.88,...,4.49,901.1,701.3,693.3,412.1,37.5,514.4,352.6,375.5,4.79
24,AAP,2015-01-01,104.7,579.8,4741.0,7962.4,3654.4,5959.4,72.8,27.52,...,3.56,1230.5,1002.3,945.8,547.2,36.8,-1007.8,-262.5,-216.7,6.59
25,AAP,2016-01-01,90.8,597.8,4940.7,8127.7,3797.5,5667.1,73.0,33.69,...,3.73,1106.3,889.9,836.8,477.4,37.1,-13.9,486.6,527.5,6.39
26,AAP,2016-12-01,135.2,641.3,5172.8,8315.0,3676.0,5398.8,73.5,39.66,...,3.86,1048.8,838.4,790.4,463.5,37.8,44.4,185.7,223.1,3.59
27,AAP,2017-12-01,546.9,606.4,5426.9,8482.3,3480.1,5067.1,73.6,46.41,...,3.75,832.8,630.9,583.5,333.5,8.6,411.8,384.4,421.1,5.57
28,AAP,2018-12-01,896.5,625.0,6082.5,9040.6,3886.0,5489.8,72.1,49.28,...,4.20,963.7,766.2,725.5,422.8,23.7,349.6,590.3,625.7,8.37
29,AAP,2019-12-01,418.7,689.5,5695.5,11248.5,4477.7,7699.4,68.8,51.61,...,3.53,995.2,788.5,756.8,448.8,23.7,-477.9,275.2,300.2,5.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,XRX,2010-12-01,1211.0,2916.0,8639.0,30600.0,6417.0,18092.0,349.4,34.36,...,37.95,2471.0,2092.0,1764.0,895.3,28.7,-2588.0,1665.3,1881.5,6.63
3941,XRX,2011-12-01,902,2697.0,7912.0,30116.0,6381.0,17742.0,334.3,35.52,...,20.46,2935.0,2236.0,1838.0,1027.0,22.4,-309.0,2022.4,2176.8,4.14
3942,XRX,2012-12-01,1246.0,3017.0,8273.0,30015.0,5910.0,18002.0,305.9,37.66,...,21.34,2716.0,2083.0,1690.0,963.3,17.8,344,1699.1,1842.3,6.28
3943,XRX,2013-12-01,1764.0,3114.0,8511.0,29036.0,5686.0,16268.0,297.1,41.40,...,25.54,2524.0,1909.0,1504.0,873.1,17.9,518,1634.0,1784.0,6.28
3944,XRX,2014-12-01,1411.0,2803.0,8874.0,27658.0,6076.0,16556.0,279.2,38.25,...,30.90,1922.0,1446.0,1381.0,775.8,15.8,-373.0,611.9,753.1,6.46
3945,XRX,2015-12-01,1228.0,1149.0,6685.0,25541.0,5254.0,16075.0,253.2,35.84,...,72.77,1621.0,1184.0,1124.0,603.3,18.7,-24.0,2685.5,2820.5,5.41
3946,XRX,2016-12-01,2223.0,1194.0,6992.0,18051.0,4654.0,13090.0,253.6,18.57,...,NM,1509.0,1085.0,1027.0,571.5,8.9,1018.0,1042.8,1155.9,2.51
3947,XRX,2017-12-01,1293.0,1400.0,5230.0,15946.0,2741.0,10439.0,254.6,20.64,...,149.23,1346.0,945,892,477.3,87.0,-1034.0,605.1,679.5,-1.53
3948,XRX,2018-12-01,1081.0,1284.0,4713.0,14874.0,3251.0,9621.0,229.6,21.80,...,74.52,1340.0,987,939,517.9,44.3,-220.0,1100.6,1171.9,4.17
3949,XRX,2019-12-01,2740.0,1263.0,6140.0,15047.0,3435.0,9239.0,212.6,26.28,...,17.96,1500.0,1174.0,1129.0,640.8,21.6,1647.0,1294.0,1359.6,5.65
3950,YUM,2010-12-01,1434.0,371,2313.0,8316.0,2448.0,6647.0,469,3.36,...,35.58,2434.0,1874.0,1845.0,1053.8,26.1,1073.0,1028.3,1150.1,2.47
3951,YUM,2011-12-01,1208.0,436,2321.0,8834.0,2450.0,6918.0,460,3.96,...,36.47,2635.0,2029.0,1998.0,1168.4,19.5,-228.0,1010.8,1125.8,2.62
3952,YUM,2012-12-01,776,356,1925.0,9013.0,2279.0,6701.0,451,4.78,...,34.06,2902.0,2265.0,2237.0,1319.6,25.0,-422.0,1024.0,1117.1,2.59
3953,YUM,2013-12-01,573,408,1691.0,8695.0,2265.0,6427.0,443,4.89,...,56.37,2758.0,2065.0,2037.0,1229.5,31.4,-203.0,869.5,950.1,2.41
3954,YUM,2014-12-01,578,380,1553.0,8334.0,2409.0,6721.0,434,3.56,...,63.65,1861.0,1546.0,1533.0,861.9,26.8,66,824.8,914.1,1.60
3955,YUM,2015-12-01,313,363,1687.0,8061.0,3087.0,7086.0,420,2.17,...,56.90,1839.0,1533.0,1520.0,849.4,26.1,-28.0,402.4,498,1.88
3956,YUM,2016-12-01,725,414,1505.0,5453.0,1306.0,11068.0,355,-15.82,...,45.28,1895.0,1616.0,1585.0,803.8,24.3,466,414.8,621.6,2.08
3957,YUM,2017-12-01,1531.0,575,2507.0,5311.0,1512.0,11645.0,332,-19.08,...,31.04,1999.0,1779.0,1746.0,811.9,41.1,768,496.6,792.3,2.05
3958,YUM,2018-12-01,313,597,1207.0,4130.0,1301.0,12056.0,306,-25.90,...,29.96,1899.0,1799.0,1762.0,823.8,16.2,-1194.0,669.3,979.3,2.93
3959,YUM,2019-12-01,611,623,1527.0,5231.0,1541.0,13247.0,300,-26.72,...,39.49,2018.0,1958.0,1906.0,894.4,5.8,294,882.9,1207.3,3.66
3960,ZBH,2010-12-01,934,775.9,3009.7,7999.9,702.5,2228.6,195.6,29.51,...,0,1572.0,1324.1,1231.8,734.6,30.6,-22.8,770.3,807.9,4.57
3961,ZBH,2011-12-01,1223.8,838.8,3276.6,8515.3,867.1,3000.5,178.0,30.94,...,0,1628.4,1362.3,1268.5,765.4,22.4,99.4,945.5,980,4.84
3962,ZBH,2012-12-01,1555.9,884.6,3708.7,9012.4,866,3146.1,171.6,34.15,...,12.50,1677.2,1415.7,1318.6,790.4,24.0,116,878.9,924.4,5.08
3963,ZBH,2013-12-01,1807.6,936.6,4197.7,9580.6,1031.6,3280.5,169.8,37.09,...,16.97,1686.4,1412.4,1333.9,797.7,22.8,196.3,926.4,970.2,3.95
3964,ZBH,2014-12-01,1695.8,912.1,4313.3,9658.0,1024.0,3106.3,169.7,38.60,...,20.20,1781.1,1497.8,1405.3,818.2,23.4,2.7,627.5,666.9,4.25
3965,ZBH,2015-12-01,1623.9,1446.5,5853.7,27160.6,1617.9,17271.2,202.7,48.78,...,106.87,2337.0,1962.0,1624.6,822.4,4.6,376,292.3,471.4,2.22
3966,ZBH,2016-12-01,634.1,1604.4,4663.6,26684.4,2381.5,17014.5,200.6,48.20,...,61.59,2811.3,2337.9,1772.0,875.6,23.8,-825.2,1798.8,2062.2,5.51
3967,ZBH,2017-12-01,524.4,1544.1,4564.8,26014.0,3069.7,14278.5,202.6,57.93,...,10.67,2696.3,2237.5,1633.6,807.6,NM,-109.7,1469.0,1672.3,5.40
3968,ZBH,2018-12-01,542.8,1275.8,4427.4,24126.8,2421.3,12850.7,204.0,55.25,...,NM,2472.3,2027.7,1431.8,703.9,NM,18.4,1588.5,1769.3,6.43
3969,ZBH,2019-12-01,617.9,1363.9,4723.9,24638.7,3441.5,12245.9,206.0,60.14,...,17.38,2361.3,1939.5,1355.2,696.3,NM,75.1,834.6,976.4,4.22

In [156]:
fully_merged_statements_df.insert(fully_merged_statements_df.shape[1], "Price", prices_fmsdf)
fully_merged_statements_df['Price']

0        24.12
1        21.02
2        27.79
3        37.11
4        40.19
5        33.74
6        47.14
7        64.87
8        71.26
9        74.84
10       11.26
11        4.94
12       12.66
13       23.04
14       47.88
15       43.26
16       45.75
17       49.00
18       39.65
19       28.08
20       65.50
21       68.75
22       73.17
23      103.05
24      158.56
25      152.24
26      170.76
27       99.28
28      177.89
29      156.55
         ...
3940     30.98
3941     21.58
3942     17.89
3943     30.40
3944     36.44
3945     28.16
3946     24.90
3947     29.72
3948     27.50
3949     38.50
3950     36.25
3951     40.48
3952     48.03
3953     55.88
3954     55.64
3955     53.56
3956     62.69
3957     83.40
3958     92.07
3959    100.56
3960     50.13
3961     50.86
3962     65.45
3963     91.04
3964    111.47
3965    102.72
3966     99.79
3967    114.57
3968    116.44
3969    144.46
Name: Price, Length: 3970, dtype: float64

In [157]:
fully_merged_statements_df['Price']

0        24.12
1        21.02
2        27.79
3        37.11
4        40.19
5        33.74
6        47.14
7        64.87
8        71.26
9        74.84
10       11.26
11        4.94
12       12.66
13       23.04
14       47.88
15       43.26
16       45.75
17       49.00
18       39.65
19       28.08
20       65.50
21       68.75
22       73.17
23      103.05
24      158.56
25      152.24
26      170.76
27       99.28
28      177.89
29      156.55
         ...
3940     30.98
3941     21.58
3942     17.89
3943     30.40
3944     36.44
3945     28.16
3946     24.90
3947     29.72
3948     27.50
3949     38.50
3950     36.25
3951     40.48
3952     48.03
3953     55.88
3954     55.64
3955     53.56
3956     62.69
3957     83.40
3958     92.07
3959    100.56
3960     50.13
3961     50.86
3962     65.45
3963     91.04
3964    111.47
3965    102.72
3966     99.79
3967    114.57
3968    116.44
3969    144.46
Name: Price, Length: 3970, dtype: float64

In [158]:
fully_merged_statements_df

,Company,Time,Total Cash & ST Investments,Total Receivables,Total Current Assets,Total Assets,Total Current Liabilities,Total Liabilities,Total Common Shares Outstanding,Book Value / Share,...,EBITDA,EBITA,EBIT,Normalized Net Income,Effective Tax Rate,Net Change in Cash,Levered Free Cash Flow,Unlevered Free Cash Flow,Free Cash Flow / Share,Price
0,A,2010-10-01,2649.0,869,6169.0,9696.0,3083.0,6460.0,346.1,9.33,...,934,809,732,452.5,1.2,170,-1047.5,-987.5,1.72,24.12
1,A,2011-10-01,3530.0,902,5569.0,9057.0,1837.0,4741.0,346.4,12.44,...,1324.0,1184.0,1071.0,641.3,1.9,878,2236.6,2290.4,3.09,21.02
2,A,2012-10-01,2362.0,988,4629.0,10536.0,1893.0,5351.0,346.5,14.96,...,1420.0,1270.0,1134.0,668.8,NM,-1176.0,644.6,707.8,2.97,27.79
3,A,2013-10-01,2675.0,941,4983.0,10686.0,1602.0,5397.0,332.3,15.91,...,758,576,386,183.1,23.2,324,320.4,387.3,2.81,37.11
4,A,2014-10-01,2218.0,708,5509.0,10815.0,1692.0,5511.0,335.0,15.83,...,803,608,419,198.8,NM,353,-461.9,-393.1,1.58,40.19
5,A,2015-10-01,2003.0,710,3686.0,7479.0,976,3309.0,331.5,12.57,...,778,683,525,301.9,8.8,-215.0,1388.9,1430.1,3.68,33.74
6,A,2016-10-01,2289.0,714,3635.0,7794.0,945,3548.0,323.5,13.12,...,944,852,698,403.1,15.1,286,864.3,909.3,2.01,47.14
7,A,2017-10-01,2678.0,801,4169.0,8426.0,1263.0,3591.0,322.0,15.00,...,1065.0,973,853,509.4,14.8,391,543.8,593.1,2.21,64.87
8,A,2018-10-01,2247.0,835,3848.0,8541.0,1171.0,3970.0,317.7,14.37,...,1207.0,1107.0,997,612.5,66.6,-432.0,688.3,735.1,2.83,71.26
9,A,2019-10-01,1382.0,998,3189.0,9452.0,2080.0,4704.0,309.1,15.36,...,1281.0,1171.0,1043.0,635.6,NM,-866.0,846.6,892.9,2.75,74.84
10,AAL,2010-12-01,4496.0,738,6838.0,25088.0,8780.0,29033.0,333.4,-11.83,...,1401.0,434,308,-316.3,NM,15,-934.5,-439.5,-2.17,11.26
11,AAL,2011-12-01,4001.0,902,6757.0,23848.0,9119.0,30959.0,335.3,-21.21,...,1561.0,502,475,-218.1,0,115,-408.0,98.9,-6.97,4.94
12,AAL,2012-12-01,3892.0,1124.0,7072.0,23510.0,9453.0,31497.0,121.5,-65.73,...,1550.0,560,535,-81.3,NM,197,-895.6,-500.6,-2.42,12.66
13,AAL,2013-12-01,9251.0,1560.0,14323.0,42278.0,13806.0,45009.0,526.8,-5.18,...,2955.0,1955.0,1935.0,650,NM,660,1106.4,1641.4,-8.70,23.04
14,AAL,2014-12-01,7303.0,1771.0,11750.0,43225.0,13404.0,41204.0,697.5,2.90,...,6586.0,5154.0,5073.0,2584.4,10.3,-146.0,-501.8,52.6,-2.68,47.88
15,AAL,2015-12-01,6254.0,1425.0,9985.0,48415.0,13605.0,42780.0,624.6,9.02,...,8893.0,7339.0,7284.0,3931.3,NM,-604.0,107.5,657.5,0.15,43.26
16,AAL,2016-12-01,6359.0,1594.0,10324.0,51274.0,13872.0,47489.0,507.3,7.46,...,7678.0,5936.0,5860.0,3077.5,37.8,-72.0,-358.9,260.5,1.44,45.75
17,AAL,2017-12-01,5066.0,1752.0,9146.0,52785.0,15358.0,53565.0,475.5,-1.64,...,7120.0,5147.0,5103.0,2594.4,62.2,-37.0,-660.8,-2.6,-2.51,49.00
18,AAL,2018-12-01,4760.0,1706.0,8637.0,60580.0,18096.0,60749.0,460.6,-0.37,...,5916.0,3798.0,3757.0,1746.3,25.1,-112.0,737.1,1397.1,-0.46,39.65
19,AAL,2019-12-01,3826.0,1750.0,8206.0,59995.0,18311.0,60113.0,428.2,-0.28,...,6207.0,3930.0,3889.0,1817.5,25.3,4,-17.8,666.6,-1.02,28.08
20,AAP,2011-01-01,59.2,124.2,2124.3,3354.2,1848.0,2314.8,81.6,12.74,...,749.4,586,584.9,348.2,37.9,-40.8,437.5,459.5,5.42,65.50
21,AAP,2011-12-01,57.9,140.0,2293.8,3655.8,2187.9,2807.8,72.6,11.68,...,840.6,666.4,664.6,395.8,37.7,-1.3,523.8,546.2,7.41,68.75
22,AAP,2012-12-01,598.1,229.9,3184.2,4613.8,2559.6,3403.1,73.2,16.54,...,846.9,661,657.3,390.0,37.9,540.2,352.5,373.7,5.67,73.17
23,AAP,2013-12-01,1112.5,277.6,3989.4,5564.8,2764.8,4048.6,72.6,20.88,...,901.1,701.3,693.3,412.1,37.5,514.4,352.6,375.5,4.79,103.05
24,AAP,2015-01-01,104.7,579.8,4741.0,7962.4,3654.4,5959.4,72.8,27.52,...,1230.5,1002.3,945.8,547.2,36.8,-1007.8,-262.5,-216.7,6.59,158.56
25,AAP,2016-01-01,90.8,597.8,4940.7,8127.7,3797.5,5667.1,73.0,33.69,...,1106.3,889.9,836.8,477.4,37.1,-13.9,486.6,527.5,6.39,152.24
26,AAP,2016-12-01,135.2,641.3,5172.8,8315.0,3676.0,5398.8,73.5,39.66,...,1048.8,838.4,790.4,463.5,37.8,44.4,185.7,223.1,3.59,170.76
27,AAP,2017-12-01,546.9,606.4,5426.9,8482.3,3480.1,5067.1,73.6,46.41,...,832.8,630.9,583.5,333.5,8.6,411.8,384.4,421.1,5.57,99.28
28,AAP,2018-12-01,896.5,625.0,6082.5,9040.6,3886.0,5489.8,72.1,49.28,...,963.7,766.2,725.5,422.8,23.7,349.6,590.3,625.7,8.37,177.89
29,AAP,2019-12-01,418.7,689.5,5695.5,11248.5,4477.7,7699.4,68.8,51.61,...,995.2,788.5,756.8,448.8,23.7,-477.9,275.2,300.2,5.58,156.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,XRX,2010-12-01,1211.0,2916.0,8639.0,30600.0,6417.0,18092.0,349.4,34.36,...,2471.0,2092.0,1764.0,895.3,28.7,-2588.0,1665.3,1881.5,6.63,30.98
3941,XRX,2011-12-01,902,2697.0,7912.0,30116.0,6381.0,17742.0,334.3,35.52,...,2935.0,2236.0,1838.0,1027.0,22.4,-309.0,2022.4,2176.8,4.14,21.58
3942,XRX,2012-12-01,1246.0,3017.0,8273.0,30015.0,5910.0,18002.0,305.9,37.66,...,2716.0,2083.0,1690.0,963.3,17.8,344,1699.1,1842.3,6.28,17.89
3943,XRX,2013-12-01,1764.0,3114.0,8511.0,29036.0,5686.0,16268.0,297.1,41.40,...,2524.0,1909.0,1504.0,873.1,17.9,518,1634.0,1784.0,6.28,30.40
3944,XRX,2014-12-01,1411.0,2803.0,8874.0,27658.0,6076.0,16556.0,279.2,38.25,...,1922.0,1446.0,1381.0,775.8,15.8,-373.0,611.9,753.1,6.46,36.44
3945,XRX,2015-12-01,1228.0,1149.0,6685.0,25541.0,5254.0,16075.0,253.2,35.84,...,1621.0,1184.0,1124.0,603.3,18.7,-24.0,2685.5,2820.5,5.41,28.16
3946,XRX,2016-12-01,2223.0,1194.0,6992.0,18051.0,4654.0,13090.0,253.6,18.57,...,1509.0,1085.0,1027.0,571.5,8.9,1018.0,1042.8,1155.9,2.51,24.90
3947,XRX,2017-12-01,1293.0,1400.0,5230.0,15946.0,2741.0,10439.0,254.6,20.64,...,1346.0,945,892,477.3,87.0,-1034.0,605.1,679.5,-1.53,29.72
3948,XRX,2018-12-01,1081.0,1284.0,4713.0,14874.0,3251.0,9621.0,229.6,21.80,...,1340.0,987,939,517.9,44.3,-220.0,1100.6,1171.9,4.17,27.50
3949,XRX,2019-12-01,2740.0,1263.0,6140.0,15047.0,3435.0,9239.0,212.6,26.28,...,1500.0,1174.0,1129.0,640.8,21.6,1647.0,1294.0,1359.6,5.65,38.50
3950,YUM,2010-12-01,1434.0,371,2313.0,8316.0,2448.0,6647.0,469,3.36,...,2434.0,1874.0,1845.0,1053.8,26.1,1073.0,1028.3,1150.1,2.47,36.25
3951,YUM,2011-12-01,1208.0,436,2321.0,8834.0,2450.0,6918.0,460,3.96,...,2635.0,2029.0,1998.0,1168.4,19.5,-228.0,1010.8,1125.8,2.62,40.48
3952,YUM,2012-12-01,776,356,1925.0,9013.0,2279.0,6701.0,451,4.78,...,2902.0,2265.0,2237.0,1319.6,25.0,-422.0,1024.0,1117.1,2.59,48.03
3953,YUM,2013-12-01,573,408,1691.0,8695.0,2265.0,6427.0,443,4.89,...,2758.0,2065.0,2037.0,1229.5,31.4,-203.0,869.5,950.1,2.41,55.88
3954,YUM,2014-12-01,578,380,1553.0,8334.0,2409.0,6721.0,434,3.56,...,1861.0,1546.0,1533.0,861.9,26.8,66,824.8,914.1,1.60,55.64
3955,YUM,2015-12-01,313,363,1687.0,8061.0,3087.0,7086.0,420,2.17,...,1839.0,1533.0,1520.0,849.4,26.1,-28.0,402.4,498,1.88,53.56
3956,YUM,2016-12-01,725,414,1505.0,5453.0,1306.0,11068.0,355,-15.82,...,1895.0,1616.0,1585.0,803.8,24.3,466,414.8,621.6,2.08,62.69
3957,YUM,2017-12-01,1531.0,575,2507.0,5311.0,1512.0,11645.0,332,-19.08,...,1999.0,1779.0,1746.0,811.9,41.1,768,496.6,792.3,2.05,83.40
3958,YUM,2018-12-01,313,597,1207.0,4130.0,1301.0,12056.0,306,-25.90,...,1899.0,1799.0,1762.0,823.8,16.2,-1194.0,669.3,979.3,2.93,92.07
3959,YUM,2019-12-01,611,623,1527.0,5231.0,1541.0,13247.0,300,-26.72,...,2018.0,1958.0,1906.0,894.4,5.8,294,882.9,1207.3,3.66,100.56
3960,ZBH,2010-12-01,934,775.9,3009.7,7999.9,702.5,2228.6,195.6,29.51,...,1572.0,1324.1,1231.8,734.6,30.6,-22.8,770.3,807.9,4.57,50.13
3961,ZBH,2011-12-01,1223.8,838.8,3276.6,8515.3,867.1,3000.5,178.0,30.94,...,1628.4,1362.3,1268.5,765.4,22.4,99.4,945.5,980,4.84,50.86
3962,ZBH,2012-12-01,1555.9,884.6,3708.7,9012.4,866,3146.1,171.6,34.15,...,1677.2,1415.7,1318.6,790.4,24.0,116,878.9,924.4,5.08,65.45
3963,ZBH,2013-12-01,1807.6,936.6,4197.7,9580.6,1031.6,3280.5,169.8,37.09,...,1686.4,1412.4,1333.9,797.7,22.8,196.3,926.4,970.2,3.95,91.04
3964,ZBH,2014-12-01,1695.8,912.1,4313.3,9658.0,1024.0,3106.3,169.7,38.60,...,1781.1,1497.8,1405.3,818.2,23.4,2.7,627.5,666.9,4.25,111.47
3965,ZBH,2015-12-01,1623.9,1446.5,5853.7,27160.6,1617.9,17271.2,202.7,48.78,...,2337.0,1962.0,1624.6,822.4,4.6,376,292.3,471.4,2.22,102.72
3966,ZBH,2016-12-01,634.1,1604.4,4663.6,26684.4,2381.5,17014.5,200.6,48.20,...,2811.3,2337.9,1772.0,875.6,23.8,-825.2,1798.8,2062.2,5.51,99.79
3967,ZBH,2017-12-01,524.4,1544.1,4564.8,26014.0,3069.7,14278.5,202.6,57.93,...,2696.3,2237.5,1633.6,807.6,NM,-109.7,1469.0,1672.3,5.40,114.57
3968,ZBH,2018-12-01,542.8,1275.8,4427.4,24126.8,2421.3,12850.7,204.0,55.25,...,2472.3,2027.7,1431.8,703.9,NM,18.4,1588.5,1769.3,6.43,116.44
3969,ZBH,2019-12-01,617.9,1363.9,4723.9,24638.7,3441.5,12245.9,206.0,60.14,...,2361.3,1939.5,1355.2,696.3,NM,75.1,834.6,976.4,4.22,144.46

In [160]:
import os
import pymysql
import pandas as pd
import numpy as np
import re
from pandas.io import sql
import MySQLdb
from sqlalchemy import create_engine

In [161]:
engine = create_engine("mysql+pymysql://pythonlink:pythonlinkp@localhost:3306/stock_forecast_v1")
#TKO_is.to_sql('test_table', con= engine, if_exists= 'append', index = False)
fully_merged_statements_df.to_sql('merged_statements_data_v1', con= engine, if_exists= 'append', index = False, index_label = False)

In [101]:
IS_DIS2 = fully_merged_statements_df['Company'] == 'DIS'
subset_fully_merged_statements_df = fully_merged_statements_df[IS_DIS2]
subset_fully_merged_statements_df

,Company,Time,Total Cash & ST Investments,Total Receivables,Total Current Assets,Total Assets,Total Current Liabilities,Total Liabilities,Total Common Shares Outstanding,Book Value / Share,...,Payout Ratio,EBITDA,EBITA,EBIT,Normalized Net Income,Effective Tax Rate,Net Change in Cash,Levered Free Cash Flow,Unlevered Free Cash Flow,Free Cash Flow / Share
1230,DIS,2010-10-01,"2,722.0","5,784.0","12,225.0","69,206.0","11,000.0","29,864.0","1,894.0",19.81,...,16.48,"8,439.0","6,837.0","6,726.0","3,873.1",34.9,-695.0,"3,934.8","4,219.8",2.33
1231,DIS,2011-10-01,"3,185.0","6,182.0","13,757.0","72,124.0","12,088.0","32,671.0","1,808.0",20.68,...,15.73,"9,622.0","7,963.0","7,781.0","4,578.4",34.6,463,"2,677.3","2,949.1",1.83
1232,DIS,2012-09-01,"3,387.0","6,540.0","13,709.0","74,898.0","12,813.0","32,940.0","1,780.0",22.34,...,18.94,"10,971.0","9,187.0","8,984.0","5,285.3",33.3,202,"4,423.0","4,718.0",2.33
1233,DIS,2013-09-01,"3,931.0","6,967.0","14,109.0","81,241.0","11,704.0","33,091.0","1,773.0",25.62,...,21.58,"11,642.0","9,685.0","9,450.0","5,687.5",31.0,544,"6,604.1","6,822.3",3.71
1234,DIS,2014-09-01,"3,421.0","7,822.0","15,169.0","84,141.0","13,292.0","35,963.0","1,707.0",26.34,...,20.10,"13,828.0","11,764.0","11,540.0","7,043.9",34.6,-510.0,"5,879.8","6,063.5",3.72
1235,DIS,2015-10-01,"4,269.0","8,019.0","16,758.0","88,182.0","16,334.0","39,527.0","1,661.0",26.81,...,36.54,"15,578.0","13,446.0","13,224.0","8,213.1",36.2,"1,037.0","6,501.4","6,667.0",4.20
1236,DIS,2016-10-01,"4,610.0","9,065.0","16,966.0","92,033.0","16,842.0","44,710.0","1,597.0",27.09,...,24.63,"17,014.0","14,694.0","14,487.0","9,071.6",34.2,35,"8,497.1","8,718.4",5.13
1237,DIS,2017-09-01,"4,017.0","8,633.0","15,889.0","95,789.0","19,595.0","49,637.0","1,517.0",27.23,...,27.23,"16,655.0","14,069.0","13,873.0","8,227.1",32.1,-696.0,"8,628.8","8,945.6",5.56
1238,DIS,2018-09-01,"4,150.0","9,334.0","16,825.0","98,598.0","17,860.0","44,643.0","1,488.0",32.78,...,19.96,"17,848.0","15,090.0","14,837.0","8,382.6",11.3,91,"7,629.9","8,056.1",6.56
1239,DIS,2019-09-01,"5,418.0","15,481.0","28,124.0","193,984.0","31,341.0","91,132.0","1,802.0",49.32,...,26.19,"16,113.2","13,276.2","11,953.2","6,321.9",21.7,"1,300.0","5,065.0","5,843.8",1.04

In [75]:
subset_fully_merged_statements_df['Price']

1230     33.34
1231     29.00
1232     49.66
1233     60.93
1234     90.80
1235    102.67
1236     92.49
1237    101.50
1238    110.85
1239    136.31
Name: Price, dtype: float64

In [76]:
subset_fully_merged_statement_columns = []
for col in fully_merged_statements_df.columns:
    subset_fully_merged_statement_columns.append(col)
    print(col)

Company
Time
Total Cash & ST Investments
Total Receivables
Total Current Assets
Total Assets
Total Current Liabilities
Total Liabilities
Total Common Shares Outstanding
Book Value / Share
Tangible Book Value
Tangible Book Value Per Share
Total Debt
Net Debt
Price
Total Revenues
Cost Of Revenues
Gross Profit
Total Operating Expenses
Operating Income
Net Income
Revenue Per Share
Basic EPS
Normalized Basic EPS
Dividend Per Share
Payout Ratio
EBITDA
EBITA
EBIT
Normalized Net Income
Effective Tax Rate
Net Change in Cash
Levered Free Cash Flow
Unlevered Free Cash Flow
Free Cash Flow / Share

In [48]:
# DIS Balance Sheet
bal_sheets_DIS = bal_sheets['Company'] == 'DIS'
subset_bal_sheets_DIS = bal_sheets[bal_sheets_DIS]
subset_bal_sheets_DIS

,Company,Time,Total Cash & ST Investments,Total Receivables,Total Current Assets,Total Assets,Total Current Liabilities,Total Liabilities,Total Common Shares Outstanding,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,Price
40,DIS,2010-10-01,"2,722.0","5,784.0","12,225.0","69,206.0","11,000.0","29,864.0","1,894.0",19.81,"8,338.0",4.40,"12,704.0","9,982.0",33.34
41,DIS,2011-10-01,"3,185.0","6,182.0","13,757.0","72,124.0","12,088.0","32,671.0","1,808.0",20.68,"8,119.0",4.49,"14,265.0","11,080.0",29.00
42,DIS,2012-09-01,"3,387.0","6,540.0","13,709.0","74,898.0","12,813.0","32,940.0","1,780.0",22.34,"9,634.0",5.41,"14,595.0","11,208.0",49.66
43,DIS,2013-09-01,"3,931.0","6,967.0","14,109.0","81,241.0","11,704.0","33,091.0","1,773.0",25.62,"10,735.0",6.05,"14,382.0","10,451.0",60.93
44,DIS,2014-09-01,"3,421.0","7,822.0","15,169.0","84,141.0","13,292.0","35,963.0","1,707.0",26.34,"9,643.0",5.65,"14,795.0","11,374.0",90.80
45,DIS,2015-10-01,"4,269.0","8,019.0","16,758.0","88,182.0","16,334.0","39,527.0","1,661.0",26.81,"9,527.0",5.74,"17,336.0","13,067.0",102.67
46,DIS,2016-10-01,"4,610.0","9,065.0","16,966.0","92,033.0","16,842.0","44,710.0","1,597.0",27.09,"8,506.0",5.33,"20,170.0","15,560.0",92.49
47,DIS,2017-09-01,"4,017.0","8,633.0","15,889.0","95,789.0","19,595.0","49,637.0","1,517.0",27.23,"2,894.0",1.91,"25,291.0","21,274.0",101.50
48,DIS,2018-09-01,"4,150.0","9,334.0","16,825.0","98,598.0","17,860.0","44,643.0","1,488.0",32.78,"10,692.0",7.19,"20,874.0","16,724.0",110.85
49,DIS,2019-09-01,"5,418.0","15,481.0","28,124.0","193,984.0","31,341.0","91,132.0","1,802.0",49.32,"-14,631.0",-8.12,"47,137.0","41,719.0",136.31

In [49]:
# DIS Income Statement
income_statements_DIS = income_statements['Company'] == 'DIS'
subset_income_statements_DIS = income_statements[bal_sheets_DIS]
subset_income_statements_DIS

,Company,Time,Total Revenues,Cost Of Revenues,Gross Profit,Total Operating Expenses,Operating Income,Net Income,Revenue Per Share,Basic EPS,Normalized Basic EPS,Dividend Per Share,Payout Ratio,EBITDA,EBITA,EBIT,Normalized Net Income,Effective Tax Rate
40,DIS,2010-10-01,"38,063.0","31,337.0","6,726.0",0,"6,726.0","3,963.0",19.88,2.07,2.02,0.40,16.48,"8,439.0","6,837.0","6,726.0","3,873.1",34.9
41,DIS,2011-10-01,"40,893.0","33,112.0","7,781.0",0,"7,781.0","4,807.0",21.77,2.56,2.44,0.60,15.73,"9,622.0","7,963.0","7,781.0","4,578.4",34.6
42,DIS,2012-09-01,"42,278.0","23,347.0","18,931.0","9,947.0","8,984.0","5,682.0",23.57,3.17,2.95,0.75,18.94,"10,971.0","9,187.0","8,984.0","5,285.3",33.3
43,DIS,2013-09-01,"45,041.0","25,034.0","20,007.0","10,557.0","9,450.0","6,136.0",25.13,3.42,3.17,0.86,21.58,"11,642.0","9,685.0","9,450.0","5,687.5",31.0
44,DIS,2014-09-01,"48,813.0","26,420.0","22,393.0","10,853.0","11,540.0","7,501.0",28.05,4.31,4.05,1.15,20.10,"13,828.0","11,764.0","11,540.0","7,043.9",34.6
45,DIS,2015-10-01,"52,465.0","28,364.0","24,101.0","10,877.0","13,224.0","8,382.0",30.97,4.95,4.85,1.37,36.54,"15,578.0","13,446.0","13,224.0","8,213.1",36.2
46,DIS,2016-10-01,"55,632.0","29,864.0","25,768.0","11,281.0","14,487.0","9,391.0",34.15,5.76,5.57,1.49,24.63,"17,014.0","14,694.0","14,487.0","9,071.6",34.2
47,DIS,2017-09-01,"55,137.0","30,306.0","24,831.0","10,958.0","13,873.0","8,980.0",35.16,5.73,5.25,1.62,27.23,"16,655.0","14,069.0","13,873.0","8,227.1",32.1
48,DIS,2018-09-01,"59,434.0","32,726.0","26,708.0","11,871.0","14,837.0","12,598.0",39.65,8.40,5.59,1.72,19.96,"17,848.0","15,090.0","14,837.0","8,382.6",11.3
49,DIS,2019-09-01,"69,570.0","42,018.0","27,552.0","15,598.8","11,953.2","11,054.0",42.01,6.68,3.82,1.76,26.19,"16,113.2","13,276.2","11,953.2","6,321.9",21.7

In [50]:
# DIS Cash Flow
cash_flows_DIS = cash_flows['Company'] == 'DIS'
subset_cash_flows_DIS = cash_flows[bal_sheets_DIS]
subset_cash_flows_DIS

,Company,Time,Net Income,Short Term Debt Issued,Long-Term Debt Issued,Total Debt Repaid,Net Change in Cash
40,DIS,2010-10-01,"3,963.0","1,190.0",-,"-1,371.0",-695.0
41,DIS,2011-10-01,"4,807.0",393,"2,350.0","-1,096.0",463
42,DIS,2012-09-01,"5,682.0",467,"3,779.0","-3,822.0",202
43,DIS,2013-09-01,"6,136.0",-,"3,931.0","-3,552.0",544
44,DIS,2014-09-01,"7,501.0",50,"2,231.0","-1,648.0",-510.0
45,DIS,2015-10-01,"8,382.0","2,376.0","2,550.0","-2,221.0","1,037.0"
46,DIS,2016-10-01,"9,391.0",-,"6,065.0","-3,125.0",35
47,DIS,2017-09-01,"8,980.0","1,247.0","4,820.0","-2,364.0",-696.0
48,DIS,2018-09-01,"12,598.0",-,"1,056.0","-3,639.0",91
49,DIS,2019-09-01,"11,054.0","4,318.0","38,240.0","-38,881.0","1,300.0"

In [47]:
for index, row in subset_fully_merged_statements_df.iterrows(): 
    print(index, row)
    print('\n')

1138 Company                                            DIS
Time                               2010-10-01 00:00:00
Total Cash & ST Investments                    2,722.0
Total Receivables                              5,784.0
Total Current Assets                          12,225.0
Total Assets                                  69,206.0
Total Current Liabilities                     11,000.0
Total Liabilities                             29,864.0
Total Common Shares Outstanding                1,894.0
Book Value / Share                               19.81
Tangible Book Value                            8,338.0
Tangible Book Value Per Share                     4.40
Total Debt                                    12,704.0
Net Debt                                       9,982.0
Price                                            33.34
Total Revenues                                38,063.0
Cost Of Revenues                              31,337.0
Gross Profit                                   6,726.0
Total Operating Expenses                             0
Operating Income                               6,726.0
Net Income                                     3,963.0
Revenue Per Share                                19.88
Basic EPS                                         2.07
Normalized Basic EPS                              2.02
Dividend Per Share                                0.40
Payout Ratio                                     16.48
EBITDA                                         8,439.0
EBITA                                          6,837.0
EBIT                                           6,726.0
Normalized Net Income                          3,873.1
Effective Tax Rate                                34.9
Short Term Debt Issued                         1,190.0
Long-Term Debt Issued                                -
Total Debt Repaid                             -1,371.0
Net Change in Cash                              -695.0
Name: 1138, dtype: object


1139 Company                                            DIS
Time                               2011-10-01 00:00:00
Total Cash & ST Investments                    3,185.0
Total Receivables                              6,182.0
Total Current Assets                          13,757.0
Total Assets                                  72,124.0
Total Current Liabilities                     12,088.0
Total Liabilities                             32,671.0
Total Common Shares Outstanding                1,808.0
Book Value / Share                               20.68
Tangible Book Value                            8,119.0
Tangible Book Value Per Share                     4.49
Total Debt                                    14,265.0
Net Debt                                      11,080.0
Price                                               29
Total Revenues                                40,893.0
Cost Of Revenues                              33,112.0
Gross Profit                                   7,781.0
Total Operating Expenses                             0
Operating Income                               7,781.0
Net Income                                     4,807.0
Revenue Per Share                                21.77
Basic EPS                                         2.56
Normalized Basic EPS                              2.44
Dividend Per Share                                0.60
Payout Ratio                                     15.73
EBITDA                                         9,622.0
EBITA                                          7,963.0
EBIT                                           7,781.0
Normalized Net Income                          4,578.4
Effective Tax Rate                                34.6
Short Term Debt Issued                             393
Long-Term Debt Issued                          2,350.0
Total Debt Repaid                             -1,096.0
Net Change in Cash                                 463
Name: 1139, dtype: object


1140 Company                                            DIS
Time                               2012-09-01 00:00:00
Total Cash & ST Investments                    3,387.0
Total Receivables                              6,540.0
Total Current Assets                          13,709.0
Total Assets                                  74,898.0
Total Current Liabilities                     12,813.0
Total Liabilities                             32,940.0
Total Common Shares Outstanding                1,780.0
Book Value / Share                               22.34
Tangible Book Value                            9,634.0
Tangible Book Value Per Share                     5.41
Total Debt                                    14,595.0
Net Debt                                      11,208.0
Price                                            49.66
Total Revenues                                42,278.0
Cost Of Revenues                              23,347.0
Gross Profit                                  18,931.0
Total Operating Expenses                       9,947.0
Operating Income                               8,984.0
Net Income                                     5,682.0
Revenue Per Share                                23.57
Basic EPS                                         3.17
Normalized Basic EPS                              2.95
Dividend Per Share                                0.75
Payout Ratio                                     18.94
EBITDA                                        10,971.0
EBITA                                          9,187.0
EBIT                                           8,984.0
Normalized Net Income                          5,285.3
Effective Tax Rate                                33.3
Short Term Debt Issued                             467
Long-Term Debt Issued                          3,779.0
Total Debt Repaid                             -3,822.0
Net Change in Cash                                 202
Name: 1140, dtype: object


1141 Company                                            DIS
Time                               2013-09-01 00:00:00
Total Cash & ST Investments                    3,931.0
Total Receivables                              6,967.0
Total Current Assets                          14,109.0
Total Assets                                  81,241.0
Total Current Liabilities                     11,704.0
Total Liabilities                             33,091.0
Total Common Shares Outstanding                1,773.0
Book Value / Share                               25.62
Tangible Book Value                           10,735.0
Tangible Book Value Per Share                     6.05
Total Debt                                    14,382.0
Net Debt                                      10,451.0
Price                                            60.93
Total Revenues                                45,041.0
Cost Of Revenues                              25,034.0
Gross Profit                                  20,007.0
Total Operating Expenses                      10,557.0
Operating Income                               9,450.0
Net Income                                     6,136.0
Revenue Per Share                                25.13
Basic EPS                                         3.42
Normalized Basic EPS                              3.17
Dividend Per Share                                0.86
Payout Ratio                                     21.58
EBITDA                                        11,642.0
EBITA                                          9,685.0
EBIT                                           9,450.0
Normalized Net Income                          5,687.5
Effective Tax Rate                                31.0
Short Term Debt Issued                               -
Long-Term Debt Issued                          3,931.0
Total Debt Repaid                             -3,552.0
Net Change in Cash                                 544
Name: 1141, dtype: object


1142 Company                                            DIS
Time                               2014-09-01 00:00:00
Total Cash & ST Investments                    3,421.0
Total Receivables                              7,822.0
Total Current Assets                          15,169.0
Total Assets                                  84,141.0
Total Current Liabilities                     13,292.0
Total Liabilities                             35,963.0
Total Common Shares Outstanding                1,707.0
Book Value / Share                               26.34
Tangible Book Value                            9,643.0
Tangible Book Value Per Share                     5.65
Total Debt                                    14,795.0
Net Debt                                      11,374.0
Price                                             90.8
Total Revenues                                48,813.0
Cost Of Revenues                              26,420.0
Gross Profit                                  22,393.0
Total Operating Expenses                      10,853.0
Operating Income                              11,540.0
Net Income                                     7,501.0
Revenue Per Share                                28.05
Basic EPS                                         4.31
Normalized Basic EPS                              4.05
Dividend Per Share                                1.15
Payout Ratio                                     20.10
EBITDA                                        13,828.0
EBITA                                         11,764.0
EBIT                                          11,540.0
Normalized Net Income                          7,043.9
Effective Tax Rate                                34.6
Short Term Debt Issued                              50
Long-Term Debt Issued                          2,231.0
Total Debt Repaid                             -1,648.0
Net Change in Cash                              -510.0
Name: 1142, dtype: object


1143 Company                                            DIS
Time                               2015-10-01 00:00:00
Total Cash & ST Investments                    4,269.0
Total Receivables                              8,019.0
Total Current Assets                          16,758.0
Total Assets                                  88,182.0
Total Current Liabilities                     16,334.0
Total Liabilities                             39,527.0
Total Common Shares Outstanding                1,661.0
Book Value / Share                               26.81
Tangible Book Value                            9,527.0
Tangible Book Value Per Share                     5.74
Total Debt                                    17,336.0
Net Debt                                      13,067.0
Price                                           102.67
Total Revenues                                52,465.0
Cost Of Revenues                              28,364.0
Gross Profit                                  24,101.0
Total Operating Expenses                      10,877.0
Operating Income                              13,224.0
Net Income                                     8,382.0
Revenue Per Share                                30.97
Basic EPS                                         4.95
Normalized Basic EPS                              4.85
Dividend Per Share                                1.37
Payout Ratio                                     36.54
EBITDA                                        15,578.0
EBITA                                         13,446.0
EBIT                                          13,224.0
Normalized Net Income                          8,213.1
Effective Tax Rate                                36.2
Short Term Debt Issued                         2,376.0
Long-Term Debt Issued                          2,550.0
Total Debt Repaid                             -2,221.0
Net Change in Cash                             1,037.0
Name: 1143, dtype: object


1144 Company                                            DIS
Time                               2016-10-01 00:00:00
Total Cash & ST Investments                    4,610.0
Total Receivables                              9,065.0
Total Current Assets                          16,966.0
Total Assets                                  92,033.0
Total Current Liabilities                     16,842.0
Total Liabilities                             44,710.0
Total Common Shares Outstanding                1,597.0
Book Value / Share                               27.09
Tangible Book Value                            8,506.0
Tangible Book Value Per Share                     5.33
Total Debt                                    20,170.0
Net Debt                                      15,560.0
Price                                            92.49
Total Revenues                                55,632.0
Cost Of Revenues                              29,864.0
Gross Profit                                  25,768.0
Total Operating Expenses                      11,281.0
Operating Income                              14,487.0
Net Income                                     9,391.0
Revenue Per Share                                34.15
Basic EPS                                         5.76
Normalized Basic EPS                              5.57
Dividend Per Share                                1.49
Payout Ratio                                     24.63
EBITDA                                        17,014.0
EBITA                                         14,694.0
EBIT                                          14,487.0
Normalized Net Income                          9,071.6
Effective Tax Rate                                34.2
Short Term Debt Issued                               -
Long-Term Debt Issued                          6,065.0
Total Debt Repaid                             -3,125.0
Net Change in Cash                                  35
Name: 1144, dtype: object


1145 Company                                            DIS
Time                               2017-09-01 00:00:00
Total Cash & ST Investments                    4,017.0
Total Receivables                              8,633.0
Total Current Assets                          15,889.0
Total Assets                                  95,789.0
Total Current Liabilities                     19,595.0
Total Liabilities                             49,637.0
Total Common Shares Outstanding                1,517.0
Book Value / Share                               27.23
Tangible Book Value                            2,894.0
Tangible Book Value Per Share                     1.91
Total Debt                                    25,291.0
Net Debt                                      21,274.0
Price                                            101.5
Total Revenues                                55,137.0
Cost Of Revenues                              30,306.0
Gross Profit                                  24,831.0
Total Operating Expenses                      10,958.0
Operating Income                              13,873.0
Net Income                                     8,980.0
Revenue Per Share                                35.16
Basic EPS                                         5.73
Normalized Basic EPS                              5.25
Dividend Per Share                                1.62
Payout Ratio                                     27.23
EBITDA                                        16,655.0
EBITA                                         14,069.0
EBIT                                          13,873.0
Normalized Net Income                          8,227.1
Effective Tax Rate                                32.1
Short Term Debt Issued                         1,247.0
Long-Term Debt Issued                          4,820.0
Total Debt Repaid                             -2,364.0
Net Change in Cash                              -696.0
Name: 1145, dtype: object


1146 Company                                            DIS
Time                               2018-09-01 00:00:00
Total Cash & ST Investments                    4,150.0
Total Receivables                              9,334.0
Total Current Assets                          16,825.0
Total Assets                                  98,598.0
Total Current Liabilities                     17,860.0
Total Liabilities                             44,643.0
Total Common Shares Outstanding                1,488.0
Book Value / Share                               32.78
Tangible Book Value                           10,692.0
Tangible Book Value Per Share                     7.19
Total Debt                                    20,874.0
Net Debt                                      16,724.0
Price                                           110.85
Total Revenues                                59,434.0
Cost Of Revenues                              32,726.0
Gross Profit                                  26,708.0
Total Operating Expenses                      11,871.0
Operating Income                              14,837.0
Net Income                                    12,598.0
Revenue Per Share                                39.65
Basic EPS                                         8.40
Normalized Basic EPS                              5.59
Dividend Per Share                                1.72
Payout Ratio                                     19.96
EBITDA                                        17,848.0
EBITA                                         15,090.0
EBIT                                          14,837.0
Normalized Net Income                          8,382.6
Effective Tax Rate                                11.3
Short Term Debt Issued                               -
Long-Term Debt Issued                          1,056.0
Total Debt Repaid                             -3,639.0
Net Change in Cash                                  91
Name: 1146, dtype: object


1147 Company                                            DIS
Time                               2019-09-01 00:00:00
Total Cash & ST Investments                    5,418.0
Total Receivables                             15,481.0
Total Current Assets                          28,124.0
Total Assets                                 193,984.0
Total Current Liabilities                     31,341.0
Total Liabilities                             91,132.0
Total Common Shares Outstanding                1,802.0
Book Value / Share                               49.32
Tangible Book Value                          -14,631.0
Tangible Book Value Per Share                    -8.12
Total Debt                                    47,137.0
Net Debt                                      41,719.0
Price                                           136.31
Total Revenues                                69,570.0
Cost Of Revenues                              42,018.0
Gross Profit                                  27,552.0
Total Operating Expenses                      15,598.8
Operating Income                              11,953.2
Net Income                                    11,054.0
Revenue Per Share                                42.01
Basic EPS                                         6.68
Normalized Basic EPS                              3.82
Dividend Per Share                                1.76
Payout Ratio                                     26.19
EBITDA                                        16,113.2
EBITA                                         13,276.2
EBIT                                          11,953.2
Normalized Net Income                          6,321.9
Effective Tax Rate                                21.7
Short Term Debt Issued                         4,318.0
Long-Term Debt Issued                         38,240.0
Total Debt Repaid                            -38,881.0
Net Change in Cash                             1,300.0
Name: 1147, dtype: object