In [123]:
import pandas as pd
import numpy as np
import re

KO_BalSheet = pd.read_excel("Coca-Cola\KO Balance Sheet - Seeking Alpha.xlsx")
KO_BalSheet = KO_BalSheet.rename(columns = KO_BalSheet.iloc[0]) #Renaming columns
KO_BalSheet = KO_BalSheet.iloc[1:]
TKo_BalSheet = KO_BalSheet.transpose()
TKo_BalSheet = TKo_BalSheet.rename(columns = TKo_BalSheet.iloc[0]) #Renaming columns
Tko_BalSheet = TKo_BalSheet.iloc[1:]
Tko_BalSheet = TKo_BalSheet.iloc[1:-1]
Tko_BalSheet = Tko_BalSheet.loc[:, Tko_BalSheet.columns.notnull()] #Removing NaN columns
Tko_BalSheet = Tko_BalSheet.dropna(axis = 1, how = 'all')

# Removing all dollar signs ($) from dataframe
# Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
# https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'\$':''}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')
    
# Replacing dash values with 0
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'-': 0}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')
    
Tko_BalSheet_as_string = Tko_BalSheet.astype(str)

# Denoting negative values with minus (-) instead of brackets ()
for i in range(1, len(Tko_BalSheet_as_string.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet_as_string.iloc[ : , i ].replace({'\(':'-', '\)':''}, regex = True)
    
Tko_BalSheet

,Cash And Equivalents,Short Term Investments,Trading Asset Securities,Total Cash & ST Investments,Accounts Receivable,Total Receivables,Inventory,Prepaid Expenses,Deferred Tax Assets Current,Other Current Assets,...,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,Land,"Buildings, Total","Machinery, Total",Full Time Employees,Total Employees
Dec 2010,"8,517.0","2,820.0",0,"11,337.0","4,430.0","4,430.0","2,650.0","2,205.0",478,479,...,6.76,"4,094.0",0.89,"23,514.0","12,177.0","1,122.0","4,883.0","13,421.0","139,600","139,600"
Dec 2011,"12,803.0","1,232.0",0,"14,035.0","4,920.0","4,920.0","3,092.0","2,614.0",227,609,...,6.99,"3,966.0",0.88,"28,568.0","14,533.0","1,141.0","5,240.0","15,504.0","146,200","146,200"
Dec 2012,"8,442.0","8,109.0",7,"16,558.0","4,759.0","4,759.0","3,264.0","1,989.0",244,"3,514.0",...,7.34,"5,453.0",1.22,"32,616.0","16,058.0",997,"5,307.0","16,203.0","150,900","150,900"
Dec 2013,"10,414.0","9,854.0",0,"20,268.0","4,873.0","4,873.0","3,277.0","2,400.0",211,275,...,7.54,"5,562.0",1.26,"37,082.0","16,814.0","1,011.0","5,605.0","17,551.0","130,600","130,600"
Dec 2014,"8,958.0","12,717.0",14,"21,689.0","4,466.0","4,466.0","3,100.0","1,902.0",160,"1,669.0",...,6.94,"3,948.0",0.90,"41,782.0","20,093.0",972,"5,541.0","18,745.0","129,200","129,200"
Dec 2015,"7,309.0","12,591.0",20,"19,920.0","3,941.0","3,941.0","2,902.0","1,884.0",151,"4,597.0",...,5.91,"1,422.0",0.33,"44,401.0","24,481.0",717,"4,914.0","16,723.0","123,200","123,200"
Dec 2016,"8,555.0","13,646.0",0,"22,201.0","3,856.0","3,856.0","2,675.0","1,686.0",80,"3,512.0",...,5.38,"1,934.0",0.45,"45,757.0","23,556.0",589,"4,574.0","16,093.0","100,300","100,300"
Dec 2017,"6,006.0","14,669.0",0,"20,675.0","3,667.0","3,667.0","2,655.0","1,902.0",0,"7,646.0",...,4.01,436,0.10,"47,724.0","27,049.0",334,"3,917.0","12,198.0","61,800","61,800"
Dec 2018,"9,077.0","7,038.0",0,"16,115.0","3,685.0","3,685.0","3,071.0","1,946.0",0,113,...,3.98,"-4,606.0",-1.08,"44,254.0","28,139.0",485,"4,322.0","12,804.0","62,600","62,600"
Dec 2019,"6,480.0","4,695.0",10,"11,185.0","3,971.0","3,971.0","3,379.0","1,819.0",0,57,...,4.43,"-7,785.0",-1.82,"44,176.0","32,991.0",659,"4,576.0","13,686.0","86,200","86,200"

In [124]:
import pandas as pd
import numpy as np
import re

In [125]:
KO_BalSheet = pd.read_excel("Coca-Cola\KO Balance Sheet - Seeking Alpha.xlsx")
KO_BalSheet

,In Millions of USD except per share items,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Balance Sheet,Dec 2010,Dec 2011,Dec 2012,Dec 2013,Dec 2014,Dec 2015,Dec 2016,Dec 2017,Dec 2018,Dec 2019,Last Report
1,Cash & Short Term Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cash And Equivalents,"8,517.0","12,803.0","8,442.0","10,414.0","8,958.0","7,309.0","8,555.0","6,006.0","9,077.0","6,480.0","13,561.0"
3,Short Term Investments,"2,820.0","1,232.0","8,109.0","9,854.0","12,717.0","12,591.0","13,646.0","14,669.0","7,038.0","4,695.0","4,105.0"
4,Trading Asset Securities,-,-,7,-,14,20,-,-,-,10,12
5,Total Cash & ST Investments,"11,337.0","14,035.0","16,558.0","20,268.0","21,689.0","19,920.0","22,201.0","20,675.0","16,115.0","11,185.0","17,678.0"
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Accounts Receivable,"4,430.0","4,920.0","4,759.0","4,873.0","4,466.0","3,941.0","3,856.0","3,667.0","3,685.0","3,971.0","4,430.0"
9,Total Receivables,"4,430.0","4,920.0","4,759.0","4,873.0","4,466.0","3,941.0","3,856.0","3,667.0","3,685.0","3,971.0","4,430.0"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Inventory,"2,650.0","3,092.0","3,264.0","3,277.0","3,100.0","2,902.0","2,675.0","2,655.0","3,071.0","3,379.0","3,558.0"
13,Prepaid Expenses,"2,205.0","2,614.0","1,989.0","2,400.0","1,902.0","1,884.0","1,686.0","1,902.0","1,946.0","1,819.0","2,339.0"
14,Deferred Tax Assets Current,478,227,244,211,160,151,80,-,-,-,-
15,Other Current Assets,479,609,"3,514.0",275,"1,669.0","4,597.0","3,512.0","7,646.0",113,57,229
16,Total Current Assets,"21,579.0","25,497.0","30,328.0","31,304.0","32,986.0","33,395.0","34,010.0","36,545.0","24,930.0","20,411.0","28,234.0"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Long-Term Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Gross Property, Plant & Equipment","21,706.0","23,151.0","23,486.0","25,032.0","25,258.0","22,354.0","21,256.0","16,449.0","17,611.0","20,293.0","19,278.0"
20,Accumulated Depreciation,"(6,979.0)","(8,212.0)","(9,010.0)","(10,065.0)","(10,625.0)","(9,783.0)","(10,621.0)","(8,246.0)","(8,013.0)","(8,083.0)","(8,285.0)"
21,"Net Property, Plant & Equipment","14,727.0","14,939.0","14,476.0","14,967.0","14,633.0","12,571.0","10,635.0","8,203.0","9,598.0","12,210.0","10,993.0"
22,Long-Term Investments,"7,662.0","8,693.0","11,454.0","12,659.0","14,839.0","16,868.0","18,569.0","23,281.0","21,538.0","21,730.0","20,354.0"
23,Goodwill,"11,665.0","12,219.0","12,255.0","12,312.0","12,100.0","11,289.0","10,629.0","9,401.0","14,109.0","16,764.0","16,673.0"
24,Other Intangibles,"15,244.0","15,450.0","15,082.0","15,299.0","14,272.0","12,843.0","10,499.0","7,235.0","7,478.0","10,002.0","11,165.0"
25,Deferred Tax Assets,98,243,403,328,319,360,326,330,"2,674.0","2,412.0","2,275.0"
26,Other Long-Term Assets,"1,946.0","2,933.0","2,176.0","3,186.0","2,874.0","2,670.0","2,602.0","2,901.0","2,889.0","2,852.0","4,319.0"
27,Total Assets,"72,921.0","79,974.0","86,174.0","90,055.0","92,023.0","89,996.0","87,270.0","87,896.0","83,216.0","86,381.0","94,013.0"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
44,Total Liabilities,"41,604.0","48,053.0","53,006.0","56,615.0","61,462.0","64,232.0","64,050.0","68,919.0","64,158.0","65,283.0","74,179.0"
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Common Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Common Stock,880,"1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0"
48,Additional Paid In Capital,"10,057.0","10,332.0","11,379.0","12,276.0","13,154.0","14,016.0","14,993.0","15,864.0","16,520.0","17,154.0","17,312.0"
49,Retained Earnings,"49,278.0","53,621.0","58,045.0","61,660.0","63,408.0","65,018.0","65,502.0","60,430.0","63,234.0","65,855.0","66,870.0"
50,Treasury Stock,"(27,762.0)","(31,304.0)","(35,009.0)","(39,091.0)","(42,225.0)","(45,066.0)","(47,988.0)","(50,677.0)","(51,719.0)","(52,244.0)","(52,088.0)"
51,Comprehensive Income and Other,"(1,450.0)","(2,774.0)","(3,385.0)","(3,432.0)","(5,777.0)","(10,174.0)","(11,205.0)","(10,305.0)","(12,814.0)","(13,544.0)","(15,696.0)"
52,Total Common Equity,"31,003.0","31,635.0","32,790.0","33,173.0","30,320.0","25,554.0","23,062.0","17,072.0","16,981.0","18,981.0","18,158.0"
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Stockholders' Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Minority Interest,314,286,378,267,241,210,158,"1,905.0","2,077.0","2,117.0","1,676.0"
56,Total Equity,"31,317.0","31,921.0","33,168.0","33,440.0","30,561.0","25,764.0","23,220.0","18,977.0","19,058.0","21,098.0","19,834.0"
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Liabilities & Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Total Liabilities And Equity,"72,921.0","79,974.0","86,174.0","90,055.0","92,023.0","89,996.0","87,270.0","87,896.0","83,216.0","86,381.0","94,013.0"
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Supplemental Items,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Total Shares Out. on Filing Date,"4,588.6","4,526.4","4,456.7","4,405.9","4,366.2","4,329.5","4,293.5","4,265.9","4,275.3","4,290.3","4,294.9"
63,Total Common Shares Outstanding,"4,584.0","4,526.0","4,469.0","4,402.0","4,366.0","4,324.0","4,288.0","4,259.0","4,268.0","4,280.0","4,294.0"
64,Book Value / Share,$6.76,$6.99,$7.34,$7.54,$6.94,$5.91,$5.38,$4.01,$3.98,$4.43,$4.23
65,Tangible Book Value,"4,094.0","3,966.0","5,453.0","5,562.0","3,948.0","1,422.0","1,934.0",436,"(4,606.0)","(7,785.0)","(9,680.0)"
66,Tangible Book Value Per Share,$0.89,$0.88,$1.22,$1.26,$0.90,$0.33,$0.45,$0.10,($1.08),($1.82),($2.25)
67,Total Debt,"23,514.0","28,568.0","32,616.0","37,082.0","41,782.0","44,401.0","45,757.0","47,724.0","44,254.0","44,176.0","50,416.0"
68,Net Debt,"12,177.0","14,533.0","16,058.0","16,814.0","20,093.0","24,481.0","23,556.0","27,049.0","28,139.0","32,991.0","32,738.0"
69,Land,"1,122.0","1,141.0",997,"1,011.0",972,717,589,334,485,659,-
70,"Buildings, Total","4,883.0","5,240.0","5,307.0","5,605.0","5,541.0","4,914.0","4,574.0","3,917.0","4,322.0","4,576.0",-
71,"Machinery, Total","13,421.0","15,504.0","16,203.0","17,551.0","18,745.0","16,723.0","16,093.0","12,198.0","12,804.0","13,686.0",-
72,Full Time Employees,"139,600","146,200","150,900","130,600","129,200","123,200","100,300","61,800","62,600","86,200",-
73,Total Employees,"139,600","146,200","150,900","130,600","129,200","123,200","100,300","61,800","62,600","86,200",-

In [126]:
KO_BalSheet = KO_BalSheet.rename(columns = KO_BalSheet.iloc[0]) #Renaming columns
KO_BalSheet

,Balance Sheet,Dec 2010,Dec 2011,Dec 2012,Dec 2013,Dec 2014,Dec 2015,Dec 2016,Dec 2017,Dec 2018,Dec 2019,Last Report
0,Balance Sheet,Dec 2010,Dec 2011,Dec 2012,Dec 2013,Dec 2014,Dec 2015,Dec 2016,Dec 2017,Dec 2018,Dec 2019,Last Report
1,Cash & Short Term Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cash And Equivalents,"8,517.0","12,803.0","8,442.0","10,414.0","8,958.0","7,309.0","8,555.0","6,006.0","9,077.0","6,480.0","13,561.0"
3,Short Term Investments,"2,820.0","1,232.0","8,109.0","9,854.0","12,717.0","12,591.0","13,646.0","14,669.0","7,038.0","4,695.0","4,105.0"
4,Trading Asset Securities,-,-,7,-,14,20,-,-,-,10,12
5,Total Cash & ST Investments,"11,337.0","14,035.0","16,558.0","20,268.0","21,689.0","19,920.0","22,201.0","20,675.0","16,115.0","11,185.0","17,678.0"
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Accounts Receivable,"4,430.0","4,920.0","4,759.0","4,873.0","4,466.0","3,941.0","3,856.0","3,667.0","3,685.0","3,971.0","4,430.0"
9,Total Receivables,"4,430.0","4,920.0","4,759.0","4,873.0","4,466.0","3,941.0","3,856.0","3,667.0","3,685.0","3,971.0","4,430.0"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Inventory,"2,650.0","3,092.0","3,264.0","3,277.0","3,100.0","2,902.0","2,675.0","2,655.0","3,071.0","3,379.0","3,558.0"
13,Prepaid Expenses,"2,205.0","2,614.0","1,989.0","2,400.0","1,902.0","1,884.0","1,686.0","1,902.0","1,946.0","1,819.0","2,339.0"
14,Deferred Tax Assets Current,478,227,244,211,160,151,80,-,-,-,-
15,Other Current Assets,479,609,"3,514.0",275,"1,669.0","4,597.0","3,512.0","7,646.0",113,57,229
16,Total Current Assets,"21,579.0","25,497.0","30,328.0","31,304.0","32,986.0","33,395.0","34,010.0","36,545.0","24,930.0","20,411.0","28,234.0"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Long-Term Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Gross Property, Plant & Equipment","21,706.0","23,151.0","23,486.0","25,032.0","25,258.0","22,354.0","21,256.0","16,449.0","17,611.0","20,293.0","19,278.0"
20,Accumulated Depreciation,"(6,979.0)","(8,212.0)","(9,010.0)","(10,065.0)","(10,625.0)","(9,783.0)","(10,621.0)","(8,246.0)","(8,013.0)","(8,083.0)","(8,285.0)"
21,"Net Property, Plant & Equipment","14,727.0","14,939.0","14,476.0","14,967.0","14,633.0","12,571.0","10,635.0","8,203.0","9,598.0","12,210.0","10,993.0"
22,Long-Term Investments,"7,662.0","8,693.0","11,454.0","12,659.0","14,839.0","16,868.0","18,569.0","23,281.0","21,538.0","21,730.0","20,354.0"
23,Goodwill,"11,665.0","12,219.0","12,255.0","12,312.0","12,100.0","11,289.0","10,629.0","9,401.0","14,109.0","16,764.0","16,673.0"
24,Other Intangibles,"15,244.0","15,450.0","15,082.0","15,299.0","14,272.0","12,843.0","10,499.0","7,235.0","7,478.0","10,002.0","11,165.0"
25,Deferred Tax Assets,98,243,403,328,319,360,326,330,"2,674.0","2,412.0","2,275.0"
26,Other Long-Term Assets,"1,946.0","2,933.0","2,176.0","3,186.0","2,874.0","2,670.0","2,602.0","2,901.0","2,889.0","2,852.0","4,319.0"
27,Total Assets,"72,921.0","79,974.0","86,174.0","90,055.0","92,023.0","89,996.0","87,270.0","87,896.0","83,216.0","86,381.0","94,013.0"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
44,Total Liabilities,"41,604.0","48,053.0","53,006.0","56,615.0","61,462.0","64,232.0","64,050.0","68,919.0","64,158.0","65,283.0","74,179.0"
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Common Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Common Stock,880,"1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0"
48,Additional Paid In Capital,"10,057.0","10,332.0","11,379.0","12,276.0","13,154.0","14,016.0","14,993.0","15,864.0","16,520.0","17,154.0","17,312.0"
49,Retained Earnings,"49,278.0","53,621.0","58,045.0","61,660.0","63,408.0","65,018.0","65,502.0","60,430.0","63,234.0","65,855.0","66,870.0"
50,Treasury Stock,"(27,762.0)","(31,304.0)","(35,009.0)","(39,091.0)","(42,225.0)","(45,066.0)","(47,988.0)","(50,677.0)","(51,719.0)","(52,244.0)","(52,088.0)"
51,Comprehensive Income and Other,"(1,450.0)","(2,774.0)","(3,385.0)","(3,432.0)","(5,777.0)","(10,174.0)","(11,205.0)","(10,305.0)","(12,814.0)","(13,544.0)","(15,696.0)"
52,Total Common Equity,"31,003.0","31,635.0","32,790.0","33,173.0","30,320.0","25,554.0","23,062.0","17,072.0","16,981.0","18,981.0","18,158.0"
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Stockholders' Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Minority Interest,314,286,378,267,241,210,158,"1,905.0","2,077.0","2,117.0","1,676.0"
56,Total Equity,"31,317.0","31,921.0","33,168.0","33,440.0","30,561.0","25,764.0","23,220.0","18,977.0","19,058.0","21,098.0","19,834.0"
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Liabilities & Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Total Liabilities And Equity,"72,921.0","79,974.0","86,174.0","90,055.0","92,023.0","89,996.0","87,270.0","87,896.0","83,216.0","86,381.0","94,013.0"
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Supplemental Items,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Total Shares Out. on Filing Date,"4,588.6","4,526.4","4,456.7","4,405.9","4,366.2","4,329.5","4,293.5","4,265.9","4,275.3","4,290.3","4,294.9"
63,Total Common Shares Outstanding,"4,584.0","4,526.0","4,469.0","4,402.0","4,366.0","4,324.0","4,288.0","4,259.0","4,268.0","4,280.0","4,294.0"
64,Book Value / Share,$6.76,$6.99,$7.34,$7.54,$6.94,$5.91,$5.38,$4.01,$3.98,$4.43,$4.23
65,Tangible Book Value,"4,094.0","3,966.0","5,453.0","5,562.0","3,948.0","1,422.0","1,934.0",436,"(4,606.0)","(7,785.0)","(9,680.0)"
66,Tangible Book Value Per Share,$0.89,$0.88,$1.22,$1.26,$0.90,$0.33,$0.45,$0.10,($1.08),($1.82),($2.25)
67,Total Debt,"23,514.0","28,568.0","32,616.0","37,082.0","41,782.0","44,401.0","45,757.0","47,724.0","44,254.0","44,176.0","50,416.0"
68,Net Debt,"12,177.0","14,533.0","16,058.0","16,814.0","20,093.0","24,481.0","23,556.0","27,049.0","28,139.0","32,991.0","32,738.0"
69,Land,"1,122.0","1,141.0",997,"1,011.0",972,717,589,334,485,659,-
70,"Buildings, Total","4,883.0","5,240.0","5,307.0","5,605.0","5,541.0","4,914.0","4,574.0","3,917.0","4,322.0","4,576.0",-
71,"Machinery, Total","13,421.0","15,504.0","16,203.0","17,551.0","18,745.0","16,723.0","16,093.0","12,198.0","12,804.0","13,686.0",-
72,Full Time Employees,"139,600","146,200","150,900","130,600","129,200","123,200","100,300","61,800","62,600","86,200",-
73,Total Employees,"139,600","146,200","150,900","130,600","129,200","123,200","100,300","61,800","62,600","86,200",-

In [127]:
KO_BalSheet = KO_BalSheet.iloc[1:]
KO_BalSheet

,Balance Sheet,Dec 2010,Dec 2011,Dec 2012,Dec 2013,Dec 2014,Dec 2015,Dec 2016,Dec 2017,Dec 2018,Dec 2019,Last Report
1,Cash & Short Term Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cash And Equivalents,"8,517.0","12,803.0","8,442.0","10,414.0","8,958.0","7,309.0","8,555.0","6,006.0","9,077.0","6,480.0","13,561.0"
3,Short Term Investments,"2,820.0","1,232.0","8,109.0","9,854.0","12,717.0","12,591.0","13,646.0","14,669.0","7,038.0","4,695.0","4,105.0"
4,Trading Asset Securities,-,-,7,-,14,20,-,-,-,10,12
5,Total Cash & ST Investments,"11,337.0","14,035.0","16,558.0","20,268.0","21,689.0","19,920.0","22,201.0","20,675.0","16,115.0","11,185.0","17,678.0"
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Accounts Receivable,"4,430.0","4,920.0","4,759.0","4,873.0","4,466.0","3,941.0","3,856.0","3,667.0","3,685.0","3,971.0","4,430.0"
9,Total Receivables,"4,430.0","4,920.0","4,759.0","4,873.0","4,466.0","3,941.0","3,856.0","3,667.0","3,685.0","3,971.0","4,430.0"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Inventory,"2,650.0","3,092.0","3,264.0","3,277.0","3,100.0","2,902.0","2,675.0","2,655.0","3,071.0","3,379.0","3,558.0"
13,Prepaid Expenses,"2,205.0","2,614.0","1,989.0","2,400.0","1,902.0","1,884.0","1,686.0","1,902.0","1,946.0","1,819.0","2,339.0"
14,Deferred Tax Assets Current,478,227,244,211,160,151,80,-,-,-,-
15,Other Current Assets,479,609,"3,514.0",275,"1,669.0","4,597.0","3,512.0","7,646.0",113,57,229
16,Total Current Assets,"21,579.0","25,497.0","30,328.0","31,304.0","32,986.0","33,395.0","34,010.0","36,545.0","24,930.0","20,411.0","28,234.0"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Long-Term Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Gross Property, Plant & Equipment","21,706.0","23,151.0","23,486.0","25,032.0","25,258.0","22,354.0","21,256.0","16,449.0","17,611.0","20,293.0","19,278.0"
20,Accumulated Depreciation,"(6,979.0)","(8,212.0)","(9,010.0)","(10,065.0)","(10,625.0)","(9,783.0)","(10,621.0)","(8,246.0)","(8,013.0)","(8,083.0)","(8,285.0)"
21,"Net Property, Plant & Equipment","14,727.0","14,939.0","14,476.0","14,967.0","14,633.0","12,571.0","10,635.0","8,203.0","9,598.0","12,210.0","10,993.0"
22,Long-Term Investments,"7,662.0","8,693.0","11,454.0","12,659.0","14,839.0","16,868.0","18,569.0","23,281.0","21,538.0","21,730.0","20,354.0"
23,Goodwill,"11,665.0","12,219.0","12,255.0","12,312.0","12,100.0","11,289.0","10,629.0","9,401.0","14,109.0","16,764.0","16,673.0"
24,Other Intangibles,"15,244.0","15,450.0","15,082.0","15,299.0","14,272.0","12,843.0","10,499.0","7,235.0","7,478.0","10,002.0","11,165.0"
25,Deferred Tax Assets,98,243,403,328,319,360,326,330,"2,674.0","2,412.0","2,275.0"
26,Other Long-Term Assets,"1,946.0","2,933.0","2,176.0","3,186.0","2,874.0","2,670.0","2,602.0","2,901.0","2,889.0","2,852.0","4,319.0"
27,Total Assets,"72,921.0","79,974.0","86,174.0","90,055.0","92,023.0","89,996.0","87,270.0","87,896.0","83,216.0","86,381.0","94,013.0"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Accounts Payable,"1,887.0","2,172.0","1,969.0","1,933.0","2,089.0","2,795.0","2,682.0","2,288.0","2,719.0","3,804.0","12,312.0"
...,...,...,...,...,...,...,...,...,...,...,...,...
44,Total Liabilities,"41,604.0","48,053.0","53,006.0","56,615.0","61,462.0","64,232.0","64,050.0","68,919.0","64,158.0","65,283.0","74,179.0"
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Common Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Common Stock,880,"1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0","1,760.0"
48,Additional Paid In Capital,"10,057.0","10,332.0","11,379.0","12,276.0","13,154.0","14,016.0","14,993.0","15,864.0","16,520.0","17,154.0","17,312.0"
49,Retained Earnings,"49,278.0","53,621.0","58,045.0","61,660.0","63,408.0","65,018.0","65,502.0","60,430.0","63,234.0","65,855.0","66,870.0"
50,Treasury Stock,"(27,762.0)","(31,304.0)","(35,009.0)","(39,091.0)","(42,225.0)","(45,066.0)","(47,988.0)","(50,677.0)","(51,719.0)","(52,244.0)","(52,088.0)"
51,Comprehensive Income and Other,"(1,450.0)","(2,774.0)","(3,385.0)","(3,432.0)","(5,777.0)","(10,174.0)","(11,205.0)","(10,305.0)","(12,814.0)","(13,544.0)","(15,696.0)"
52,Total Common Equity,"31,003.0","31,635.0","32,790.0","33,173.0","30,320.0","25,554.0","23,062.0","17,072.0","16,981.0","18,981.0","18,158.0"
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Stockholders' Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Minority Interest,314,286,378,267,241,210,158,"1,905.0","2,077.0","2,117.0","1,676.0"
56,Total Equity,"31,317.0","31,921.0","33,168.0","33,440.0","30,561.0","25,764.0","23,220.0","18,977.0","19,058.0","21,098.0","19,834.0"
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Liabilities & Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Total Liabilities And Equity,"72,921.0","79,974.0","86,174.0","90,055.0","92,023.0","89,996.0","87,270.0","87,896.0","83,216.0","86,381.0","94,013.0"
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Supplemental Items,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Total Shares Out. on Filing Date,"4,588.6","4,526.4","4,456.7","4,405.9","4,366.2","4,329.5","4,293.5","4,265.9","4,275.3","4,290.3","4,294.9"
63,Total Common Shares Outstanding,"4,584.0","4,526.0","4,469.0","4,402.0","4,366.0","4,324.0","4,288.0","4,259.0","4,268.0","4,280.0","4,294.0"
64,Book Value / Share,$6.76,$6.99,$7.34,$7.54,$6.94,$5.91,$5.38,$4.01,$3.98,$4.43,$4.23
65,Tangible Book Value,"4,094.0","3,966.0","5,453.0","5,562.0","3,948.0","1,422.0","1,934.0",436,"(4,606.0)","(7,785.0)","(9,680.0)"
66,Tangible Book Value Per Share,$0.89,$0.88,$1.22,$1.26,$0.90,$0.33,$0.45,$0.10,($1.08),($1.82),($2.25)
67,Total Debt,"23,514.0","28,568.0","32,616.0","37,082.0","41,782.0","44,401.0","45,757.0","47,724.0","44,254.0","44,176.0","50,416.0"
68,Net Debt,"12,177.0","14,533.0","16,058.0","16,814.0","20,093.0","24,481.0","23,556.0","27,049.0","28,139.0","32,991.0","32,738.0"
69,Land,"1,122.0","1,141.0",997,"1,011.0",972,717,589,334,485,659,-
70,"Buildings, Total","4,883.0","5,240.0","5,307.0","5,605.0","5,541.0","4,914.0","4,574.0","3,917.0","4,322.0","4,576.0",-
71,"Machinery, Total","13,421.0","15,504.0","16,203.0","17,551.0","18,745.0","16,723.0","16,093.0","12,198.0","12,804.0","13,686.0",-
72,Full Time Employees,"139,600","146,200","150,900","130,600","129,200","123,200","100,300","61,800","62,600","86,200",-
73,Total Employees,"139,600","146,200","150,900","130,600","129,200","123,200","100,300","61,800","62,600","86,200",-

In [128]:
TKo_BalSheet = KO_BalSheet.transpose()
TKo_BalSheet

,1,2,3,4,5,6,7,8,9,10,...,64,65,66,67,68,69,70,71,72,73
Balance Sheet,Cash & Short Term Investments,Cash And Equivalents,Short Term Investments,Trading Asset Securities,Total Cash & ST Investments,NaN,Receivables,Accounts Receivable,Total Receivables,NaN,...,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,Land,"Buildings, Total","Machinery, Total",Full Time Employees,Total Employees
Dec 2010,NaN,"8,517.0","2,820.0",-,"11,337.0",NaN,NaN,"4,430.0","4,430.0",NaN,...,$6.76,"4,094.0",$0.89,"23,514.0","12,177.0","1,122.0","4,883.0","13,421.0","139,600","139,600"
Dec 2011,NaN,"12,803.0","1,232.0",-,"14,035.0",NaN,NaN,"4,920.0","4,920.0",NaN,...,$6.99,"3,966.0",$0.88,"28,568.0","14,533.0","1,141.0","5,240.0","15,504.0","146,200","146,200"
Dec 2012,NaN,"8,442.0","8,109.0",7,"16,558.0",NaN,NaN,"4,759.0","4,759.0",NaN,...,$7.34,"5,453.0",$1.22,"32,616.0","16,058.0",997,"5,307.0","16,203.0","150,900","150,900"
Dec 2013,NaN,"10,414.0","9,854.0",-,"20,268.0",NaN,NaN,"4,873.0","4,873.0",NaN,...,$7.54,"5,562.0",$1.26,"37,082.0","16,814.0","1,011.0","5,605.0","17,551.0","130,600","130,600"
Dec 2014,NaN,"8,958.0","12,717.0",14,"21,689.0",NaN,NaN,"4,466.0","4,466.0",NaN,...,$6.94,"3,948.0",$0.90,"41,782.0","20,093.0",972,"5,541.0","18,745.0","129,200","129,200"
Dec 2015,NaN,"7,309.0","12,591.0",20,"19,920.0",NaN,NaN,"3,941.0","3,941.0",NaN,...,$5.91,"1,422.0",$0.33,"44,401.0","24,481.0",717,"4,914.0","16,723.0","123,200","123,200"
Dec 2016,NaN,"8,555.0","13,646.0",-,"22,201.0",NaN,NaN,"3,856.0","3,856.0",NaN,...,$5.38,"1,934.0",$0.45,"45,757.0","23,556.0",589,"4,574.0","16,093.0","100,300","100,300"
Dec 2017,NaN,"6,006.0","14,669.0",-,"20,675.0",NaN,NaN,"3,667.0","3,667.0",NaN,...,$4.01,436,$0.10,"47,724.0","27,049.0",334,"3,917.0","12,198.0","61,800","61,800"
Dec 2018,NaN,"9,077.0","7,038.0",-,"16,115.0",NaN,NaN,"3,685.0","3,685.0",NaN,...,$3.98,"(4,606.0)",($1.08),"44,254.0","28,139.0",485,"4,322.0","12,804.0","62,600","62,600"
Dec 2019,NaN,"6,480.0","4,695.0",10,"11,185.0",NaN,NaN,"3,971.0","3,971.0",NaN,...,$4.43,"(7,785.0)",($1.82),"44,176.0","32,991.0",659,"4,576.0","13,686.0","86,200","86,200"
Last Report,NaN,"13,561.0","4,105.0",12,"17,678.0",NaN,NaN,"4,430.0","4,430.0",NaN,...,$4.23,"(9,680.0)",($2.25),"50,416.0","32,738.0",-,-,-,-,-

In [129]:
TKo_BalSheet['Time'] = TKo_BalSheet.index
TKo_BalSheet

,1,2,3,4,5,6,7,8,9,10,...,65,66,67,68,69,70,71,72,73,Time
Balance Sheet,Cash & Short Term Investments,Cash And Equivalents,Short Term Investments,Trading Asset Securities,Total Cash & ST Investments,NaN,Receivables,Accounts Receivable,Total Receivables,NaN,...,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,Land,"Buildings, Total","Machinery, Total",Full Time Employees,Total Employees,Balance Sheet
Dec 2010,NaN,"8,517.0","2,820.0",-,"11,337.0",NaN,NaN,"4,430.0","4,430.0",NaN,...,"4,094.0",$0.89,"23,514.0","12,177.0","1,122.0","4,883.0","13,421.0","139,600","139,600",Dec 2010
Dec 2011,NaN,"12,803.0","1,232.0",-,"14,035.0",NaN,NaN,"4,920.0","4,920.0",NaN,...,"3,966.0",$0.88,"28,568.0","14,533.0","1,141.0","5,240.0","15,504.0","146,200","146,200",Dec 2011
Dec 2012,NaN,"8,442.0","8,109.0",7,"16,558.0",NaN,NaN,"4,759.0","4,759.0",NaN,...,"5,453.0",$1.22,"32,616.0","16,058.0",997,"5,307.0","16,203.0","150,900","150,900",Dec 2012
Dec 2013,NaN,"10,414.0","9,854.0",-,"20,268.0",NaN,NaN,"4,873.0","4,873.0",NaN,...,"5,562.0",$1.26,"37,082.0","16,814.0","1,011.0","5,605.0","17,551.0","130,600","130,600",Dec 2013
Dec 2014,NaN,"8,958.0","12,717.0",14,"21,689.0",NaN,NaN,"4,466.0","4,466.0",NaN,...,"3,948.0",$0.90,"41,782.0","20,093.0",972,"5,541.0","18,745.0","129,200","129,200",Dec 2014
Dec 2015,NaN,"7,309.0","12,591.0",20,"19,920.0",NaN,NaN,"3,941.0","3,941.0",NaN,...,"1,422.0",$0.33,"44,401.0","24,481.0",717,"4,914.0","16,723.0","123,200","123,200",Dec 2015
Dec 2016,NaN,"8,555.0","13,646.0",-,"22,201.0",NaN,NaN,"3,856.0","3,856.0",NaN,...,"1,934.0",$0.45,"45,757.0","23,556.0",589,"4,574.0","16,093.0","100,300","100,300",Dec 2016
Dec 2017,NaN,"6,006.0","14,669.0",-,"20,675.0",NaN,NaN,"3,667.0","3,667.0",NaN,...,436,$0.10,"47,724.0","27,049.0",334,"3,917.0","12,198.0","61,800","61,800",Dec 2017
Dec 2018,NaN,"9,077.0","7,038.0",-,"16,115.0",NaN,NaN,"3,685.0","3,685.0",NaN,...,"(4,606.0)",($1.08),"44,254.0","28,139.0",485,"4,322.0","12,804.0","62,600","62,600",Dec 2018
Dec 2019,NaN,"6,480.0","4,695.0",10,"11,185.0",NaN,NaN,"3,971.0","3,971.0",NaN,...,"(7,785.0)",($1.82),"44,176.0","32,991.0",659,"4,576.0","13,686.0","86,200","86,200",Dec 2019
Last Report,NaN,"13,561.0","4,105.0",12,"17,678.0",NaN,NaN,"4,430.0","4,430.0",NaN,...,"(9,680.0)",($2.25),"50,416.0","32,738.0",-,-,-,-,-,Last Report

In [130]:
TKo_BalSheet = TKo_BalSheet.rename(columns = TKo_BalSheet.iloc[0]) #Renaming columns

In [131]:
Tko_BalSheet = TKo_BalSheet.iloc[1:]
Tko_BalSheet

,Cash & Short Term Investments,Cash And Equivalents,Short Term Investments,Trading Asset Securities,Total Cash & ST Investments,nan,Receivables,Accounts Receivable,Total Receivables,nan,...,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,Land,"Buildings, Total","Machinery, Total",Full Time Employees,Total Employees,Balance Sheet
Dec 2010,NaN,"8,517.0","2,820.0",-,"11,337.0",NaN,NaN,"4,430.0","4,430.0",NaN,...,"4,094.0",$0.89,"23,514.0","12,177.0","1,122.0","4,883.0","13,421.0","139,600","139,600",Dec 2010
Dec 2011,NaN,"12,803.0","1,232.0",-,"14,035.0",NaN,NaN,"4,920.0","4,920.0",NaN,...,"3,966.0",$0.88,"28,568.0","14,533.0","1,141.0","5,240.0","15,504.0","146,200","146,200",Dec 2011
Dec 2012,NaN,"8,442.0","8,109.0",7,"16,558.0",NaN,NaN,"4,759.0","4,759.0",NaN,...,"5,453.0",$1.22,"32,616.0","16,058.0",997,"5,307.0","16,203.0","150,900","150,900",Dec 2012
Dec 2013,NaN,"10,414.0","9,854.0",-,"20,268.0",NaN,NaN,"4,873.0","4,873.0",NaN,...,"5,562.0",$1.26,"37,082.0","16,814.0","1,011.0","5,605.0","17,551.0","130,600","130,600",Dec 2013
Dec 2014,NaN,"8,958.0","12,717.0",14,"21,689.0",NaN,NaN,"4,466.0","4,466.0",NaN,...,"3,948.0",$0.90,"41,782.0","20,093.0",972,"5,541.0","18,745.0","129,200","129,200",Dec 2014
Dec 2015,NaN,"7,309.0","12,591.0",20,"19,920.0",NaN,NaN,"3,941.0","3,941.0",NaN,...,"1,422.0",$0.33,"44,401.0","24,481.0",717,"4,914.0","16,723.0","123,200","123,200",Dec 2015
Dec 2016,NaN,"8,555.0","13,646.0",-,"22,201.0",NaN,NaN,"3,856.0","3,856.0",NaN,...,"1,934.0",$0.45,"45,757.0","23,556.0",589,"4,574.0","16,093.0","100,300","100,300",Dec 2016
Dec 2017,NaN,"6,006.0","14,669.0",-,"20,675.0",NaN,NaN,"3,667.0","3,667.0",NaN,...,436,$0.10,"47,724.0","27,049.0",334,"3,917.0","12,198.0","61,800","61,800",Dec 2017
Dec 2018,NaN,"9,077.0","7,038.0",-,"16,115.0",NaN,NaN,"3,685.0","3,685.0",NaN,...,"(4,606.0)",($1.08),"44,254.0","28,139.0",485,"4,322.0","12,804.0","62,600","62,600",Dec 2018
Dec 2019,NaN,"6,480.0","4,695.0",10,"11,185.0",NaN,NaN,"3,971.0","3,971.0",NaN,...,"(7,785.0)",($1.82),"44,176.0","32,991.0",659,"4,576.0","13,686.0","86,200","86,200",Dec 2019
Last Report,NaN,"13,561.0","4,105.0",12,"17,678.0",NaN,NaN,"4,430.0","4,430.0",NaN,...,"(9,680.0)",($2.25),"50,416.0","32,738.0",-,-,-,-,-,Last Report

In [132]:
Tko_BalSheet = TKo_BalSheet.iloc[1:-1]
Tko_BalSheet

,Cash & Short Term Investments,Cash And Equivalents,Short Term Investments,Trading Asset Securities,Total Cash & ST Investments,nan,Receivables,Accounts Receivable,Total Receivables,nan,...,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,Land,"Buildings, Total","Machinery, Total",Full Time Employees,Total Employees,Balance Sheet
Dec 2010,NaN,"8,517.0","2,820.0",-,"11,337.0",NaN,NaN,"4,430.0","4,430.0",NaN,...,"4,094.0",$0.89,"23,514.0","12,177.0","1,122.0","4,883.0","13,421.0","139,600","139,600",Dec 2010
Dec 2011,NaN,"12,803.0","1,232.0",-,"14,035.0",NaN,NaN,"4,920.0","4,920.0",NaN,...,"3,966.0",$0.88,"28,568.0","14,533.0","1,141.0","5,240.0","15,504.0","146,200","146,200",Dec 2011
Dec 2012,NaN,"8,442.0","8,109.0",7,"16,558.0",NaN,NaN,"4,759.0","4,759.0",NaN,...,"5,453.0",$1.22,"32,616.0","16,058.0",997,"5,307.0","16,203.0","150,900","150,900",Dec 2012
Dec 2013,NaN,"10,414.0","9,854.0",-,"20,268.0",NaN,NaN,"4,873.0","4,873.0",NaN,...,"5,562.0",$1.26,"37,082.0","16,814.0","1,011.0","5,605.0","17,551.0","130,600","130,600",Dec 2013
Dec 2014,NaN,"8,958.0","12,717.0",14,"21,689.0",NaN,NaN,"4,466.0","4,466.0",NaN,...,"3,948.0",$0.90,"41,782.0","20,093.0",972,"5,541.0","18,745.0","129,200","129,200",Dec 2014
Dec 2015,NaN,"7,309.0","12,591.0",20,"19,920.0",NaN,NaN,"3,941.0","3,941.0",NaN,...,"1,422.0",$0.33,"44,401.0","24,481.0",717,"4,914.0","16,723.0","123,200","123,200",Dec 2015
Dec 2016,NaN,"8,555.0","13,646.0",-,"22,201.0",NaN,NaN,"3,856.0","3,856.0",NaN,...,"1,934.0",$0.45,"45,757.0","23,556.0",589,"4,574.0","16,093.0","100,300","100,300",Dec 2016
Dec 2017,NaN,"6,006.0","14,669.0",-,"20,675.0",NaN,NaN,"3,667.0","3,667.0",NaN,...,436,$0.10,"47,724.0","27,049.0",334,"3,917.0","12,198.0","61,800","61,800",Dec 2017
Dec 2018,NaN,"9,077.0","7,038.0",-,"16,115.0",NaN,NaN,"3,685.0","3,685.0",NaN,...,"(4,606.0)",($1.08),"44,254.0","28,139.0",485,"4,322.0","12,804.0","62,600","62,600",Dec 2018
Dec 2019,NaN,"6,480.0","4,695.0",10,"11,185.0",NaN,NaN,"3,971.0","3,971.0",NaN,...,"(7,785.0)",($1.82),"44,176.0","32,991.0",659,"4,576.0","13,686.0","86,200","86,200",Dec 2019

In [133]:
Tko_BalSheet = Tko_BalSheet.loc[:, Tko_BalSheet.columns.notnull()] #Removing NaN columns
Tko_BalSheet

,Cash & Short Term Investments,Cash And Equivalents,Short Term Investments,Trading Asset Securities,Total Cash & ST Investments,Receivables,Accounts Receivable,Total Receivables,Current Assets,Inventory,...,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,Land,"Buildings, Total","Machinery, Total",Full Time Employees,Total Employees,Balance Sheet
Dec 2010,NaN,"8,517.0","2,820.0",-,"11,337.0",NaN,"4,430.0","4,430.0",NaN,"2,650.0",...,"4,094.0",$0.89,"23,514.0","12,177.0","1,122.0","4,883.0","13,421.0","139,600","139,600",Dec 2010
Dec 2011,NaN,"12,803.0","1,232.0",-,"14,035.0",NaN,"4,920.0","4,920.0",NaN,"3,092.0",...,"3,966.0",$0.88,"28,568.0","14,533.0","1,141.0","5,240.0","15,504.0","146,200","146,200",Dec 2011
Dec 2012,NaN,"8,442.0","8,109.0",7,"16,558.0",NaN,"4,759.0","4,759.0",NaN,"3,264.0",...,"5,453.0",$1.22,"32,616.0","16,058.0",997,"5,307.0","16,203.0","150,900","150,900",Dec 2012
Dec 2013,NaN,"10,414.0","9,854.0",-,"20,268.0",NaN,"4,873.0","4,873.0",NaN,"3,277.0",...,"5,562.0",$1.26,"37,082.0","16,814.0","1,011.0","5,605.0","17,551.0","130,600","130,600",Dec 2013
Dec 2014,NaN,"8,958.0","12,717.0",14,"21,689.0",NaN,"4,466.0","4,466.0",NaN,"3,100.0",...,"3,948.0",$0.90,"41,782.0","20,093.0",972,"5,541.0","18,745.0","129,200","129,200",Dec 2014
Dec 2015,NaN,"7,309.0","12,591.0",20,"19,920.0",NaN,"3,941.0","3,941.0",NaN,"2,902.0",...,"1,422.0",$0.33,"44,401.0","24,481.0",717,"4,914.0","16,723.0","123,200","123,200",Dec 2015
Dec 2016,NaN,"8,555.0","13,646.0",-,"22,201.0",NaN,"3,856.0","3,856.0",NaN,"2,675.0",...,"1,934.0",$0.45,"45,757.0","23,556.0",589,"4,574.0","16,093.0","100,300","100,300",Dec 2016
Dec 2017,NaN,"6,006.0","14,669.0",-,"20,675.0",NaN,"3,667.0","3,667.0",NaN,"2,655.0",...,436,$0.10,"47,724.0","27,049.0",334,"3,917.0","12,198.0","61,800","61,800",Dec 2017
Dec 2018,NaN,"9,077.0","7,038.0",-,"16,115.0",NaN,"3,685.0","3,685.0",NaN,"3,071.0",...,"(4,606.0)",($1.08),"44,254.0","28,139.0",485,"4,322.0","12,804.0","62,600","62,600",Dec 2018
Dec 2019,NaN,"6,480.0","4,695.0",10,"11,185.0",NaN,"3,971.0","3,971.0",NaN,"3,379.0",...,"(7,785.0)",($1.82),"44,176.0","32,991.0",659,"4,576.0","13,686.0","86,200","86,200",Dec 2019

In [134]:
Tko_BalSheet = Tko_BalSheet.dropna(axis = 1, how = 'all')
Tko_BalSheet

,Cash And Equivalents,Short Term Investments,Trading Asset Securities,Total Cash & ST Investments,Accounts Receivable,Total Receivables,Inventory,Prepaid Expenses,Deferred Tax Assets Current,Other Current Assets,...,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,Land,"Buildings, Total","Machinery, Total",Full Time Employees,Total Employees,Balance Sheet
Dec 2010,"8,517.0","2,820.0",-,"11,337.0","4,430.0","4,430.0","2,650.0","2,205.0",478,479,...,"4,094.0",$0.89,"23,514.0","12,177.0","1,122.0","4,883.0","13,421.0","139,600","139,600",Dec 2010
Dec 2011,"12,803.0","1,232.0",-,"14,035.0","4,920.0","4,920.0","3,092.0","2,614.0",227,609,...,"3,966.0",$0.88,"28,568.0","14,533.0","1,141.0","5,240.0","15,504.0","146,200","146,200",Dec 2011
Dec 2012,"8,442.0","8,109.0",7,"16,558.0","4,759.0","4,759.0","3,264.0","1,989.0",244,"3,514.0",...,"5,453.0",$1.22,"32,616.0","16,058.0",997,"5,307.0","16,203.0","150,900","150,900",Dec 2012
Dec 2013,"10,414.0","9,854.0",-,"20,268.0","4,873.0","4,873.0","3,277.0","2,400.0",211,275,...,"5,562.0",$1.26,"37,082.0","16,814.0","1,011.0","5,605.0","17,551.0","130,600","130,600",Dec 2013
Dec 2014,"8,958.0","12,717.0",14,"21,689.0","4,466.0","4,466.0","3,100.0","1,902.0",160,"1,669.0",...,"3,948.0",$0.90,"41,782.0","20,093.0",972,"5,541.0","18,745.0","129,200","129,200",Dec 2014
Dec 2015,"7,309.0","12,591.0",20,"19,920.0","3,941.0","3,941.0","2,902.0","1,884.0",151,"4,597.0",...,"1,422.0",$0.33,"44,401.0","24,481.0",717,"4,914.0","16,723.0","123,200","123,200",Dec 2015
Dec 2016,"8,555.0","13,646.0",-,"22,201.0","3,856.0","3,856.0","2,675.0","1,686.0",80,"3,512.0",...,"1,934.0",$0.45,"45,757.0","23,556.0",589,"4,574.0","16,093.0","100,300","100,300",Dec 2016
Dec 2017,"6,006.0","14,669.0",-,"20,675.0","3,667.0","3,667.0","2,655.0","1,902.0",-,"7,646.0",...,436,$0.10,"47,724.0","27,049.0",334,"3,917.0","12,198.0","61,800","61,800",Dec 2017
Dec 2018,"9,077.0","7,038.0",-,"16,115.0","3,685.0","3,685.0","3,071.0","1,946.0",-,113,...,"(4,606.0)",($1.08),"44,254.0","28,139.0",485,"4,322.0","12,804.0","62,600","62,600",Dec 2018
Dec 2019,"6,480.0","4,695.0",10,"11,185.0","3,971.0","3,971.0","3,379.0","1,819.0",-,57,...,"(7,785.0)",($1.82),"44,176.0","32,991.0",659,"4,576.0","13,686.0","86,200","86,200",Dec 2019

In [135]:
Tko_BalSheet = Tko_BalSheet.rename(columns = {"Balance Sheet": "Time"})

In [136]:
Tko_BalSheet

,Cash And Equivalents,Short Term Investments,Trading Asset Securities,Total Cash & ST Investments,Accounts Receivable,Total Receivables,Inventory,Prepaid Expenses,Deferred Tax Assets Current,Other Current Assets,...,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,Land,"Buildings, Total","Machinery, Total",Full Time Employees,Total Employees,Time
Dec 2010,"8,517.0","2,820.0",-,"11,337.0","4,430.0","4,430.0","2,650.0","2,205.0",478,479,...,"4,094.0",$0.89,"23,514.0","12,177.0","1,122.0","4,883.0","13,421.0","139,600","139,600",Dec 2010
Dec 2011,"12,803.0","1,232.0",-,"14,035.0","4,920.0","4,920.0","3,092.0","2,614.0",227,609,...,"3,966.0",$0.88,"28,568.0","14,533.0","1,141.0","5,240.0","15,504.0","146,200","146,200",Dec 2011
Dec 2012,"8,442.0","8,109.0",7,"16,558.0","4,759.0","4,759.0","3,264.0","1,989.0",244,"3,514.0",...,"5,453.0",$1.22,"32,616.0","16,058.0",997,"5,307.0","16,203.0","150,900","150,900",Dec 2012
Dec 2013,"10,414.0","9,854.0",-,"20,268.0","4,873.0","4,873.0","3,277.0","2,400.0",211,275,...,"5,562.0",$1.26,"37,082.0","16,814.0","1,011.0","5,605.0","17,551.0","130,600","130,600",Dec 2013
Dec 2014,"8,958.0","12,717.0",14,"21,689.0","4,466.0","4,466.0","3,100.0","1,902.0",160,"1,669.0",...,"3,948.0",$0.90,"41,782.0","20,093.0",972,"5,541.0","18,745.0","129,200","129,200",Dec 2014
Dec 2015,"7,309.0","12,591.0",20,"19,920.0","3,941.0","3,941.0","2,902.0","1,884.0",151,"4,597.0",...,"1,422.0",$0.33,"44,401.0","24,481.0",717,"4,914.0","16,723.0","123,200","123,200",Dec 2015
Dec 2016,"8,555.0","13,646.0",-,"22,201.0","3,856.0","3,856.0","2,675.0","1,686.0",80,"3,512.0",...,"1,934.0",$0.45,"45,757.0","23,556.0",589,"4,574.0","16,093.0","100,300","100,300",Dec 2016
Dec 2017,"6,006.0","14,669.0",-,"20,675.0","3,667.0","3,667.0","2,655.0","1,902.0",-,"7,646.0",...,436,$0.10,"47,724.0","27,049.0",334,"3,917.0","12,198.0","61,800","61,800",Dec 2017
Dec 2018,"9,077.0","7,038.0",-,"16,115.0","3,685.0","3,685.0","3,071.0","1,946.0",-,113,...,"(4,606.0)",($1.08),"44,254.0","28,139.0",485,"4,322.0","12,804.0","62,600","62,600",Dec 2018
Dec 2019,"6,480.0","4,695.0",10,"11,185.0","3,971.0","3,971.0","3,379.0","1,819.0",-,57,...,"(7,785.0)",($1.82),"44,176.0","32,991.0",659,"4,576.0","13,686.0","86,200","86,200",Dec 2019

In [137]:
# Removing all dollar signs ($) from dataframe
# Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
# https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'\$':''}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

In [138]:
# Replacing dash values with 0
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'-': 0}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

In [139]:
Tko_BalSheet1 = Tko_BalSheet.astype(str)

In [140]:
# Denoting negative values with minus (-) instead of brackets ()
for i in range(1, len(Tko_BalSheet1.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet1.iloc[ : , i ].replace({'\(':'-', '\)':''}, regex = True)

In [141]:
Tko_BalSheet = Tko_BalSheet.reset_index(drop=True)

In [142]:
Tko_BalSheet

,Cash And Equivalents,Short Term Investments,Trading Asset Securities,Total Cash & ST Investments,Accounts Receivable,Total Receivables,Inventory,Prepaid Expenses,Deferred Tax Assets Current,Other Current Assets,...,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,Land,"Buildings, Total","Machinery, Total",Full Time Employees,Total Employees,Time
0,"8,517.0","2,820.0",0,"11,337.0","4,430.0","4,430.0","2,650.0","2,205.0",478,479,...,"4,094.0",0.89,"23,514.0","12,177.0","1,122.0","4,883.0","13,421.0","139,600","139,600",Dec 2010
1,"12,803.0","1,232.0",0,"14,035.0","4,920.0","4,920.0","3,092.0","2,614.0",227,609,...,"3,966.0",0.88,"28,568.0","14,533.0","1,141.0","5,240.0","15,504.0","146,200","146,200",Dec 2011
2,"8,442.0","8,109.0",7,"16,558.0","4,759.0","4,759.0","3,264.0","1,989.0",244,"3,514.0",...,"5,453.0",1.22,"32,616.0","16,058.0",997,"5,307.0","16,203.0","150,900","150,900",Dec 2012
3,"10,414.0","9,854.0",0,"20,268.0","4,873.0","4,873.0","3,277.0","2,400.0",211,275,...,"5,562.0",1.26,"37,082.0","16,814.0","1,011.0","5,605.0","17,551.0","130,600","130,600",Dec 2013
4,"8,958.0","12,717.0",14,"21,689.0","4,466.0","4,466.0","3,100.0","1,902.0",160,"1,669.0",...,"3,948.0",0.90,"41,782.0","20,093.0",972,"5,541.0","18,745.0","129,200","129,200",Dec 2014
5,"7,309.0","12,591.0",20,"19,920.0","3,941.0","3,941.0","2,902.0","1,884.0",151,"4,597.0",...,"1,422.0",0.33,"44,401.0","24,481.0",717,"4,914.0","16,723.0","123,200","123,200",Dec 2015
6,"8,555.0","13,646.0",0,"22,201.0","3,856.0","3,856.0","2,675.0","1,686.0",80,"3,512.0",...,"1,934.0",0.45,"45,757.0","23,556.0",589,"4,574.0","16,093.0","100,300","100,300",Dec 2016
7,"6,006.0","14,669.0",0,"20,675.0","3,667.0","3,667.0","2,655.0","1,902.0",0,"7,646.0",...,436,0.10,"47,724.0","27,049.0",334,"3,917.0","12,198.0","61,800","61,800",Dec 2017
8,"9,077.0","7,038.0",0,"16,115.0","3,685.0","3,685.0","3,071.0","1,946.0",0,113,...,"-4,606.0",-1.08,"44,254.0","28,139.0",485,"4,322.0","12,804.0","62,600","62,600",Dec 2018
9,"6,480.0","4,695.0",10,"11,185.0","3,971.0","3,971.0","3,379.0","1,819.0",0,57,...,"-7,785.0",-1.82,"44,176.0","32,991.0",659,"4,576.0","13,686.0","86,200","86,200",Dec 2019

In [143]:
TKo_BalSheet['Time']

KeyError: 'Time'

In [ ]:
for col in Tko_BalSheet.columns:
    print(col)

In [ ]:
import pandas as pd
import numpy as np
import re

KO_BalSheet = pd.read_excel("Altria\MO Balance Sheet - Seeking Alpha.xlsx")
KO_BalSheet = KO_BalSheet.rename(columns = KO_BalSheet.iloc[0]) #Renaming columns
KO_BalSheet = KO_BalSheet.iloc[1:]
TKo_BalSheet = KO_BalSheet.transpose()
TKo_BalSheet = TKo_BalSheet.rename(columns = TKo_BalSheet.iloc[0]) #Renaming columns
Tko_BalSheet = TKo_BalSheet.iloc[1:]
Tko_BalSheet = TKo_BalSheet.iloc[1:-1]
Tko_BalSheet = Tko_BalSheet.loc[:, Tko_BalSheet.columns.notnull()] #Removing NaN columns
Tko_BalSheet = Tko_BalSheet.dropna(axis = 1, how = 'all')

# Removing all dollar signs ($) from dataframe
# Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
# https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'\$':''}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')
    
# Replacing dash values with 0
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'-': 0}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')
    
Tko_BalSheet_as_string = Tko_BalSheet.astype(str)

# Denoting negative values with minus (-) instead of brackets ()
for i in range(1, len(Tko_BalSheet_as_string.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet_as_string.iloc[ : , i ].replace({'\(':'-', '\)':''}, regex = True)
    
Tko_BalSheet

In [ ]:
import os
import pymysql
import pandas as pd
import numpy as np
import re
from pandas.io import sql
import MySQLdb
from sqlalchemy import create_engine

In [ ]:

KO_BalSheet = pd.read_excel("Altria\MO Balance Sheet - Seeking Alpha.xlsx")
actual_filename = os.path.basename("Altria\MO Balance Sheet - Seeking Alpha.xlsx") # Getting filename from filepath
company_name = actual_filename.split(' ')[0] # Company Ticker Symbol
KO_BalSheet = KO_BalSheet.rename(columns = KO_BalSheet.iloc[0]) #Renaming columns
KO_BalSheet = KO_BalSheet.iloc[1:]
TKo_BalSheet = KO_BalSheet.transpose()
TKo_BalSheet = TKo_BalSheet.rename(columns = TKo_BalSheet.iloc[0]) #Renaming columns
Tko_BalSheet = TKo_BalSheet.iloc[1:-1]
Tko_BalSheet = Tko_BalSheet.loc[:, Tko_BalSheet.columns.notnull()] #Removing NaN columns
Tko_BalSheet = Tko_BalSheet.dropna(axis = 1, how = 'all')

In [ ]:
# Removing all dollar signs ($) from dataframe
# Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
# https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'\$':''}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

# Accounting for columns filled completely with - and removing these
for i in range(1, len(Tko_BalSheet)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'-': np.nan}, regex = True)
                    
Tko_BalSheet = Tko_BalSheet.dropna(how='all', axis=1)
                
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace(np.nan, 0, regex = True)
                
Tko_BalSheet_as_string = Tko_BalSheet.astype(str)

# Denoting negative values with minus (-) instead of brackets (), removing % sign
for i in range(1, len(Tko_BalSheet_as_string.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet_as_string.iloc[ : , i ].replace({'\(':'-', '\)':'', '%':''}, regex = True)
    
Tko_BalSheet

In [144]:
pd.io.parsers.ParserBase({'names':Tko_BalSheet.columns})._maybe_dedup_names(Tko_BalSheet.columns)

['Cash And Equivalents',
 'Short Term Investments',
 'Trading Asset Securities',
 'Total Cash & ST Investments',
 'Accounts Receivable',
 'Total Receivables',
 'Inventory',
 'Prepaid Expenses',
 'Deferred Tax Assets Current',
 'Other Current Assets',
 'Total Current Assets',
 'Gross Property, Plant & Equipment',
 'Accumulated Depreciation',
 'Net Property, Plant & Equipment',
 'Long-Term Investments',
 'Goodwill',
 'Other Intangibles',
 'Deferred Tax Assets',
 'Other Long-Term Assets',
 'Total Assets',
 'Accounts Payable',
 'Accrued Expenses',
 'Short-Term Borrowings',
 'Current Portion of LT Debt',
 'Current Income Taxes Payable',
 'Other Current Liabilities',
 'Total Current Liabilities',
 'Long-Term Debt',
 'Pension & Other Post-Retire. Benefits',
 'Def. Tax Liability, Non-Curr.',
 'Capital Leases',
 'Other Non-Current Liabilities',
 'Total Liabilities',
 'Common Stock',
 'Additional Paid In Capital',
 'Retained Earnings',
 'Treasury Stock',
 'Comprehensive Income and Other',
 'Total Common Equity',
 'Minority Interest',
 'Total Equity',
 'Total Liabilities And Equity',
 'Total Shares Out. on Filing Date',
 'Total Common Shares Outstanding',
 'Book Value / Share',
 'Tangible Book Value',
 'Tangible Book Value Per Share',
 'Total Debt',
 'Net Debt',
 'Land',
 'Buildings, Total',
 'Machinery, Total',
 'Full Time Employees',
 'Total Employees',
 'Time']

In [98]:
for col in Tko_BalSheet.columns:
    print(col)

Cash And Equivalents
Short Term Investments
Trading Asset Securities
Total Cash & ST Investments
Accounts Receivable
Total Receivables
Inventory
Prepaid Expenses
Deferred Tax Assets Current
Other Current Assets
Total Current Assets
Gross Property, Plant & Equipment
Accumulated Depreciation
Net Property, Plant & Equipment
Long-Term Investments
Goodwill
Other Intangibles
Deferred Tax Assets
Other Long-Term Assets
Total Assets
Accounts Payable
Accrued Expenses
Short-Term Borrowings
Current Portion of LT Debt
Current Income Taxes Payable
Other Current Liabilities
Total Current Liabilities
Long-Term Debt
Pension & Other Post-Retire. Benefits
Def. Tax Liability, Non-Curr.
Capital Leases
Other Non-Current Liabilities
Total Liabilities
Common Stock
Additional Paid In Capital
Retained Earnings
Treasury Stock
Comprehensive Income and Other
Total Common Equity
Minority Interest
Total Equity
Total Liabilities And Equity
Total Shares Out. on Filing Date
Total Common Shares Outstanding
Book Value / Share
Tangible Book Value
Tangible Book Value Per Share
Total Debt
Net Debt
Land
Buildings, Total
Machinery, Total
Full Time Employees
Total Employees
Time

In [100]:
COL_NAMES = []
for col in Tko_BalSheet.columns:
    COL_NAMES.append(col)
    #print(col)
    
print("Col Names", len(COL_NAMES))
print("Set Col Names", len(set(COL_NAMES)))

Col Names 55
Set Col Names 55

In [75]:
for element in COL_NAMES:
    x = COL_NAMES.count(element)
    if x > 1:
        print(element)

In [46]:
print("Col Names", COL_NAMES)

Col Names ['Cash And Equivalents', 'Total Cash & ST Investments', 'Accounts Receivable', 'Other Receivables', 'Total Receivables', 'Inventory', 'Finance Div. Loans and Leases', 'Deferred Tax Assets Current', 'Restricted Cash', 'Other Current Assets', 'Total Current Assets', 'Gross Property, Plant & Equipment', 'Accumulated Depreciation', 'Net Property, Plant & Equipment', 'Long-Term Investments', 'Goodwill', 'Other Intangibles', 'Finance Div. Loans and Leases', 'Deferred Charges', 'Other Long-Term Assets', 'Total Assets', 'Accounts Payable', 'Accrued Expenses', 'Short-Term Borrowings', 'Current Portion of LT Debt', 'Unearned Revenue, Current', 'Other Current Liabilities', 'Total Current Liabilities', 'Long-Term Debt', 'Finance Div. Other Non-Curr. Liab.', 'Pension & Other Post-Retire. Benefits', 'Def. Tax Liability, Non-Curr.', 'Other Non-Current Liabilities', 'Total Liabilities', 'Common Stock', 'Additional Paid In Capital', 'Retained Earnings', 'Treasury Stock', 'Comprehensive Income and Other', 'Total Common Equity', 'Minority Interest', 'Total Equity', 'Total Liabilities And Equity', 'Total Shares Out. on Filing Date', 'Total Common Shares Outstanding', 'Book Value / Share', 'Tangible Book Value', 'Tangible Book Value Per Share', 'Total Debt', 'Net Debt', 'LIFO Reserve, Total', 'Land', 'Buildings, Total', 'Machinery, Total', 'Full Time Employees', 'Total Employees']

In [47]:
print("Set Col Names", set(COL_NAMES))

Set Col Names {'Cash And Equivalents', 'Short-Term Borrowings', 'Total Shares Out. on Filing Date', 'Finance Div. Loans and Leases', 'Other Current Assets', 'LIFO Reserve, Total', 'Total Employees', 'Total Receivables', 'Other Long-Term Assets', 'Comprehensive Income and Other', 'Deferred Tax Assets Current', 'Goodwill', 'Pension & Other Post-Retire. Benefits', 'Total Equity', 'Tangible Book Value', 'Total Current Assets', 'Total Common Shares Outstanding', 'Deferred Charges', 'Accounts Payable', 'Unearned Revenue, Current', 'Book Value / Share', 'Full Time Employees', 'Accounts Receivable', 'Machinery, Total', 'Total Debt', 'Total Cash & ST Investments', 'Total Assets', 'Land', 'Retained Earnings', 'Treasury Stock', 'Net Property, Plant & Equipment', 'Total Current Liabilities', 'Accumulated Depreciation', 'Def. Tax Liability, Non-Curr.', 'Other Current Liabilities', 'Tangible Book Value Per Share', 'Long-Term Investments', 'Other Non-Current Liabilities', 'Accrued Expenses', 'Minority Interest', 'Other Intangibles', 'Common Stock', 'Gross Property, Plant & Equipment', 'Net Debt', 'Buildings, Total', 'Total Liabilities', 'Inventory', 'Additional Paid In Capital', 'Other Receivables', 'Restricted Cash', 'Finance Div. Other Non-Curr. Liab.', 'Long-Term Debt', 'Current Portion of LT Debt', 'Total Common Equity', 'Total Liabilities And Equity'}

In [ ]:
#['Total Cash & ST Investments', 'Total Receivables', 'Total Current Assets', 'Total Assets', 'Total Current Liabilities', 'Total Liabilities','Total Common Shares Outstanding', 'Book Value / Share','Tangible Book Value', 'Tangible Book Value Per Share', 'Total Debt','Net Debt']

In [42]:
# Keeping certain columns to standardise all Income statements by keeping the same parameters
Tko_BalSheet = Tko_BalSheet.reindex(columns= ['Total Cash & ST Investments', 'Total Receivables', 'Total Current Assets'] )
                    
Tko_BalSheet['Company'] = company_name
                
from datetime import datetime
orig_dates_list = Tko_BalSheet.index.tolist()
converted_dates_list = []

for element in orig_dates_list:
    datetime_obj = datetime.strptime(element, '%b %Y')
    converted_dates_list.append(datetime_obj)

Tko_BalSheet['Time'] = converted_dates_list
                
comp = Tko_BalSheet['Company']
time = Tko_BalSheet['Time']
Tko_BalSheet.drop(labels=['Company', 'Time' ], axis=1,inplace = True)
Tko_BalSheet.insert(0, 'Company', comp)
Tko_BalSheet.insert(1, 'Time', time)

ValueError: cannot reindex from a duplicate axis