In [34]:
import os
import pymysql
import pandas as pd
import numpy as np
import re
from pandas.io import sql
import MySQLdb
from sqlalchemy import create_engine

In [35]:
KO_BalSheet = pd.read_excel("Altria\MO Balance Sheet - Seeking Alpha.xlsx")
actual_filename = os.path.basename("Altria\MO Balance Sheet - Seeking Alpha.xlsx") # Getting filename from filepath
company_name = actual_filename.split(' ')[0] # Company Ticker Symbol
KO_BalSheet = KO_BalSheet.rename(columns = KO_BalSheet.iloc[0]) #Renaming columns
KO_BalSheet = KO_BalSheet.iloc[1:]
TKo_BalSheet = KO_BalSheet.transpose()
TKo_BalSheet = TKo_BalSheet.rename(columns = TKo_BalSheet.iloc[0]) #Renaming columns
Tko_BalSheet = TKo_BalSheet.iloc[1:-1]
Tko_BalSheet = Tko_BalSheet.loc[:, Tko_BalSheet.columns.notnull()] #Removing NaN columns
Tko_BalSheet = Tko_BalSheet.dropna(axis = 1, how = 'all')

# Removing all dollar signs ($) from dataframe
# Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
# https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'\$':''}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

# Accounting for columns filled completely with - and removing these
for i in range(1, len(Tko_BalSheet)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'-': np.nan}, regex = True)
                    
Tko_BalSheet = Tko_BalSheet.dropna(how='all', axis=1)
                
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace(np.nan, 0, regex = True)
                
Tko_BalSheet_as_string = Tko_BalSheet.astype(str)

# Denoting negative values with minus (-) instead of brackets (), removing % sign
for i in range(1, len(Tko_BalSheet_as_string.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet_as_string.iloc[ : , i ].replace({'\(':'-', '\)':'', '%':''}, regex = True)
    
Tko_BalSheet.columns = pd.io.parsers.ParserBase({'names':Tko_BalSheet.columns})._maybe_dedup_names(Tko_BalSheet.columns)

# Keeping certain columns to standardise all Income statements by keeping the same parameters
Tko_BalSheet = Tko_BalSheet.reindex(columns= ['Total Cash & ST Investments', 'Total Receivables', 'Total Current Assets',
                                                 'Total Assets', 'Total Current Liabilities', 'Total Liabilities',
                                                 'Total Common Shares Outstanding', 'Book Value / Share',
                                                  'Tangible Book Value', 'Tangible Book Value Per Share', 'Total Debt',
                                                 'Net Debt'] )
                    
Tko_BalSheet['Company'] = company_name
                
from datetime import datetime
orig_dates_list = Tko_BalSheet.index.tolist()
converted_dates_list = []

for element in orig_dates_list:
    datetime_obj = datetime.strptime(element, '%b %Y')
    converted_dates_list.append(datetime_obj)

Tko_BalSheet['Time'] = converted_dates_list
                
comp = Tko_BalSheet['Company']
time = Tko_BalSheet['Time']
Tko_BalSheet.drop(labels=['Company', 'Time' ], axis=1,inplace = True)
Tko_BalSheet.insert(0, 'Company', comp)
Tko_BalSheet.insert(1, 'Time', time)
                
#engine = create_engine("mysql+pymysql://pythonlink:pythonlinkp@localhost:3306/stock_forecast_v1")
#TKO_is.to_sql('test_table', con= engine, if_exists= 'append', index = False)
#TKO_is.to_sql('balance_sheets_v1', con= engine, if_exists= 'append', index = False, index_label = False)
    
Tko_BalSheet

,Company,Time,Total Cash & ST Investments,Total Receivables,Total Current Assets,Total Assets,Total Current Liabilities,Total Liabilities,Total Common Shares Outstanding,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt
Dec 2010,MO,2010-12-01,"2,314.0",85,"10,483.0","37,402.0","6,840.0","32,175.0","2,080.0",2.50,"-12,100.0",-5.82,"12,194.0","9,880.0"
Dec 2011,MO,2011-12-01,"3,270.0",268,"10,479.0","36,751.0","7,432.0","33,036.0","2,036.0",1.81,"-13,592.0",-6.68,"13,689.0","10,419.0"
Dec 2012,MO,2012-12-01,"2,900.0",193,"6,315.0","35,329.0","8,259.0","32,125.0","2,003.2",1.58,"-14,084.0",-7.03,"13,878.0","10,978.0"
Dec 2013,MO,2013-12-01,"3,175.0",115,"6,590.0","34,859.0","7,058.0","30,706.0","1,988.1",2.07,"-13,113.0",-6.60,"14,517.0","11,342.0"
Dec 2014,MO,2014-12-01,"3,321.0",124,"6,878.0","34,475.0","7,673.0","31,430.0","1,967.0",1.53,"-14,320.0",-7.28,"14,693.0","11,372.0"
Dec 2015,MO,2015-12-01,"2,369.0",124,"4,911.0","31,459.0","7,070.0","28,549.0","1,956.1",1.47,"-14,433.0",-7.38,"12,847.0","10,478.0"
Dec 2016,MO,2016-12-01,"4,569.0",420,"7,260.0","45,932.0","7,375.0","33,121.0","1,940.0",6.58,"-4,551.0",-2.35,"13,881.0","9,312.0"
Dec 2017,MO,2017-12-01,"1,253.0",603,"4,344.0","43,202.0","6,792.0","27,784.0","1,901.3",8.09,"-2,330.0",-1.23,"13,894.0","12,641.0"
Dec 2018,MO,2018-12-01,"1,333.0",309,"4,299.0","55,459.0","21,193.0","40,631.0","1,874.1",7.89,"-2,688.0",-1.43,"25,746.0","24,413.0"
Dec 2019,MO,2019-12-01,"2,117.0",268,"4,824.0","49,271.0","8,174.0","42,914.0","1,858.0",3.35,"-11,642.0",-6.27,"28,042.0","25,925.0"

In [31]:
Tko_BalSheet['Company'] = company_name
                
from datetime import datetime
orig_dates_list = Tko_BalSheet.index.tolist()
converted_dates_list = []

for element in orig_dates_list:
    datetime_obj = datetime.strptime(element, '%b %Y')
    converted_dates_list.append(datetime_obj)

Tko_BalSheet['Time'] = converted_dates_list
                
comp = Tko_BalSheet['Company']
time = Tko_BalSheet['Time']
Tko_BalSheet.drop(labels=['Company', 'Time' ], axis=1,inplace = True)
Tko_BalSheet.insert(0, 'Company', comp)
Tko_BalSheet.insert(1, 'Time', time)
                
#engine = create_engine("mysql+pymysql://pythonlink:pythonlinkp@localhost:3306/stock_forecast_v1")
#TKO_is.to_sql('test_table', con= engine, if_exists= 'append', index = False)
#TKO_is.to_sql('balance_sheets_v1', con= engine, if_exists= 'append', index = False, index_label = False)
    
Tko_BalSheet

,Company,Time,Total Cash & ST Investments,Total Receivables,Total Current Assets,Total Assets,Total Current Liabilities,Total Liabilities,Total Common Shares Outstanding,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt
Dec 2010,MO,2010-12-01,"2,314.0",85,"10,483.0","37,402.0","6,840.0","32,175.0","2,080.0",2.50,"-12,100.0",-5.82,"12,194.0","9,880.0"
Dec 2011,MO,2011-12-01,"3,270.0",268,"10,479.0","36,751.0","7,432.0","33,036.0","2,036.0",1.81,"-13,592.0",-6.68,"13,689.0","10,419.0"
Dec 2012,MO,2012-12-01,"2,900.0",193,"6,315.0","35,329.0","8,259.0","32,125.0","2,003.2",1.58,"-14,084.0",-7.03,"13,878.0","10,978.0"
Dec 2013,MO,2013-12-01,"3,175.0",115,"6,590.0","34,859.0","7,058.0","30,706.0","1,988.1",2.07,"-13,113.0",-6.60,"14,517.0","11,342.0"
Dec 2014,MO,2014-12-01,"3,321.0",124,"6,878.0","34,475.0","7,673.0","31,430.0","1,967.0",1.53,"-14,320.0",-7.28,"14,693.0","11,372.0"
Dec 2015,MO,2015-12-01,"2,369.0",124,"4,911.0","31,459.0","7,070.0","28,549.0","1,956.1",1.47,"-14,433.0",-7.38,"12,847.0","10,478.0"
Dec 2016,MO,2016-12-01,"4,569.0",420,"7,260.0","45,932.0","7,375.0","33,121.0","1,940.0",6.58,"-4,551.0",-2.35,"13,881.0","9,312.0"
Dec 2017,MO,2017-12-01,"1,253.0",603,"4,344.0","43,202.0","6,792.0","27,784.0","1,901.3",8.09,"-2,330.0",-1.23,"13,894.0","12,641.0"
Dec 2018,MO,2018-12-01,"1,333.0",309,"4,299.0","55,459.0","21,193.0","40,631.0","1,874.1",7.89,"-2,688.0",-1.43,"25,746.0","24,413.0"
Dec 2019,MO,2019-12-01,"2,117.0",268,"4,824.0","49,271.0","8,174.0","42,914.0","1,858.0",3.35,"-11,642.0",-6.27,"28,042.0","25,925.0"

In [18]:
KO_BalSheet = pd.read_excel("Altria\MO Balance Sheet - Seeking Alpha.xlsx")
actual_filename = os.path.basename("Altria\MO Balance Sheet - Seeking Alpha.xlsx") # Getting filename from filepath
company_name = actual_filename.split(' ')[0] # Company Ticker Symbol
KO_BalSheet = KO_BalSheet.rename(columns = KO_BalSheet.iloc[0]) #Renaming columns
KO_BalSheet = KO_BalSheet.iloc[1:]
TKo_BalSheet = KO_BalSheet.transpose()
TKo_BalSheet = TKo_BalSheet.rename(columns = TKo_BalSheet.iloc[0]) #Renaming columns
Tko_BalSheet = TKo_BalSheet.iloc[1:-1]
Tko_BalSheet = Tko_BalSheet.loc[:, Tko_BalSheet.columns.notnull()] #Removing NaN columns
Tko_BalSheet = Tko_BalSheet.dropna(axis = 1, how = 'all')

In [19]:
# Removing all dollar signs ($) from dataframe
# Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
# https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'\$':''}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

# Accounting for columns filled completely with - and removing these
for i in range(1, len(Tko_BalSheet)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace({'-': np.nan}, regex = True)
                    
Tko_BalSheet = Tko_BalSheet.dropna(how='all', axis=1)
                
for i in range(1, len(Tko_BalSheet.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].replace(np.nan, 0, regex = True)
                
Tko_BalSheet_as_string = Tko_BalSheet.astype(str)

# Denoting negative values with minus (-) instead of brackets (), removing % sign
for i in range(1, len(Tko_BalSheet_as_string.columns)):
    Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet_as_string.iloc[ : , i ].replace({'\(':'-', '\)':'', '%':''}, regex = True)
    
Tko_BalSheet

,Cash And Equivalents,Total Cash & ST Investments,Accounts Receivable,Other Receivables,Total Receivables,Inventory,Finance Div. Loans and Leases,Deferred Tax Assets Current,Restricted Cash,Other Current Assets,...,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,"LIFO Reserve, Total",Land,"Buildings, Total","Machinery, Total",Full Time Employees,Total Employees
Dec 2010,"2,314.0","2,314.0",85,0.0,85,"1,803.0","4,502.0","1,165.0",0.0,614,...,"-12,100.0",-5.82,"12,194.0","9,880.0",-700.0,291,"1,292.0","3,473.0","10,000","10,000"
Dec 2011,"3,270.0","3,270.0",268,0.0,268,"1,779.0","3,559.0","1,207.0",0.0,396,...,"-13,592.0",-6.68,"13,689.0","10,419.0",-600.0,290,"1,271.0","3,097.0","9,900","9,900"
Dec 2012,"2,900.0","2,900.0",193,0.0,193,"1,746.0",0,"1,216.0",0.0,260,...,"-14,084.0",-7.03,"13,878.0","10,978.0",-600.0,292,"1,276.0","3,068.0","9,100","9,100"
Dec 2013,"3,175.0","3,175.0",115,0.0,115,"1,879.0",0,"1,100.0",0.0,321,...,"-13,113.0",-6.60,"14,517.0","11,342.0",-700.0,291,"1,308.0","3,111.0","9,000","9,000"
Dec 2014,"3,321.0","3,321.0",124,0.0,124,"2,040.0",0,"1,143.0",0.0,250,...,"-14,320.0",-7.28,"14,693.0","11,372.0",-700.0,293,"1,323.0","2,986.0","9,000","9,000"
Dec 2015,"2,369.0","2,369.0",124,0.0,124,"2,031.0",0,0,0.0,387,...,"-14,433.0",-7.38,"12,847.0","10,478.0",-700.0,295,"1,406.0","2,969.0","8,800","8,800"
Dec 2016,"4,569.0","4,569.0",151,269.0,420,"2,051.0",0,0,0.0,220,...,"-4,551.0",-2.35,"13,881.0","9,312.0",-700.0,316,"1,481.0","2,917.0","8,300","8,300"
Dec 2017,"1,253.0","1,253.0",142,461.0,603,"2,225.0",0,0,25.0,238,...,"-2,330.0",-1.23,"13,894.0","12,641.0",-700.0,302,"1,437.0","2,975.0","8,300","8,300"
Dec 2018,"1,333.0","1,333.0",142,167.0,309,"2,331.0",0,0,57.0,269,...,"-2,688.0",-1.43,"25,746.0","24,413.0",-700.0,309,"1,442.0","2,981.0","8,300","8,300"
Dec 2019,"2,117.0","2,117.0",152,116.0,268,"2,293.0",0,0,0.0,146,...,"-11,642.0",-6.27,"28,042.0","25,925.0",-600.0,353,"1,461.0","2,998.0","7,300","7,300"

In [20]:
COL_NAMES = []
for col in Tko_BalSheet.columns:
    COL_NAMES.append(col)
    #print(col)
    
print("Col Names", len(COL_NAMES))
print("Set Col Names", len(set(COL_NAMES)))

Col Names 56
Set Col Names 55

In [21]:
for element in COL_NAMES:
    x = COL_NAMES.count(element)
    if x > 1:
        print(element)

Finance Div. Loans and Leases
Finance Div. Loans and Leases

In [22]:
Tko_BalSheet.columns = pd.io.parsers.ParserBase({'names':Tko_BalSheet.columns})._maybe_dedup_names(Tko_BalSheet.columns)

In [23]:
Tko_BalSheet

,Cash And Equivalents,Total Cash & ST Investments,Accounts Receivable,Other Receivables,Total Receivables,Inventory,Finance Div. Loans and Leases,Deferred Tax Assets Current,Restricted Cash,Other Current Assets,...,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,"LIFO Reserve, Total",Land,"Buildings, Total","Machinery, Total",Full Time Employees,Total Employees
Dec 2010,"2,314.0","2,314.0",85,0.0,85,"1,803.0","4,502.0","1,165.0",0.0,614,...,"-12,100.0",-5.82,"12,194.0","9,880.0",-700.0,291,"1,292.0","3,473.0","10,000","10,000"
Dec 2011,"3,270.0","3,270.0",268,0.0,268,"1,779.0","3,559.0","1,207.0",0.0,396,...,"-13,592.0",-6.68,"13,689.0","10,419.0",-600.0,290,"1,271.0","3,097.0","9,900","9,900"
Dec 2012,"2,900.0","2,900.0",193,0.0,193,"1,746.0",0,"1,216.0",0.0,260,...,"-14,084.0",-7.03,"13,878.0","10,978.0",-600.0,292,"1,276.0","3,068.0","9,100","9,100"
Dec 2013,"3,175.0","3,175.0",115,0.0,115,"1,879.0",0,"1,100.0",0.0,321,...,"-13,113.0",-6.60,"14,517.0","11,342.0",-700.0,291,"1,308.0","3,111.0","9,000","9,000"
Dec 2014,"3,321.0","3,321.0",124,0.0,124,"2,040.0",0,"1,143.0",0.0,250,...,"-14,320.0",-7.28,"14,693.0","11,372.0",-700.0,293,"1,323.0","2,986.0","9,000","9,000"
Dec 2015,"2,369.0","2,369.0",124,0.0,124,"2,031.0",0,0,0.0,387,...,"-14,433.0",-7.38,"12,847.0","10,478.0",-700.0,295,"1,406.0","2,969.0","8,800","8,800"
Dec 2016,"4,569.0","4,569.0",151,269.0,420,"2,051.0",0,0,0.0,220,...,"-4,551.0",-2.35,"13,881.0","9,312.0",-700.0,316,"1,481.0","2,917.0","8,300","8,300"
Dec 2017,"1,253.0","1,253.0",142,461.0,603,"2,225.0",0,0,25.0,238,...,"-2,330.0",-1.23,"13,894.0","12,641.0",-700.0,302,"1,437.0","2,975.0","8,300","8,300"
Dec 2018,"1,333.0","1,333.0",142,167.0,309,"2,331.0",0,0,57.0,269,...,"-2,688.0",-1.43,"25,746.0","24,413.0",-700.0,309,"1,442.0","2,981.0","8,300","8,300"
Dec 2019,"2,117.0","2,117.0",152,116.0,268,"2,293.0",0,0,0.0,146,...,"-11,642.0",-6.27,"28,042.0","25,925.0",-600.0,353,"1,461.0","2,998.0","7,300","7,300"

In [24]:
COL_NAMES2 = []
for col in Tko_BalSheet.columns:
    COL_NAMES2.append(col)
    #print(col)
    
print("Col Names", len(COL_NAMES2))
print("Set Col Names", len(set(COL_NAMES2)))

Col Names 56
Set Col Names 56

In [25]:
for col in Tko_BalSheet.columns:
    print(col)

Cash And Equivalents
Total Cash & ST Investments
Accounts Receivable
Other Receivables
Total Receivables
Inventory
Finance Div. Loans and Leases
Deferred Tax Assets Current
Restricted Cash
Other Current Assets
Total Current Assets
Gross Property, Plant & Equipment
Accumulated Depreciation
Net Property, Plant & Equipment
Long-Term Investments
Goodwill
Other Intangibles
Finance Div. Loans and Leases.1
Deferred Charges
Other Long-Term Assets
Total Assets
Accounts Payable
Accrued Expenses
Short-Term Borrowings
Current Portion of LT Debt
Unearned Revenue, Current
Other Current Liabilities
Total Current Liabilities
Long-Term Debt
Finance Div. Other Non-Curr. Liab.
Pension & Other Post-Retire. Benefits
Def. Tax Liability, Non-Curr.
Other Non-Current Liabilities
Total Liabilities
Common Stock
Additional Paid In Capital
Retained Earnings
Treasury Stock
Comprehensive Income and Other
Total Common Equity
Minority Interest
Total Equity
Total Liabilities And Equity
Total Shares Out. on Filing Date
Total Common Shares Outstanding
Book Value / Share
Tangible Book Value
Tangible Book Value Per Share
Total Debt
Net Debt
LIFO Reserve, Total
Land
Buildings, Total
Machinery, Total
Full Time Employees
Total Employees