In [10]:
import os
import pymysql
import pandas as pd
import numpy as np
import re

In [11]:

KO_is = pd.read_excel("Coca-Cola\KO Income Statement - Seeking Alpha.xlsx")
KO_is = KO_is.rename(columns = KO_is.iloc[0]) #Renaming columns
KO_is = KO_is.iloc[1:]
TKO_is = KO_is.transpose()
TKO_is = TKO_is.rename(columns = TKO_is.iloc[0]) #Renaming columns
TKO_is = TKO_is.iloc[1:-1]
TKO_is = TKO_is.loc[:, TKO_is.columns.notnull()] #Removing NaN column labels
TKO_is = TKO_is.dropna(axis = 1, how = 'all') # Removing columns with NaN in all entries

# Removing all dollar signs ($) from dataframe
# Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
# https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
for i in range(1, len(TKO_is.columns)):
    TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'\$':''}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')
    
# Replacing dash values with 0
for i in range(1, len(TKO_is.columns)):
    TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'-': 0}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')
    
TKO_is_as_string = TKO_is.astype(str)

# Denoting negative values with minus (-) instead of brackets (), removing % sign
for i in range(1, len(TKO_is_as_string.columns)):
    TKO_is.iloc[ : , i ] = TKO_is_as_string.iloc[ : , i ].replace({'\(':'-', '\)':'', '%':''}, regex = True)
    
TKO_is

,Revenues,Other Revenues,Total Revenues,Cost Of Revenues,Gross Profit,Selling General & Admin Expenses,Other Operating Expense/(Income),Total Operating Expenses,Operating Income,Interest Expense,...,EBITDA,EBITA,EBIT,EBITDAR,Effective Tax Rate,Normalized Net Income,Interest Capitalized,Interest on Long-Term Debt,Foreign Earnings,Foreign Sales
Dec 2010,"35,119.0",0,"35,119.0","12,693.0","22,426.0","13,120.0",341,"13,461.0","8,965.0",-733.0,...,"10,408.0","9,204.0","8,965.0",0,16.7,"5,935.6",1,733,0,"24,490.0"
Dec 2011,"46,542.0",0,"46,542.0","18,204.0","28,338.0","17,422.0",4,"17,426.0","10,912.0",-417.0,...,"12,866.0","11,194.0","10,912.0",0,24.5,"7,193.6",1,0,0,"27,843.0"
Dec 2012,"48,017.0",0,"48,017.0","19,053.0","28,964.0","17,738.0",10,"17,748.0","11,216.0",-397.0,...,"13,198.0","11,475.0","11,216.0",0,23.1,"7,523.0",1,0,0,"28,285.0"
Dec 2013,"46,854.0",0,"46,854.0","18,421.0","28,433.0","17,310.0",18,"17,328.0","11,105.0",-463.0,...,"13,082.0","11,339.0","11,105.0",0,24.8,"7,366.8",1,0,0,"27,034.0"
Dec 2014,"45,998.0",0,"45,998.0","17,889.0","28,109.0","17,218.0",24,"17,242.0","10,867.0",-483.0,...,"12,843.0","11,107.0","10,867.0",0,23.6,"7,230.3",1,0,0,"26,235.0"
Dec 2015,"44,294.0",0,"44,294.0","17,482.0","26,812.0","16,427.0",145,"16,572.0","10,240.0",-856.0,...,"12,210.0","10,457.0","10,240.0",0,23.3,"6,738.8",1,0,0,"23,934.0"
Dec 2016,"41,863.0",0,"41,863.0","16,465.0","25,398.0","15,401.0",274,"15,675.0","9,723.0",-733.0,...,"11,510.0","9,862.0","9,723.0",0,19.5,"6,512.0",0,0,0,"21,964.0"
Dec 2017,"36,212.0",0,"36,212.0","13,721.0","22,491.0","12,901.0",250,"13,151.0","9,340.0",-853.0,...,"10,600.0","9,408.0","9,340.0",0,81.4,"6,565.6",0,0,"10,408.0","26,639.0"
Dec 2018,"34,300.0",0,"34,300.0","13,067.0","21,233.0","11,013.0",17,"11,030.0","10,203.0",-950.0,...,"11,289.0","10,252.0","10,203.0",0,21.3,"6,455.5",0,0,"10,600.0","27,924.0"
Dec 2019,"37,266.0",0,"37,266.0","14,619.0","22,647.0","12,011.0",11,"12,022.0","10,625.0",-946.0,...,"11,990.0","10,745.0","10,625.0","12,317.0",16.7,"6,751.9",0,0,"10,802.0","28,418.0"

In [13]:
from pandas.io import sql
import MySQLdb

conn = MySQLdb.connect(
    host="localhost",
    port=int(3306),
    user="pythonlink",
    passwd="pythonlinkp",
    db="stock_forecast_v1",
    charset='utf8mb4'
)

df = pd.read_sql_query("SELECT * FROM is_table_all_comps",
    conn)
df

,Company,Time,Total Revenues,Cost Of Revenues,Gross Profit,Total Operating Expenses,Operating Income,Net Income,Revenue Per Share,Basic EPS,Normalized Basic EPS,Dividend Per Share,Payout Ratio,EBITDA,EBITA,EBIT,Normalized Net Income,Effective Tax Rate
0,MO,2010-12-01,"16,892.0","7,629.0","9,263.0","2,645.0","6,618.0","3,905.0",8.13,1.87,1.84,1.46,75.75,"6,894.0","6,638.0","6,618.0","3,818.6",31.7
1,MO,2011-12-01,"16,619.0","7,680.0","8,939.0","2,279.0","6,660.0","3,390.0",8.05,1.64,1.87,1.58,95.04,"6,913.0","6,680.0","6,660.0","3,855.8",39.2
2,MO,2012-12-01,"17,500.0","7,937.0","9,563.0","2,043.0","7,520.0","4,180.0",8.65,2.06,2.35,1.70,81.34,"7,745.0","7,540.0","7,520.0","4,758.3",35.4
3,MO,2013-12-01,"17,663.0","7,206.0","10,457.0","2,097.0","8,360.0","4,535.0",8.84,2.26,2.60,1.84,79.65,"8,572.0","8,380.0","8,360.0","5,188.8",34.7
4,MO,2014-12-01,"17,945.0","7,828.0","10,117.0","2,269.0","7,848.0","5,070.0",9.07,2.56,2.54,2.00,76.77,"8,056.0","7,868.0","7,848.0","5,028.8",34.8
5,MO,2015-12-01,"18,854.0","7,837.0","11,017.0","2,394.0","8,623.0","5,241.0",9.61,2.67,2.73,2.17,79.74,"8,848.0","8,644.0","8,623.0","5,349.9",35.1
6,MO,2016-12-01,"19,337.0","7,736.0","11,601.0","2,302.0","9,299.0","14,239.0",9.91,7.28,3.00,2.35,31.69,"9,503.0","9,320.0","9,299.0","5,847.5",34.8
7,MO,2017-12-01,"19,494.0","7,491.0","12,003.0","2,042.0","9,961.0","10,222.0",10.15,5.31,3.18,2.54,47.03,"10,170.0","9,982.0","9,961.0","6,117.5",NM
8,MO,2018-12-01,"19,627.0","7,451.0","12,176.0","2,342.0","9,834.0","6,963.0",10.40,3.69,3.34,3.00,77.77,"10,061.0","9,872.0","9,834.0","6,294.1",25.4
9,MO,2019-12-01,"19,796.0","7,083.0","12,713.0","1,903.0","10,810.0","-1,293.0",10.59,-0.70,3.77,3.28,NM,"11,036.0","10,854.0","10,810.0","7,042.5",269.5
10,BF.B,2010-04-01,"2,469.0",858,"1,611.0",889,722,449,4.45,0.81,0.78,0.31,38.75,781,727,722,433.8,34.2
11,BF.B,2011-04-01,"2,586.0",862,"1,724.0",931,793,572,4.74,1.05,0.88,0.33,31.64,849,798,793,479.4,31.0
12,BF.B,2012-04-01,"2,723.0",928,"1,795.0","1,007.0",788,513,5.08,0.96,0.89,0.36,37.43,837,791,788,475.0,32.5
13,BF.B,2013-04-01,"2,849.0",894,"1,955.0","1,057.0",898,591,5.34,1.11,1.01,0.39,35.36,949,898,898,540.6,31.7
14,BF.B,2014-04-01,"2,991.0",913,"2,078.0","1,107.0",971,659,5.60,1.23,1.11,0.44,35.36,"1,021.0",971,971,591.9,30.4
15,BF.B,2015-04-01,"3,134.0",951,"2,183.0","1,156.0","1,027.0",684,5.92,1.29,1.18,0.48,37.43,"1,078.0","1,027.0","1,027.0",626.3,31.7
16,BF.B,2016-04-01,"3,089.0",945,"2,144.0","1,091.0","1,053.0","1,067.0",6.09,2.10,1.24,0.52,24.93,"1,109.0","1,053.0","1,053.0",627.5,28.3
17,BF.B,2017-04-01,"2,994.0",973,"2,021.0","1,030.0",991,669,6.18,1.38,1.20,0.56,40.96,"1,049.0",991,991,583.1,28.3
18,BF.B,2018-04-01,"3,248.0","1,046.0","2,202.0","1,151.0","1,051.0",717,6.76,1.49,1.27,0.61,40.73,"1,115.0","1,051.0","1,051.0",610.6,26.6
19,BF.B,2019-04-01,"3,324.0","1,158.0","2,166.0","1,059.0","1,107.0",835,6.94,1.74,1.36,0.65,37.13,"1,179.0","1,107.0","1,107.0",651.3,19.9
20,KO,2010-12-01,"35,119.0","12,693.0","22,426.0","13,461.0","8,965.0","11,787.0",7.61,2.55,1.29,0.88,34.51,"10,408.0","9,204.0","8,965.0","5,935.6",16.7
21,KO,2011-12-01,"46,542.0","18,204.0","28,338.0","17,426.0","10,912.0","8,584.0",10.19,1.88,1.57,0.94,50.09,"12,866.0","11,194.0","10,912.0","7,193.6",24.5
22,KO,2012-12-01,"48,017.0","19,053.0","28,964.0","17,748.0","11,216.0","9,019.0",10.66,2.00,1.67,1.02,50.95,"13,198.0","11,475.0","11,216.0","7,523.0",23.1
23,KO,2013-12-01,"46,854.0","18,421.0","28,433.0","17,328.0","11,105.0","8,584.0",10.57,1.94,1.66,1.12,57.89,"13,082.0","11,339.0","11,105.0","7,366.8",24.8
24,KO,2014-12-01,"45,998.0","17,889.0","28,109.0","17,242.0","10,867.0","7,098.0",10.49,1.62,1.65,1.22,75.37,"12,843.0","11,107.0","10,867.0","7,230.3",23.6
25,KO,2015-12-01,"44,294.0","17,482.0","26,812.0","16,572.0","10,240.0","7,351.0",10.18,1.69,1.55,1.32,78.10,"12,210.0","10,457.0","10,240.0","6,738.8",23.3
26,KO,2016-12-01,"41,863.0","16,465.0","25,398.0","15,675.0","9,723.0","6,527.0",9.70,1.51,1.51,1.40,92.58,"11,510.0","9,862.0","9,723.0","6,512.0",19.5
27,KO,2017-12-01,"36,212.0","13,721.0","22,491.0","13,151.0","9,340.0","1,248.0",8.48,0.29,1.54,1.48,506.41,"10,600.0","9,408.0","9,340.0","6,565.6",81.4
28,KO,2018-12-01,"34,300.0","13,067.0","21,233.0","11,030.0","10,203.0","6,434.0",8.05,1.51,1.52,1.56,103.26,"11,289.0","10,252.0","10,203.0","6,455.5",21.3
29,KO,2019-12-01,"37,266.0","14,619.0","22,647.0","12,022.0","10,625.0","8,920.0",8.72,2.09,1.58,1.60,76.74,"11,990.0","10,745.0","10,625.0","6,751.9",16.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3020,NRG,2010-12-01,"8,849.0",None,None,"7,543.0","1,306.0",477,35.12,1.86,1.87,0,1.89,"2,188.0","1,310.0","1,306.0",471.6,36.8
3021,NRG,2011-12-01,"9,079.0",None,None,"8,284.0",795,197,37.83,0.78,0.48,0,4.57,"1,897.0",962,795,115,NM
3022,NRG,2012-12-01,"8,422.0",None,None,"7,965.0",457,295,36.30,1.23,-0.50,0.27,16.95,"1,592.0",603,457,-115.0,NM
3023,NRG,2013-12-01,"11,295.0",None,None,"10,365.0",930,-386.0,34.97,-1.22,0.09,0.48,NM,"2,271.0",979,930,29.8,NM
3024,NRG,2014-12-01,"15,868.0",None,None,"14,435.0","1,433.0",134,47.51,0.23,0.71,0.57,146.27,"3,066.0","1,497.0","1,433.0",235.8,2.2
3025,NRG,2015-12-01,"12,328.0",None,None,"11,540.0",788,"-6,382.0",37.47,-19.46,-0.00,0.58,NM,"2,335.0",939,788,-0.4,NM
3026,NRG,2016-12-01,"8,915.0",None,None,"8,319.0",596,-774.0,28.21,-2.22,0.45,0.12,NM,"1,485.0",664,596,143.3,NM
3027,NRG,2017-12-01,"9,074.0",None,None,"8,253.0",821,"-2,153.0",28.62,-6.79,1.17,0.12,NM,"1,566.0","1,031.0",821,372.1,NM
3028,NRG,2018-12-01,"9,478.0",None,None,"8,339.0","1,139.0",268,31.18,0.88,1.40,0.12,13.81,"1,691.0","1,310.0","1,139.0",426.9,1.5
3029,NRG,2019-12-01,"9,821.0",None,None,"8,510.0","1,311.0","4,438.0",37.48,16.94,2.29,0.39,0.72,"1,825.0","1,513.0","1,311.0",600.8,NM
3030,PNW,2010-12-01,"3,189.2",None,None,"2,474.3",714.9,350.1,29.92,3.28,2.76,2.10,61.98,"1,187.7",759.9,714.9,294.2,31.8
3031,PNW,2011-12-01,"3,241.4",None,None,"2,494.9",746.5,339.5,29.72,3.11,2.83,2.10,65.32,"1,240.3",793.5,746.5,308.8,34.0
3032,PNW,2012-12-01,"3,301.8",None,None,"2,450.0",851.8,381.5,30.15,3.48,3.47,2.12,58.99,"1,333.0",901.8,851.8,380.1,36.2
3033,PNW,2013-12-01,"3,454.6",None,None,"2,608.3",846.3,406.1,31.41,3.69,3.52,2.20,57.93,"1,338.6",899.3,846.3,387.5,34.4
3034,PNW,2014-12-01,"3,491.6",None,None,"2,680.4",811.2,397.6,31.56,3.59,3.41,2.30,62.04,"1,307.7",864.2,811.2,377.3,34.2
3035,PNW,2015-12-01,"3,495.4",None,None,"2,640.8",854.6,437.3,31.48,3.94,3.75,2.41,59.47,"1,426.3",912.6,854.6,416.1,34.3
3036,PNW,2016-12-01,"3,498.7",None,None,"2,642.7",856.0,442.0,31.40,3.97,3.75,2.53,62.04,"1,421.0",914,856.0,417.8,33.9
3037,PNW,2017-12-01,"3,565.3",None,None,"2,630.9",934.4,488.5,31.88,4.37,4.13,2.66,59.33,"1,545.1","1,006.4",934.4,462.0,33.7
3038,PNW,2018-12-01,"3,691.2",None,None,"2,867.8",823.5,511.0,32.92,4.56,3.53,2.82,60.44,"1,474.4",891.5,823.5,396.0,20.2
3039,PNW,2019-12-01,"3,471.2",None,None,"2,776.3",694.9,538.3,30.87,4.79,2.85,3.00,61.24,"1,359.1",760.9,694.9,320.4,NM
3040,PEG,2010-12-01,"11,793.0",None,None,"8,856.0","2,937.0","1,564.0",23.31,3.09,3.15,1.37,44.31,"4,047.0","2,937.0","2,937.0","1,591.9",40.5
3041,PEG,2011-12-01,"11,079.0",None,None,"8,337.0","2,742.0","1,503.0",21.90,2.97,2.87,1.37,46.11,"3,877.0","2,742.0","2,742.0","1,452.5",41.0
3042,PEG,2012-12-01,"9,781.0",None,None,"7,522.0","2,259.0","1,275.0",19.33,2.52,2.38,1.42,56.31,"3,486.0","2,259.0","2,259.0","1,202.5",36.6
3043,PEG,2013-12-01,"9,968.0",None,None,"7,669.0","2,299.0","1,243.0",19.70,2.46,2.45,1.44,58.57,"3,669.0","2,299.0","2,299.0","1,238.1",39.5
3044,PEG,2014-12-01,"10,886.0",None,None,"8,263.0","2,623.0","1,518.0",21.51,3.00,2.87,1.48,49.28,"4,050.0","2,623.0","2,623.0","1,451.3",38.2
3045,PEG,2015-12-01,"10,415.0",None,None,"7,608.0","2,807.0","1,679.0",20.62,3.32,3.08,1.56,46.99,"4,234.0","2,807.0","2,807.0","1,556.3",37.4
3046,PEG,2016-12-01,"8,966.0",None,None,"6,704.0","2,262.0",887,17.75,1.76,2.46,1.64,93.57,"3,370.0","2,262.0","2,262.0","1,243.8",31.7
3047,PEG,2017-12-01,"9,094.0",None,None,"6,701.0","2,393.0","1,574.0",18.01,3.12,2.60,1.72,55.27,"3,614.0","2,393.0","2,393.0","1,311.3",NM
3048,PEG,2018-12-01,"9,696.0",None,None,"7,376.0","2,320.0","1,438.0",19.24,2.85,2.41,1.80,63.28,"3,665.0","2,320.0","2,320.0","1,215.0",22.5
3049,PEG,2019-12-01,"10,076.0",None,None,"7,538.0","2,538.0","1,693.0",19.99,3.36,2.61,1.88,56.11,"3,964.0","2,538.0","2,538.0","1,317.5",13.2

In [57]:
from pandas.io import sql
import MySQLdb

conn = MySQLdb.connect(
    host="localhost",
    port=int(3306),
    user="root",
    passwd="y5QLCM%12&",
    db="stock_forecast_v1",
    charset='utf8mb4'
)

df = pd.read_sql_query("SELECT * FROM economic_sector",
    conn)
df.tail(10)

   SectorID             SectorName
0         1            Agriculture
1         2               Consumer
2         3  ConsumerDiscretionary
3         4                 Energy
4         5             Financials
5         6             Healthcare
6         7            Industrials
7         8              Materials
8         9              TechAndIT
9        10               Telecoms

In [58]:
TKO_is.to_sql('balance_sheet', con=engine, if_exists='append')

InternalError: (pymysql.err.InternalError) (1170, "BLOB/TEXT column 'index' used in key specification without a key length")
[SQL: CREATE INDEX ix_balance_sheet_index ON balance_sheet (`index`)]
(Background on this error at: http://sqlalche.me/e/2j85)

In [59]:
conn = pymysql.connect(
    host="localhost",
    port=int(3306),
    user="root",
    passwd="y5QLCM%12&",
    db="stock_forecast_v1",
    charset='utf8mb4')

df = pd.read_sql_query("SELECT * FROM economic_sector",
    conn)
df.tail(10)

   SectorID             SectorName
0         1            Agriculture
1         2               Consumer
2         3  ConsumerDiscretionary
3         4                 Energy
4         5             Financials
5         6             Healthcare
6         7            Industrials
7         8              Materials
8         9              TechAndIT
9        10               Telecoms

In [60]:
# Connecting to MySQL server at localhost using PyMySQL DBAPI

# dialect+driver://username:password@host:port/database

#engine = create_engine("mysql+pymysql://root:y5QLCM%12&@localhost:3306/stock_forecast_v1")
# Can you log into root
engine = create_engine("mysql+pymysql://pythonlink:pythonlinkp@localhost:3306/stock_forecast_v1")

In [51]:
TKO_is.to_sql('test_table', con= engine, if_exists='append', index = False)